.app-container {
  .common-box {
    .el-input {
      width: 220px;
    }
    .search-box {
      position: relative;
      .box {
        .title {
          font-size: $font-size-large;
          line-height: $font-size-large-lh;
          color: $font-important-color;
          margin-bottom: 8px;
        }
      }
    }
  }
     // 导出、导入按钮
  .down-box {
    width: 100%;
    margin: 24px 0 10px;
    .down-box-left{
      display: inline-block;
      padding-left: 10px;
      color: #999;
      font-size: 16px;
      span{
        padding-left: 40px;
      }
    }
  }
  .table-switch ::v-deep .el-switch__core {
    cursor: pointer;
  }
  .dialogTc {
    padding: 0 16px;
  }
}