<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiling.goods.standard.dao.StandardInstructionsDispensingGranuleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yiling.goods.standard.entity.StandardInstructionsDispensingGranuleDO">
        <result column="id" property="id" />
        <result column="standard_id" property="standardId" />
        <result column="net_content" property="netContent" />
        <result column="source_area" property="sourceArea" />
        <result column="expiration_date" property="expirationDate" />
        <result column="packing_list" property="packingList" />
        <result column="usage_dosage" property="usageDosage" />
        <result column="store" property="store" />
        <result column="del_flag" property="delFlag" />
        <result column="create_user" property="createUser" />
        <result column="create_time" property="createTime" />
        <result column="update_user" property="updateUser" />
        <result column="update_time" property="updateTime" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        standard_id, net_content, source_area, expiration_date, packing_list, usage_dosage, store, del_flag, create_user, create_time, update_user, update_time, remark
    </sql>

</mapper>