.choose-drug-view {
  max-height: 520px;
  overflow-y: scroll;
  .search-box {
    .title {
      font-size: $font-size-large;
      line-height: $font-size-base-lh;
      color: $font-important-color;
      margin-bottom: 8px;
    }
    .el-input {
      width: 260px;
    }
  }
  .search-btn-box {
    margin-top: 16px;
  }
}