<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiling.mall.agreement.dao.AgreementImportTaskMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yiling.mall.agreement.entity.AgreementImportTaskDO">
    <result column="id" property="id" />
        <result column="task_code" property="taskCode" />
        <result column="eid" property="eid" />
        <result column="ename" property="ename" />
        <result column="second_eid" property="secondEid" />
        <result column="second_name" property="secondName" />
        <result column="third_eid" property="thirdEid" />
        <result column="third_name" property="thirdName" />
        <result column="status" property="status" />
        <result column="err_msg" property="errMsg" />
        <result column="excution_time" property="excutionTime" />
        <result column="del_flag" property="delFlag" />
        <result column="create_user" property="createUser" />
        <result column="create_time" property="createTime" />
        <result column="update_user" property="updateUser" />
        <result column="update_time" property="updateTime" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        task_code, eid, ename, second_eid, second_name, third_eid, third_name, status, err_msg, excution_time, del_flag, create_user, create_time, update_user, update_time, remark
    </sql>

</mapper>
