@import "~@/common/styles/mixin.scss";

.app-container {
  padding-bottom: 80px;
  .reject-view {
    margin-bottom: 16px;
    .textarea {
      width: 550px;
      color: $font-title-color;
      background: #f7f7f7;
      border-radius: 4px;
      border: 1px solid rgba(38, 38, 38, 0.08);
      padding: 11px 12px;
      .desc {
        width: 528px;
        height: 53px;
        overflow-x: hidden;
        overflow-y: scroll;
        &::-webkit-scrollbar {
          display: none;
        }
      }
    }
  }
  .top-bar {
    background: $white;
    padding: 16px;
    border-radius: 4px;
    .intro {
      color: $font-important-color;
      font-size: $font-size-base;
      line-height: $font-size-base-lh;
      margin-bottom: 8px;
      padding: 0 10px;
      span {
        color: $font-title-color;
      }
    }
    &::v-deep .el-form-item__label {
      font-weight: 400 !important;
      color: $font-title-color;
      padding: 0;
      margin-bottom: 8px;
      line-height: 1;
    }
    .el-input {
      width: 310px;
    }
    &::v-deep el-input{
      width: 100%;
    }
  }
  .box-1 {
    margin-top: 16px;
    color: $font-important-color;
    font-size: $font-size-large;
    line-height: $font-size-large-lh;
    .input-view {
      width: 100%;
      margin-top: 10px;
      margin-left: 16px;
      .input-1 {
        .el-input {
          margin-top: 10px;
          width: 190px;
        }
      }
      .input-2 {
        margin-left: 190px;
        .el-input {
          margin-top: 10px;
          width: 320px;
        }
      }
      .pak-box {
        .flex-wrap {
          margin-top: 12px;
        }
        .el-input {
          margin-top: 10px;
          width: 320px;
        }
        .box {
          position: relative;
          width: 103px;
          height: 32px;
          background: #ffffff;
          border-radius: 16px;
          border: 1px solid #d8d8d8;
          color: $font-title-color;
          line-height: 32px;
          font-size: 16px;
          margin-right: 16px;
          i {
            position: absolute;
            right: 5px;
            top: 8px;
            font-size: 16px;
            color: $font-light-color;
            cursor: pointer;
          }
          .not-touch {
            cursor: not-allowed;
          }
        }
      }
    }
    .img-box {
      margin-top: 7px;
      margin-bottom: 31px;
      .imgs {
        margin-bottom: 17px;
        .img {
          width: 128px;
          height: 128px;
          margin-left: 16px;
          border-radius: 4px;
          border: 1px solid #d8d8d8;
        }
      }
      .intro-box {
        margin-left: 16px;
        margin-bottom: 16px;
        .box-view {
          overflow: hidden;
          width: 506px;
          height: 61px;
          background: #f7f7f7;
          border-radius: 4px;
          padding: 10px 12px 11px 12px;
          border: 1px solid rgba(38, 38, 38, 0.08);
          .box {
            width: 482px;
            height: 40px;
            overflow-x: hidden;
            overflow-y: scroll;
            &::-webkit-scrollbar {
              display: none;
            }
          }
        }
        .marr150 {
          margin-right: 150px;
        }
        .marb8 {
          margin-bottom: 8px;
        }
      }
    }
  }
  .box-3 {
    margin-top: 16px;
    color: $font-important-color;
    font-size: $font-size-large;
    line-height: $font-size-large-lh;
    .select-box {
      padding: 10px 16px;
      .select {
        flex: 1;
        span {
          padding-bottom: 8px;
          margin-right: 16px;
        }
        .el-input,
        .el-select {
          width: 280px;
        }
      }
    }
  }
  .bottom-view {
    position: fixed;
    bottom: 0;
    left: $sideBarWidth;
    right: 0;
    height: 64px;
    background-color: $white;
    padding: 16px;
    z-index: 10;
    box-shadow: 0px -2px 9px 0px rgba(182, 182, 182, 0.16);
  }
  .packing-img-box {
    display: flex;
    flex-wrap: wrap;

    .packing-img {
      position: relative;
      width: 100px;
      height: 100px;
      margin-right: 10px;
      margin-bottom: 8px;
      .packing-image {
        width: 100px;
        height: 100px;
        border: 1px solid #eee;
        border-radius: 4px;
      }
      .packing-cover {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100px;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(0, 0, 0, 0.34);
        width: 100%; /*宽度设置为100%，这样才能使隐藏背景层覆盖原页面*/
        height: 100%;
        box-sizing: border-box;
        border-radius: 4px;
        // padding: 0 10px;
        filter: alpha(opacity=60); /*设置透明度为60%*/
        opacity: 1; /*非IE浏览器下设置透明度为60%*/
        z-index: 999;
        color: #fff;
        font-size: 20px;
        i {
          display: inline-block;
          width: 30px;
          height: 30px;
          background: url(../../../assets//zt-products/del.png) no-repeat center;
          background-size: cover;
          cursor: pointer;
        }
      }
    }
  }
  .color-666 {
    color: #666;
  }
  .goodsInstructionsInfo {
    ::v-deep .el-textarea__inner {
      width: 60%;
    }
  }
  .mar-b-12{
    margin-bottom: 12px;
  }
}
