@import "~@/common/styles/mixin.scss";

.app-container {
  .buy-order-half {
    .el-col {
      margin-bottom: 8px;
      min-height: 100%;
    }
  }
  .header-box {
    min-height: 180px;
    height: 100%;
    position: relative;
    .ticket-more {
      position: absolute;
      right: 16px;
      top: 8px;
    }
    .header-bar {
      margin-bottom: 12px;
    }
    .box-text {
      font-weight: 400;
      margin-left: 8px;
      font-size: 14px;
      color: $font-important-color;
      .item {
        line-height: 20px;
        margin-bottom: 8px;
        .size18 {
          font-size: 18px;
        }
      }
      .mark-item {
        width: 360px;
        height: 81px;
        border-radius: 4px;
        border: 1px solid #D8D8D8;
        padding: 6px;
        overflow: auto;
      }
      .img-item {
        width: 64px;
        height: 64px;
        border-radius: 4px;
        overflow: hidden;
        margin-top: 27px;
      }
    }
  }
  .buy-order-table {
    .pay {
      font-size: 14px;
      margin-left: 16px;
      line-height: 17px;
      .pay-amount {
        color: #FA8C15;
      }
    }
    .expand-row {
      margin-bottom: 16px;
      .expand-view {
        width: 100%;
        background: #FAFAFA;
        border-radius: 4px;
        padding: 16px;
        margin-bottom: 16px;
        color: $font-important-color;
        .title {
          height: 22px;
          font-size: 16px;
          line-height: 22px;
          margin-bottom: 7px;
        }
        .desc-box {
          font-size: $font-size-base;
          .img {
            width: 82px;
            height: 70px;
            margin-right: 14px;
          }
          .box1 {
            width: 402px;
          }
          .box2 {
            width: 240px;
          }
          .right-text {
            .text-item {
              height: 24px;
              line-height: 24px;
            }
            .money {
              font-size: 18px;
              color: $font-important-color;
            }
          }
        }
        .nums-box {
          margin-top: 16px;
          .content {
            background: #F0F0F0;
            border-radius: 4px;
            padding: 12px;
            font-size: $font-size-base;
            .content-item {
              min-width: 260px;
              line-height: 20px;
              height: 20px;
              display: inline-block;
            }
          }
        }
      }
    }
  }
  .order-ticket-check {
    padding: 15px 27px 30px 15px;
    .order-content {
      padding-left: 5px;
    }
  }
}
