<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiling.dataflow.statistics.dao.FlowAnalyseGoodsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yiling.dataflow.statistics.entity.FlowAnalyseGoodsDO">
    <result column="id" property="id" />
        <result column="goods_code" property="goodsCode" />
        <result column="goods_name" property="goodsName" />
        <result column="specification_id" property="specificationId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        goods_code, goods_name, specification_id
    </sql>

</mapper>
