<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiling.dataflow.statistics.dao.FlowDistributionEnterpriseMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yiling.dataflow.statistics.entity.FlowDistributionEnterpriseDO">
    <result column="id" property="id" />
        <result column="eid" property="eid" />
        <result column="crm_enterprise_id" property="crmEnterpriseId" />
        <result column="code" property="code" />
        <result column="ename" property="ename" />
        <result column="ename_group" property="enameGroup" />
        <result column="ename_level" property="enameLevel" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        crm_enterprise_id, eid, code, ename, ename_group, ename_level
    </sql>

    <select id="getCountByEidList" resultType="java.lang.Integer">
        SELECT COUNT( 1 )
        FROM flow_distribution_enterprise
        <where>
            eid > 0
            AND ename != ''
            AND code != ''
            <if test="eidList != null and eidList.size() > 0">
                and eid in
                <foreach item="item" index="index" collection="eidList" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>

</mapper>
