<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiling.open.erp.dao.ClientPushConfigMapper">
    <resultMap id="BaseResultMap" type="com.yiling.open.erp.entity.ClientPushConfigDO">
        <!--@mbg.generated-->
        <!--@Table client_push_config-->
        <result column="id" jdbcType="INTEGER" property="id"/>
        <result column="su_id" jdbcType="INTEGER" property="suId"/>
        <result column="db_name" jdbcType="VARCHAR" property="dbName"/>
        <result column="status" jdbcType="VARCHAR" property="status"/>
        <result column="db_type" jdbcType="VARCHAR" property="dbType"/>
        <result column="oracle_type" jdbcType="VARCHAR" property="oracleType"/>
        <result column="db_charset" jdbcType="VARCHAR" property="dbCharset"/>
        <result column="db_login_name" jdbcType="VARCHAR" property="dbLoginName"/>
        <result column="db_login_pw" jdbcType="VARCHAR" property="dbLoginPw"/>
        <result column="db_ip" jdbcType="VARCHAR" property="dbIp"/>
        <result column="db_port" jdbcType="VARCHAR" property="dbPort"/>
        <result column="order_sql" jdbcType="VARCHAR" property="orderSql"/>
        <result column="order_detail_sql" jdbcType="VARCHAR" property="orderDetailSql"/>
        <result column="update_time" jdbcType="VARCHAR" property="updateTime"/>
        <result column="create_time" jdbcType="VARCHAR" property="createTime"/>
        <result column="sync_time" property="syncTime"/>
        <result column="oracle_sid" property="oracleSid"/>
        <result column="sync_status" property="syncStatus"/>
        <result column="del_flag" jdbcType="VARCHAR" property="delFlag"/>
    </resultMap>

    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, su_id, db_name, `status`, db_type, oracle_type, db_charset, db_login_name, db_login_pw,
        db_ip, db_port, order_sql, order_detail_sql, update_time, create_time,sync_time, oracle_sid,
        sync_status, del_flag
    </sql>

    <insert id="save" parameterType="com.yiling.open.erp.entity.ClientPushConfigDO">
        <!--@mbg.generated-->
        insert into client_push_config (su_id, db_name,
        `status`, db_type, oracle_type,
        db_charset, db_login_name, db_login_pw,
        db_ip, db_port, order_sql,
        order_detail_sql, update_time, create_time,sync_time, oracle_sid, sync_status
        )
        values (#{suId,jdbcType=INTEGER}, #{dbName,jdbcType=VARCHAR},
        #{status,jdbcType=VARCHAR}, #{dbType,jdbcType=VARCHAR}, #{oracleType,jdbcType=VARCHAR},
        #{dbCharset,jdbcType=VARCHAR}, #{dbLoginName,jdbcType=VARCHAR}, #{dbLoginPw,jdbcType=VARCHAR},
        #{dbIp,jdbcType=VARCHAR}, #{dbPort,jdbcType=VARCHAR}, #{orderSql,jdbcType=VARCHAR},
        #{orderDetailSql,jdbcType=VARCHAR}, #{updateTime,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR},now(),
        #{oracleSid,jdbcType=VARCHAR}, #{syncStatus,jdbcType=VARCHAR}
        )
    </insert>

    <update id="deleteBySuId">
        UPDATE client_push_config
        SET del_flag = 1
        where su_id = #{suId}
      </update>

    <select id="getBySuid" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM client_push_config
        WHERE del_flag = 0
        AND su_id = #{suId}
    </select>

</mapper>