<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiling.open.erp.dao.ErpCustomerMappingMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yiling.open.erp.entity.ErpCustomerMappingDO">
    <result column="id" property="id" />
        <result column="su_id" property="suId" />
        <result column="customer_eid" property="customerEid" />
        <result column="customer_name" property="customerName" />
        <result column="license_number" property="licenseNumber" />
        <result column="code" property="code" />
        <result column="purchase_people_name" property="purchasePeopleName" />
        <result column="purchase_people_code" property="purchasePeopleCode" />
        <result column="remark" property="remark" />
        <result column="create_time" property="createTime" />
        <result column="create_user" property="createUser" />
        <result column="update_time" property="updateTime" />
        <result column="update_user" property="updateUser" />
        <result column="del_flag" property="delFlag" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        su_id, customer_eid, customer_name, license_number, code, purchase_people_name, purchase_people_code, remark, create_time, create_user, update_time, update_user, del_flag
    </sql>

</mapper>
