<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiling.open.erp.dao.ErpFlowSealedMapper">
    <resultMap id="BaseResultMap" type="com.yiling.open.erp.entity.ErpFlowSealedDO">
        <!--@mbg.generated-->
        <!--@Table erp_client-->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="eid" jdbcType="INTEGER" property="eid"/>
        <result column="ename" jdbcType="VARCHAR" property="ename"/>
        <result column="type" property="type"/>
        <result column="status" property="status"/>
        <result column="month" jdbcType="VARCHAR" property="month"/>
        <result column="remark" property="remark"/>
        <result column="create_time" property="createTime"/>
        <result column="create_user" property="createUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="update_user" property="updateUser"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        `id`, `eid`, `ename`, `type`, `status`, `month`,
        `remark`, `create_time`, `create_user`, `update_time`, `update_user`
    </sql>

    <sql id="Base_Table_Name">
        `erp_flow_sealed`
    </sql>

</mapper>