<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiling.open.erp.dao.ErpGoodsBatchMapper">
    <resultMap id="ErpGoodsBatchResult" type="com.yiling.open.erp.entity.ErpGoodsBatchDO">
        <result property="id" column="id"/>
        <result property="suId" column="su_id"/>
        <result property="suDeptNo" column="su_dept_no"/>
        <result property="inSn" column="in_sn"/>
        <result property="gbIdNo" column="gb_id_no"/>
        <result property="gbBatchNo" column="gb_batch_no"/>
        <result property="gbEndTime" column="gb_end_time"/>
        <result property="gbNumber" column="gb_number"/>
        <result property="gbProduceAddress" column="gb_produce_address"/>
        <result property="gbProduceTime" column="gb_produce_time"/>
        <result property="dataMd5" column="data_md5"/>
        <result property="addTime" column="add_time"/>
        <result property="editTime" column="edit_time"/>
        <result property="operType" column="oper_type"/>
        <result property="syncStatus" column="sync_status"/>
        <result property="syncMsg" column="sync_msg"/>
        <result property="failedCount" column="failed_count"/>
    </resultMap>

    <!-- select公共部分 -->
    <sql id="selectSql">
		select
		`id`,`su_id`,`in_sn`,`gb_id_no`,`gb_batch_no`,`gb_end_time`,`gb_number`,`gb_produce_address`,`add_time`,`edit_time`,`oper_type`,`sync_status`,`sync_msg`,`failed_count`,`su_dept_no`
		,`gb_produce_time`
	</sql>

    <select id="queryBySuIdAndSuDeptNo" resultMap="ErpGoodsBatchResult">
        SELECT id,su_id,su_dept_no,gb_id_no,data_md5,oper_type FROM erp_goods_batch WHERE su_id = #{suId}
        <if test="suDeptNo != null and suDeptNo != ''">
            AND su_dept_no = #{suDeptNo}
        </if>
        LIMIT #{start},#{count}
    </select>

    <select id="queryHistoryList" resultMap="ErpGoodsBatchResult">
        SELECT id,su_id,su_dept_no,gb_id_no,oper_type
        FROM erp_goods_batch
        WHERE su_id = #{suId}
        <if test="suDeptNoSet != null and suDeptNoSet.size() > 0">
            AND su_dept_no IN
            <foreach item="item" index="index" collection="suDeptNoSet"
                     open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="erpPrimaryKeySet != null and erpPrimaryKeySet.size() > 0">
            AND gb_id_no IN
            <foreach item="item" index="index" collection="erpPrimaryKeySet"
                     open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
    </select>

    <insert id="batchInsert" parameterType="com.yiling.open.erp.entity.ErpGoodsBatchDO" useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO erp_goods_batch (
        `id`,
        `su_id`,
        `su_dept_no`,
        `in_sn`,
        `gb_id_no`,
        `gb_batch_no`,
        `gb_end_time`,
        `gb_number`,
        `gb_produce_address`,
        `gb_produce_time`,
        `data_md5`,
        `add_time`,
        `oper_type`,
        `sync_status`,
        `sync_msg`,
        `failed_count`
        )
        VALUES
        <foreach collection="list" item="item" index="index"
                 separator=",">
            (
            #{item.id},
            #{item.suId},
            #{item.suDeptNo},
            #{item.inSn},
            #{item.gbIdNo},
            #{item.gbBatchNo},
            <if test="item.gbEndTime != null">
                #{item.gbEndTime},
            </if>
            <if test="item.gbEndTime == null">
                '1970-01-01 00:00:00',
            </if>
            #{item.gbNumber},
            #{item.gbProduceAddress},
            <if test="item.gbProduceTime != null">
                #{item.gbProduceTime},
            </if>
            <if test="item.gbProduceTime == null">
                '1970-01-01 00:00:00',
            </if>
            #{item.dataMd5},
            NOW(),
            1,
            1,
            #{item.syncMsg},
            #{item.failedCount}
            )
        </foreach>
    </insert>

    <update id="updateByPrimaryKey" parameterType="com.yiling.open.erp.entity.ErpGoodsBatchDO">
        UPDATE erp_goods_batch
        SET
        <if test="suId != null">
            `su_id` = #{suId},
        </if>
        <if test="suDeptNo != null and suDeptNo != ''">
            `su_dept_no` = #{suDeptNo},
        </if>
        <if test="inSn != null and inSn != ''">
            `in_sn` = #{inSn},
        </if>
        <if test="gbBatchNo != null and gbBatchNo != ''">
            `gb_batch_no` = #{gbBatchNo},
        </if>
        <if test="gbEndTime != null">
            `gb_end_time` = #{gbEndTime},
        </if>
        <if test="gbNumber != null">
            `gb_number` = #{gbNumber},
        </if>
        <if test="gbProduceAddress != null and gbProduceAddress != ''">
            `gb_produce_address` = #{gbProduceAddress},
        </if>
        <if test="gbProduceTime != null">
            `gb_produce_time` = #{gbProduceTime},
        </if>
        <if test="dataMd5 != null and dataMd5 != ''">
            `data_md5` = #{dataMd5},
        </if>
        <if test="syncMsg != null and syncMsg != ''">
            `sync_msg` = #{syncMsg},
        </if>
        <if test="syncStatus != null">
            `sync_status` = #{syncStatus},
        </if>
        <if test="failedCount != null">
            `failed_count` = #{failedCount},
        </if>
        `edit_time` = NOW(),
        `failed_count` = 0,
        `oper_type` = 2
        WHERE id = #{id}
    </update>

    <update id="updateSyncInfoByPrimaryKey" parameterType="com.yiling.open.erp.entity.ErpGoodsBatchDO">
		UPDATE erp_goods_batch
		SET
		`sync_status` = #{syncStatus},
		`sync_msg` = #{syncMsg}
		WHERE id = #{id}
	</update>

    <update id="deleteByPrimaryKey" parameterType="com.yiling.open.erp.entity.ErpGoodsBatchDO">
		UPDATE erp_goods_batch
		SET
		`edit_time` = NOW(),
		`oper_type` = 3,
		`sync_status` = #{syncStatus},
		`sync_msg` = #{syncMsg}
		WHERE `id` = #{id}
		AND oper_type &lt; 3
	</update>

    <update id="deleteByPrimaryKeys">
        UPDATE erp_goods_batch
        SET
        `edit_time` = NOW(),
        `oper_type` = 3,
        `sync_status` = 1,
        failed_count=0
        WHERE id IN
        <foreach item="item" index="index" collection="list" open="("
                 separator="," close=")">
            #{item}
        </foreach>
    </update>
    <!--=================================================================================================-->
    <update id="updateSyncStatusByStatusAndId">
        update
        `erp_goods_batch` set
        `sync_status`=#{syncStatus},`sync_time`=Now(),`sync_msg` = #{syncMsg}
        where
        `id` = #{id} and
        `sync_status`=#{oldSyncStatus}
    </update>


    <!-- 更改同步状态,同步信息 -->
    <update id="updateSyncStatusAndMsg">
        update `erp_goods_batch` set
        `sync_status` = #{syncStatus},
        `sync_msg`=#{syncMsg},
        `sync_time`=Now(),
        `update_count`=`update_count`+1
        where `id` = #{id}
    </update>

    <!-- 更改同步状态,重新同步 -->
    <update id="retryGoodsBatch">
        update `erp_goods_batch` set
        `sync_status` = 0,
        `sync_msg`=#{syncMsg},
        `sync_time`=Now(),
        `update_count`=`update_count`+1,
        failed_count=failed_count+1
        where `id` = #{id}
    </update>

    <select id="getById" parameterType="long" resultMap="ErpGoodsBatchResult">
        <include refid="selectSql"/>
        from `erp_goods_batch`
        where `id` = #{id}
    </select>

    <select id="findByGInSnAndExcludeOperType" resultMap="ErpGoodsBatchResult">
        <include refid="selectSql"/>
        from `erp_goods_batch`
        where `su_id` =#{suId} and in_sn=#{inSn}
        <if test="suDeptNo!=null and suDeptNo!=''">
            and su_dept_no=#{suDeptNo}
        </if>
    </select>

    <!-- 根据商品内码查询库存总量 -->
    <select id="findSUMGbNumByGInSn" resultType="java.math.BigDecimal">
        SELECT
        if(SUM(gb_number) is null or SUM(gb_number)
        ='',0,SUM(gb_number))
        FROM erp_goods_batch
        WHERE in_sn = #{inSn}
        AND`su_id` = #{suId}
        AND oper_type != 3
        <if test="suDeptNo != null and suDeptNo != ''">AND su_dept_no = #{suDeptNo}</if>
        limit 1
    </select>

    <select id="findBySyncStatusAndInSnList" resultMap="ErpGoodsBatchResult">
        <include refid="selectSql"/>
        from `erp_goods_batch`
        where
        su_id=#{suId} and `sync_status`!=1
        <if test="suDeptNo != null and suDeptNo != ''">
            and su_dept_no=#{suDeptNo}
        </if>
        and `in_sn` IN
        <foreach collection="list" item="inSn" index="index" open="("
                 close=")" separator=",">
            #{inSn}
        </foreach>
    </select>

    <select id="findMd5BySuId" resultMap="ErpGoodsBatchResult">
        <include refid="selectSql"/>
        from
        erp_goods_batch
        where su_id=#{suId} and oper_type!=3 and sync_status=2
    </select>

    <select id="syncGoodsBatch" resultMap="ErpGoodsBatchResult">
        <include refid="selectSql"/>
        FROM erp_goods_batch t
        WHERE t.sync_status = 0
        AND (t.su_id, t.su_dept_no) IN (
        SELECT
        c.su_id,
        c.su_dept_no
        FROM
        erp_client c
        WHERE
        c.client_status = 1
        AND c.sync_status = 1)
        order by t.update_count asc limit 1000
    </select>

    <update id="updateOperTypeGoodsBatchFlowBySuId">
        update `erp_goods_batch` set
        `edit_time` = NOW(),
        `sync_status` = 0,
        `oper_type` = 3,
        failed_count=0
        where `su_id` = #{suId}
    </update>

</mapper>