<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiling.open.erp.dao.ErpGoodsCustomerPriceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yiling.open.erp.entity.ErpGoodsCustomerPriceDO">
        <result column="id" property="id"/>
        <result column="gcp_id_no" property="gcpIdNo"/>
        <result column="su_id" property="suId"/>
        <result column="su_dept_no" property="suDeptNo"/>
        <result column="inner_code" property="innerCode"/>
        <result column="in_sn" property="inSn"/>
        <result column="price" property="price"/>
        <result column="data_md5" property="dataMd5"/>
        <result column="add_time" property="addTime"/>
        <result column="edit_time" property="editTime"/>
        <result column="oper_type" property="operType"/>
        <result column="sync_status" property="syncStatus"/>
        <result column="sync_time" property="syncTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
       select id,
        gcp_id_no, su_id, su_dept_no, inner_code, in_sn, price, data_md5, add_time, edit_time, oper_type, sync_status, sync_time
    </sql>


    <select id="queryBySuIdAndSuDeptNo" resultMap="BaseResultMap">
        SELECT id,su_id,su_dept_no,gcp_id_no,data_md5,oper_type FROM erp_goods_customer_price WHERE su_id = #{suId}
        <if test="suDeptNo != null and suDeptNo != ''">
            AND su_dept_no = #{suDeptNo}
        </if>
        LIMIT #{start},#{count}
    </select>

    <select id="queryHistoryList" resultMap="BaseResultMap">
        SELECT id,su_id,su_dept_no,gcp_id_no,oper_type
        FROM erp_goods_customer_price
        WHERE su_id = #{suId}
        <if test="suDeptNoSet != null and suDeptNoSet.size() > 0">
            AND su_dept_no IN
            <foreach item="item" index="index" collection="suDeptNoSet"
                     open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="erpPrimaryKeySet != null and erpPrimaryKeySet.size() > 0">
            AND gcp_id_no IN
            <foreach item="item" index="index" collection="erpPrimaryKeySet"
                     open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
    </select>

    <insert id="batchInsert" parameterType="com.yiling.open.erp.entity.ErpGoodsCustomerPriceDO" useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO erp_goods_customer_price (
        `id`,
        `su_id`,
        `su_dept_no`,
        `in_sn`,
        `gcp_id_no`,
        `inner_code`,
        `price`,
        `data_md5`,
        `add_time`,
        `oper_type`,
        `sync_status`,
        `sync_msg`,
        `failed_count`
        )
        VALUES
        <foreach collection="list" item="item" index="index"
                 separator=",">
            (
            #{item.id},
            #{item.suId},
            #{item.suDeptNo},
            #{item.inSn},
            #{item.gcpIdNo},
            #{item.innerCode},
            #{item.price},
            #{item.dataMd5},
            NOW(),
            1,
            1,
            #{item.syncMsg},
            #{item.failedCount}
            )
        </foreach>
    </insert>

    <update id="updateByPrimaryKey" parameterType="com.yiling.open.erp.entity.ErpGoodsCustomerPriceDO">
        UPDATE erp_goods_customer_price
        SET
        <if test="suId != null">
            `su_id` = #{suId},
        </if>
        <if test="suDeptNo != null and suDeptNo != ''">
            `su_dept_no` = #{suDeptNo},
        </if>
        <if test="inSn != null and inSn != ''">
            `in_sn` = #{inSn},
        </if>
        <if test="innerCode != null and innerCode != ''">
            `inner_code` = #{innerCode},
        </if>
        <if test="price != null">
            `price` = #{price},
        </if>
        <if test="dataMd5 != null and dataMd5 != ''">
            `data_md5` = #{dataMd5},
        </if>
        <if test="syncMsg != null and syncMsg != ''">
            `sync_msg` = #{syncMsg},
        </if>
        <if test="syncStatus != null">
            `sync_status` = #{syncStatus},
        </if>
        `edit_time` = NOW(),
        `oper_type` = 2,
        failed_count=0
        WHERE id = #{id}
    </update>

    <update id="updateSyncInfoByPrimaryKey" parameterType="com.yiling.open.erp.entity.ErpGoodsCustomerPriceDO">
        UPDATE erp_goods_customer_price
        SET
        `sync_status` = #{syncStatus},
        `sync_msg` = #{syncMsg}
        WHERE id = #{id}
    </update>

    <update id="deleteByPrimaryKey" parameterType="com.yiling.open.erp.entity.ErpGoodsCustomerPriceDO">
        UPDATE erp_goods_customer_price
        SET
        `edit_time` = NOW(),
        `oper_type` = 3,
        `sync_status` = #{syncStatus},
        `sync_msg` = #{syncMsg}
        WHERE `id` = #{id}
        AND oper_type &lt; 3
    </update>

    <update id="deleteByPrimaryKeys">
        UPDATE erp_goods_customer_price
        SET
        `edit_time` = NOW(),
        `oper_type` = 3,
        `sync_status` = 1,
        failed_count=0
        WHERE id IN
        <foreach item="item" index="index" collection="list" open="("
                 separator="," close=")">
            #{item}
        </foreach>
    </update>


    <!--=================================================================================================-->
    <update id="updateSyncStatusByStatusAndId">
        update
        `erp_goods_customer_price` set
        `sync_status`=#{syncStatus},`sync_time`=Now(),`sync_msg` = #{syncMsg}
        where
        `id` = #{id} and
        `sync_status`=#{oldSyncStatus}
    </update>


    <!-- 更改同步状态,同步信息 -->
    <update id="updateSyncStatusAndMsg">
        update `erp_goods_customer_price` set
        `sync_status` = #{syncStatus},
        `sync_msg`=#{syncMsg},
        `sync_time`=Now()
        where `id` = #{id}
    </update>

    <!-- 更改同步状态,重新同步 -->
    <update id="retryGoodsGroupPrice">
        update `erp_goods_group_price` set
        `sync_status` = 0,
        `sync_msg`=#{syncMsg},
        `sync_time`=Now(),
        failed_count=failed_count+1
        where `id` = #{id}
    </update>


    <select id="syncGoodsCustomerPrice" resultMap="BaseResultMap">
        <include refid="Base_Column_List"/>
        FROM erp_goods_customer_price t
        WHERE t.sync_status = 0
        AND (t.su_id, t.su_dept_no) IN (
        SELECT
        c.su_id,
        c.su_dept_no
        FROM
        erp_client c
        WHERE
        c.client_status = 1
        AND c.sync_status = 1)
        order by t.failed_count asc limit 1000
    </select>

    <select id="getGoodsCustomerPriceBySuId" resultMap="BaseResultMap">
        <include refid="Base_Column_List"/>
        FROM erp_goods_customer_price t where su_id = #{suId}
    </select>

    <select id="findBySyncStatusAndInSnList" resultMap="BaseResultMap">
        <include refid="Base_Column_List"/>
        from `erp_goods_customer_price`
        where
        su_id=#{suId} and `sync_status`!=1
        <if test="suDeptNo != null and suDeptNo != ''">
            and su_dept_no=#{suDeptNo}
        </if>
        and `in_sn` IN
        <foreach collection="list" item="inSn" index="index" open="("
                 close=")" separator=",">
            #{inSn}
        </foreach>
    </select>

    <update id="updateOperTypeGoodsBatchFlowBySuId">
        update `erp_goods_customer_price` set
        `edit_time` = NOW(),
        `sync_status` = 0,
        `oper_type` = 3,
         failed_count = 0
        where `su_id` = #{suId}
    </update>

</mapper>
