<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiling.open.erp.dao.ErpShopSaleFlowMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yiling.open.erp.entity.ErpShopSaleFlowDO">
    <result column="id" property="id" />
        <result column="su_id" property="suId" />
        <result column="su_dept_no" property="suDeptNo" />
        <result column="shop_no" property="shopNo" />
        <result column="shop_name" property="shopName" />
        <result column="so_id" property="soId" />
        <result column="so_no" property="soNo" />
        <result column="so_time" property="soTime" />
        <result column="enterprise_name" property="enterpriseName" />
        <result column="so_batch_no" property="soBatchNo" />
        <result column="so_quantity" property="soQuantity" />
        <result column="so_product_time" property="soProductTime" />
        <result column="so_effective_time" property="soEffectiveTime" />
        <result column="so_price" property="soPrice" />
        <result column="goods_in_sn" property="goodsInSn" />
        <result column="goods_name" property="goodsName" />
        <result column="so_license" property="soLicense" />
        <result column="so_specifications" property="soSpecifications" />
        <result column="so_unit" property="soUnit" />
        <result column="so_manufacturer" property="soManufacturer" />
        <result column="cnt" property="cnt" />
        <result column="control_id" property="controlId" />
        <result column="data_md5" property="dataMd5" />
        <result column="add_time" property="addTime" />
        <result column="edit_time" property="editTime" />
        <result column="oper_type" property="operType" />
        <result column="sync_status" property="syncStatus" />
        <result column="sync_time" property="syncTime" />
        <result column="sync_msg" property="syncMsg" />
        <result column="failed_count" property="failedCount" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        su_id, su_dept_no, shop_no, shop_name, so_id, so_no, so_time, enterprise_name, so_batch_no, so_quantity, so_product_time, so_effective_time, so_price, goods_in_sn, goods_name, so_license, so_specifications, so_unit, so_manufacturer, cnt, control_id, data_md5, add_time, edit_time, oper_type, sync_status, sync_time, sync_msg, update_count, failed_count
    </sql>

    <select id="queryBySuIdAndSuDeptNo" resultMap="BaseResultMap">
        SELECT id,su_id,su_dept_no,so_id,data_md5,oper_type FROM erp_shop_sale_flow WHERE su_id = #{suId}
        <if test="suDeptNo != null and suDeptNo != ''">
            AND su_dept_no = #{suDeptNo}
        </if>
        LIMIT #{start},#{count}
    </select>

    <select id="queryHistoryList" resultMap="BaseResultMap">
        SELECT id,su_id,su_dept_no,so_id,oper_type
        FROM erp_shop_sale_flow
        WHERE su_id = #{suId}
        <if test="suDeptNoSet != null and suDeptNoSet.size() > 0">
            AND su_dept_no IN
            <foreach item="item" index="index" collection="suDeptNoSet"
                     open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="erpPrimaryKeySet != null and erpPrimaryKeySet.size() > 0">
            AND so_id IN
            <foreach item="item" index="index" collection="erpPrimaryKeySet"
                     open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
    </select>

    <insert id="batchInsert" parameterType="com.yiling.open.erp.entity.ErpShopSaleFlowDO" useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO erp_shop_sale_flow (
        `id`,
        `su_id`,
        `su_dept_no`,
        `so_id`,
        `so_no`,
        `so_time`,
         shop_no,
         shop_name,
        `enterprise_name`,
        `so_batch_no`,
        `so_quantity`,
        `so_product_time`,
        `so_effective_time`,
        `so_price`,
        `goods_in_sn`,
        `goods_name`,
        `so_license`,
        `so_specifications`,
        `so_unit`,
        `so_manufacturer`,
        `cnt`,
        `control_id`,
        `data_md5`,
        `add_time`,
        `oper_type`,
        `sync_status`,
        `sync_msg`,
        `failed_count`
        )
        VALUES
        <foreach collection="list" item="item" index="index"
                 separator=",">
            (
            #{item.id},
            #{item.suId},
            #{item.suDeptNo},
            #{item.soId},
            #{item.soNo},
            #{item.soTime},
            #{item.shopNo},
            #{item.shopName},
            #{item.enterpriseName},
            #{item.soBatchNo},
            #{item.soQuantity},
            #{item.soProductTime},
            #{item.soEffectiveTime},
            #{item.soPrice},
            #{item.goodsInSn},
            #{item.goodsName},
            #{item.soLicense},
            #{item.soSpecifications},
            #{item.soUnit},
            #{item.soManufacturer},
            #{item.cnt},
            #{item.controlId},
            #{item.dataMd5},
            NOW(),
            1,
            1,
            #{item.syncMsg},
            #{item.failedCount}
            )
        </foreach>
    </insert>

    <update id="updateByPrimaryKey" parameterType="com.yiling.open.erp.entity.ErpShopSaleFlowDO">
        UPDATE erp_shop_sale_flow
        SET
        <if test="suId != null">
            `su_id` = #{suId},
        </if>
        <if test="suDeptNo != null and suDeptNo != ''">
            `su_dept_no` = #{suDeptNo},
        </if>
        <if test="soId != null and soId != ''">
            `so_id` = #{soId},
        </if>
        <if test="soNo != null and soNo != ''">
            `so_no` = #{soNo},
        </if>
        <if test="soTime != null">
            `so_time` = #{soTime},
        </if>
        <if test="shopNo != null">
            `shop_no` = #{shopNo},
        </if>
        <if test="shopName != null and shopName != ''">
            `shop_name` = #{shopName},
        </if>
        <if test="enterpriseName != null and enterpriseName != ''">
            `enterprise_name` = #{enterpriseName},
        </if>
        <if test="soBatchNo != null and soBatchNo !=''">
            `so_batch_no` = #{soBatchNo},
        </if>
        <if test="soQuantity != null">
            `so_quantity` = #{soQuantity},
        </if>
        <if test="soProductTime != null">
            `so_product_time` = #{soProductTime},
        </if>
        <if test="soEffectiveTime != null">
            `so_effective_time` = #{soEffectiveTime},
        </if>
        <if test="soPrice != null">
            `so_price` = #{soPrice},
        </if>
        <if test="goodsInSn != null and goodsInSn !=''">
            `goods_in_sn` = #{goodsInSn},
        </if>
        <if test="goodsName != null and goodsName !=''">
            `goods_name` = #{goodsName},
        </if>
        <if test="soLicense != null and soLicense !=''">
            `so_license` = #{soLicense},
        </if>
        <if test="soSpecifications != null and soSpecifications !=''">
            `so_specifications` = #{soSpecifications},
        </if>
        <if test="soUnit != null and soUnit !=''">
            `so_unit` = #{soUnit},
        </if>
        <if test="soManufacturer != null and soManufacturer !=''">
            `so_manufacturer` = #{soManufacturer},
        </if>
        <if test="cnt != null">
            `cnt` = #{cnt},
        </if>
        <if test="controlId != null">
            `control_id` = #{controlId},
        </if>
        <if test="dataMd5 != null and dataMd5 != ''">
            `data_md5` = #{dataMd5},
        </if>
        <if test="syncMsg != null and syncMsg != ''">
            `sync_msg` = #{syncMsg},
        </if>
        <if test="syncStatus != null">
            `sync_status` = #{syncStatus},
        </if>
        <if test="failedCount != null">
            `failed_count` = #{failedCount},
        </if>
        `edit_time` = NOW(),
        `update_count` = update_count + 1,
        `oper_type` = 2
        WHERE id = #{id}
    </update>


    <update id="deleteByPrimaryKey" parameterType="com.yiling.open.erp.entity.ErpShopSaleFlowDO">
        UPDATE erp_shop_sale_flow
        SET
        `edit_time` = NOW(),
        `oper_type` = 3,
        `sync_status` = #{syncStatus},
        `sync_msg` = #{syncMsg}
        WHERE `id` = #{id}
        AND oper_type &lt; 3
    </update>

    <update id="deleteByPrimaryKeys">
        UPDATE erp_shop_sale_flow
        SET
        `edit_time` = NOW(),
        `oper_type` = 3,
        `sync_status` = 1
        WHERE id IN
        <foreach item="item" index="index" collection="list" open="("
                 separator="," close=")">
            #{item}
        </foreach>
    </update>

    <!--=================================================================================================-->
    <update id="updateSyncStatusByStatusAndId">
        update
        `erp_shop_sale_flow` set
        `sync_status`=#{syncStatus},`sync_time`=Now(),`sync_msg` = #{syncMsg}
        where
        `id` = #{id} and
        `sync_status`=#{oldSyncStatus}
    </update>

    <!-- 更改同步状态,同步信息 -->
    <update id="updateSyncStatusAndMsg">
        update `erp_shop_sale_flow` set
        `sync_status` = #{syncStatus},
        `sync_msg`=#{syncMsg},
        `sync_time`=Now()
        where `id` = #{id}
    </update>

    <select id="findListBySuIdAndSoTime" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/>
        FROM erp_shop_sale_flow t where
        <![CDATA[ so_time>=#{startSoTime} and so_time<=#{endSoTime} ]]> and t.su_id=#{suId} and t.su_dept_no=#{suDeptNo} and t.oper_type in (1,2)
    </select>

    <!-- 根据ID删除记录 -->
    <delete id="deleteFlowById" parameterType="java.lang.Long">
        DELETE FROM
        erp_shop_sale_flow WHERE id = #{id}
    </delete>

    <select id="syncSaleFlowPage" resultMap="BaseResultMap">
       select
        <include refid="Base_Column_List"/>
        FROM erp_shop_sale_flow t
        WHERE t.sync_status = 0
        <if test="requestList != null and requestList.size() != 0">
            AND (t.su_id, t.su_dept_no) IN
            <foreach item="item" index="index" collection="requestList" open="("
                     separator="," close=")">
                (#{item.suId},#{item.suDeptNo})
            </foreach>
        </if>
        limit 100
    </select>

    <select id="unLockSynShopSaleFlow" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        FROM erp_shop_sale_flow t
        WHERE t.sync_status = 2
        AND t.oper_type in (1,2)
        AND (t.so_time BETWEEN #{request.startMonth} AND #{request.endMonth})
        AND (t.su_id, t.su_dept_no) IN (
        SELECT c.su_id, c.su_dept_no
        FROM erp_client c
        WHERE
        c.client_status = 1
        AND c.sync_status = 1
        AND c.rk_su_id = #{request.rkSuId}
        )
    </select>

</mapper>
