<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiling.open.erp.dao.ErpTaskInterfaceMapper">
    <resultMap id="BaseResultMap" type="com.yiling.open.erp.entity.ErpTaskInterfaceDO">
        <!--@mbg.generated-->
        <!--@Table erp_task_interface-->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="task_name" jdbcType="VARCHAR" property="taskName"/>
        <result column="task_no" jdbcType="VARCHAR" property="taskNo"/>
        <result column="task_key" jdbcType="VARCHAR" property="taskKey"/>
        <result column="task_type" jdbcType="BOOLEAN" property="taskType"/>
        <result column="task_status" jdbcType="BOOLEAN" property="taskStatus"/>
        <result column="mapping_uri" jdbcType="VARCHAR" property="mappingUri"/>
        <result column="task_description" jdbcType="VARCHAR" property="taskDescription"/>
        <result column="table_name" jdbcType="VARCHAR" property="tableName"/>
        <result column="json_mapping" jdbcType="VARCHAR" property="jsonMapping"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, task_name, task_no, task_key, task_type, task_status, mapping_uri, task_description,
        `table_name`,json_mapping
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from erp_task_interface
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        <!--@mbg.generated-->
        delete from erp_task_interface
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.yiling.open.erp.entity.ErpTaskInterfaceDO" useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into erp_task_interface (task_name, task_no, task_key,
        task_type, task_status, mapping_uri,
        task_description, `table_name`)
        values (#{taskName,jdbcType=VARCHAR}, #{taskNo,jdbcType=VARCHAR}, #{taskKey,jdbcType=VARCHAR},
        #{taskType,jdbcType=BOOLEAN}, #{taskStatus,jdbcType=BOOLEAN}, #{mappingUri,jdbcType=VARCHAR},
        #{taskDescription,jdbcType=VARCHAR}, #{tableName,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.yiling.open.erp.entity.ErpTaskInterfaceDO"
            useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into erp_task_interface
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="taskName != null">
                task_name,
            </if>
            <if test="taskNo != null">
                task_no,
            </if>
            <if test="taskKey != null">
                task_key,
            </if>
            <if test="taskType != null">
                task_type,
            </if>
            <if test="taskStatus != null">
                task_status,
            </if>
            <if test="mappingUri != null">
                mapping_uri,
            </if>
            <if test="taskDescription != null">
                task_description,
            </if>
            <if test="tableName != null">
                `table_name`,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="taskName != null">
                #{taskName,jdbcType=VARCHAR},
            </if>
            <if test="taskNo != null">
                #{taskNo,jdbcType=VARCHAR},
            </if>
            <if test="taskKey != null">
                #{taskKey,jdbcType=VARCHAR},
            </if>
            <if test="taskType != null">
                #{taskType,jdbcType=BOOLEAN},
            </if>
            <if test="taskStatus != null">
                #{taskStatus,jdbcType=BOOLEAN},
            </if>
            <if test="mappingUri != null">
                #{mappingUri,jdbcType=VARCHAR},
            </if>
            <if test="taskDescription != null">
                #{taskDescription,jdbcType=VARCHAR},
            </if>
            <if test="tableName != null">
                #{tableName,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.yiling.open.erp.entity.ErpTaskInterfaceDO">
        <!--@mbg.generated-->
        update erp_task_interface
        <set>
            <if test="taskName != null">
                task_name = #{taskName,jdbcType=VARCHAR},
            </if>
            <if test="taskNo != null">
                task_no = #{taskNo,jdbcType=VARCHAR},
            </if>
            <if test="taskKey != null">
                task_key = #{taskKey,jdbcType=VARCHAR},
            </if>
            <if test="taskType != null">
                task_type = #{taskType,jdbcType=BOOLEAN},
            </if>
            <if test="taskStatus != null">
                task_status = #{taskStatus,jdbcType=BOOLEAN},
            </if>
            <if test="mappingUri != null">
                mapping_uri = #{mappingUri,jdbcType=VARCHAR},
            </if>
            <if test="taskDescription != null">
                task_description = #{taskDescription,jdbcType=VARCHAR},
            </if>
            <if test="tableName != null">
                `table_name` = #{tableName,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.yiling.open.erp.entity.ErpTaskInterfaceDO">
        <!--@mbg.generated-->
        update erp_task_interface
        set task_name = #{taskName,jdbcType=VARCHAR},
        task_no = #{taskNo,jdbcType=VARCHAR},
        task_key = #{taskKey,jdbcType=VARCHAR},
        task_type = #{taskType,jdbcType=BOOLEAN},
        task_status = #{taskStatus,jdbcType=BOOLEAN},
        mapping_uri = #{mappingUri,jdbcType=VARCHAR},
        task_description = #{taskDescription,jdbcType=VARCHAR},
        `table_name` = #{tableName,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>

    <select id="findErpTaskInterfaceByTaskNo" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from erp_task_interface
        where task_no = #{taskNo} and task_status=1
    </select>

</mapper>