@import "~@/common/styles/mixin.scss";

.app-container {

  .common-box {
    .el-input {
      width: 220px;
    }
    .search-box {
      padding: 0 16px;
      position: relative;

      .box {
        .title {
          font-size: $font-size-large;
          line-height: $font-size-large-lh;
          color: $font-important-color;
          margin-bottom: 8px;
        }
      }

      .el-select {
        width: 220px;
      }

      .bottom-btn {
        position: absolute;
        bottom: 0;
        right: 0;
      }
    }
  }

  // 导出、导入按钮
  .down-box {
    width: 100%;
    margin-top: 24px;

    .btn {
      float: right;
    }
  }

  // 底部列表
  .order-table-view {
    width: 100%;
    position: relative;
    .item {
      margin-top: 16px;
      .title {
        min-height: 25px;
        color: $font-important-color;
        margin-bottom: 12px ;
      }
      .detail-btn{
        height: 20px;
        padding: 0;
      }
      .pad-title {
        margin-top: 37px;
        padding-bottom: 30px;
      }
      &-text {
        padding-bottom: 8px;
        color: $font-important-color;
        span {
          color: $font-light-color;
        }
      }
    }
    .operation-view{
      width: 100%;
      height: 100%;
      .option{
        margin-left: 20px;
      }
    }
  }
  // 查看渠道信息弹框
  .dialog-content-box{
    padding: 16px;
    height: 515px;
    overflow-y: auto;
    .dialog-content-top {
      border-radius: 4px;
      border: 1px solid #EEEEEE;
      padding: 16px;
      
    }
    .line-view {
      width: 2px;
      height: 14px;
      background: #1790FF;
      margin-right: 4px;
    }
  }
  .add-dialog-content-box{
    padding: 16px;
    .add-dialog{
      height: 36px;
      line-height: 36px;
      font-size: $font-size-base;
      .num-text{
        color: #F52922;
      }
    }
  }
  // 停用
  .stop-content{
    padding: 42px 65px;
    font-size: 16px;
    font-weight: 400;
    color: #333333;
    line-height: 22px;
    text-align: center;
  }
}

