<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiling.marketing.presale.dao.MarketingPresaleMemberLimitMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yiling.marketing.presale.entity.MarketingPresaleMemberLimitDO">
        <result column="id" property="id"/>
        <result column="marketing_presale_id" property="marketingPresaleId"/>
        <result column="member_id" property="memberId"/>
        <result column="member_name" property="memberName"/>
        <result column="del_flag" property="delFlag"/>
        <result column="create_user" property="createUser"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="remark" property="remark"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id
        ,
        marketing_presale_id, member_id, member_name, del_flag, create_user, create_time, update_user, update_time, remark
    </sql>
    <select id="getInfoByPresaleId" resultType="com.yiling.marketing.presale.dto.PresaleRelativeDTO">
        select member_id as memberId,marketing_presale_id as id
        from marketing_presale_member_limit
        where
        del_flag=0 and
        marketing_presale_id in
        <foreach item="item" index="index" collection="request" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

</mapper>
