<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiling.marketing.presale.dao.MarketingPresaleActivityMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yiling.marketing.presale.entity.MarketingPresaleActivityDO">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="sponsor_type" property="sponsorType"/>
        <result column="begin_time" property="beginTime"/>
        <result column="end_time" property="endTime"/>
        <result column="status" property="status"/>
        <result column="operating_remark" property="operatingRemark"/>
        <result column="bear" property="bear"/>
        <result column="platform_ratio" property="platformRatio"/>
        <result column="business_ratio" property="businessRatio"/>
        <result column="platform_selected" property="platformSelected"/>
        <result column="port_selected" property="portSelected"/>
        <result column="condition_buyer_type" property="conditionBuyerType"/>
        <result column="condition_enterprise_type" property="conditionEnterpriseType"/>
        <result column="condition_enterprise_type_value" property="conditionEnterpriseTypeValue"/>
        <result column="condition_user_type" property="conditionUserType"/>
        <result column="condition_other" property="conditionOther"/>
        <result column="presale_type" property="presaleType"/>
        <result column="deposit_begin_time" property="depositBeginTime"/>
        <result column="deposit_end_time" property="depositEndTime"/>
        <result column="final_pay_begin_time" property="finalPayBeginTime"/>
        <result column="final_pay_end_time" property="finalPayEndTime"/>
        <result column="budget_amount" property="budgetAmount"/>
        <result column="del_flag" property="delFlag"/>
        <result column="create_user" property="createUser"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="remark" property="remark"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id
        ,
        name, sponsor_type, begin_time, end_time, status, operating_remark, bear, platform_ratio, business_ratio, platform_selected, port_selected, condition_buyer_type, condition_enterprise_type, condition_enterprise_type_value, condition_user_type, condition_other, presale_type, deposit_begin_time, deposit_end_time, final_pay_begin_time, final_pay_end_time, budget_amount, del_flag, create_user, create_time, update_user, update_time, remark
    </sql>
    <select id="getAvailablePresaleInfo" resultType="com.yiling.marketing.presale.dto.PresaleActivityDTO">
        select
        pa.id,pa.name,pa.sponsor_type,pa.begin_time,pa.end_time,pa.create_time as createTime,
        pa.status,pa.operating_remark,pa.bear,pa.platform_ratio,
        pa.business_ratio,pa.platform_selected,pa.port_selected,pa.condition_buyer_type,pa.condition_enterprise_type,
        pa.condition_enterprise_type_value,pa.condition_user_type,pa.condition_other,pa.presale_type,pa.deposit_begin_time,
        pa.deposit_end_time,pa.final_pay_begin_time,pa.final_pay_end_time,pa.budget_amount,
        pg.goods_id as goodsId,pg.min_num as minNum ,pg.max_num as maxNum,pg.all_num as allNum,
        pg.presale_amount as presaleAmount,pg.deposit_ratio as depositRatio,
        pg.presale_type AS goodsPresaleType,pg.expansion_multiplier AS expansionMultiplier,pg.final_pay_discount_amount AS finalPayDiscountAmount
        FROM
        marketing_presale_activity pa
        LEFT JOIN marketing_presale_member_limit ml ON ml.marketing_presale_id = pa.id
        AND pa.condition_user_type = 4
        AND ml.del_flag = 0
        LEFT JOIN marketing_presale_goods_limit pg ON pg.marketing_strategy_id = pa.id
        WHERE
        pa.STATUS = 1
        and pa.condition_buyer_type!=0
        AND pa.del_flag = 0
        AND pa.begin_time <![CDATA[ < ]]> NOW()
        AND pa.end_time > NOW()
        AND pa.platform_selected LIKE concat('%',#{request.platformSelected},'%' )
        AND pg.del_flag = 0
        <if test="request.presaleId!=null and request.presaleId!=0">
            and pa.id=#{request.presaleId}
        </if>
        and IF(pa.condition_user_type = 4,ml.member_id IN
        <foreach item="item" index="index" collection="request.memberIds" open="(" separator="," close=")">
            #{item}
        </foreach>
        ,true)
        <if test="request.goodsId != null and request.goodsId.size() > 0">
            and pg.goods_id in
            <foreach item="item" index="index" collection="request.goodsId"
                     open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
    </select>

</mapper>
