<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiling.hmc.order.dao.OrderPrescriptionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yiling.hmc.order.entity.OrderPrescriptionDO">
    <result column="id" property="id" />
        <result column="order_id" property="orderId" />
        <result column="receipt_date" property="receiptDate" />
        <result column="doctor" property="doctor" />
        <result column="prescription_no" property="prescriptionNo" />
        <result column="patients_name" property="patientsName" />
        <result column="patients_gender" property="patientsGender" />
        <result column="patients_age" property="patientsAge" />
        <result column="interrogation_room" property="interrogationRoom" />
        <result column="symptoms_desc" property="symptomsDesc" />
        <result column="interrogation_result" property="interrogationResult" />
        <result column="prescription_snapshot_url" property="prescriptionSnapshotUrl" />
        <result column="add_desc" property="addDesc" />
        <result column="create_user" property="createUser" />
        <result column="create_time" property="createTime" />
        <result column="update_user" property="updateUser" />
        <result column="update_time" property="updateTime" />
        <result column="del_flag" property="delFlag" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, order_id, receipt_date, doctor, prescription_no, patients_name, patients_gender, patients_age,
        interrogation_room, symptoms_desc, interrogation_result, prescription_snapshot_url, create_user, create_time,
        update_user, update_time, del_flag, remark
    </sql>

</mapper>
