<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiling.hmc.order.dao.OrderMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yiling.hmc.order.entity.OrderDO">
        <result column="id" property="id"/>
        <result column="order_no" property="orderNo"/>
        <result column="insurance_record_id" property="insuranceRecordId"/>
        <result column="policy_no" property="policyNo"/>
        <result column="third_confirm_no" property="thirdConfirmNo"/>
        <result column="insurance_company_id" property="insuranceCompanyId"/>
        <result column="prescription_status" property="prescriptionStatus"/>
        <result column="order_status" property="orderStatus"/>
        <result column="eid" property="eid"/>
        <result column="ename" property="ename"/>
        <result column="payment_method" property="paymentMethod"/>
        <result column="payment_status" property="paymentStatus"/>
        <result column="payment_time" property="paymentTime"/>
        <result column="order_user" property="orderUser"/>
        <result column="order_time" property="orderTime"/>
        <result column="finish_time" property="finishTime"/>
        <result column="order_type" property="orderType"/>
        <result column="is_insurance_order" property="isInsuranceOrder"/>
        <result column="total_amount" property="totalAmount"/>
        <result column="terminal_settle_status" property="terminalSettleStatus"/>
        <result column="terminal_settle_amount" property="terminalSettleAmount"/>
        <result column="insurance_settle_status" property="insuranceSettleStatus"/>
        <result column="insurance_settle_amount" property="insuranceSettleAmount"/>
        <result column="insurance_settle_amount_trial" property="insuranceSettleAmountTrial"/>
        <result column="synchronous_type" property="synchronousType"/>
        <result column="deliver_type" property="deliverType"/>
        <result column="bar_code_key" property="barCodeKey"/>
        <result column="create_source" property="createSource"/>
        <result column="order_receipts" property="orderReceipts"/>
        <result column="del_flag" property="delFlag"/>
        <result column="create_user" property="createUser"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="remark" property="remark"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, order_no, insurance_record_id, policy_no, third_confirm_no, insurance_company_id, prescription_status, order_status, eid, ename,
        payment_method, payment_status, payment_time, order_user, order_time, finish_time, order_type, is_insurance_order, total_amount, terminal_settle_status,
        terminal_settle_amount, insurance_settle_status, insurance_settle_amount, insurance_settle_amount_trial, synchronous_type, deliver_type, bar_code_key, create_source, order_receipts,
        del_flag, create_user, create_time, update_user, update_time, remark
    </sql>

    <select id="pageListByCondition" parameterType="com.yiling.hmc.order.dto.request.OrderPageRequest"
            resultType="com.yiling.hmc.order.entity.OrderDO">
        SELECT
        o.*
        FROM
        hmc_order o
        <if test="request.goodsName != null and request.goodsName !=''">
            LEFT JOIN hmc_order_detail d ON d.order_id = o.id
        </if>
        <if test="(request.receiveUserName != null and request.receiveUserName !='') or (request.receiveUserTel != null and request.receiveUserTel !='')">
            LEFT JOIN hmc_order_relate_user u ON u.order_id = o.id
        </if>
        <where>
            o.del_flag = 0
            <if test="request.orderStatusList != null and request.orderStatusList.size() > 0">
                and o.order_status in
                <foreach item="item" index="index" collection="request.orderStatusList"
                         open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="request.orderNo != null and request.orderNo !=''">
                and o.order_no = #{request.orderNo}
            </if>
            <if test="request.eid != null">
                and o.eid = #{request.eid}
            </if>
            <if test="request.orderStatus != null and request.orderStatus != 0">
                and o.order_status = #{request.orderStatus}
            </if>
            <if test="request.prescriptionStatus != null and request.prescriptionStatus != 0">
                and o.prescription_status = #{request.prescriptionStatus}
            </if>
            <if test="request.orderUser != null">
                and o.order_user = #{request.orderUser}
            </if>
            <if test="request.deliverType != null and request.deliverType != 0">
                and o.deliver_type = #{request.deliverType}
            </if>
            <if test="request.startTime != null">
                and o.create_time &gt;= #{request.startTime}
            </if>
            <if test="request.stopTime != null">
                and o.create_time &lt;= #{request.stopTime}
            </if>
            <if test="request.goodsName != null and request.goodsName !=''">
                and d.goods_name like "%"#{request.goodsName}"%"
            </if>
            <if test="request.receiveUserName != null and request.receiveUserName !=''">
                and u.user_name = #{request.receiveUserName}
                and u.type = 1
            </if>
            <if test="request.receiveUserTel != null and request.receiveUserTel !=''">
                and u.user_tel = #{request.receiveUserTel}
                and u.type = 1
            </if>
        </where>
        ORDER BY o.create_time DESC
    </select>
</mapper>
