.pop-up{
  .common-box {
    .el-input {
      width: 200px;
    }
    .search-box {
      .box {
        .title {
          font-size: $font-size-large;
          line-height: $font-size-large-lh;
          color: $font-important-color;
          margin-bottom: 8px;
        }
      }
    }
  }
  
  .products-box {
    position: relative;
    display: flex;
    align-items: center;
    text-align: left;
    padding-left: 6px;
    .my-image {
      width: 100px;
      height: 115px;
      border-radius: 4px;
      img {
        width: 100%;
        height: 100%;
        display: inline-block;
      }
    }
  }
  // 底部列表
  .table-conter {
    padding: 0 16px;
    width: 100%;
    overflow: hidden;
  }
}