<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiling.dataflow.flow.dao.FlowBiTaskMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yiling.dataflow.flow.entity.FlowBiTaskDO">
    <result column="id" property="id" />
        <result column="job_id" property="jobId" />
        <result column="eid" property="eid" />
        <result column="task_code" property="taskCode" />
        <result column="task_time" property="taskTime" />
        <result column="sync_status" property="syncStatus" />
        <result column="sync_time" property="syncTime" />
        <result column="sync_msg" property="syncMsg" />
        <result column="del_flag" property="delFlag" />
        <result column="create_time" property="createTime" />
        <result column="create_user" property="createUser" />
        <result column="update_time" property="updateTime" />
        <result column="update_user" property="updateUser" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        job_id, eid, task_time, sync_status, sync_time, sync_msg, del_flag, create_time, create_user, update_time, update_user, remark
    </sql>

    <delete id="deleteByTaskTime">
        DELETE FROM flow_bi_task
        WHERE eid = #{eid} AND task_time <![CDATA[ <= ]]> #{taskTimeEnd}
    </delete>

</mapper>
