<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiling.dataflow.flow.dao.FlowJudgeTypeConfigMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yiling.dataflow.flow.entity.FlowJudgeTypeConfigDO">
    <result column="id" property="id" />
        <result column="order_type" property="orderType" />
        <result column="contain_key" property="containKey" />
        <result column="end_key" property="endKey" />
        <result column="type" property="type" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        order_type, contain_key, end_key, type
    </sql>

</mapper>
