
.app-container {
  .app-container-content {
    .c-box {
      padding: 10px 16px;
      padding-top: 20px;
      background-color: $white;
      border-radius: 4px;
    }
    .item-el-tag{
      margin-right: 10px;
    }
    .add-span{
      color: #1790FF;
      cursor: pointer;
    }
  }

}
