@import './variables';
@import './mixin.scss';
@import './transition.scss';

body {
  margin: 0;
  height: 100%;
  width: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

html {
  box-sizing: border-box;
}

#app {
  height: 100%;
}

img {
  content: normal !important;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

.flex-between {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-row-left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.flex-row-right {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: center;
}
.flex-row-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flex-column-top {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.flex-column-bottom {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  align-items: center;
}
.pad-16 {
  padding: 16px;
}
.mar-16 {
  margin: 16px;
}
.pad-lr-16 {
  padding-left: 16px;
  padding-right: 16px;
}
.pad-l-16 {
  padding-right: 16px;
}
.pad-t-16 {
  padding-top: 16px;
}
.pad-b-16 {
  padding-bottom: 16px;
}
.pad-r-16 {
  padding-left: 16px;
}
.mar-l-16 {
  margin-left: 16px;
}
.mar-t-16 {
  margin-top: 16px;
}
.mar-b-16 {
  margin-bottom: 16px;
}
.mar-r-16 {
  margin-right: 16px;
}
.pad-tb-16 {
  padding-top: 16px;
  padding-bottom: 16px;
}
.pad-lr-0 {
  padding-left: 0;
  padding-right: 0;
}
.pad-lr-10 {
  padding-left: 10px;
  padding-right: 10px;
}
.pad-tb-0 {
  padding-bottom: 0;
  padding-top: 0;
}
.pad-t-10 {
  padding-top: 10px;
}
.pad-b-10 {
  padding-bottom: 10px;
}
.pad-tb-10 {
  padding-bottom: 10px;
  padding-top: 10px;
}
.mar-lr-10 {
  margin-right: 10px;
  margin-left: 10px;
}
.mar-r-10 {
  margin-right: 10px;
}
.mar-l-10 {
  margin-left: 10px;
}
.mar-tb-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.mar-tb-16 {
  margin-top: 16px;
  margin-bottom: 16px;
}
.mar-t-10 {
  margin-top: 10px;
}
.mar-b-10 {
  margin-bottom: 10px;
}
.mar-t-20 {
  margin-top: 20px;
}
.mar-l-32 {
  margin-left: 32px;
}
.mar-tb-30 {
  margin-top: 30px;
  margin-bottom: 30px;
}
.mar-t-8 {
  margin-top: 8px;
}
.mar-b-8 {
  margin-bottom: 8px;
}
.mar-l-8 {
  margin-left: 8px;
}
.mar-r-8 {
  margin-right: 8px;
}
.pad-t-8 {
  padding-top: 8px;
}
.pad-b-8 {
  padding-bottom: 8px;
}
.pad-l-8 {
  padding-left: 8px;
}
.pad-r-8 {
  padding-right: 8px;
}

.font-size-sm {
  font-size: $font-size-small;
  line-height: $font-size-small-lh;
}
.font-size-base {
  font-size: $font-size-base;
  line-height: $font-size-base-lh;
}
.font-size-lg {
  font-size: $font-size-large;
  line-height: $font-size-large-lh;
}
.font-size-clg {
  font-size: $font-size-c-large;
  line-height: $font-size-c-large-lh;
}
.font-size-slg {
  font-size: $font-size-s-large;
  line-height: $font-size-s-large-lh;
}
.touch {
  cursor: pointer;
}
.text-c {
  text-align: center;
}
.text-l {
  text-align: left;
}
.text-r {
  text-align: right;
}
.flex1 {
  flex: 1;
}
.bold {
  font-weight: $font-bold-600;
}
.font-important-color {
  color: $font-important-color;
}
.font-title-color {
  color: $font-title-color;
}
.font-light-color {
  color: $font-light-color;
}
.bg-white {
  background: #ffffff;
}
.col-up {
  color: $danger !important;
}
.col-warn {
  color: $warning !important;
}
.col-down {
  color: $success !important;
}
.col-theme {
  color: $primary !important;
}
.clamp-t-1 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  white-space: normal;
}
.border-1px,
.border-1px-t,
.border-1px-b,
.border-1px-tb,
.border-1px-l,
.border-1px-r {
  position: relative;
}

.border-1px {
  &:before {
    @include setLine;
  }
}

.border-1px-t {
  &:before {
    @include setTopLine;
  }
}

.border-1px-b {
  &::before {
    @include setBottomLine;
  }
}

.border-1px-tb {
  &:before {
    @include setTopLine;
  }
  &:after {
    @include setBottomLine;
  }
}

.border-1px-l {
  &::before {
    @include setLeftLine;
  }
}

.border-1px-r {
  &::before {
    @include setRightLine;
  }
}

.border-1px-b.border-margin-left {
  &::before {
    left: 16px;
  }
}
