.app-container {
  .select-bar {
    display: flex;
    margin-bottom: 8px;
    .item {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-right: 16px;
      cursor: pointer;
      .item-title {
        margin-bottom: 5px;
        font-size: 16px;
        font-weight: 600;
        color: $font-light-color;
        line-height: 22px;
      }
      .active {
        color: $primary;
      }
      .item-line {
        width: 26px;
        height: 2px;
        background-color: $primary;
      }
    }
    .hidden {
      display: none;
    }
  }
  .insurance-detail-info {
    .insurance-detail-item {
      &:not(:last-child) {
        margin-bottom: 10px;
      }
      .header-bar {
        height: 22px;
        line-height: 22px;
        .sign {
          margin-right: 5px;
        }
        .insurance-order {
          margin-left: 32px;
          color: $primary;
          cursor: pointer;
        }
      }
      .item-info {
        .el-row {
          margin-bottom: 8px;
          .el-col {
            .item {
              margin-bottom: 8px;
              .item-title {
                font-size: $font-size-base;
                color: #666;
              }
              .item-value {
                color: #333;
                margin-right: 8px;
              }
            }
          }
        }
        .total {
          font-size: $font-size-base;
          margin-top: 12px;
          display: flex;
          justify-content: flex-end;
        }
        .item-info-firm{
          color: #666;
          display: flex;
          .list{
            box-sizing: border-box;
            width: 280px;
            height: auto;
            margin-right: 20px;
          }
        }
        .hint-info{
          color: #666;
          
        }
      }
    }
  }
  .yl-dialog-hs {
    .common-box {
      display: flex;
      .insurance-detail-info {
        width: 487px;
        border-right: 2px solid #EEE;
        .insurance-detail-item {
          .table-box {
            width: 438px;
          }
        }
      }
      .picture {
        width: 350px;
        margin-left: 16px;
        .img {
          width: 100%;
          height: 100%;
        }
        .nopicture {
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}