<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiling.marketing.couponactivityautogive.dao.CouponActivityAutoGiveGoodsLimitMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yiling.marketing.couponactivityautogive.entity.CouponActivityAutoGiveGoodsLimitDO">
    <result column="id" property="id" />
        <result column="coupon_activity_auto_id" property="couponActivityAutoId" />
        <result column="goods_id" property="goodsId" />
        <result column="goods_name" property="goodsName" />
        <result column="eid" property="eid" />
        <result column="ename" property="ename" />
        <result column="del_flag" property="delFlag" />
        <result column="create_user" property="createUser" />
        <result column="create_time" property="createTime" />
        <result column="update_user" property="updateUser" />
        <result column="update_time" property="updateTime" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        coupon_activity_auto_id, goods_id, goods_name, eid, ename,del_flag, create_user, create_time, update_user, update_time, remark
    </sql>

    <sql id="Base_Table_Name">
        marketing_coupon_activity_auto_give_goods_limit
    </sql>

    <select id="pageList" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from
        <include refid="Base_Table_Name"/>
        <where>
            coupon_activity_auto_id = #{couponActivityAutoId}
            <if test="id != null and id != 0">
                and id = #{id}
            </if>
            <if test="eid != null and eid != 0">
                and eid = #{eid}
            </if>
            <if test="ename != null and ename != ''">
                and ename like CONCAT('%',#{ename},'%')
            </if>
            <if test="goodsId != null and goodsId != '' and goodsId != '0'">
                and goods_id = #{goodsId}
            </if>
            <if test="goodsName != null and goodsName != ''">
                and goods_name like CONCAT('%',#{goodsName},'%')
            </if>
        </where>
    </select>

</mapper>
