<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiling.marketing.couponactivityautogive.dao.CouponActivityAutoGiveEnterpriseInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yiling.marketing.couponactivityautogive.entity.CouponActivityAutoGiveEnterpriseInfoDO">
    <result column="id" property="id" />
        <result column="coupon_activity_auto_give_id" property="couponActivityAutoGiveId" />
        <result column="coupon_activity_auto_give_name" property="couponActivityAutoGiveName" />
        <result column="get_type" property="getType" />
        <result column="eid" property="eid" />
        <result column="ename" property="ename" />
        <result column="etype" property="etype" />
        <result column="region_code" property="regionCode" />
        <result column="region_name" property="regionName" />
        <result column="auth_status" property="authStatus" />
        <result column="coupon_activity_id" property="couponActivityId" />
        <result column="coupon_activity_name" property="couponActivityName" />
        <result column="give_num" property="giveNum" />
        <result column="own_eid" property="ownEid" />
        <result column="own_ename" property="ownEname" />
        <result column="del_flag" property="delFlag" />
        <result column="create_user" property="createUser" />
        <result column="create_time" property="createTime" />
        <result column="update_user" property="updateUser" />
        <result column="update_time" property="updateTime" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Table_Name">
        `marketing_coupon_activity_auto_give_enterprise_info`
    </sql>

    <sql id="Base_Column_List">
        id,
        coupon_activity_auto_give_id, coupon_activity_auto_give_name, get_type, eid, ename, etype, region_code, region_name, auth_status, coupon_activity_id, coupon_activity_name, give_num, own_eid, own_ename, del_flag, create_user, create_time, update_user, update_time, remark
    </sql>

    <!--Integer updateGiveNumByIds(@Param("infoList") List<SaveCouponActivityGiveEnterpriseInfoDetailRequest> infoList);-->
    <!--<update id="updateGiveNumByIds">-->
        <!--<foreach item="item" index="index" collection="infoList" open="" separator=";" close="">-->
            <!--update-->
            <!--<include refid="Base_Table_Name"/>-->
            <!--set-->
            <!--give_num = give_num + #{item.giveNum},-->
            <!--update_user = #{item.updateUser},-->
            <!--update_time = NOW()-->
            <!--where-->
            <!--id = #{item.id}-->
            <!--and del_flag = 0-->
        <!--</foreach>-->

    <!--</update>-->


</mapper>
