<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiling.user.usercustomer.dao.UserCustomerMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yiling.user.usercustomer.entity.UserCustomerDO">
    <result column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="customer_eid" property="customerEid" />
        <result column="status" property="status" />
        <result column="audit_time" property="auditTime" />
        <result column="reject_reason" property="rejectReason" />
        <result column="del_flag" property="delFlag" />
        <result column="create_time" property="createTime" />
        <result column="create_user" property="createUser" />
        <result column="update_time" property="updateTime" />
        <result column="update_user" property="updateUser" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        user_id, customer_eid, status, audit_time, reject_reason, lock_status, del_flag, create_time, create_user, update_time, update_user, remark
    </sql>

    <select id="queryPageList" parameterType="com.yiling.user.usercustomer.dto.request.QueryUserCustomerRequest"
            resultType="com.yiling.user.usercustomer.dto.UserCustomerDTO">
        SELECT
            uc.id , uc.customer_eid , e.name , e.contactor , e.contactor_phone , e.province_name , e.city_name , e.region_name ,
            e.address , e.license_number, uc.status , uc.reject_reason , uc.audit_time , uc.user_id,uc.create_time, uc.lock_status
        FROM user_customer uc LEFT JOIN enterprise e ON uc.customer_eid = e.id and uc.del_flag = 0 and e.del_flag = 0
        <where>
            <if test="request.userId != null and request.userId != 0">
                uc.user_id = #{request.userId}
            </if>
            <if test="request.customerEid !=null and request.customerEid != 0">
                and uc.customer_eid = #{request.customerEid}
            </if>
            <if test="request.nameOrPhone != null and request.nameOrPhone != '' ">
                and ( e.name like '%${request.nameOrPhone}%' or e.contactor_phone like '%${request.nameOrPhone}%'
                    or e.contactor like concat('%',#{request.nameOrPhone},'%')
                 )
            </if>
            <if test="request.status != null and request.status != 0 ">
                and uc.status = #{request.status}
            </if>
            <if test="request.enterpriseStatus != null and request.enterpriseStatus != 0 ">
                and e.status = #{request.enterpriseStatus}
            </if>
            <if test="request.cityCodeList != null and request.cityCodeList.size > 0">
                and e.city_code in
                <foreach item="item" index="index" collection="request.cityCodeList"
                         open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="request.licenseNumberList != null and request.licenseNumberList.size > 0">
                and e.license_number not in
                <foreach item="item" index="index" collection="request.licenseNumberList"
                         open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>

</mapper>
