@import "~@/common/styles/mixin.scss";

.app-container {
  .search-bar {
    background: $white;
    padding: 16px;
    border-radius: 4px;
    .intro {
      color: $font-important-color;
      font-size: $font-size-base;
      line-height: $font-size-base-lh;
      margin-bottom: 8px;
      padding: 0 10px;
      span {
        color: $font-title-color;
      }
    }
  }

  .bottom-box {
    margin-top: 16px;
    background: $white;
    padding: 16px;
    border-radius: 4px;
    .header-bar {
      margin-bottom: 12px;
    }
    .img-view {
      position: relative;
      width: 100%;
      padding: 0 40px;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      .item {
        .img-box {
          border: 4px solid #EEEEEE;
          width: 200px;
          height: 200px;
          img {
            width: 150px;
            max-height: 200px;
          }
        }
        .pic-desc {
          width: 100%;
          font-size: $font-size-base;
          color: $font-important-color;
          margin: 12px 0 20px 0;
          text-align: center;
        }
      }
    }
  }
}

