
@import "~@/common/styles/mixin.scss";
.app-container {
  .box-search {
    .search-box {
      position: relative;
      .box {
        margin-bottom: 16px;
        .title {
          font-size: $font-size-large;
          line-height: $font-size-base-lh;
          color: $font-important-color;
          margin-bottom: 8px;
        }
        .el-input {
          width: 260px;
        }
        .el-select {
          width: 260px;
        }
      }
    }
    .search-btn-box {
      margin-top: 16px;
    }
  }
  .down-box {
    width: 100%;
    margin-top: 24px;
    .btn {
      float: right;
    }
  }
  .table-box {
    .insurancce-detail-wrap {
      .title {
        font-size: $font-size-large;
        font-weight: 600;
        color: $font-important-color;
        line-height: 25px;
        text-align: left;
      }
      .insurancce-detail {
        margin-top: 12px;
        display: flex;
        .list-col {
          flex: 1;
          .list-item {
            font-size: $font-size-base;
            font-weight: 400;
            color: $font-title-color;
            line-height: 20px;
            &:not(:last-child) {
              margin-bottom: 8px;
            }
            .list-content {
              color: $font-important-color;
            }
          }
        }
      }
    }
  }
}