<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiling.hmc.wechat.dao.InsuranceRecordRetreatMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yiling.hmc.wechat.entity.InsuranceRecordRetreatDO">
    <result column="id" property="id" />
        <result column="insurance_record_id" property="insuranceRecordId" />
        <result column="policy_no" property="policyNo" />
        <result column="order_no" property="orderNo" />
        <result column="id_type" property="idType" />
        <result column="id_no" property="idNo" />
        <result column="ret_money" property="retMoney" />
        <result column="ret_time" property="retTime" />
        <result column="premium" property="premium" />
        <result column="installments_total" property="installmentsTotal" />
        <result column="end_policy_type" property="endPolicyType" />
        <result column="flow_id" property="flowId" />
        <result column="del_flag" property="delFlag" />
        <result column="create_user" property="createUser" />
        <result column="create_time" property="createTime" />
        <result column="update_user" property="updateUser" />
        <result column="update_time" property="updateTime" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, order_no, insurance_record_id, policy_no, id_type, id_no, ret_money, ret_time, premium, installments_total, end_policy_type, flow_id, del_flag, create_user, create_time, update_user, update_time, remark
    </sql>

</mapper>
