<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiling.hmc.wechat.dao.InsuranceRecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yiling.hmc.wechat.entity.InsuranceRecordDO">
    <result column="id" property="id" />
        <result column="insurance_id" property="insuranceId" />
        <result column="insurance_company_id" property="insuranceCompanyId" />
        <result column="order_no" property="orderNo" />
        <result column="user_id" property="userId" />
        <result column="policy_no" property="policyNo" />
        <result column="policy_url" property="policyUrl" />
        <result column="proposal_no" property="proposalNo" />
        <result column="combo_name" property="comboName" />
        <result column="bill_type" property="billType" />
        <result column="proposal_time" property="proposalTime" />
        <result column="effective_time" property="effectiveTime" />
        <result column="expired_time" property="expiredTime" />
        <result column="issue_time" property="issueTime" />
        <result column="current_end_time" property="currentEndTime" />
        <result column="holder_name" property="holderName" />
        <result column="holder_phone" property="holderPhone" />
        <result column="holder_email" property="holderEmail" />
        <result column="holder_credential_no" property="holderCredentialNo" />
        <result column="holder_credential_type" property="holderCredentialType" />
        <result column="issue_name" property="issueName" />
        <result column="issue_phone" property="issuePhone" />
        <result column="issue_email" property="issueEmail" />
        <result column="issue_credential_no" property="issueCredentialNo" />
        <result column="issue_credential_type" property="issueCredentialType" />
        <result column="relation_type" property="relationType" />
        <result column="policy_info_id" property="policyInfoId" />
        <result column="seller_eid" property="sellerEid" />
        <result column="seller_user_id" property="sellerUserId" />
        <result column="eid" property="eid" />
        <result column="policy_status" property="policyStatus" />
        <result column="del_flag" property="delFlag" />
        <result column="create_user" property="createUser" />
        <result column="create_time" property="createTime" />
        <result column="update_user" property="updateUser" />
        <result column="update_time" property="updateTime" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, insurance_id,insurance_company_id, order_no, user_id, policy_no, policy_url, proposal_no, combo_name, bill_type, proposal_time,
        effective_time, expired_time, issue_time, current_end_time, holder_name, holder_phone, holder_email, holder_credential_no,
        holder_credential_type, issue_name, issue_phone, issue_email, issue_credential_no, issue_credential_type, relation_type,
        policy_info_id, seller_eid, seller_user_id, eid, policy_status, del_flag, create_user, create_time, update_user, update_time, remark
    </sql>

</mapper>
