<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiling.hmc.wechat.dao.InsuranceFetchPlanDetailMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yiling.hmc.wechat.entity.InsuranceFetchPlanDetailDO">
    <result column="id" property="id" />
        <result column="insurance_record_id" property="insuranceRecordId" />
        <result column="record_pay_id" property="recordPayId" />
        <result column="eid" property="eid" />
        <result column="hmc_goods_id" property="hmcGoodsId" />
        <result column="goods_id" property="goodsId" />
        <result column="sell_specifications_id" property="sellSpecificationsId" />
        <result column="goods_name" property="goodsName" />
        <result column="settle_price" property="settlePrice" />
        <result column="terminal_settle_price" property="terminalSettlePrice" />
        <result column="market_price" property="marketPrice" />
        <result column="insurance_price" property="insurancePrice" />
        <result column="insurance_goods_code" property="insuranceGoodsCode" />
        <result column="per_month_count" property="perMonthCount" />
        <result column="specific_info" property="specificInfo" />
        <result column="create_user" property="createUser" />
        <result column="create_time" property="createTime" />
        <result column="update_user" property="updateUser" />
        <result column="update_time" property="updateTime" />
        <result column="del_flag" property="delFlag" />
        <result column="remark" property="remark" />
    </resultMap>

    <resultMap id="insuranceFetchPlanGroupDTO" type="com.yiling.hmc.wechat.dto.InsuranceFetchPlanGroupDTO" >
        <result column="insuranceRecordId" property="insuranceRecordId" />
        <result column="goodsCount" property="goodsCount" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, insurance_record_id, record_pay_id, eid, hmc_goods_id, goods_id, sell_specifications_id, goods_name, settle_price,
        terminal_settle_price, market_price, insurance_price,insurance_goods_code, per_month_count, specific_info,
        create_user, create_time, update_user, update_time, del_flag, remark
    </sql>

    <select id="groupByInsuranceRecordId" resultMap="insuranceFetchPlanGroupDTO">
        select insurance_record_id as insuranceRecordId,
               count(*) as goodsCount
        from hmc_insurance_fetch_plan_detail
            where insurance_record_id in
            <foreach item="item" index="index" collection="insuranceRecordIdList" open="(" separator="," close=")">
                #{item}
            </foreach>
            group by insurance_record_id;
    </select>


</mapper>
