.app-container {
  .common-box {
    .search-box {
      position: relative;
      .box {
        .title {
          font-size: $font-size-large;
          line-height: $font-size-large-lh;
          color: $font-important-color;
          margin-bottom: 8px;
        }
      }
      .el-select {
        width: 220px;
      }
      .el-input {
        width: 220px;
      }
      .bottom-btn {
        position: absolute;
        bottom: 0;
        right: 0;
      }
    }
  }
  .order-summary-box {
    display: flex;
    margin-bottom: 16px;
    .summary-l {
      width: 50%;
      border-right: 1px solid #e6e6e6;
    }
    .summary-r {
      width: 50%;
      padding-left: 16px;
    }
    .order-summary-item {
      font-size: 14px;
      line-height: 20px;

      &:not(:last-child) {
        margin-bottom: 8px;
      }

      color: #333;

      .item-title {
        color: #666;
      }
    }
  }
  .box-text {
    .item {
      font-size: 14px;
      line-height: 20px;

      &:not(:last-child) {
        margin-bottom: 8px;
      }

      span {
        color: #666;
      }

      .el-button {
        margin-left: 8px;

        span {
          color: #1790ff;
        }
      }
      .receive {
        display: block;
        margin-bottom: 8px;
      }
      .img-box {
        width: 64px;
        height: 64px;
        border-radius: 4px;
        border: 1px solid #cccccc;
        overflow: hidden;
        margin-right: 10px;
        position: relative;
        display: inline-block;

        .img-item {
          width: 64px;
          height: 64px;
        }

        .screen {
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          top: 0;
          opacity: 0;
          background: rgba(0, 0, 0, 0.6);
          z-index: 100;
          pointer-events: none;

          .icon {
            font-size: 24px;
            margin: auto;
          }
        }

        &:hover {
          .screen {
            opacity: 1;
          }
        }
      }
    }

    .remark {
      .el-textarea {
        margin-top: 8px;

        .el-textarea__inner {
          padding: 6px;
        }
      }
    }
  }
  .down-box {
    width: 100%;
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .time-form {
    display: flex;
    .line {
      width: 50px;
      height: 36px;
      line-height: 36px;
      margin: 0 10px;
    }
  }
  .dialog-content {
    .rebate-box {
      .rebate-item {
        margin-bottom: 16px;
        .el-select {
          width: 260px;
        }
      }
    }
  }
  .pad-b-100 {
    padding-bottom: 80px;
  }
}
