.container {
  background-color: $white;

  .edit-view {
    width: 100%;

    .el-textarea,
    .el-date-editor {
      width: 320px;
    }
    .edit {
      width: 1000px;
      margin: 0 auto;
    }
  }
  .bottom-view {
    position: fixed;
    z-index: 100;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60px;
    padding: 0 20px;
    background-color: #ffffff;
    .btn {
      width: 100px;
    }
  }
}


