<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiling.dataflow.spda.dao.SpdaEnterpriseDataMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yiling.dataflow.spda.entity.SpdaEnterpriseDataDO">
    <result column="id" property="id" />
        <result column="name" property="name" />
        <result column="first_tag" property="firstTag" />
        <result column="second_tag" property="secondTag" />
        <result column="licence" property="licence" />
        <result column="license_number" property="licenseNumber" />
        <result column="fix_licence" property="fixLicence" />
        <result column="address" property="address" />
        <result column="province" property="province" />
        <result column="del_flag" property="delFlag" />
        <result column="create_user" property="createUser" />
        <result column="create_time" property="createTime" />
        <result column="update_user" property="updateUser" />
        <result column="update_time" property="updateTime" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        name, first_tag, second_tag, licence, license_number, fix_licence, address, province, del_flag, create_user, create_time, update_user, update_time, remark
    </sql>

</mapper>
