.app-container {
  .box-search {
    .search-box {
      position: relative;
      .box {
        margin-bottom: 16px;
        .title {
          font-size: $font-size-large;
          line-height: 22px;
          color: $font-important-color;
          margin-bottom: 8px;
        }
        .el-input {
          width: 260px;
        }
      }
    }
    .search-btn-box {
      margin-top: 16px;
    }
  }
  .down-box {
    width: 100%;
    margin-top: 24px;
  }
}