.app-container {
  padding-bottom: 80px;
  .c-box {
    padding: 10px 16px;
    padding-top: 20px;
    background-color: $white;
    border-radius: 4px;
  }
  .add-span{
    color: #1790FF;
    cursor: pointer;
  }
  .item-el-tag{
    display: inline-block;
    margin-right: 10px;
  }
  //分值配置
  .score-to-configure {
    width: 400px
  }
  .col-text {
    text-align: center;
  }
  .row-bottom {
    margin-bottom: 20px;
  }
  .input-width {
    width: 130px;
  }
  .col-color {
    color: #666;
  }
  .section-view{
    background: #FAFAFA; 
    margin-left: 110px;
    box-sizing: border-box;
  }
  .basicInfo {
    text-align: center;
    margin: 20px 0;
  }
}