.app-container {
  .top-btn {
    position: relative;
    width: 100%;
    font-size: $font-size-large;
    line-height: $font-size-large-lh;
    margin: 40px 0 8px 0;
    color: $font-important-color;
    .right-btn {
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }

  .tool {
    margin: 8px 0 8px 0;
    //width: 320px;
  }
  .common-box {
    .el-input {
      width: 260px;
    }
    .search-box {
      margin-top: 16px;
      padding: 0 16px 0 8px;
      position: relative;
      .box {
        .title {
          font-size: $font-size-large;
          line-height: $font-size-large-lh;
          color: $font-important-color;
          margin-bottom: 8px;
        }
      }
      .el-select {
        width: 260px;
      }

      .bottom-btn {
        position: absolute;
        bottom: 0;
        right: 0;
      }
    }
  }
  .my-table {
    .my-image {
      width: 80px;
      height: 80px;
    }

    .pad-b-8 {
      padding-bottom: 8px;
    }
    .switch {
      margin-top: 14px;
    }
    ::v-deep .el-table .cell {
      overflow: auto;
    }
  }
  .products-box {
    position: relative;
    display: flex;
    padding-bottom: 8px;
  }
  .products-info {
    margin-left: 17px;
  }
  .products-id {
    position: absolute;
    top: 5px;
    left: 0;
  }
  .table-content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 8px;
  }

  .color-666 {
    color: #666;
  }
  .color-green {
    color: #52c41a;
  }
  .color-red {
    color: #e62412;
  }
  .mar-l-32 {
    margin-left: 32px;
  }
  .mar-t-24 {
    margin-top: 24px;
  }

  .line-content {
    height: 140px;
  }
  .w-100 {
    width: 100%;
  }
  .font-14{
    font-size: 14px;
    
  }
  .bottom-view {
    position: fixed;
    bottom: 0;
    left: $sideBarWidth;
    right: 0;
    height: 64px;
    background-color: $white;
    padding: 16px;
    z-index: 10;
    box-shadow: 0px -2px 9px 0px rgba(182, 182, 182, 0.16);
  }
}
