<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiling.sjms.gb.dao.GbAttachmentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yiling.sjms.gb.entity.GbAttachmentDO">
    <result column="id" property="id" />
        <result column="gb_id" property="gbId" />
        <result column="file_type" property="fileType" />
        <result column="file_key" property="fileKey" />
        <result column="file_name" property="fileName" />
        <result column="file_md5" property="fileMd5" />
        <result column="del_flag" property="delFlag" />
        <result column="create_user" property="createUser" />
        <result column="create_time" property="createTime" />
        <result column="update_user" property="updateUser" />
        <result column="update_time" property="updateTime" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        gb_id, file_type, file_key, file_name ,file_md5, del_flag, create_user, create_time, update_user, update_time, remark
    </sql>

</mapper>
