<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiling.sjms.gb.dao.GbCompanyRelationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yiling.sjms.gb.entity.GbCompanyRelationDO">
    <result column="id" property="id" />
        <result column="form_id" property="formId" />
        <result column="termainal_company_id" property="termainalCompanyId" />
        <result column="termainal_company_code" property="termainalCompanyCode" />
        <result column="termainal_company_name" property="termainalCompanyName" />
        <result column="termainal_company_province" property="termainalCompanyProvince" />
        <result column="termainal_company_city" property="termainalCompanyCity" />
        <result column="termainal_company_region" property="termainalCompanyRegion" />
        <result column="business_company_id" property="businessCompanyId" />
        <result column="business_company_code" property="businessCompanyCode" />
        <result column="business_company_name" property="businessCompanyName" />
        <result column="business_company_province" property="businessCompanyProvince" />
        <result column="business_company_city" property="businessCompanyCity" />
        <result column="business_company_region" property="businessCompanyRegion" />
        <result column="del_flag" property="delFlag" />

    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        form_id,termainal_company_id,termainal_company_code,termainal_company_name,termainal_company_province,termainal_company_city,
        termainal_company_region,business_company_id,business_company_code,business_company_name,business_company_province,business_company_city,business_company_region,
        del_flag
    </sql>


</mapper>
