<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiling.sjms.gb.dao.CustomerMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yiling.sjms.gb.entity.GbCustomerDO">
    <result column="id" property="id" />
        <result column="name" property="name" />
        <result column="province_name" property="provinceName" />
        <result column="province_code" property="provinceCode" />
        <result column="city_name" property="cityName" />
        <result column="city_code" property="cityCode" />
        <result column="region_name" property="regionName" />
        <result column="region_code" property="regionCode" />
        <result column="address" property="address" />
        <result column="credit_code" property="creditCode" />
        <result column="sort" property="sort" />
        <result column="status" property="status" />
        <result column="del_flag" property="delFlag" />
        <result column="create_user" property="createUser" />
        <result column="create_time" property="createTime" />
        <result column="update_user" property="updateUser" />
        <result column="update_time" property="updateTime" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        name, province_name, province_code, city_name, city_code, region_name, region_code, address, credit_code, sort, status, del_flag, create_user, create_time, update_user, update_time, remark
    </sql>

</mapper>
