<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiling.sjms.gb.dao.GbFormMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yiling.sjms.gb.entity.GbFormDO">
        <result column="id" property="id"/>
        <result column="gb_no" property="gbNo"/>
        <result column="src_gb_no" property="srcGbNo"/>
        <result column="biz_type" property="bizType"/>
        <result column="cancel_flag" property="cancelFlag"/>
        <result column="review_status" property="reviewStatus"/>
        <result column="review_reply" property="reviewReply"/>
        <result column="review_time" property="reviewTime"/>

    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        gb_no, src_gb_no, biz_type,cancel_flag,review_status,review_reply,review_time
    </sql>

    <select id="getGBFormListPage" resultType="com.yiling.sjms.gb.dto.GbFormInfoListDTO">
        SELECT
        f.id,
        gf.id as gbId,
        gf.gb_no AS gbNo,
        gf.src_gb_no AS srcGbNo,
        gf.biz_type AS bizType,
        m.`month`,
        b.org_name AS orgName,
        m.customer_name AS customerName,
        c.termainal_company_name as termainalCompanyName,
        c.business_company_name as businessCompanyName,
        f.`status`,
        f.emp_name as empName,
        f.approve_time as approveTime,
        f.submit_time as submitTime,
        f.create_time as createTime,
        gf.review_status as reviewStatus,
        gf.review_reply as reviewReply,
        gf.review_time as reviewTime
        FROM
        gb_form gf,
        gb_main_info m,
        gb_base_info b,
        form f,
        (
        SELECT
        c.form_id,
        c.termainal_company_name,
        c.business_company_name
        FROM
        gb_company_relation c
        WHERE
        c.del_flag = 0
        GROUP BY
        c.form_id,
        c.termainal_company_name,
        c.business_company_name
        ) c
        <where>
            f.id = m.gb_id
            AND f.id=gf.form_id
            AND b.gb_id = f.id
            AND c.form_id = f.id
            AND f.del_flag = 0
            AND f.type IN (1,2)
            <if test="request.gbNo != null and request.gbNo != ''">
                AND gf.gb_no LIKE concat('%',#{request.gbNo},'%')
            </if>
            <if test="request.customerName != null and request.customerName != ''">
                AND m.customer_name LIKE concat('%',#{request.customerName},'%')
            </if>
            <if test="request.termainalCompanyName != null and request.termainalCompanyName != ''">
                AND c.termainal_company_name LIKE concat('%',#{request.termainalCompanyName},'%')
            </if>
            <if test="request.businessCompanyName != null and request.businessCompanyName != ''">
                AND c.business_company_name LIKE concat('%',#{request.businessCompanyName},'%')
            </if>
            <if test="request.startMonth != null">
                AND m.`month`  <![CDATA[ >= ]]>#{request.startMonth}
            </if>
            <if test="request.endMonth != null">
                AND m.`month` <![CDATA[ <= ]]> #{request.endMonth}
            </if>
            <if test="request.status != null and request.status != 0">
                AND f.`status` = #{request.status}
            </if>

            <if test="request.startApproveTime != null">
                AND f.approve_time  <![CDATA[ >= ]]>#{request.startApproveTime}
            </if>
            <if test="request.endApproveTime != null">
                AND f.approve_time <![CDATA[ <= ]]> #{request.endApproveTime}
            </if>

            <if test="request.startSubmitTime != null">
                AND f.submit_time  <![CDATA[ >= ]]>#{request.startSubmitTime}
            </if>
            <if test="request.endSubmitTime != null">
                AND f.submit_time <![CDATA[ <= ]]> #{request.endSubmitTime}
            </if>

            <if test="request.orgId != null and request.orgId != 0">
                AND b.org_id = #{request.orgId}
            </if>
            <if test="request.bizType != null and request.bizType != 0">
                AND gf.biz_type= #{request.bizType}
            </if>
            <if test="request.createUser != null and request.createUser != 0">
                AND f.create_user= #{request.createUser}
            </if>

            <if test="request.reviewStatus != null and request.reviewStatus != 0">
                AND gf.review_status= #{request.reviewStatus}
            </if>

            <if test="request.cancelFlag != null and request.cancelFlag != 0">
                AND gf.cancel_flag= #{request.cancelFlag}
            </if>

            order by f.create_time desc
        </where>

    </select>


    <select id="getGBFormExportListPage" resultType="com.yiling.sjms.gb.dto.GbFormExportListDTO">
        SELECT
            c.id as companyId,
            gf.biz_type as bizType,
            f.`status`,
            gf.src_gb_no as srcGbNo,
            m.cancel_reason as srcGbReason,
            gf.gb_no as gbNo,
            b.province_name as provinceName,
            b.org_name as orgName,
            b.seller_emp_id as sellerEmpId,
            b.seller_emp_name as sellerEmpName,
            b.seller_dept_name as sellerDeptName,
            b.seller_yx_dept_name as sellerYxDeptName,
            b.manager_emp_id as managerEmpId,
            b.manager_emp_name as managerEmpName,
            b.manager_yx_dept_name as managerYxDeptName,
            m.customer_name as customerName,
            c.termainal_company_name as termainalCompanyName,
            c.termainal_company_code as termainalCompanyCode,
            c.termainal_company_province as termainalCompanyProvince,
            c.termainal_company_city as termainalCompanyCity,
            c.business_company_name as businessCompanyName,
            c.business_company_code as businessCompanyCode,
            c.business_company_province as businessCompanyProvince,
            c.business_company_city as businessCompanyCity,
            m.`month` as monthDate ,
            m.rebate_amount as rebateAmount,
            m.region_type as regionType,
            m.gb_type as gbType,
            m.remark,
            m.evidences as evidences,
            m.other_evidence as otherEvidence,
            m.gb_review_type as gbReviewType,
            m.gb_city_below as gbCityBelow,
            gf.review_status as review_status,
            gf.review_reply as reviewReply,
            gf.review_time as reviewTime,
            gf.fee_application_reply as feeApplicationReply
        FROM
            gb_form gf,
            gb_main_info m,
            gb_base_info b,
            form f,
            gb_company_relation c
        <where>
                f.id = m.gb_id
                AND f.id = gf.form_id
                AND b.gb_id = f.id
                AND c.form_id = f.id
                AND c.del_flag =0
                AND f.del_flag = 0
                <if test="request.gbNo != null and request.gbNo != ''">
                    AND gf.gb_no LIKE concat('%',#{request.gbNo},'%')
                </if>
                <if test="request.customerName != null and request.customerName != ''">
                    AND m.customer_name LIKE concat('%',#{request.customerName},'%')
                </if>
                <if test="request.termainalCompanyName != null and request.termainalCompanyName != ''">
                    AND c.termainal_company_name LIKE concat('%',#{request.termainalCompanyName},'%')
                </if>
                <if test="request.businessCompanyName != null and request.businessCompanyName != ''">
                    AND c.business_company_name LIKE concat('%',#{request.businessCompanyName},'%')
                </if>
                <if test="request.startMonth != null">
                    AND m.`month`  <![CDATA[ >= ]]>#{request.startMonth}
                </if>
                <if test="request.endMonth != null">
                    AND m.`month` <![CDATA[ <= ]]> #{request.endMonth}
                </if>
                <if test="request.status != null and request.status != 0">
                    AND f.`status` = #{request.status}
                </if>

                <if test="request.startApproveTime != null">
                    AND f.approve_time  <![CDATA[ >= ]]>#{request.startApproveTime}
                </if>
                <if test="request.endApproveTime != null">
                    AND f.approve_time <![CDATA[ <= ]]> #{request.endApproveTime}
                </if>

                <if test="request.startSubmitTime != null">
                    AND f.submit_time  <![CDATA[ >= ]]>#{request.startSubmitTime}
                </if>
                <if test="request.endSubmitTime != null">
                    AND f.submit_time <![CDATA[ <= ]]> #{request.endSubmitTime}
                </if>

                <if test="request.orgId != null and request.orgId != 0">
                    AND b.org_id = #{request.orgId}
                </if>
                <if test="request.bizType != null and request.bizType != 0">
                    AND gf.biz_type= #{request.bizType}
                </if>
                <if test="request.createUser != null and request.createUser != 0">
                    AND f.create_user= #{request.createUser}
                </if>

                <if test="request.reviewStatus != null and request.reviewStatus != 0">
                    AND gf.review_status= #{request.reviewStatus}
                </if>

                <if test="request.cancelFlag != null and request.cancelFlag != 0">
                    AND gf.cancel_flag= #{request.cancelFlag}
                </if>
                order by f.create_time desc
        </where>

    </select>
    <select id="getGBFeeApplicationFormListPage" resultType="com.yiling.sjms.gb.dto.GbFormInfoListDTO">
        SELECT
        f.id,
        gf.biz_type as bizType,
        f.`status`,
        gf.src_gb_no as srcGbNo,
        m.cancel_reason as srcGbReason,
        gf.gb_no as gbNo,
        b.province_name as provinceName,
        b.org_name as orgName,
        b.seller_emp_id as sellerEmpId,
        b.seller_emp_name as sellerEmpName,
        b.seller_dept_name as sellerDeptName,
        b.seller_yx_dept_name as sellerYxDeptName,
        b.manager_emp_id as managerEmpId,
        b.manager_emp_name as managerEmpName,
        b.manager_yx_dept_name as managerYxDeptName,
        m.customer_name as customerName,
        c.termainal_company_name as termainalCompanyName,
        c.business_company_name as businessCompanyName,
        m.`month` as `month` ,
        m.rebate_amount as rebateAmount,
        m.region_type as regionType,
        m.gb_type as gbType,
        m.remark,
        m.evidences as evidences,
        m.other_evidence as otherEvidence,
        m.gb_review_type as gbReviewType,
        m.gb_city_below as gbCityBelow,
        gf.review_status as review_status,
        gf.review_reply as reviewReply,
        gf.review_time as reviewTime,
        gf.fee_application_reply as feeApplicationReply
        FROM
        gb_form gf,
        gb_main_info m,
        gb_base_info b,
        form f,
        (
        SELECT
        c.form_id,
        c.termainal_company_name,
        c.business_company_name
        FROM
        gb_company_relation c
        WHERE
        c.del_flag = 0
        GROUP BY
        c.form_id,
        c.termainal_company_name,
        c.business_company_name
        ) c
        <where>
            f.id = m.gb_id
            AND f.id = gf.form_id
            AND b.gb_id = f.id
            AND c.form_id = f.id
            AND f.del_flag = 0
            AND f.code NOT IN ( SELECT src_gb_no FROM gb_form WHERE biz_type = 11 )
            <if test="request.gbNo != null and request.gbNo != ''">
                AND gf.gb_no LIKE concat('%',#{request.gbNo},'%')
            </if>
            <if test="request.customerName != null and request.customerName != ''">
                AND m.customer_name LIKE concat('%',#{request.customerName},'%')
            </if>
            <if test="request.termainalCompanyName != null and request.termainalCompanyName != ''">
                AND c.termainal_company_name LIKE concat('%',#{request.termainalCompanyName},'%')
            </if>
            <if test="request.businessCompanyName != null and request.businessCompanyName != ''">
                AND c.business_company_name LIKE concat('%',#{request.businessCompanyName},'%')
            </if>
            <if test="request.startMonth != null">
                AND m.`month`  <![CDATA[ >= ]]>#{request.startMonth}
            </if>
            <if test="request.endMonth != null">
                AND m.`month` <![CDATA[ <= ]]> #{request.endMonth}
            </if>
            <if test="request.status != null and request.status != 0">
                AND f.`status` = #{request.status}
            </if>

            <if test="request.startApproveTime != null">
                AND f.approve_time  <![CDATA[ >= ]]>#{request.startApproveTime}
            </if>
            <if test="request.endApproveTime != null">
                AND f.approve_time <![CDATA[ <= ]]> #{request.endApproveTime}
            </if>

            <if test="request.startSubmitTime != null">
                AND f.submit_time  <![CDATA[ >= ]]>#{request.startSubmitTime}
            </if>
            <if test="request.endSubmitTime != null">
                AND f.submit_time <![CDATA[ <= ]]> #{request.endSubmitTime}
            </if>

            <if test="request.bizType != null and request.bizType != 0">
                AND gf.biz_type= #{request.bizType}
            </if>
            <if test="request.createUser != null and request.createUser != 0">
                AND f.create_user= #{request.createUser}
            </if>

            <if test="request.reviewStatus != null and request.reviewStatus != 0">
                AND gf.review_status= #{request.reviewStatus}
            </if>
            order by f.create_time desc
        </where>
    </select>
    <select id="getGBFeeFormListPage" resultType="com.yiling.sjms.gb.dto.GbFormInfoListDTO">
        SELECT
        f.id,
        gf.id as gbId,
        gf.gb_no AS gbNo,
        gf.src_gb_no AS srcGbNo,
        gf.biz_type AS bizType,
        m.`month`,
        b.org_name AS orgName,
        m.customer_name AS customerName,
        c.termainal_company_name as termainalCompanyName,
        c.business_company_name as businessCompanyName,
        f.`status`,
        f.emp_name as empName,
        f.approve_time as approveTime,
        f.submit_time as submitTime,
        f.create_time as createTime,
        gf.review_status as reviewStatus,
        gf.review_reply as reviewReply,
        gf.review_time as reviewTime
        FROM
        gb_form gf,
        gb_main_info m,
        gb_base_info b,
        form f,
        (
        SELECT
        c.form_id,
        c.termainal_company_name,
        c.business_company_name
        FROM
        gb_company_relation c
        WHERE
        c.del_flag = 0
        GROUP BY
        c.form_id,
        c.termainal_company_name,
        c.business_company_name
        ) c
        <where>
            f.id = m.gb_id
            AND f.id=gf.form_id
            AND b.gb_id = f.id
            AND c.form_id = f.id
            AND f.del_flag = 0
            AND f.type = 11
            <if test="request.gbNo != null and request.gbNo != ''">
                AND gf.gb_no LIKE concat('%',#{request.gbNo},'%')
            </if>
            <if test="request.type != null and request.type != 0">
                AND f.type =#{request.type}
            </if>
            <if test="request.customerName != null and request.customerName != ''">
                AND m.customer_name LIKE concat('%',#{request.customerName},'%')
            </if>
            <if test="request.termainalCompanyName != null and request.termainalCompanyName != ''">
                AND c.termainal_company_name LIKE concat('%',#{request.termainalCompanyName},'%')
            </if>
            <if test="request.businessCompanyName != null and request.businessCompanyName != ''">
                AND c.business_company_name LIKE concat('%',#{request.businessCompanyName},'%')
            </if>
            <if test="request.startMonth != null">
                AND m.`month`  <![CDATA[ >= ]]>#{request.startMonth}
            </if>
            <if test="request.endMonth != null">
                AND m.`month` <![CDATA[ <= ]]> #{request.endMonth}
            </if>
            <if test="request.status != null and request.status != 0">
                AND f.`status` = #{request.status}
            </if>

            <if test="request.startApproveTime != null">
                AND f.approve_time  <![CDATA[ >= ]]>#{request.startApproveTime}
            </if>
            <if test="request.endApproveTime != null">
                AND f.approve_time <![CDATA[ <= ]]> #{request.endApproveTime}
            </if>

            <if test="request.startSubmitTime != null">
                AND f.submit_time  <![CDATA[ >= ]]>#{request.startSubmitTime}
            </if>
            <if test="request.endSubmitTime != null">
                AND f.submit_time <![CDATA[ <= ]]> #{request.endSubmitTime}
            </if>

            <if test="request.orgId != null and request.orgId != 0">
                AND b.org_id = #{request.orgId}
            </if>
            <if test="request.bizType != null and request.bizType != 0">
                AND gf.biz_type= #{request.bizType}
            </if>
            <if test="request.createUser != null and request.createUser != 0">
                AND f.create_user= #{request.createUser}
            </if>

            <if test="request.reviewStatus != null and request.reviewStatus != 0">
                AND gf.review_status= #{request.reviewStatus}
            </if>

            <if test="request.cancelFlag != null and request.cancelFlag != 0">
                AND gf.cancel_flag= #{request.cancelFlag}
            </if>

            order by f.create_time desc
        </where>
    </select>

</mapper>
