<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiling.sjms.gb.dao.GbMainInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yiling.sjms.gb.entity.GbMainInfoDO">
    <result column="id" property="id" />
        <result column="gb_id" property="gbId" />
        <result column="customer_id" property="customerId" />
        <result column="customer_name" property="customerName" />
        <result column="month" property="month" />
        <result column="rebate_amount" property="rebateAmount" />
        <result column="region_type" property="regionType" />
        <result column="gb_type" property="gbType" />
        <result column="gb_review_type" property="gbReviewType" />
        <result column="gb_city_below" property="gbCityBelow" />
        <result column="evidences" property="evidences" />
        <result column="other_evidence" property="otherEvidence" />
        <result column="cancel_reason" property="cancelReason" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        gb_id, customer_id, customer_name, `month`, rebate_amount, region_type, gb_type,gb_review_type, gb_city_below,evidences, other_evidence,remark
    </sql>

</mapper>
