<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiling.sjms.gb.dao.GbStatisticMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yiling.sjms.gb.entity.GbStatisticDO">
    <result column="id" property="id" />
        <result column="province_name" property="provinceName" />
        <result column="goods_name" property="goodsName" />
        <result column="goods_code" property="goodsCode" />
        <result column="quantity_box" property="quantityBox" />
        <result column="final_amount" property="finalAmount" />
        <result column="cancel_quantity_box" property="cancelQuantityBox" />
        <result column="cancel_final_amount" property="cancelFinalAmount" />
        <result column="month" property="month" />
        <result column="day_time" property="dayTime" />
        <result column="gb_list_id" property="gbListId" />
        <result column="del_flag" property="delFlag" />
        <result column="create_user" property="createUser" />
        <result column="create_time" property="createTime" />
        <result column="update_user" property="updateUser" />
        <result column="update_time" property="updateTime" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        province_name, goods_name,goods_code, quantity_box, final_amount, cancel_quantity_box, cancel_final_amount,`month`, day_time,gb_list_id, del_flag, create_user, create_time, update_user, update_time, remark
    </sql>

    <select id="getGBStatisticByProvinceListPage" resultType="com.yiling.sjms.gb.dto.StatisticDTO">
        SELECT
            s.day_time,
        <choose>
            <when test="request.type == 2">
                s.province_name,
            </when>
            <when test="request.type == 3">
                s.`month`,
            </when>
            <when test="request.type == 7">
                s.`month`, s.province_name,
            </when>
        </choose>
            sum(s.quantity_box) as quantityBox ,
            sum(s.final_amount) as finalAmount,
            sum(s.cancel_quantity_box) as cancelQuantityBox,
            sum(s.cancel_final_amount) as cancelFinalAmount
        FROM
            gb_statistic s
        WHERE
            s.day_time  <![CDATA[ >= ]]>#{request.startTime}
            AND s.day_time  <![CDATA[ <= ]]> #{request.endTime}
            AND s.del_flag =0

            <if test="request.startMontDate != null ">
                AND s.`month`  <![CDATA[ >= ]]>#{request.startMontDate}
            </if>
            <if test="request.endMonthDate != null ">
                AND s.`month`  <![CDATA[ <= ]]> #{request.endMonthDate}
            </if>

            <if test="request.provinceName != null and request.provinceName != ''">
                AND s.province_name = #{request.provinceName}
            </if>

            <if test="request.code != null and request.code != ''">
                AND s.goods_code = #{request.code}
            </if>

             group by
            <choose>
                <when test="request.type == 2">
                    s.province_name,
                </when>
                <when test="request.type == 3">
                    s.`month`,
                </when>
                <when test="request.type == 7">
                    s.`month`, s.province_name,
                </when>
        </choose>

              s.day_time ORDER BY s.day_time DESC
    </select>


    <select id="getGBStatisticByCodeListPage" resultType="com.yiling.sjms.gb.dto.StatisticDTO">
        SELECT
            s.day_time,
            g.`goods_name` as goodsName,
        <choose>
            <when test="request.type == 4">
                s.province_name,
            </when>
            <when test="request.type == 5">
                s.`month`,
            </when>
        </choose>
            sum(s.quantity_box) as quantityBox ,
            sum(s.final_amount) as finalAmount,
            sum(s.cancel_quantity_box) as cancelQuantityBox,
            sum(s.cancel_final_amount) as cancelFinalAmount
        FROM
            gb_statistic s
        WHERE
            s.day_time  <![CDATA[ >= ]]>#{request.startTime}
            AND s.day_time  <![CDATA[ <= ]]> #{request.endTime}
            AND s.del_flag =0
            <if test="request.startMontDate != null ">
                AND s.`month`  <![CDATA[ >= ]]>#{request.startMontDate}
            </if>
            <if test="request.endMonthDate != null ">
                AND s.`month`  <![CDATA[ <= ]]> #{request.endMonthDate}
            </if>

            <if test="request.provinceName != null and request.provinceName != ''">
                AND s.province_name = #{request.provinceName}
            </if>

            <if test="request.code != null and request.code != ''">
                AND s.goods_code = #{request.code}
            </if>
            group by s.goods_name,
            <choose>
                <when test="request.type == 4">
                    s.province_name,
                </when>
                <when test="request.type == 5">
                    s.`month`,
                </when>
            </choose>
             s.day_time ORDER BY s.day_time DESC

    </select>

    <select id="getGBStatisticByTimeListPage" resultType="com.yiling.sjms.gb.dto.StatisticDTO">
        SELECT
        s.day_time,
        sum(s.quantity_box) as quantityBox ,
        sum(s.final_amount) as finalAmount,
        sum(s.cancel_quantity_box) as cancelQuantityBox,
        sum(s.cancel_final_amount) as cancelFinalAmount
        FROM
        gb_statistic s
        WHERE
        s.day_time  <![CDATA[ >= ]]>#{request.startTime}
        AND s.day_time  <![CDATA[ <= ]]> #{request.endTime}
        AND s.del_flag =0
        <if test="request.startMontDate != null ">
            AND s.`month`  <![CDATA[ >= ]]>#{request.startMontDate}
        </if>
        <if test="request.endMonthDate != null ">
            AND s.`month`  <![CDATA[ <= ]]> #{request.endMonthDate}
        </if>
        <if test="request.provinceName != null and request.provinceName != ''">
            AND s.province_name = #{request.provinceName}
        </if>

        <if test="request.code != null and request.code != ''">
            AND s.goods_code = #{request.code}
        </if>
        group by s.day_time ORDER BY s.day_time DESC

    </select>

    <select id="getGBStatisticProgram" resultType="com.yiling.sjms.gb.dto.StatisticDTO">
        SELECT
	        DATE_FORMAT( f.submit_time, "%Y-%m-%d" ) AS day_time,
	        g.`code` AS goods_code,
	        b.province_name,
	        sum( g.quantity_box ) AS quantity_box,
	        sum( g.final_amount ) AS final_amount,
            GROUP_CONCAT(f.id) as gbListId,
            m.`month`
        FROM
	        form f,
	        gb_goods_info g,
	        gb_base_info b,
            gb_main_info m,
            gb_form gf
        WHERE
	        f.id = g.gb_id
	        AND gf.form_id = f.id
	        AND f.id = b.gb_id
	        AND  m.gb_id =f.id
            <if test="bizType != null and bizType != 0">
                AND gf.biz_type = #{bizType}
            </if>
	        AND f.`status` in (20,200)
	        AND f.del_flag = 0
	        AND g.del_flag = 0
        GROUP BY
	        DATE_FORMAT( f.submit_time, "%Y-%m-%d" ),
	        g.`code`,
	        b.province_name,
            m.`month`
    </select>


</mapper>
