<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiling.dataflow.crm.dao.CrmBusinessEnterpriseNumberGoodsRelationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yiling.dataflow.crm.entity.CrmBusinessEnterpriseNumberGoodsRelationDO">
    <result column="id" property="id" />
        <result column="year" property="year" />
        <result column="month" property="month" />
        <result column="plate_name" property="plateName" />
        <result column="plate_province_area" property="plateProvinceArea" />
        <result column="department" property="department" />
        <result column="business_department" property="businessDepartment" />
        <result column="department_province_area" property="departmentProvinceArea" />
        <result column="area_name" property="areaName" />
        <result column="business_area_code" property="businessAreaCode" />
        <result column="business_area_name" property="businessAreaName" />
        <result column="business_area_description" property="businessAreaDescription" />
        <result column="superior_supervisor_code" property="superiorSupervisorCode" />
        <result column="superior_supervisor_name" property="superiorSupervisorName" />
        <result column="manager_code" property="managerCode" />
        <result column="manager_name" property="managerName" />
        <result column="representative_code" property="representativeCode" />
        <result column="representative_name" property="representativeName" />
        <result column="post_name" property="postName" />
        <result column="post_code" property="postCode" />
        <result column="customer_code" property="customerCode" />
        <result column="customer_name" property="customerName" />
        <result column="province_code" property="provinceCode" />
        <result column="province" property="province" />
        <result column="city_code" property="cityCode" />
        <result column="city" property="city" />
        <result column="district_county_code" property="districtCountyCode" />
        <result column="district_county" property="districtCounty" />
        <result column="product_group" property="productGroup" />
        <result column="business_type" property="businessType" />
        <result column="general_medicine_type" property="generalMedicineType" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        year, month, plate_name, plate_province_area, department, business_department, department_province_area, area_name, business_area_code, business_area_name, business_area_description, superior_supervisor_code, superior_supervisor_name, manager_code, manager_name, representative_code, representative_name, post_name, post_code, customer_code, customer_name, province_code, province, city_code, city, district_county_code, district_county, product_group, business_type, general_medicine_type
    </sql>

</mapper>
