<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiling.dataflow.crm.dao.CrmEnterpriseMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yiling.dataflow.crm.entity.CrmEnterpriseDO">
        <result column="id" property="id" />
        <result column="code" property="code" />
        <result column="name" property="name" />
        <result column="province_name" property="provinceName"/>
        <result column="city_name" property="cityName"/>
        <result column="region_name" property="regionName"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        code,
        name,
        province_name,
        city_name,
        region_name
    </sql>

    <update id="updateCrmEnterpriseSimple" parameterType="com.yiling.dataflow.crm.dto.request.UpdateAgencyEnterpriseRequest">
        update crm_enterprise
        <set>
            <if test="request.name != null and request.name != ''">
                `name` = #{request.name},
            </if>
            <if test="request.licenseNumber != null and request.licenseNumber != ''">
                `license_number` = #{request.licenseNumber},
            </if>
            <if test="request.phone != null and request.phone != ''">
                `phone` = #{request.phone},
            </if>
            <if test="request.provinceName != null and request.provinceName != ''">
                `province_code` = #{request.provinceCode},
                `province_name` = #{request.provinceName},
            </if>
            <if test="request.cityName != null and request.cityName != ''">
                `city_code` = #{request.cityCode},
                `city_name` = #{request.cityName},
            </if>
            <if test="request.regionName != null and request.regionName != ''">
                `region_code` = #{request.regionCode},
                `region_name` = #{request.regionName},
            </if>
            <if test="request.address != null">
                `address` = #{request.address},
            </if>
            <if test="request.supplyChainRole != null and request.supplyChainRole != 0">
                `supply_chain_role` = #{request.supplyChainRole},
            </if>
            <if test="request.opUserId != null and request.opUserId != 0">
                `update_user` = #{request.opUserId},
            </if>
            <if test="request.distributionLicenseNumber != null ">
                `distribution_license_number` = #{request.distributionLicenseNumber},
            </if>

            <if test="request.institutionPracticeLicense != null">
                `institution_practice_license` = #{request.institutionPracticeLicense},
            </if>

            <if test="request.businessScope != null ">
                `business_scope` = #{request.businessScope},
            </if>

            <if test="request.code != null">
                `code` = #{request.code},
            </if>

            <if test="request.fax != null">
                `fax` = #{request.fax},
            </if>

            <if test="request.ylCode != null">
                `yl_code` = #{request.ylCode},
            </if>

            <if test="request.businessRemark != null">
                `business_remark` = #{request.businessRemark},
            </if>

            <if test="request.formerName != null">
                `former_name` = #{request.formerName},
            </if>
            <if test="request.postalCode != null">
                `postal_code` = #{request.postalCode},
            </if>
            <if test="request.shortName != null">
                `short_name` = #{request.shortName},
            </if>
            <if test="request.businessCode !=null and request.businessCode>0">
                `business_status` = #{request.businessCode},
            </if>
            <if test="request.eid != null and request.eid >= 0">
                `eid` = #{request.eid},
            </if>
            `update_time` = NOW()
        </set>
        where
        `id` = #{request.id}
    </update>

    <update id="createBackupTable">
        CREATE TABLE ${backupTableName} like ${tableName}
    </update>

    <update id="addColumn">
        ALTER TABLE ${backupTableName} ADD COLUMN `backup_time` datetime(0) NULL DEFAULT CURRENT_TIMESTAMP COMMENT '备份时间'
    </update>
    <update id="renameBackupTable">
        ALTER TABLE ${backupTableName} RENAME AS ${newTableName}
    </update>
    <select id="page" resultType="com.yiling.dataflow.crm.entity.CrmEnterpriseDO">
    SELECT
        id as id,
        code as code,
        name as name,
        province_name as provinceName,
        city_name as cityName,
        region_name as regionName,
        business_status as businessCode
    FROM
        crm_enterprise
        <where>
            del_flag=0
            <if test="request.likeName != null">
                AND `name` like concat('%',#{request.likeName},'%')
            </if>
            <if test="request.roleIds != null and request.roleIds.size() > 0">
                AND supply_chain_role in
                <foreach item="item" index="index" collection="request.roleIds" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="request.businessCode != null and request.businessCode != 0">
                AND `business_status` = #{request.businessCode}
            </if>
        </where>
    </select>

    <select id="listByIdsAndName" resultType="com.yiling.dataflow.crm.entity.CrmEnterpriseDO">
        select
        e.id AS id, e.code AS code, e.name AS name, e.license_number AS licenseNumber, e.supply_chain_role AS supplyChainRole
        from crm_enterprise e
        <where>
            e.del_flag = 0
            <if test="name !=null and name !=''">
            and e.`name` LIKE CONCAT('%',#{name},'%')
            </if>
            <if test="ids != null and ids.size() > 0">
                and e.id in
                <foreach item="item" index="index" collection="ids" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>
    <select id="getBackupTableCount" resultType="Long">
        select count(*)  as total from ${backupTableName}
    </select>
    <update id="insertBackupTableData">
        INSERT INTO  ${backupTableName} SELECT * FROM ${tableName}
    </update>
</mapper>