<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiling.dataflow.crm.dao.CrmEnterpriseRelationPinchRunnerMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yiling.dataflow.crm.entity.CrmEnterpriseRelationPinchRunnerDO">
    <result column="id" property="id" />
        <result column="crm_enterprise_id" property="crmEnterpriseId" />
        <result column="crm_enterprise_name" property="crmEnterpriseName" />
        <result column="crm_province_name" property="crmProvinceName" />
        <result column="crm_province_code" property="crmProvinceCode" />
        <result column="crm_city_name" property="crmCityName" />
        <result column="crm_city_code" property="crmCityCode" />
        <result column="crm_region_name" property="crmRegionName" />
        <result column="crm_region_code" property="crmRegionCode" />
        <result column="supply_chain_role_type" property="crmSupplyChainRole" />
        <result column="enterprise_cers_id" property="enterpriseCersId" />
        <result column="manor_id" property="manorId" />
        <result column="category_id" property="categoryId" />
        <result column="business_superior_post_code" property="businessSuperiorPostCode" />
        <result column="business_superior_post_name" property="businessSuperiorPostName" />
        <result column="business_superior_code" property="businessSuperiorCode" />
        <result column="business_superior_name" property="businessSuperiorName" />
        <result column="superior_department" property="superiorDepartment" />
        <result column="superior_provincial" property="superiorProvincial" />
        <result column="business_superior_department" property="businessSuperiorDepartment" />
        <result column="business_superior_province" property="businessSuperiorProvince" />
        <result column="business_superior_area_code" property="businessSuperiorAreaCode" />
        <result column="business_superior_area" property="businessSuperiorArea" />
        <result column="provincial_manager_post_code" property="provincialManagerPostCode" />
        <result column="provincial_manager_post_name" property="provincialManagerPostName" />
        <result column="provincial_manager_code" property="provincialManagerCode" />
        <result column="provincial_manager_name" property="provincialManagerName" />
        <result column="remark" property="remark" />
        <result column="del_flag" property="delFlag" />
        <result column="create_user" property="createUser" />
        <result column="create_time" property="createTime" />
        <result column="update_user" property="updateUser" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        crm_enterprise_id, crm_enterprise_name, crm_province_name, crm_province_code, crm_city_name, crm_city_code, crm_region_name, crm_region_code, crm_supply_chain_role,
        enterprise_cers_id, manor_id, category_id,
        business_superior_post_code, business_superior_post_name, business_superior_code, business_superior_name, superior_department, superior_provincial, business_superior_department,
        business_superior_province, business_superior_area_code, business_superior_area, provincial_manager_post_code, provincial_manager_post_name, provincial_manager_code, provincial_manager_name,
        remark, del_flag, create_user, create_time, update_user, update_time
    </sql>

    <select id="getBusinessSuperiorPostCode" resultType="java.lang.Long">
        SELECT DISTINCT business_superior_post_code FROM `crm_enterprise_relation_pinch_runner` where del_flag = 0;
    </select>

    <update id="updateBackUpBatchByBusinessSuperiorPostCode">
        update ${tableName}
        set business_superior_post_code = #{request.businessSuperiorPostCode},
            business_superior_post_name = #{request.businessSuperiorPostName},
            business_superior_code = #{request.businessSuperiorCode},
            business_superior_name = #{request.businessSuperiorName},
            superior_department = #{request.superiorDepartment},
            superior_provincial = #{request.superiorProvincial},
            business_superior_department = #{request.businessSuperiorDepartment},
            business_superior_province = #{request.businessSuperiorProvince},
            business_superior_area_code = #{request.businessSuperiorAreaCode},
            business_superior_area = #{request.businessSuperiorArea},
            provincial_manager_post_code = #{request.provincialManagerPostCode},
            provincial_manager_post_name = #{request.provincialManagerPostName},
            provincial_manager_code = #{request.provincialManagerCode},
            provincial_manager_name = #{request.provincialManagerName},
            update_time = #{request.opTime}
            where business_superior_post_code = #{request.businessSuperiorPostCode} and del_flag=0
    </update>

</mapper>
