<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiling.dataflow.crm.dao.CrmGoodsCategoryMapper">
    <resultMap id="BaseResultMap" type="com.yiling.dataflow.crm.entity.CrmGoodsCategoryDO">
        <result column="id" property="id" />
        <result column="code" property="code" />
        <result column="name" property="name" />
        <result column="category_level" property="categoryLevel" />
        <result column="parent_id" property="parentId" />
        <result column="final_stage_flag" property="finalStageFlag" />
        <result column="del_flag" property="delFlag" />
        <result column="create_time" property="createTime" />
        <result column="create_user" property="createUser" />
        <result column="update_time" property="updateTime" />
        <result column="update_user" property="updateUser" />
        <result column="remark" property="remark" />
    </resultMap>
    <sql id="Base_Column_List">
        id,code,`name`,category_level,parent_id,final_stage_flag,
        del_flag,create_time,create_user,update_time,update_user,remark
    </sql>
    <select id="getGoodsCountByCategory" resultType="java.util.Map">
        SELECT category.id as categoryId,count(g.id) as goodsCount FROM crm_goods_category category
        LEFT JOIN crm_goods_info g on g.category_id = category.id
        WHERE
        category.del_flag = 0
        and g.del_flag = 0
        <if test="categoryIds != null and categoryIds.size() > 0">
            AND category.id in
            <foreach item="item" index="index" collection="categoryIds" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        GROUP BY category.id
    </select>
    <select id="getAllLevel" resultType="java.lang.Integer">
        SELECT category_level FROM crm_goods_category
        WHERE del_flag = 0
        GROUP BY category_level
        ORDER BY category_level asc
    </select>
</mapper>