<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiling.dataflow.crm.dao.CrmGoodsTagRelationMapper">
    <resultMap id="BaseResultMap" type="com.yiling.dataflow.crm.entity.CrmGoodsTagRelationDO">
        <result column="id" property="id" />
        <result column="tag_id" property="tagId" />
        <result column="crm_goods_id" property="crmGoodsId" />
        <result column="del_flag" property="delFlag" />
        <result column="create_time" property="createTime" />
        <result column="create_user" property="createUser" />
        <result column="update_time" property="updateTime" />
        <result column="update_user" property="updateUser" />
        <result column="remark" property="remark" />
    </resultMap>
    <sql id="Base_Column_List">
        id,tag_id,crm_goods_id,
        del_flag,create_time,create_user,update_time,update_user,remark
    </sql>
    <select id="queryTagRelationPage" resultType="com.yiling.dataflow.crm.bo.CrmGoodsTagRelationBO">
        select
        tr.id,
        tr.tag_id as tagId,
        t.type as tagType,
        t.`name` as tagName,
        tr.crm_goods_id as crmGoodsId,
        g.goods_name as crmGoodsName,
        g.goods_code as crmGoodsCode,
        g.goods_spec as crmGoodsSpec,
        g.category_id as crmGoodsCategoryId
        from crm_goods_tag_relation tr
        inner join crm_goods_tag t on t.id = tr.tag_id and t.del_flag = 0
        inner join crm_goods_info g on tr.crm_goods_id = g.id and g.del_flag = 0
        <where>
            tr.del_flag = 0
            and tr.tag_id = #{request.tagId}
            <if test="request.crmGoodsCode != null and request.crmGoodsCode > 0">
                and g.goods_code = #{request.crmGoodsCode}
            </if>
            <if test="request.crmGoodsName != null and request.crmGoodsName !=''">
                and g.goods_name like concat('%',#{request.crmGoodsName},'%')
            </if>
        </where>
    </select>
    <select id="countTagGoods" resultType="java.util.Map">
        select
        relation.tag_id as tagId,
        count(1) as goodsCount
        from crm_goods_tag_relation relation
        where relation.del_flag = 0
        <if test="tagIds != null and tagIds.size() > 0">
            AND relation.tag_id in
            <foreach item="item" index="index" collection="tagIds" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        group by relation.tag_id
    </select>
    <select id="findRelationByGoodsIds" resultType="com.yiling.dataflow.crm.bo.CrmGoodsTagRelationBO">
        select
        tr.id,
        tr.tag_id as tagId,
        t.type as tagType,
        t.name as tagName,
        tr.crm_goods_id as crmGoodsId
        from crm_goods_tag_relation tr
        left join crm_goods_tag t on t.id=tr.tag_id
        where
        t.del_flag=0
        and tr.del_flag=0
        and crm_goods_id in
        <foreach item="item" index="index" collection="goodsIds" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>
</mapper>