<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiling.settlement.b2b.dao.SettlementOrderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yiling.settlement.b2b.entity.SettlementOrderDO">
         <result column="order_id" property="orderId" />
         <result column="order_no" property="orderNo" />
         <result column="pay_channel" property="payChannel" />
         <result column="seller_eid" property="sellerEid" />
         <result column="buyer_eid" property="buyerEid" />
         <result column="sale_settlement_id" property="saleSettlementId" />
         <result column="goods_settlement_id" property="goodsSettlementId" />
         <result column="pd_settlement_id" property="pdSettlementId" />
         <result column="sale_settlement_no" property="saleSettlementNo" />
         <result column="goods_settlement_no" property="goodsSettlementNo" />
         <result column="pd_settlement_no" property="pdSettlementNo" />
         <result column="sett_type" property="settType" />
         <result column="total_goods_amount" property="totalGoodsAmount" />
         <result column="refund_goods_amount" property="refundGoodsAmount" />
         <result column="goods_amount" property="goodsAmount" />
         <result column="coupon_amount" property="couponAmount" />
         <result column="refund_coupon_amount" property="refundCouponAmount" />
         <result column="gift_amount" property="giftAmount" />
         <result column="refund_gift_amount" property="refundGiftAmount" />
         <result column="promotion_amount" property="promotionAmount" />
         <result column="refund_promotion_amount" property="refundPromotionAmount" />
         <result column="com_pac_amount" property="comPacAmount" />
         <result column="refund_com_pac_amount" property="refundComPacAmount" />
         <result column="presale_discount_amount" property="presaleDiscountAmount" />
         <result column="refund_pre_amount" property="refundPreAmount" />
         <result column="pay_discount_amount" property="payDiscountAmount" />
         <result column="refund_pay_amount" property="refundPayAmount" />
         <result column="sales_amount" property="salesAmount" />
         <result column="presale_default_amount" property="presaleDefaultAmount" />
         <result column="pd_amount" property="pdAmount" />
         <result column="total_amount" property="totalAmount" />
         <result column="goods_status" property="goodsStatus" />
         <result column="sale_status" property="saleStatus" />
         <result column="presale_default_status" property="presaleDefaultStatus" />
         <result column="del_flag" property="delFlag" />
         <result column="create_time" property="createTime" />
         <result column="create_user" property="createUser" />
         <result column="update_time" property="updateTime" />
         <result column="update_user" property="updateUser" />
         <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        order_id, order_no, pay_channel, seller_eid, buyer_eid, sale_settlement_id, goods_settlement_id, pd_settlement_id, sale_settlement_no, goods_settlement_no, pd_settlement_no, sett_type, total_goods_amount, refund_goods_amount, goods_amount, coupon_amount, refund_coupon_amount, gift_amount, refund_gift_amount, promotion_amount, refund_promotion_amount, com_pac_amount, refund_com_pac_amount, presale_discount_amount, refund_pre_amount, pay_discount_amount, refund_pay_amount, sales_amount, presale_default_amount, pd_amount, total_amount, goods_status, sale_status, presale_default_status, del_flag, create_time, create_user, update_time, update_user, remark
    </sql>

</mapper>
