<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiling.settlement.b2b.dao.SettlementOrderCancelMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yiling.settlement.b2b.entity.SettlementOrderCancelDO">
    <result column="id" property="id" />
        <result column="order_id" property="orderId" />
        <result column="order_no" property="orderNo" />
        <result column="seller_eid" property="sellerEid" />
        <result column="buyer_eid" property="buyerEid" />
        <result column="payment_method" property="paymentMethod" />
        <result column="presale_amount" property="presaleAmount" />
        <result column="cancel_time" property="cancelTime" />
        <result column="order_status" property="orderStatus" />
        <result column="order_creat_time" property="orderCreatTime" />
        <result column="generate_status" property="generateStatus" />
        <result column="data_status" property="dataStatus" />
        <result column="status" property="status" />
        <result column="del_flag" property="delFlag" />
        <result column="create_time" property="createTime" />
        <result column="create_user" property="createUser" />
        <result column="update_time" property="updateTime" />
        <result column="update_user" property="updateUser" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        order_id, order_no, seller_eid, buyer_eid, payment_method, presale_amount, cancel_time, order_status, order_creat_time, generate_status, data_status, status, del_flag, create_time, create_user, update_time, update_user, remark
    </sql>

</mapper>
