.app-container {
  padding-bottom: 80px;
  .c-box {
    padding: 10px 16px;
    padding-top: 20px;
    background-color: $white;
    border-radius: 4px;
  }
  .explain{
    color: #999;
    font-size: 14px;
    padding-left: 150px;
  }
  .bottom-view {
    position: fixed;
    bottom: 0;
    left: $sideBarWidth;
    right: 0;
    height: 64px;
    background-color: $white;
    padding: 16px;
    z-index: 10;
  }
  .conter_div{
    width: 600px;
    .conter_div_table{
      margin-bottom: 12px;
    }
    .el_input{
      width: 150px;
    }
  }
  .add-color{
    color: #1790ff;
    cursor: pointer;
  }
  .dialogTc {
    padding: 10px 0;
    min-height: 700px;
    margin-bottom: 30px;
    .el-input {
      width: 220px;
    }
    .search-box {
      position: relative;
      .box {
        .title {
          font-size: 16px;
          line-height: $font-size-large-lh;
          color: $font-important-color;
          margin-bottom: 8px;
        }
        .el-input {
          width: 220px;
        }
        .el-select {
          width: 220px;
        }
      }
      .bottom-btn {
        position: absolute;
        bottom: 0;
        right: 0;
      }
    }
    .search-bar {
      padding: 0 16px;
    }
  }
  .tag-margin{
    margin-right: 10px;
  }
}