.app-container {
  padding-bottom: 80px;
  .top-box {
    background: #FFFFFF;
    border-radius: 4px;
    padding: 16px;
    margin-bottom: 10px;
    .item {
      margin-bottom: 12px;
      .line-view {
        width: 2px;
        height: 14px;
        background: #1790FF;
        margin-right: 4px;
      }
    }
    .el-input {
      width: 320px;
    }
    .button-right {
      text-align: right;
    }
  }
  .dialogTc {
    padding: 10px 16px;
    .el-input {
      width: 220px;
    }
    
  }
}