@import "~@/common/styles/mixin.scss";
.app-container {
    .top-btn {
      position: relative;
      width: 100%;
      font-size: $font-size-large;
      line-height: $font-size-large-lh;
      margin: 32px 0 16px 0;
      color: $font-important-color;
      .right-btn {
        position: absolute;
        right: 0;
        bottom: 0;
      }
    }
    .common-box {
      .el-input {
        width: 365px;
      }
      .search-box {
        margin-top: 24px;
        position: relative;
        .box {
          .title {
            font-size: $font-size-large;
            line-height: $font-size-large-lh;
            color: $font-important-color;
            margin-bottom: 8px;
          }
          .option-class{
            line-height: 30px;
          }
        }
        .el-select {
          width: 168px;
        }

        .bottom-btn {
          position: absolute;
          bottom: 0;
          right: 0;
        }
      }
    }
    // 底部列表
    .product-desc{
      text-align: left;
    }

  }

