<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiling.sjms.flee.dao.FleeingGoodsFormMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yiling.sjms.flee.entity.FleeingGoodsFormDO">
        <result column="id" property="id"/>
        <result column="form_id" property="formId"/>
        <result column="task_id" property="taskId"/>
        <result column="file_name" property="fileName"/>
        <result column="import_user" property="importUser"/>
        <result column="check_status" property="checkStatus"/>
        <result column="import_status" property="importStatus"/>
        <result column="fail_reason" property="failReason"/>
        <result column="file_url" property="fileUrl"/>
        <result column="result_url" property="resultUrl"/>
        <result column="import_time" property="importTime"/>
        <result column="import_file_type" property="importFileType"/>
        <result column="del_flag" property="delFlag"/>
        <result column="create_user" property="createUser"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="remark" property="remark"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id
        ,
        form_id, task_id, file_name, import_user, check_status, import_status, fail_reason, file_url, result_url, import_time, import_file_type, del_flag, create_user, create_time, update_user, update_time, remark
    </sql>

    <select id="pageForm"
            parameterType="com.yiling.sjms.flee.dto.request.QueryFleeingFormPageRequest" resultType="com.yiling.sjms.flee.bo.FleeingFormBO">
        SELECT
        f.id as id,
        f.code as code,
        f.type as type,
        f.status as status,
        f.emp_id as empId,
        f.emp_name as empName,
        f.biz_dept as bizDept,
        f.dept_id as deptId,
        f.dept_name as deptName,
        f.bd_dept_id as bdDeptId,
        f.bd_dept_name as bdDeptName,
        f.submit_time as submitTime,
        f.approve_time as approveTime,
        f.create_time as createTime,
        af.`report_type` as reportType,
        af.confirm_user_id as confirmUserId,
        af.submit_wash_time as submitWashTime,
        af.`confirm_status` as confirmStatus
        FROM form f
        LEFT JOIN fleeing_goods_form_ext af ON af.`form_id`= f.`id`
        <where>
            af.del_flag=0
            AND f.del_flag=0
            <if test="request.empId != null and request.empId != ''">
                AND f.emp_id=#{request.empId}
            </if>
            <if test="request.code != null and request.code != ''">
                AND f.code like concat('%',#{request.code},'%')
            </if>
            <if test="request.reportType != null and request.reportType != 0">
                AND af.`report_type` = #{request.reportType}
            </if>
            <if test="request.status != null and request.status != 0">
                AND f.status = #{request.status}
            </if>
            <if test="request.confirmStatus != null and request.confirmStatus != 0">
                AND af.confirm_status = #{request.confirmStatus}
            </if>
        </where>
        <if test="request.importFileType != null and request.importFileType == 1">
            ORDER BY f.id DESC
        </if>
        <if test="request.importFileType != null and request.importFileType == 2">
            ORDER BY f.approve_time DESC
        </if>
    </select>
</mapper>
