<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiling.sjms.flee.dao.FleeingGoodsFormExtMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yiling.sjms.flee.entity.FleeingGoodsFormExtDO">
        <result column="id" property="id"/>
        <result column="form_id" property="formId"/>
        <result column="report_type" property="reportType"/>
        <result column="appendix" property="appendix"/>
        <result column="fleeing_describe" property="fleeingDescribe"/>
        <result column="confirm_status" property="confirmStatus"/>
        <result column="confirm_describe" property="confirmDescribe"/>
        <result column="confirm_user_id" property="confirmUserId"/>
        <result column="submit_wash_time" property="submitWashTime"/>
        <result column="del_flag" property="delFlag"/>
        <result column="create_user" property="createUser"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="remark" property="remark"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id
        ,
        form_id, report_type, appendix, fleeing_describe, confirm_status, confirm_describe, confirm_user_id, submit_wash_time, del_flag, create_user, create_time, update_user, update_time, remark
    </sql>

</mapper>
