<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiling.sjms.flee.dao.SalesAppealExtFormMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yiling.sjms.flee.entity.SalesAppealExtFormDO">
    <result column="id" property="id" />
        <result column="form_id" property="formId" />
        <result column="appeal_type" property="appealType" />
        <result column="appeal_amount" property="appealAmount" />
        <result column="month_appeal_type" property="monthAppealType" />
        <result column="appendix" property="appendix" />
        <result column="appeal_describe" property="appealDescribe" />
        <result column="del_flag" property="delFlag" />
        <result column="create_user" property="createUser" />
        <result column="create_time" property="createTime" />
        <result column="update_user" property="updateUser" />
        <result column="update_time" property="updateTime" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        form_id, appeal_type, appeal_amount, month_appeal_type, appendix, appeal_describe, del_flag, create_user, create_time, update_user, update_time, remark
    </sql>

    <select id="getSubmitUnCleaned" resultType="java.lang.Long">
        SELECT form_id FROM sales_appeal_ext_form WHERE confirm_status =3 GROUP BY form_id
    </select>

</mapper>
