<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiling.sjms.flee.dao.SalesAppealFormMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yiling.sjms.flee.entity.SalesAppealFormDO">
    <result column="id" property="id" />
        <result column="form_id" property="formId" />
        <result column="type" property="type" />
        <result column="excel_name" property="excelName" />
        <result column="appeal_month" property="appealMonth" />
        <result column="upload_time" property="uploadTime" />
        <result column="uploader" property="uploader" />
        <result column="uploader_name" property="uploaderName" />
        <result column="data_type" property="dataType" />
        <result column="check_status" property="checkStatus" />
        <result column="reason" property="reason" />
        <result column="import_status" property="importStatus" />
        <result column="line_number" property="lineNumber" />
        <result column="source_url" property="sourceUrl" />
        <result column="target_url" property="targetUrl" />
        <result column="del_flag" property="delFlag" />
        <result column="create_user" property="createUser" />
        <result column="create_time" property="createTime" />
        <result column="update_user" property="updateUser" />
        <result column="update_time" property="updateTime" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        form_id, type, excel_name, appeal_month, upload_time, uploader, uploader_name, data_type, check_status, reason, import_status, line_number, source_url, target_url, del_flag, create_user, create_time, update_user, update_time, remark
    </sql>

    <select id="pageForm" resultType="com.yiling.sjms.flee.bo.SalesAppealFormBO">
        SELECT DISTINCT(af.`form_id` + af.`appeal_type`),
        f.id as id,
        f.code as code,
        f.type as type,
        f.status as status,
        f.emp_id as empId,
        f.emp_name as empName,
        f.biz_dept as bizDept,
        f.dept_id as deptId,
        f.dept_name as deptName,
        f.bd_dept_id as bdDeptId,
        f.bd_dept_name as bdDeptName,
        f.submit_time as submitTime,
        f.approve_time as approveTime,
        f.create_time as createTime,
        af.`appeal_type` as appealType,
        af.`submit_wash_time` as submitWashTime,
        af.`confirm_status` as confirmStatus,
        af.`confirm_user` as confirmUser
        FROM sales_appeal_ext_form af
        LEFT JOIN form f ON af.`form_id`= f.`id`
        <where>
            af.del_flag=0
            AND f.del_flag=0
            and f.status=200
            <if test="request.code != null and request.code != ''">
                AND f.code like  concat('%',#{request.code},'%')
            </if>
            <if test="request.appealType != null and request.appealType != 0">
                AND af.`appeal_type` = #{request.appealType}
            </if>
            <if test="request.status != null and request.status != 0">
                AND af.confirm_status = #{request.status}
            </if>
        </where>
        ORDER BY f.approve_time DESC

    </select>

</mapper>
