  // 弹窗样式
  .pop-up{
    .common-box {
      .el-input {
        width: 260px;
      }
      .search-box {
        .box {
          .title {
            font-size: $font-size-large;
            line-height: $font-size-large-lh;
            color: $font-important-color;
            margin-bottom: 8px;
          }
        }
      }
    }
    .table-conter {
      width: 100%;
      padding: 0 16px 20px; 
      overflow: hidden;
    }
  }