@import "~@/common/styles/mixin.scss";

.app-container {
  padding-bottom: 80px;
  .c-box {
    padding: 10px 16px;
    padding-top: 20px;
    background-color: $white;
    border-radius: 4px;
    .words{
      width: 100%;
      min-height: 100px;
      border-bottom: 1px solid #eee;
    }
    div:last-child{
      border-bottom: none
    }
    .words-tit{
      width: 100%;
      height: 50px;
      p{
        display: inline-block;
      }
      .words-div{
        display: inline-block;
        float: right;
        margin-top: 12px;
      }
      .words-button{
        // display: inline-block;
        // float: right;
        // margin-top: 12px;
      }
    }
    .thesaurus-data{
      width: 600px;
      margin: 40px 0 20px 90px;
    }
    .thesaurus-data-button{
      text-align: center;
      margin-top: 20px;
    }
    .words-radio {
      margin-left: 50px;
    }
    
  }
}