<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiling.payment.pay.dao.PaymentTradeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yiling.payment.pay.entity.PaymentTradeDO">
        <result column="id" property="id" />
        <result column="pay_no" property="payNo" />
        <result column="pay_id" property="payId" />
        <result column="trade_date" property="tradeDate" />
        <result column="limit_time" property="limitTime" />
        <result column="pay_amount" property="payAmount" />
        <result column="trade_status" property="tradeStatus" />
        <result column="third_trade_no" property="thirdTradeNo" />
        <result column="third_status" property="thirdStatus" />
        <result column="pay_way" property="payWay" />
        <result column="pay_source" property="paySource" />
        <result column="trade_source" property="tradeSource" />
        <result column="pay_ip" property="payIp" />
        <result column="bank" property="bank" />
        <result column="content" property="content" />
        <result column="error_message" property="errorMessage" />
        <result column="create_user" property="createUser" />
        <result column="create_time" property="createTime" />
        <result column="update_user" property="updateUser" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        pay_no, pay_id, trade_date, pay_amount, trade_status, third_trade_no, third_status, pay_way,pay_source,trade_source,pay_ip,bank, content, error_message, create_user, create_time, update_user, update_time
    </sql>

</mapper>
