@import '~@/common/styles/mixin.scss';

.app-container {
  .app-container-content {
    .content-box {
      padding: 0 6px;
      .el-row {
        display: flex;
        align-items: center;
        ::v-deep .el-col {
          button {
            span {
              font-size: 16px;
            }
          }
        }
      }
      .title {
        color: #666;
      }
      .item {
        color: #333;
      }
      .detail {
        cursor: pointer;
        color: #1790FF;
      }
    }
  }
  .search-bar {
    background: $white;
    padding: 16px;
    border-radius: 4px;
    .intro {
      color: $font-important-color;
      font-size: $font-size-base;
      line-height: $font-size-base-lh;
      margin-bottom: 8px;
      padding: 0 10px;
      span {
        color: $font-title-color;
      }
    }
  }
}
.class-tree {
  width: 100%;
  min-height: 50vh;
  background: #fff;
  padding-left: 41px;
  .filter-tree {
    width: 300px;
  }
  .custom-tree-node {
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 31px;
    line-height: 31px;
    border: 1px solid #d8d8d8;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    span {
      margin-left: 10px;
    }
  }
  ::v-deep .el-tree-node__content {
    height: 31px !important;
    margin-bottom: 8px;
  }
}
::v-deep .el-tree .el-tree-node__expand-icon.expanded {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}

::v-deep .el-tree .el-tree-node__expand-icon.expanded {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}

//有子节点 且未展开
::v-deep .el-tree .el-icon-caret-right:before {
  //   background: url('~@/assets/tree/add.png') no-repeat 0 3px;
  content: '\e723';
  display: block;
  width: 16px;
  height: 16px;
  font-size: 16px;
  background-size: 16px;
}

//有子节点 且已展开
::v-deep .el-tree .el-tree-node__expand-icon.expanded.el-icon-caret-right:before {
  //   background: url('~@/assets/tree/minus.png') no-repeat 0 3px;
  content: '\e722';
  display: block;
  width: 16px;
  height: 16px;
  font-size: 16px;
  background-size: 16px;
}

//没有子节点
.el-tree .el-tree-node__expand-icon.is-leaf::before {
  background: #fff;
  content: '';
  display: block;
  width: 16px;
  height: 16px;
  font-size: 16px;
  background-size: 16px;
}