@import '~@/common/styles/mixin.scss';
.app-container {
  .app-container-content {
    .add-form-box {
      .info-box {
        .title-box {
          display: flex;
          align-items: center;
          justify-content: space-between;
          .title-wrap {
            display: flex;
            align-items: center;
            .sign {
              width: 2px;
              height: 14px;
              background: #1790ff;
              margin-right: 5px;
            }
            .title {
              font-size: 16px;
              color: #333333;
              line-height: 22px;
            }
          }
        }
        .form-info-box {
          margin-top: 12px;
          .row-box {
            &:not(:last-child) {
              margin-bottom: 16px;
            }
            .el-col {
              .el-form-item {
                margin-bottom: 0px;
                ::v-deep .el-form-item__label {
                  display: flex;
                  align-items: center;
                  height: 22px;
                  font-size: 16px;
                  font-weight: 400;
                  line-height: 22px;
                  padding-bottom: 0px;
                  margin-bottom: 8px;
                }
                .flex-box {
                  display: flex;
                  .el-input {
                    width: 260px;
                  }
                  .el-select {
                    width: 260px;
                  }
                  .el-date-editor {
                    width: 260px;
                  }
                }
                .select-address {
                  display: flex;
                  justify-content: flex-start;
                  ::v-deep .el-row {
                    margin: 0 !important;
                    width: 100%;
                    .el-col {
                      display: flex;
                      padding: 0 !important;
                      .el-select {
                        display: flex;
                      }
                    }
                  }
                }
              }
              .custom-btn {
                padding: 10px 30px;
              }
            }
          }
        }
        .table-box {
          margin-top: 8px;
        }
      }
    }
    .bottom-bar-view {
      .custom-btn {
        padding: 10px 30px;
      }
    }
    .yl-dialog-hs {
      ::v-deep .el-dialog {
        .dialog-content {
          padding: 16px;
          .relation-form-box {
            .el-form-item {
              .el-form-item__label {
                font-weight: 400;
              }
              .el-select {
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
}
