@import "~@/common/styles/mixin.scss";

.app-container {
  .order-total {
    font-size: $font-size-base;
    background: #fff;
    height: 90px;
    .box {
      width: 216px;
      height: 70px;
      display: inline-block;
      .svg-icon {
        font-size: 24px;
        width: 24px;
        margin-right: 8px;
      }
      .title {
        height: 40px;
        padding-left: 89px;
        font-size: 28px;
        color: $font-important-color;
        line-height: 34px;
      }
      &:nth-child(3) {
        width: 244px;
        .title {
          padding-left: 96px;
        }
      }
    }
  }
  .order-ticket-check {
    padding: 15px 27px 30px 15px;
    .order-content {
      padding-left: 5px;
    }
  }
  .top-btn {
    position: relative;
    width: 100%;
    font-size: $font-size-large;
    line-height: $font-size-large-lh;
    margin: 32px 0 16px 0;
    color: $font-important-color;

    .right-btn {
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }

  .common-box {
    .el-input {
      width: 220px;
    }
    .search-box {
      // padding: 0 16px;
      position: relative;
      .box {
        .title {
          font-size: $font-size-large;
          line-height: $font-size-large-lh;
          color: $font-important-color;
          margin-bottom: 8px;
        }
      }

      .el-select {
        width: 220px;
      }

      .bottom-btn {
        position: absolute;
        bottom: 0;
        right: 0;
      }
    }
  }

  // 导出、导入按钮
  .down-box {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 24px;
    .tab {
      width: 300px;
      display: flex;
      height: 36px;
      align-items: center;
      font-size: 14px;
      color: #999;
      padding-left: 16px;
      .tab-item {
        height: 36px;
        line-height: 36px;
        margin-right: 32px;
        cursor: pointer;
      }
      .tab-active {
        position: relative;
        color: #1790ff;
        font-weight: 600;
        &::before {
          position: absolute;
          bottom: 0;
          left: 50%;
          margin-left: -17px;
          content: "";
          width: 34px;
          height: 2px;
          background: #1790ff;
        }
      }
    }
  }

  // 底部列表
  .order-table-view {
    width: 100%;
    position: relative;
    .item {
      padding-bottom: 16px;
      margin-top: 16px;
      .title {
        height: 25px;
        color: $font-important-color;
        margin-bottom: 12px ;
      }
      .top-title{
        @include clamp(1);
      }
      .pad-title {
        margin-top: 37px;
        padding-bottom: 30px;
      }
      &-text {
        height: 22px;
        margin-bottom: 8px;
        color: $font-important-color;
        span {
          color: $font-light-color;
        }
      }
    }
    .expand-item {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 40px;
      padding: 8px 0px 10px 0px;
      .expand {
        width: 175px;
        height: 22px;
        background: #EEEEEE;
        border-radius: 17px;
        font-size: 14px;
        color: #666666;
        cursor: pointer;
        text-align: center;
        span {
          padding-right: 6px;
        }
        .el-icon-arrow-down {
          font-size: 16px;
          transition: all .3s;
        }
        .show {
          transform: rotate(180deg);
        }
      }
    }
    .expand-row {
      margin: 0 16px;
      padding: 7px 0 10px 0;
      .expand-view {
        width: 100%;
        height: 136px;
        background: #EDF7FF;
        border-radius: 4px;
        padding: 16px;
        color: $font-important-color;
        .title {
          height: 22px;
          font-size: 16px;
          line-height: 22px;
          margin-bottom: 7px;
        }
        .desc-box {
          font-size: $font-size-base;
          .img {
            width: 82px;
            height: 70px;
            margin-right: 14px;
          }
          .box1 {
            width: 402px;
          }
          .box2 {
            width: 240px;
          }
          .right-text {
            .text-item {
              height: 24px;
              line-height: 24px;
            }
            .money {
              font-size: 18px;
              color: $font-important-color;
            }
          }
        }
      }
    }
  }
}

