@import "~@/common/styles/mixin.scss";

.app-container {
  .common-box {
    .el-input {
      width: 260px;
    }
    .search-box {
      .box {
        .title {
          font-size: $font-size-large;
          line-height: $font-size-large-lh;
          color: $font-important-color;
          margin-bottom: 8px;
        }
      }
    }
  }
  .down-box {
    width: 100%;
    margin-top: 24px;
  }
  .table-video{
    width: 162px;
    height: 90px;
    position: relative;
    margin: 0 auto;
    .cover{
      width: 162px;
      height: 90px;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      z-index: 10;

      img{
        width: 100%;
        height: 100%;
        display: block;
      }
      .switch-i{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 40px;
        height: 40px;
        // border: 1px solid red;
        z-index: 20;
        cursor: pointer;
      }
      
    }
  }
}