<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiling.marketing.integralmessage.dao.IntegralExchangeMessageConfigMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yiling.marketing.integralmessage.entity.IntegralExchangeMessageConfigDO">
    <result column="id" property="id" />
        <result column="title" property="title" />
        <result column="icon" property="icon" />
        <result column="start_time" property="startTime" />
        <result column="end_time" property="endTime" />
        <result column="sort" property="sort" />
        <result column="status" property="status" />
        <result column="page_config" property="pageConfig" />
        <result column="link" property="link" />
        <result column="del_flag" property="delFlag" />
        <result column="create_user" property="createUser" />
        <result column="create_time" property="createTime" />
        <result column="update_user" property="updateUser" />
        <result column="update_time" property="updateTime" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        title, icon, start_time, end_time, sort, status, page_config, link, del_flag, create_user, create_time, update_user, update_time, remark
    </sql>

</mapper>
