<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiling.user.control.dao.GoodsControlMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yiling.user.control.entity.GoodsControlDO">
        <result column="id" property="id"/>
        <result column="goods_id" property="goodsId"/>
        <result column="eid" property="eid"/>
        <result column="control_type" property="controlType"/>
        <result column="set_type" property="setType"/>
        <result column="del_flag" property="delFlag"/>
        <result column="create_user" property="createUser"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="remark" property="remark"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        goods_id, eid, control_type, set_type, del_flag, create_user, create_time, update_user, update_time, remark
    </sql>

    <select id="getPageCustomerInfo" resultType="long">
        select c.condition_value from goods_control t
        inner join goods_control_condition c on  t.id=c.control_id and t.eid=#{request.eid} and t.control_type=1
        left join enterprise e on e.id=c.condition_value
        left join enterprise_customer ec on e.id=ec.customer_eid and ec.eid=#{request.eid}
        <where>
             t.goods_id=#{request.goodsId}
            and c.del_flag=0
            and t.del_flag=0
            <if test="request.name != null and request.name != ''">
                and e.name like concat('%',#{request.name},'%')
            </if>
            <if test="request.provinceCode != null and request.provinceCode != ''">
                and e.province_code = #{request.provinceCode}
            </if>
            <if test="request.cityCode != null and request.cityCode != ''">
                and e.city_code = #{request.cityCode}
            </if>
            <if test="request.regionCode != null and request.regionCode != ''">
                and e.region_code = #{request.regionCode}
            </if>
            <if test="request.type != null and request.type != 0">
                and e.type = #{request.type}
            </if>
            <if test="request.customerGroupId != null">
                and ec.customer_group_id = #{request.customerGroupId}
            </if>
        </where>
    </select>
</mapper>
