<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiling.marketing.promotion.dao.PromotionActivityMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yiling.marketing.promotion.entity.PromotionActivityDO">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="sponsor_type" property="sponsorType"/>
        <result column="budget_amount" property="budgetAmount"/>
        <result column="bear" property="bear"/>
        <result column="platform_percent" property="platformPercent"/>
        <result column="merchant_percent" property="merchantPercent"/>
        <result column="type" property="type"/>
        <result column="begin_time" property="beginTime"/>
        <result column="end_time" property="endTime"/>
        <result column="platform_selected" property="platformSelected"/>
        <result column="status" property="status"/>
        <result column="del_flag" property="delFlag"/>
        <result column="create_user" property="createUser"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="remark" property="remark"/>
        <result column="promotion_code" property="promotionCode"/>
        <result column="merchant_type" property="merchantType"/>
    </resultMap>

    <resultMap id="promotionApp" type="com.yiling.marketing.promotion.dto.PromotionAppListDTO" >
        <result column="id" property="promotionActivityId"/>
        <result column="name" property="promotionName"/>
        <result column="eid" property="eid"/>
        <result column="type" property="type"/>
    </resultMap>

    <resultMap id="promotionGoodsLimitDTO" type="com.yiling.marketing.promotion.dto.PromotionGoodsLimitDTO" >
        <result column="id" property="id"/>
        <result column="promotionActivityId" property="promotionActivityId"/>
        <result column="promotionName" property="promotionName"/>
        <result column="type" property="type"/>
        <result column="sponsorType" property="sponsorType"/>
        <result column="bear" property="bear"/>
        <result column="platformPercent" property="platformPercent"/>
        <result column="beginTime" property="beginTime"/>
        <result column="endTime" property="endTime"/>
        <result column="eid" property="eid"/>
        <result column="ename" property="ename"/>
        <result column="goodsId" property="goodsId"/>
        <result column="goods_name" property="goodsName"/>
        <result column="price" property="price"/>
        <result column="promotionPrice" property="promotionPrice"/>
        <result column="allowBuyCount" property="allowBuyCount"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id ,`name`, sponsor_type, budget_amount, bear, `type`, begin_time, end_time, platform_selected, status, promotion_type, del_flag, create_user,
        create_time, update_user, update_time, remark ,promotion_code, merchant_type
    </sql>

    <select id="pageList"
            parameterType="com.yiling.marketing.promotion.dto.request.PromotionActivityPageRequest"
            resultType="com.yiling.marketing.promotion.dto.PromotionActivityPageDTO">
        SELECT distinct
            a.id AS id,
            a.`name` AS name,
            a.begin_time AS beginTime,
            a.end_time AS endTime,
            a.create_time AS createTime,
            u.`name` AS createUserName,
            u.mobile AS createUserTel,
            a.type AS type,
            a.bear AS bear,
            a.`status` AS status,
            a.budget_amount AS budgetAmount,
            a.platform_selected,
            a.remark
        FROM marketing_promotion_activity a
            LEFT JOIN `user` u ON a.create_user=u.id
            left join marketing_promotion_enterprise_limit ent on a.id = ent.promotion_activity_id
        <where>
            a.del_flag = 0
            <if test="request.name != null and request.name != ''">
                AND a.name LIKE CONCAT('%',#{request.name},'%')
            </if>
            <if test="request.type != null and request.type != 0">
                AND a.type = #{request.type}
            </if>
            <if test="request.status != null and request.status != 0">
                AND a.status = #{request.status}
            </if>
            <if test="request.beginTime != null">
                AND a.begin_time &gt;= #{request.beginTime}
            </if>
            <if test="request.endTime != null">
                AND a.end_time &lt;= #{request.endTime}
            </if>
            <if test="request.createUserName != null and request.createUserName != ''">
                AND u.name LIKE CONCAT('%',#{request.createUserName},'%')
            </if>
            <if test="request.createUserTel != null and request.createUserTel != ''">
                AND u.mobile LIKE CONCAT('%',#{request.createUserTel},'%')
            </if>
            <if test="request.bear != null and request.bear != 0">
                AND a.bear = #{request.bear}
            </if>
            <if test="request.sponsorType != null and request.sponsorType != 0">
                AND a.sponsor_type = #{request.sponsorType}
            </if>
            <if test="request.eid != null and request.eid != ''">
                AND ent.eid = #{request.eid}
            </if>
            <if test="request.remark != null and request.remark != ''">
                AND a.remark LIKE CONCAT('%',#{request.remark},'%')
            </if>
        </where>
        ORDER BY a.create_time DESC
    </select>

    <select id="selectByParam" resultMap="BaseResultMap">
        select a.id,a.`name`
            from marketing_promotion_activity a, marketing_promotion_enterprise_limit e
        where a.id = e.promotion_activity_id
          and a.status = 1
          and a.name = #{name,jdbcType=VARCHAR}
          and a.sponsor_type = #{sponsorType,jdbcType=INTEGER}
          <if test="sponsorType !=null and sponsorType == 2">
            and e.eid = #{eid,jdbcType=INTEGER}
          </if>
          <if test="id !=null and id > 0">
            and a.id != #{id, jdbcType=INTEGER}
          </if>

    </select>

    <!-- 企业纬度获取所有活动信息 -->
    <select id="queryEnterprisePromotion" resultMap="promotionApp">
        select m.id,
               m.name,
               e.eid,
               m.type
        from marketing_promotion_activity m,
             marketing_promotion_enterprise_limit e
        where m.id = e.promotion_activity_id
            and m.platform_selected like CONCAT('%',#{request.platform},'%')
            and m.status = 1
            and m.begin_time <![CDATA[ <= ]]> now()
            and now() <![CDATA[ <= ]]> m.end_time
            and e.eid in
            <foreach item="item" index="index" collection="request.eIdList" open="(" separator="," close=")">
                #{item}
            </foreach>
    </select>

    <!-- 查询商品级别的促销活动 -->
    <select id="queryPromotionGoodsInfo" resultMap="promotionGoodsLimitDTO">
        select promotion.id                 as promotionActivityId,
               promotion.name               as promotionName,
               promotion.type               as `type`,
               promotion.sponsor_type       as sponsorType,
               promotion.bear               as bear,
               promotion.platform_percent   as platformPercent,
               promotion.begin_time         as beginTime,
               promotion.end_time           as endTime,
               enterprise.eid               as eid,
               enterprise.ename             as ename,
               goods.goods_name             as goodsName,
               goods.goods_id               as goodsId,
               goods.price                  as price,
               goods.promotion_price        as promotionPrice,
               goods.allow_buy_count        as allowBuyCount
        from marketing_promotion_activity promotion,
             marketing_promotion_enterprise_limit enterprise,
             marketing_promotion_goods_limit goods
        where promotion.id = enterprise.promotion_activity_id
            and promotion.id = goods.promotion_activity_id
            and goods.eid = enterprise.eid
            and promotion.status = 1
            and promotion.begin_time <![CDATA[ <= ]]> now()
            and promotion.end_time >= now()
            <if test="request.typeList != null and request.typeList.size() > 0">
                and promotion.type in
                <foreach item="item" index="index" collection="request.typeList" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="request.platform != null and request.platform != 0">
                and promotion.platform_selected like CONCAT('%',#{request.platform},'%')
            </if>
            <if test="request.eIdList != null and request.eIdList.size() > 0">
                and enterprise.eid in
                <foreach item="item" index="index" collection="request.eIdList" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="request.goodsIdList != null and request.goodsIdList.size() > 0">
                and goods.goods_id in
                <foreach item="item" index="index" collection="request.goodsIdList" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        <if test="request.goodsName != null and request.goodsName != ''">
            and goods.goods_name like CONCAT('%',#{request.goodsName},'%')
        </if>
    </select>
    <select id="pagePromotionGoodsInfo"
            parameterType="com.yiling.marketing.promotion.dto.request.PromotionAppRequest"
            resultType="com.yiling.marketing.promotion.dto.PromotionGoodsLimitDTO" >
        select promotion.id                 as promotionActivityId,
               promotion.name               as promotionName,
               promotion.type               as `type`,
               promotion.sponsor_type       as sponsorType,
               promotion.bear               as bear,
               promotion.platform_percent   as platformPercent,
               promotion.platform_selected  as platformSelected,
               promotion.begin_time         as beginTime,
               promotion.end_time           as endTime,
               enterprise.eid               as eid,
               enterprise.ename             as ename,
               package.package_name         as packageName,
               package.initial_num          as initialNum,
               package.return_requirement   as returnRequirement,
               package.package_short_name   as packageShortName,
               package.total_num as totalNum,
               package.per_person_num as perPersonNum,
               package.per_day_num as perDayNum,
               package.pic as pic,
               package.description_of_other_activity as descriptionOfOtherActivity,
               package.return_requirement    as returnRequirement
        from marketing_promotion_activity promotion,
             marketing_promotion_enterprise_limit enterprise,
             marketing_promotion_combination_package package
        where promotion.id = enterprise.promotion_activity_id
        and promotion.id = package.promotion_activity_id
        and promotion.status = 1
        and promotion.begin_time <![CDATA[ <= ]]> now()
        and promotion.end_time >= now()
        <if test="request.typeList != null and request.typeList.size() > 0">
            and promotion.type in
            <foreach item="item" index="index" collection="request.typeList" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="request.eIdList != null and request.eIdList.size() > 0">
            and enterprise.eid in
            <foreach item="item" index="index" collection="request.eIdList" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="request.promotionActivityId != null and request.promotionActivityId != 0">
            and promotion.id =#{request.promotionActivityId}
        </if>
    </select>
    <select id="myAppointmentCount" resultType="com.yiling.marketing.promotion.dto.SpecialAvtivityAppointmentItemDTO">
        SELECT COUNT(DISTINCT appointment.id) as count
        FROM
        marketing_promotion_special_appointment appointment
        JOIN marketing_promotion_special_activity activity ON activity.id = appointment.special_activity_id
        JOIN marketing_promotion_special_activity_enterprise  enterprise on enterprise.special_activity_id=activity.id
        JOIN marketing_promotion_activity promotion on promotion.id=enterprise.promotion_activity_id
        where
        activity.status=1 and activity.del_flag=0 and
        (
        activity.start_time > NOW()
        or(
        ( activity.start_time <![CDATA[ <= ]]>  NOW() and activity.end_time>=NOW())
        ))
        and promotion.end_time> NOW()
       AND appointment.appointment_user_eid=#{currentUserId}
    </select>

</mapper>
