@import "~@/common/styles/mixin.scss";

.app-container {
  .pad-l-6 {
    padding-left: 6px;
  }
  .mar-b-12 {
    margin-bottom: 12px;
  }
  .mar-b-32 {
    margin-bottom: 32px;
  }
  .h-22 {
    height: 22px;
  }
  .color-green {
    color: #52c41a;
  }
  .pro-box {
    padding: 16px;
    background: #fafafa;
    .pro-name {
      font-size: 16px;
      font-weight: 400;
      color: #333;
    }
  }
  .pro-desc {
    display: flex;
    justify-content: space-between;
  }
  .channelList {
    display: flex;
    width: 600px;
  }
  .dia-content {
    padding: 16px;
    box-sizing: border-box;
    display: flex;
    .dia-l {
      width: 487px;
      border-right: 2px solid #eee;
    }
    .pad-r-33 {
      padding-right: 33px;
    }
    img {
      width: 350px;
      margin-left: 16px;
    }
  }
  .data-img {
    width: 100%;
    min-height: 100px;
    div {
      display: inline-block;
      margin-right: 10px;
      margin-bottom: 10px;
    }
    img {
      width: 80px;
      height: 79px;
      cursor: pointer;
    }
  }
  .prescription-img {
    width: 100%;
    height: 100px;
    img{
      width: 80px;
      height: 79px;
      cursor: pointer;
      display: inline-block;
    }
  }
  // 处方信息上传
  .dialog-content {
    position: relative;
    .header-bar {
      color: #333333;
      font-weight: 600;
    }
    .mask {
      width: 102px;
      height: 102px;
      background: #fff;
      position: absolute;
      top: 15px;
      left: 343px;
      z-index: 10;
    }
  }
  .dia-content-tips {
    width: 90%;
    height: 32px;
    line-height: 32px;
    margin: 10px auto 0;
    background: #FFFBE6;
    font-weight: 400;
    color: #333333;
    border-radius: 4px;
    padding-left: 10px;
    border: 1px solid #FFE58F;
    i {
      color: #FA8C15;
    }
  }
  .dialog-content p {
    font-size: 16px;
  }
  // 弹窗
  .dialog-content-qrcode {
    width: 100%;
    min-height: 200px;
    .dialog-show {
      width: 100%;
      height: 100%;
      margin-top: 16px;
      .dialog-text-color {
        width: 360px;
        height: 100%;
        line-height: 22px;
        font-size: 16px;
        font-weight: 400;
        color: #333333;
        text-align: center;
        margin: 0 auto;
      }
      .qr-code {
        width: 180px;
        height: 176px;
        margin: 22px auto 0;
      }
      p {
        font-size: 16px;
        text-align: center;
        font-weight: 400;
        color: #666666;
      }
    }
  }
  .dialog-contents {
    padding: 16px 0 16px 20px;
  }
  .dialog-contents ::v-deep .el-upload--picture-card {
    width: 150px !important;
    height: 150px !important;
    line-height: 150px !important;
  }
  .dialog-contents ::v-deep .flex-row-center {
    display: inline-block;
  }
}
