@import "~@/common/styles/mixin.scss";

.app-container {
  .c-box {
    padding: 10px 16px;
    padding-top: 20px;
    background-color: $white;
    border-radius: 4px;
  }
  .goods-img{
    width: 120px;
    height: 60px;
  }

  .bottom-view {
    position: fixed;
    bottom: 0;
    left: $sideBarWidth;
    right: 0;
    height: 64px;
    background-color: $white;
    padding: 16px;
    z-index: 10;
  }

}
