<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiling.dataflow.flowcollect.dao.FlowCollectHeartSummaryStatisticsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yiling.dataflow.flowcollect.entity.FlowCollectHeartSummaryStatisticsDO">
    <result column="id" property="id" />
        <result column="crm_enterprise_id" property="crmEnterpriseId" />
        <result column="province_code" property="provinceCode" />
        <result column="ename" property="ename" />
        <result column="statistics_time" property="statisticsTime" />
        <result column="flow_mode" property="flowMode" />
        <result column="install_employee" property="installEmployee" />
        <result column="depth_time" property="depthTime" />
        <result column="near_three_all_status" property="nearThreeAllStatus" />
        <result column="near_five_all_status" property="nearFiveAllStatus" />
        <result column="del_flag" property="delFlag" />
        <result column="create_time" property="createTime" />
        <result column="create_user" property="createUser" />
        <result column="update_time" property="updateTime" />
        <result column="update_user" property="updateUser" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        crm_enterprise_id, province_code, ename, statistics_time, flow_mode, install_employee, depth_time, near_three_all_status, near_five_all_status, del_flag, create_time, create_user, update_time, update_user, remark
    </sql>
    <select id="pageList" resultType="com.yiling.dataflow.flowcollect.bo.FlowDayHeartStatisticsBO">
        <include refid="com.yiling.dataflow.flowcollect.dao.FlowCollectTemplatesMapper.selectLab"/>
        FROM flow_collect_heart_summary_statistics a
        LEFT JOIN crm_supplier b ON a.crm_enterprise_id = b.crm_enterprise_id
        <include refid="com.yiling.dataflow.flowcollect.dao.FlowCollectTemplatesMapper.whereLab"></include>
        order by a.crm_enterprise_id
    </select>

    <select id="findCrmList" resultType="long">
        select DISTINCT crm_enterprise_id from flow_collect_heart_summary_statistics
    </select>

    <delete id="deleteByIds">
        delete from flow_collect_heart_summary_statistics where id in
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>
</mapper>
