.app-container {
  .erp-total {
    display: flex;
    align-items: center;
    height: 90px;
    background: #fff;
    border-radius: 4px;
    padding: 0 16px;
    .box {
      width: 320px;
      height: 70px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      cursor: pointer;
      border-radius: 4px;
      &:not(:last-child) {
        border-right:1px solid #F4F4F4;
      }
      .box-item-title {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .box-item-value {
        height: 40px;
        font-size: 28px;
        color: $font-important-color;
        line-height: 40px;
        text-align: center;
      }
      .svg-icon {
        font-size: 24px;
        width: 24px;
        margin-right: 8px;
      }
      &:nth-child(3) {
        width: 244px;
        .title {
          padding-left: 96px;
        }
      }
    }
    .active {
      background-color: #F4F4F4;
      border-right-color: #FFF;
    }
  }
  .top-btn {
    position: relative;
    width: 100%;
    font-size: $font-size-large;
    line-height: $font-size-large-lh;
    margin: 40px 0 8px 0;
    color: $font-important-color;
    display: flex;
    align-items: center;
    .erp-tool-tip {
      cursor: pointer;
      position: relative;
      .erp-countinfo-table {
        position: absolute;
        right: -700px;
        top: 0;
        z-index: 1000;
        width: 700px;
        border-radius: 4px;
        padding: 16px;
        border: 2px solid #F2F3F4;
        background-color: #FFF;
      }
    }
    .right-btn {
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }
  .box-search {
    position: relative;
    &-no-pad {
      padding: 0 !important;
    }
    .el-input {
      width: 220px;
    }
    .search-box {
      position: relative;
      .box {
        margin-bottom: 18px;
        .title {
          font-size: $font-size-large;
          line-height: 22px;
          color: $font-important-color;
          margin-bottom: 8px;
        }
      }
      .el-select {
        width: 220px;
      }
      .bottom-btn {
        position: absolute;
        bottom: 0;
        right: 0;
      }
    }
    .search-btn-box {
      margin-top: 24px;
    }
  }
}