<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiling.mall.banner.dao.B2bAppVajraPositionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yiling.mall.banner.entity.B2bAppVajraPositionDO">
        <result column="id" property="id"/>
        <result column="eid" property="eid"/>
        <result column="title" property="title"/>
        <result column="pic" property="pic"/>
        <result column="source" property="source"/>
        <result column="sort" property="sort"/>
        <result column="vajra_status" property="vajraStatus"/>
        <result column="link_type" property="linkType"/>
        <result column="activity_links" property="activityLinks"/>
        <result column="del_flag" property="delFlag"/>
        <result column="create_user" property="createUser"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="remark" property="remark"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id
        ,
        eid, title, pic, source, sort, vajra_status, link_type, activity_links, del_flag, create_user, create_time, update_user, update_time, remark
    </sql>

</mapper>
