<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiling.mall.banner.dao.B2bAppHotWordsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yiling.mall.banner.entity.B2bAppHotWordsDO">
        <result column="id" property="id"/>
        <result column="content" property="content"/>
        <result column="use_status" property="useStatus"/>
        <result column="start_time" property="startTime"/>
        <result column="stop_time" property="stopTime"/>
        <result column="sort" property="sort"/>
        <result column="hot_words_source" property="hotWordsSource"/>
        <result column="del_flag" property="delFlag"/>
        <result column="create_user" property="createUser"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id
        ,
        content, use_status, start_time, stop_time, sort, hot_words_source, del_flag, create_user, create_time, update_user, update_time
    </sql>

</mapper>
