<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiling.goods.inventory.dao.GoodsInventoryLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yiling.goods.inventory.entity.GoodsInventoryLogDO">
        <result column="id" property="id"/>
        <result column="gid" property="gid"/>
        <result column="inventory_id" property="inventoryId"/>
        <result column="business_type" property="businessType"/>
        <result column="business_no" property="businessNo"/>
        <result column="before_qty" property="beforeQty"/>
        <result column="change_qty" property="changeQty"/>
        <result column="change_frozen_qty" property="changeFrozenQty"/>
        <result column="after_qty" property="afterQty"/>
        <result column="before_frozen_qty" property="beforeFrozenQty"/>
        <result column="after_frozen_qty" property="afterFrozenQty"/>
        <result column="create_user" property="createUser"/>
        <result column="create_time" property="createTime"/>
        <result column="remark" property="remark"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        gid, inventory_id,business_type, business_no, before_qty, change_qty,change_frozen_qty,after_qty, before_frozen_qty, after_frozen_qty, create_user, create_time, remark
    </sql>

</mapper>
