<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiling.goods.inventory.dao.InventorySubscriptionMapper">
    <resultMap id="BaseResultMap" type="com.yiling.goods.inventory.entity.InventorySubscriptionDO">
        <result column="id" property="id" />
        <result column="eid" property="eid" />
        <result column="inventory_id" property="inventoryId" />
        <result column="subscription_eid" property="subscriptionEid" />
        <result column="subscription_ename" property="subscriptionEname" />
        <result column="qty" property="qty" />
        <result column="in_sn" property="inSn"/>
        <result column="status" property="status"/>
        <result column="del_flag" property="delFlag" />
        <result column="create_user" property="createUser" />
        <result column="create_time" property="createTime" />
        <result column="update_user" property="updateUser" />
        <result column="update_time" property="updateTime" />
        <result column="remark" property="remark" />
    </resultMap>
    <sql id="Base_Column_List">
        id,eid,sku_id,subscription_eid,subscription_ename,in_sn,status,
        del_flag,create_user,create_time,update_user,update_time,remark
    </sql>
</mapper>