<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiling.bi.order.dao.BiCrmOrderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yiling.bi.order.entity.BiCrmOrderDO">
        <id column="id" property="id" />
        <result column="so_time" property="soTime" />
        <result column="so_year" property="soYear" />
        <result column="so_month" property="soMonth" />
        <result column="seller_ecode" property="sellerEcode" />
        <result column="seller_eid" property="sellerEid" />
        <result column="seller_ename" property="sellerEname" />
        <result column="buyer_ename" property="buyerEname" />
        <result column="terminal_area" property="terminalArea" />
        <result column="terminal_dept" property="terminalDept" />
        <result column="business_type" property="businessType" />
        <result column="satrap_no" property="satrapNo" />
        <result column="satrap_name" property="satrapName" />
        <result column="representative_no" property="representativeNo" />
        <result column="representative_name" property="representativeName" />
        <result column="chain_role" property="chainRole" />
        <result column="province" property="province" />
        <result column="city" property="city" />
        <result column="county" property="county" />
        <result column="variety" property="variety" />
        <result column="goods_id" property="goodsId" />
        <result column="goods_name" property="goodsName" />
        <result column="goods_spec" property="goodsSpec" />
        <result column="goods_price" property="goodsPrice" />
        <result column="quantity" property="quantity" />
        <result column="sales_volume" property="salesVolume" />
        <result column="spec" property="spec" />
        <result column="batch_no" property="batchNo" />
        <result column="flow_type" property="flowType" />
        <result column="lock_flag" property="lockFlag" />
        <result column="remark" property="remark" />
        <result column="match_flag" property="matchFlag" />
        <result column="order_no" property="orderNo" />
        <result column="match_type" property="matchType" />
        <result column="sales_channel" property="salesChannel" />
        <result column="purchase_channel" property="purchaseChannel" />
        <result column="effective_flag" property="effectiveFlag" />
        <result column="order_type" property="orderType"/>
        <result column="del_flag" property="delFlag" />
        <result column="create_time" property="createTime" />
        <result column="create_user" property="createUser" />
        <result column="update_time" property="updateTime" />
        <result column="update_user" property="updateUser" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, so_time, so_year, so_month, seller_ecode, seller_eid, seller_ename, buyer_ename, terminal_area, terminal_dept, business_type, satrap_no, satrap_name, representative_no,
        representative_name, chain_role, province, city, county, variety, goods_id, goods_name, goods_spec, goods_price, quantity, sales_volume, spec, batch_no, flow_type, lock_flag,
        remark, match_flag, order_no, match_type, sales_channel, purchase_channel, effective_flag, order_type, del_flag, create_time, create_user, update_time, update_user
    </sql>

    <insert id="batchInsert" >
        INSERT INTO bi_crm_order (
            so_time, so_year, so_month, seller_ecode, seller_eid, seller_ename, buyer_ename, terminal_area, terminal_dept, business_type, satrap_no, satrap_name, representative_no,
           representative_name, chain_role, province, city, county, variety, goods_id, goods_name, goods_spec, goods_price, quantity, sales_volume, spec, batch_no, flow_type, lock_flag,
           remark, match_flag, order_no, match_type, effective_flag, sales_channel, purchase_channel, order_type
              )
        VALUES
            <foreach collection="list" item="item"  separator=",">
            (
             #{item.soTime}, #{item.soYear}, #{item.soMonth}, #{item.sellerEcode}, #{item.sellerEid}, #{item.sellerEname}, #{item.buyerEname}, #{item.terminalArea}, #{item.terminalDept},
             #{item.businessType}, #{item.satrapNo}, #{item.satrapName}, #{item.representativeNo}, #{item.representativeName},
             #{item.chainRole}, #{item.province}, #{item.city}, #{item.county}, #{item.variety}, #{item.goodsId}, #{item.goodsName}, #{item.goodsSpec}, #{item.goodsPrice},
             #{item.quantity}, #{item.salesVolume}, #{item.spec},  #{item.batchNo}, #{item.flowType}, #{item.lockFlag}, #{item.remark},
             IFNULL(#{item.matchFlag}, 0), #{item.orderNo}, #{item.matchType}, #{item.effectiveFlag}, #{item.salesChannel}, #{item.purchaseChannel}, #{item.orderType}
             )
            </foreach>
    </insert>

    <select id="getNoMatchedGoodsIdList" resultType="java.lang.Long">
        select goods_id from bi_crm_order where  match_flag = 0 group by goods_id
    </select>


</mapper>
