<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiling.bi.order.dao.DwsStjxcMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yiling.bi.order.entity.DwsStjxcDO">
        <id column="id" property="id" />
        <result column="dyear" property="dyear" />
        <result column="dmonth" property="dmonth" />
        <result column="customer" property="customer" />
        <result column="wl_code" property="wlCode" />
        <result column="wl_name" property="wlName" />
        <result column="wl_spec" property="wlSpec" />
        <result column="dq_dyhoutnum" property="dqDyhoutnum" />
        <result column="dq_jdoutnum" property="dqJdoutnum" />
        <result column="dq_salenum" property="dqSalenum" />
        <result column="last_dyhoutnum" property="lastDyhoutnum" />
        <result column="last_jdoutnum" property="lastJdoutnum" />
        <result column="last_salenum" property="lastSalenum" />
        <result column="qc_dyhkc" property="qcDyhkc" />
        <result column="qc_jskc" property="qcJskc" />
        <result column="dq_dyhkc" property="dqDyhkc" />
        <result column="dq_jdkc" property="dqJdkc" />
        <result column="data_time" property="dataTime" />
        <result column="data_name" property="dataName" />
        <result column="data_source" property="dataSource" />
        <result column="ext01" property="ext01" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, dyear, dmonth, customer, wl_code, wl_name, wl_spec, dq_dyhoutnum, dq_jdoutnum, dq_salenum, last_dyhoutnum, last_jdoutnum, last_salenum, qc_dyhkc, qc_jskc, dq_dyhkc, dq_jdkc, data_time, data_name, data_source, ext01
    </sql>

    <select id="getDwsStjxInventoryList" resultType="com.yiling.bi.order.bo.DwsStjxInventoryBO">
        select
            t1.id, t1.dyear, t1.dmonth, t1.customer,
            t1.wl_code wlCode,
            t1.wl_name wlName,
            t1.wl_spec wlSpec,
            t2.crm_goodsid crmGoodsid,
            t2.b2b_goodsid b2bGoodsid,
            t1.dq_dyhkc b2bInventory,
            t1.dq_jdkc jdInventory
--             IFNULL(t1.dq_dyhoutnum, 0)+ IFNULL(t1.qc_dyhkc, 0) b2bInventory,
--             IFNULL(t1.dq_jdoutnum, 0) + IFNULL(t1.qc_jskc, 0) jdInventory
        from dws_stjxc t1 left join input_goods_relation_ship t2
        on t1.wl_code = t2.wl_code
        <where>
            <if test="dyear != null and dyear != ''">
                and t1.dyear = #{dyear}
            </if>
            <if test="dmonth != null and dmonth != ''">
                and t1.dmonth = #{dmonth}
            </if>
        </where>
    </select>



</mapper>
