<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiling.bi.order.dao.OdsStjxcJddyhoutMapper">




    <select id="getByYearAndMonth" resultType="com.yiling.bi.order.bo.OdsStjxcJddyhoutBO">
        select
            t1.id, t1.dyear, t1.dmonth, t1.customer,
            t1.wl_code wlCode,
            t1.wl_name wlName,
            t1.wl_spec wlSpec,
            t1.wl_num wlNum,
            t2.crm_goodsid crmGoodsid,
            t2.b2b_goodsid b2bGoodsid,
            t1.data_source dataSource
        from ods_stjxc_jddyhout t1
            left join input_goods_relation_ship t2
        on t1.wl_code = t2.wl_code
        <where>
            <if test="dyear != null and dyear != ''">
                and t1.dyear = #{dyear}
            </if>
            <if test="dmonth != null and dmonth != ''">
                and t1.dmonth = #{dmonth}
            </if>
            and t1.data_source in ('jdout', 'dyhout')
        </where>
    </select>

</mapper>
