<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiling.goods.medicine.dao.CustomerGoodsPriceLimitMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yiling.goods.medicine.entity.CustomerGoodsPriceLimitDO">
    <result column="id" property="id" />
        <result column="cpl_id" property="cplId" />
        <result column="goods_id" property="goodsId" />
        <result column="del_flag" property="delFlag" />
        <result column="create_user" property="createUser" />
        <result column="create_time" property="createTime" />
        <result column="update_user" property="updateUser" />
        <result column="update_time" property="updateTime" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        cpl_id, goods_id, del_flag, create_user, create_time, update_user, update_time, remark
    </sql>

    <!-- 通用查询映射结果 -->
    <resultMap id="LimitGoodsResultMap" type="com.yiling.goods.medicine.bo.GoodsListItemBO">
        <result column="id" property="id"/>
        <result column="eid" property="eid"/>
        <result column="standard_id" property="standardId"/>
        <result column="sell_specifications_id" property="sellSpecificationsId"/>
        <result column="audit_status" property="auditStatus"/>
        <result column="out_reason" property="outReason"/>
        <result column="name" property="name"/>
        <result column="ename" property="ename"/>
        <result column="license_no" property="licenseNo"/>
        <result column="manufacturer" property="manufacturer"/>
        <result column="sell_specifications" property="sellSpecifications"/>
        <result column="sell_unit" property="sellUnit"/>
        <result column="specifications" property="specifications"/>
        <result column="unit" property="unit"/>
        <result column="price" property="price"/>
        <result column="middle_package" property="middlePackage"/>
        <result column="big_package" property="bigPackage"/>
        <result column="can_split" property="canSplit"/>
        <result column="manufacturer_address" property="manufacturerAddress"/>
        <result column="is_patent" property="isPatent"/>
        <result column="goods_type" property="goodsType"/>
    </resultMap>

    <select id="pageLimitList" resultMap="LimitGoodsResultMap">
        SELECT
        g.id,
        g.eid,
        g.ename,
        g.standard_id,
        g.sell_specifications_id,
        g.`name`,
        g.audit_status,
        g.license_no,
        g.sell_specifications,
        g.sell_unit,
        g.specifications,
        g.unit,
        g.manufacturer,
        g.manufacturer_address,
        g.price,
        g.can_split,
        g.middle_package,
        g.big_package,
        g.is_patent,
        g.goods_type
        FROM
        goods g,customer_goods_price_limit l,customer_price_limit c
        <where>
            l.del_flag=0
            and c.del_flag=0
            and l.cpl_id=c.id
            and g.id=l.goods_id
            <if test="request.name != null and request.name != ''">
                AND g.`name` like concat('%',#{request.name},'%')
            </if>
            <if test="request.licenseNo != null and request.licenseNo != ''">
                AND g.license_no like concat('%',#{request.licenseNo},'%')
            </if>
            <if test="request.manufacturer != null and request.manufacturer != ''">
                AND g.manufacturer like concat('%',#{request.manufacturer},'%')
            </if>
            <if test="request.customerEid != null and request.customerEid != 0">
                AND c.customer_eid=#{request.customerEid}
            </if>
        </where>
    </select>
    <select id="getLimitByGoodsIdsAndBuyerEids" resultType="com.yiling.goods.medicine.bo.CustomerGoodsPriceLimitBO">
        select
        cgpl.id as id,
        cgpl.goods_id as goodsId,
        cpl.id as cplId,
        cpl.eid as eid,
        cpl.customer_eid as customerEid
        from customer_price_limit cpl
        inner join customer_goods_price_limit cgpl on cgpl.cpl_id = cpl.id
        <where>
            cpl.del_flag = 0
            and cgpl.del_flag = 0
            and cpl.limit_flag = 1
            and cgpl.goods_id in
            <foreach item="item" index="index" collection="gidList"
                     open="(" separator="," close=")">
                #{item}
            </foreach>
            and cpl.customer_eid in
            <foreach item="item" index="index" collection="customerEidList"
                     open="(" separator="," close=")">
                #{item}
            </foreach>
            and cpl.eid = #{eid}

        </where>

    </select>

</mapper>
