<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiling.dataflow.wash.dao.FlowGoodsBatchSafeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yiling.dataflow.wash.entity.FlowGoodsBatchSafeDO">
    <result column="id" property="id" />
        <result column="crm_enterprise_id" property="crmEnterpriseId" />
        <result column="name" property="name" />
        <result column="crm_province_name" property="crmProvinceName" />
        <result column="crm_province_code" property="crmProvinceCode" />
        <result column="crm_goods_code" property="crmGoodsCode" />
        <result column="crm_goods_name" property="crmGoodsName" />
        <result column="crm_goods_specifications" property="crmGoodsSpecifications" />
        <result column="gb_number" property="gbNumber" />
        <result column="gb_unit" property="gbUnit" />
        <result column="enterprise_cers_id" property="enterpriseCersId" />
        <result column="del_flag" property="delFlag" />
        <result column="create_user" property="createUser" />
        <result column="create_time" property="createTime" />
        <result column="update_user" property="updateUser" />
        <result column="update_time" property="updateTime" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        crm_enterprise_id, name, crm_province_name, crm_province_code, crm_goods_code, crm_goods_name, crm_goods_specifications, gb_number, gb_unit, enterprise_cers_id, del_flag, create_user, create_time, update_user, update_time, remark
    </sql>

</mapper>
