<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiling.dataflow.wash.dao.FlowMonthWashTaskMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yiling.dataflow.wash.entity.FlowMonthWashTaskDO">
        <id column="id" property="id" />
        <result column="fmwc_id" property="fmwcId" />
        <result column="year" property="year" />
        <result column="month" property="month" />
        <result column="crm_enterprise_id" property="crmEnterpriseId" />
        <result column="name" property="name" />
        <result column="collection_method" property="collectionMethod" />
        <result column="flow_classify" property="flowClassify" />
        <result column="file_name" property="fileName" />
        <result column="count" property="count" />
        <result column="wash_status" property="washStatus" />
        <result column="un_goods_mapping_count" property="unGoodsMappingCount" />
        <result column="un_customer_mapping_count" property="unCustomerMappingCount" />
        <result column="un_supplier_mapping_count" property="unSupplierMappingCount" />
        <result column="flow_out_count" property="flowOutCount" />
        <result column="repeat_count" property="repeatCount" />
        <result column="confirm_status" property="confirmStatus" />
        <result column="collect_time" property="collectTime" />
        <result column="complete_time" property="completeTime" />
        <result column="report_consume_status" property="reportConsumeStatus" />
        <result column="flow_type" property="flowType" />
        <result column="success_number" property="successNumber" />
        <result column="fail_number" property="failNumber" />
        <result column="province_code" property="provinceCode" />
        <result column="province_name" property="provinceName" />
        <result column="city_code" property="cityCode" />
        <result column="city_name" property="cityName" />
        <result column="region_code" property="regionCode" />
        <result column="region_name" property="regionName" />
        <result column="del_flag" property="delFlag" />
        <result column="create_user" property="createUser" />
        <result column="create_time" property="createTime" />
        <result column="update_user" property="updateUser" />
        <result column="update_time" property="updateTime" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, fmwc_id, year, month, crm_enterprise_id, name, collection_method, flow_classify, file_name, count, wash_status, un_goods_mapping_count, un_customer_mapping_count, un_supplier_mapping_count,
        flow_out_count, repeat_count, confirm_status, collect_time, complete_time, report_consume_status, flow_type, success_number, fail_number, province_code, province_name, city_code, city_name, region_code,
        region_name, del_flag, create_user, create_time, update_user, update_time, remark
    </sql>

    <select id="listPage" resultMap="BaseResultMap" >
        select
            <include refid="Base_Column_List"/>
        from flow_month_wash_task
        <where>
            del_flag = 0
            <if test = "request.year != null">
                and year = #{request.year}
            </if>
            <if test = "request.month != null">
                and month = #{request.month}
            </if>
            <if test = "request.crmEid != null">
                and crm_enterprise_id = #{request.crmEid}
            </if>
            <if test = "request.flowClassify != null">
                and flow_classify = #{request.flowClassify}
            </if>
            <if test = "request.washStatus != null">
                and wash_status = #{request.washStatus}
            </if>
            <if test = "request.confirmStatus != null">
                and confirm_status = #{request.confirmStatus}
            </if>
            <if test = "request.flowType != null">
                and flow_type = #{request.flowType}
            </if>
            <if test="(request.crmEids != null and request.crmEids.size gt 0) or (request.provinceCodes != null and request.provinceCodes.size gt 0)">
                and (
                <if test="request.crmEids != null and request.crmEids.size gt 0">
                    crm_enterprise_id in
                    <foreach collection="request.crmEids" item="crmEnterpriseId" open="(" close=")" separator=",">
                        #{crmEnterpriseId}
                    </foreach>
                </if>
                <if test="request.provinceCodes != null and request.provinceCodes.size gt 0">
                    <if test="request.crmEids != null and request.crmEids.size gt 0">or</if>
                    province_code in
                    <foreach collection="request.provinceCodes" item="provinceCode" open="(" close=")" separator=",">
                        #{provinceCode}
                    </foreach>
                </if>
                )
            </if>
        </where>
        order by id desc
    </select>

    <select id="getCrmEnterIdsByFmwcIdAndClassify" resultType="long">
        select distinct crm_enterprise_id from  flow_month_wash_task
        where fmwc_id =#{fmwcId}
        and del_flag=0
        <if test="flowClassify!=null and flowClassify!=0">
         and collection_method in (1,2,3,4) and flow_classify=1
        </if>
    </select>

</mapper>
