<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiling.dataflow.wash.dao.FlowGoodsBatchDetailWashMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yiling.dataflow.wash.entity.FlowGoodsBatchDetailWashDO">
        <id column="id" property="id" />
        <result column="crm_enterprise_id" property="crmEnterpriseId" />
        <result column="fmwt_id" property="fmwtId" />
        <result column="year" property="year"/>
        <result column="month" property="month"/>
        <result column="flow_key" property="flowKey"/>
        <result column="eid" property="eid" />
        <result column="name" property="name" />
        <result column="gb_id_no" property="gbIdNo" />
        <result column="in_sn" property="inSn" />
        <result column="gb_detail_time" property="gbDetailTime" />
        <result column="gb_detail_month" property="gbDetailMonth" />
        <result column="gb_time" property="gbTime" />
        <result column="gb_name" property="gbName" />
        <result column="gb_specifications" property="gbSpecifications" />
        <result column="gb_batch_no" property="gbBatchNo" />
        <result column="gb_number" property="gbNumber" />
        <result column="gb_unit" property="gbUnit" />
        <result column="gb_produce_time" property="gbProduceTime" />
        <result column="gb_end_time" property="gbEndTime" />
        <result column="gb_manufacturer" property="gbManufacturer" />
        <result column="gb_license" property="gbLicense" />
        <result column="gb_source" property="gbSource" />
        <result column="province_code" property="provinceCode" />
        <result column="province_name" property="provinceName" />
        <result column="city_code" property="cityCode" />
        <result column="city_name" property="cityName" />
        <result column="region_code" property="regionCode" />
        <result column="region_name" property="regionName" />
        <result column="crm_goods_code" property="crmGoodsCode" />
        <result column="crm_goods_name" property="crmGoodsName" />
        <result column="crm_goods_specifications" property="crmGoodsSpecifications" />
        <result column="conversion_quantity" property="conversionQuantity" />
        <result column="collect_time" property="collectTime" />
        <result column="wash_status" property="washStatus" />
        <result column="goods_mapping_status" property="goodsMappingStatus" />
        <result column="enterprise_cers_id" property="enterpriseCersId"/>
        <result column="error_flag" property="errorFlag"/>
        <result column="error_msg" property="errorMsg"/>
        <result column="del_flag" property="delFlag" />
        <result column="create_user" property="createUser" />
        <result column="create_time" property="createTime" />
        <result column="update_user" property="updateUser" />
        <result column="update_time" property="updateTime" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, crm_enterprise_id, fmwt_id, year, month, flow_key, eid, name, gb_id_no, in_sn, gb_detail_time, gb_detail_month, gb_time, gb_name, gb_specifications, gb_batch_no, gb_number, gb_unit, gb_produce_time, gb_end_time, gb_manufacturer, gb_license, gb_source, province_code, province_name, city_code, city_name, region_code, region_name, crm_goods_code, crm_goods_name, crm_goods_specifications, conversion_quantity, collect_time, wash_status, goods_mapping_status, enterprise_cers_id, error_flag, error_msg, del_flag, create_user, create_time, update_user, update_time, remark
    </sql>

    <select id="listPage" resultMap="BaseResultMap">
        select
            <include refid="Base_Column_List"/>
        from flow_goods_batch_detail_wash
        <where>
            del_flag = 0
            <if test="request.fmwtId != null">
                and fmwt_id = #{request.fmwtId}
            </if>
            <if test="request.year != null">
                and year = #{request.year}
            </if>
            <if test="request.month != null">
                and month = #{request.month}
            </if>
            <if test="request.crmEnterpriseId != null ">
               and crm_enterprise_id = #{request.crmEnterpriseId}
            </if>
            <if test="request.crmEnterpriseIdList != null and request.crmEnterpriseIdList.size gt 0">
                and crm_enterprise_id in
                <foreach collection="request.crmEnterpriseIdList" separator="," open="(" close=")" item="crmEnterpriseId">
                    #{crmEnterpriseId}
                </foreach>
            </if>
            <if test="request.goodsName != null and request.goodsName != ''">
                and gb_name like #{request.goodsName}
            </if>
            <if test="request.goodsSpec != null and request.goodsSpec != ''">
                and gb_specifications like #{request.goodsSpec}
            </if>
            <if test="request.crmGoodsCode != null">
                and crm_goods_code = #{request.crmGoodsCode}
            </if>
            <if test="request.crmGoodsCodeList != null and request.crmGoodsCodeList.size gt 0">
                and crm_goods_code in
                <foreach collection="request.crmGoodsCodeList" separator="," open="(" close=")" item="crmGoodsCode" >
                    #{crmGoodsCode}
                </foreach>
            </if>
            <if test="request.goodsMappingStatus != null">
                and goods_mapping_status = #{request.goodsMappingStatus}
            </if>
            <if test="request.washStatus != null">
                and wash_status = #{request.washStatus}
            </if>
            <if test="request.washStatusList != null and request.washStatusList.size gt 0">
                and wash_status in
                <foreach collection="request.washStatusList" separator="," open="(" close=")" item="washStatus" >
                    #{washStatus}
                </foreach>
            </if>
            <if test="request.startTime != null">
                and gb_detail_time <![CDATA[ >= ]]> #{request.startTime}
            </if>
            <if test="request.endTime != null">
                and gb_detail_time <![CDATA[ <= ]]> #{request.endTime}
            </if>
        </where>
        order by id desc
    </select>

    <select id="list" resultMap="BaseResultMap">
        select
            <include refid="Base_Column_List"/>
        from flow_goods_batch_detail_wash
        <where>
            del_flag = 0
            <if test="request.year != null">
                and year = #{request.year}
            </if>
            <if test="request.month != null">
                and month = #{request.month}
            </if>
            <if test="request.goodsName != null and request.goodsName != ''">
                and gb_name = #{request.goodsName}
            </if>
            <if test="request.gbSpecifications != null and request.gbSpecifications != ''">
                and gb_specifications = #{request.gbSpecifications}
            </if>
            <if test="request.crmGoodsCode != null">
                and crm_goods_code = #{request.crmGoodsCode}
            </if>
        </where>
    </select>

    <select id="getPageByYearMonth" resultMap="BaseResultMap">
        select
            <include refid="Base_Column_List"/>
        from flow_goods_batch_detail_wash
        <where>
            del_flag = 0
            <if test="request.year != null">
                and year = #{request.year}
            </if>
            <if test="request.month != null">
                and month = #{request.month}
            </if>
            <if test="request.goodsName != null and request.goodsName != ''">
                and gb_name = #{request.goodsName}
            </if>
            <if test="request.goodsSpec != null and request.goodsSpec != ''">
                and gb_specifications = #{request.goodsSpec}
            </if>
            <if test="request.crmGoodsCode != null">
                and crm_goods_code = #{request.crmGoodsCode}
            </if>
        </where>
    </select>
</mapper>
