<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiling.dataflow.wash.dao.FlowGoodsBatchTransitMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yiling.dataflow.wash.entity.FlowGoodsBatchTransitDO">
    <result column="id" property="id" />
        <result column="gb_detail_month" property="gbDetailMonth" />
        <result column="crm_enterprise_id" property="crmEnterpriseId" />
        <result column="name" property="name" />
        <result column="crm_province_name" property="crmProvinceName" />
        <result column="crm_province_code" property="crmProvinceCode" />
        <result column="supply_crm_enterprise_id" property="supplyCrmEnterpriseId" />
        <result column="supply_name" property="supplyName" />
        <result column="crm_goods_code" property="crmGoodsCode" />
        <result column="crm_goods_name" property="crmGoodsName" />
        <result column="crm_goods_specifications" property="crmGoodsSpecifications" />
        <result column="gb_batch_no" property="gbBatchNo" />
        <result column="gb_number" property="gbNumber" />
        <result column="gb_unit" property="gbUnit" />
        <result column="gb_purchase_time" property="gbPurchaseTime" />
        <result column="goods_batch_type" property="goodsBatchType" />
        <result column="enterprise_cers_id" property="enterpriseCersId" />
        <result column="enterprise_cers_id" property="enterpriseCersId" />
        <result column="supply_cers_id" property="supplyCersId" />
        <result column="del_flag" property="delFlag" />
        <result column="create_user" property="createUser" />
        <result column="create_time" property="createTime" />
        <result column="update_user" property="updateUser" />
        <result column="update_time" property="updateTime" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        gb_detail_month, crm_enterprise_id, name, crm_province_name, crm_province_code, supply_crm_enterprise_id, supply_name, crm_goods_code, crm_goods_name, crm_goods_specifications, gb_batch_no, gb_number, gb_unit, gb_purchase_time, goods_batch_type, enterprise_cers_id, supply_cers_id,del_flag, create_user, create_time, update_user, update_time, remark
    </sql>

</mapper>
