<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiling.dataflow.wash.dao.FlowMonthWashControlMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yiling.dataflow.wash.entity.FlowMonthWashControlDO">
        <id column="id" property="id"/>
        <result column="year" property="year"/>
        <result column="month" property="month"/>
        <result column="data_start_time" property="dataStartTime"/>
        <result column="data_end_time" property="dataEndTime"/>
        <result column="employee_backup_status" property="dataEndTime"/>
        <result column="employee_backup_time" property="dataEndTime"/>
        <result column="basis_status" property="dataEndTime"/>
        <result column="basis_time" property="dataEndTime"/>
        <result column="basis_backup_status" property="dataEndTime"/>
        <result column="basis_backup_time" property="dataEndTime"/>
        <result column="wash_status" property="dataEndTime"/>
        <result column="wash_time" property="dataEndTime"/>
        <result column="gb_lock_status" property="dataEndTime"/>
        <result column="gb_lock_time" property="dataEndTime"/>
        <result column="unlock_status" property="dataEndTime"/>
        <result column="unlock_time" property="dataEndTime"/>
        <result column="gb_unlock_status" property="dataEndTime"/>
        <result column="gb_unlock_time" property="dataEndTime"/>
        <result column="task_status" property="dataEndTime"/>
        <result column="task_time" property="dataEndTime"/>
        <result column="del_flag" property="delFlag"/>
        <result column="create_user" property="createUser"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="remark" property="remark"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, year, month,data_start_time,data_end_time,employee_backup_status,
  employee_backup_time,
  basis_status,
  basis_time,
  basis_backup_status,
  basis_backup_time,
  wash_status,
  wash_time,
  gb_lock_status,
  gb_lock_time,
  unlock_status,
  unlock_time,
  gb_unlock_status ,
  gb_unlock_time,
  task_status,
  task_time,del_flag, create_user, create_time, update_user, update_time, remark
    </sql>

    <select id="countFlowMonthWashControlByDataTime" resultType="integer">
        select count(1)
        from
          flow_month_wash_control
        where  <![CDATA[ (data_end_time>#{dataEndTime} and data_start_time<#{dataEndTime}) or  (data_end_time>#{dataStartTime} and data_start_time<#{dataStartTime})




        ]]>
    </select>


</mapper>
