<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiling.dataflow.wash.dao.FlowPurchaseWashMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yiling.dataflow.wash.entity.FlowPurchaseWashDO">
        <id column="id" property="id"/>
        <result column="crm_enterprise_id" property="crmEnterpriseId"/>
        <result column="fmwt_id" property="fmwtId"/>
        <result column="year" property="year"/>
        <result column="month" property="month"/>
        <result column="flow_key" property="flowKey"/>
        <result column="eid" property="eid"/>
        <result column="name" property="name"/>
        <result column="po_id" property="poId"/>
        <result column="po_no" property="poNo"/>
        <result column="enterprise_inner_code" property="enterpriseInnerCode"/>
        <result column="enterprise_name" property="enterpriseName"/>
        <result column="crm_organization_id" property="crmOrganizationId"/>
        <result column="crm_organization_name" property="crmOrganizationName"/>
        <result column="po_time" property="poTime"/>
        <result column="po_month" property="poMonth"/>
        <result column="order_time" property="orderTime"/>
        <result column="goods_in_sn" property="goodsInSn"/>
        <result column="goods_name" property="goodsName"/>
        <result column="po_specifications" property="poSpecifications"/>
        <result column="po_batch_no" property="poBatchNo"/>
        <result column="po_product_time" property="poProductTime"/>
        <result column="po_effective_time" property="poEffectiveTime"/>
        <result column="po_quantity" property="poQuantity"/>
        <result column="po_unit" property="poUnit"/>
        <result column="po_price" property="poPrice"/>
        <result column="conversion_quantity" property="conversionQuantity"/>
        <result column="po_manufacturer" property="poManufacturer"/>
        <result column="po_license" property="poLicense"/>
        <result column="po_source" property="poSource"/>
        <result column="province_code" property="provinceCode"/>
        <result column="province_name" property="provinceName"/>
        <result column="city_code" property="cityCode"/>
        <result column="city_name" property="cityName"/>
        <result column="region_code" property="regionCode"/>
        <result column="region_name" property="regionName"/>
        <result column="crm_goods_code" property="crmGoodsCode"/>
        <result column="crm_goods_name" property="crmGoodsName"/>
        <result column="crm_goods_specifications" property="crmGoodsSpecifications"/>
        <result column="wash_status" property="washStatus"/>
        <result column="goods_mapping_status" property="goodsMappingStatus"/>
        <result column="enterprise_cers_id" property="enterpriseCersId"/>
        <result column="error_flag" property="errorFlag"/>
        <result column="error_msg" property="errorMsg"/>
        <result column="del_flag" property="delFlag"/>
        <result column="create_user" property="createUser"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="remark" property="remark"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, crm_enterprise_id, fmwt_id, year, month, flow_key, eid, name, po_id, po_no, enterprise_inner_code, enterprise_name,  crm_organization_id, crm_organization_name, po_time, po_month, order_time, goods_in_sn, goods_name, po_specifications, po_batch_no, po_product_time, po_effective_time, po_quantity, po_unit, po_price, conversion_quantity, po_manufacturer, po_license, po_source, province_code, province_name, city_code, city_name, region_code, region_name, crm_goods_code, crm_goods_name, crm_goods_specifications, wash_status, goods_mapping_status, enterprise_cers_id, error_flag, error_msg, del_flag, create_user, create_time, update_user, update_time, remark
    </sql>

    <select id="listPage" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from flow_purchase_wash
        <where>
            del_flag = 0
            <if test="request.fmwtId != null">
                and fmwt_id = #{request.fmwtId}
            </if>
            <if test="request.year != null">
                and year = #{request.year}
            </if>
            <if test="request.month != null">
                and month = #{request.month}
            </if>
            <if test="request.crmEnterpriseId != null ">
                and crm_enterprise_id = #{request.crmEnterpriseId}
            </if>
            <if test="request.crmEnterpriseIdList != null and request.crmEnterpriseIdList.size gt 0">
                and crm_enterprise_id in
                <foreach collection="request.crmEnterpriseIdList" separator="," open="(" close=")"
                         item="crmEnterpriseId">
                    #{crmEnterpriseId}
                </foreach>
            </if>
            <if test="request.enterpriseName != null and request.enterpriseName != ''">
                and enterprise_name like #{request.enterpriseName}
            </if>
            <if test="request.goodsName != null and request.goodsName != ''">
                and goods_name like #{request.goodsName}
            </if>
            <if test="request.goodsSpec != null and request.goodsSpec != ''">
                and po_specifications like #{request.goodsSpec}
            </if>
            <if test="request.crmGoodsCode != null">
                and crm_goods_code = #{request.crmGoodsCode}
            </if>
            <if test="request.crmGoodsCodeList != null and request.crmGoodsCodeList.size gt 0">
                and crm_goods_code in
                <foreach collection="request.crmGoodsCodeList" separator="," open="(" close=")" item="crmGoodsCode">
                    #{crmGoodsCode}
                </foreach>
            </if>
            <if test="request.goodsMappingStatus != null">
                and goods_mapping_status = #{request.goodsMappingStatus}
            </if>
            <if test="request.washStatus != null">
                and wash_status = #{request.washStatus}
            </if>
            <if test="request.washStatusList != null and request.washStatusList.size gt 0">
                and wash_status in
                <foreach collection="request.washStatusList" separator="," open="(" close=")" item="washStatus">
                    #{washStatus}
                </foreach>
            </if>
            <if test="request.startTime != null">
                and po_time <![CDATA[ >= ]]> #{request.startTime}
            </if>
            <if test="request.endTime != null">
                and po_time <![CDATA[ <= ]]> #{request.endTime}
            </if>
        </where>
        order by id desc
    </select>

    <select id="list" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from flow_purchase_wash
        <where>
            del_flag = 0
            <if test="request.year != null">
                and year = #{request.year}
            </if>
            <if test="request.month != null">
                and month = #{request.month}
            </if>
            <if test="request.goodsName != null and request.goodsName != ''">
                and goods_name = #{request.goodsName}
            </if>
            <if test="request.poSpecifications != null and request.poSpecifications != ''">
                and po_specifications = #{request.poSpecifications}
            </if>
            <if test="request.crmGoodsCode != null">
                and crm_goods_code = #{request.crmGoodsCode}
            </if>
        </where>
    </select>

    <select id="getPageByYearMonth" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from flow_purchase_wash
        <where>
            del_flag = 0
            <if test="request.year != null">
                and year = #{request.year}
            </if>
            <if test="request.month != null">
                and month = #{request.month}
            </if>
            <if test="request.goodsName != null and request.goodsName != ''">
                and goods_name = #{request.goodsName}
            </if>
            <if test="request.goodsSpec != null and request.goodsSpec != ''">
                and po_specifications = #{request.goodsSpec}
            </if>
            <if test="request.crmGoodsCode != null">
                and crm_goods_code = #{request.crmGoodsCode}
            </if>
            <if test="request.enterpriseName != null and request.enterpriseName!=''">
                and enterprise_name = #{request.enterpriseName}
            </if>
            <if test="request.crmOrganizationId != null ">
                and crm_organization_id = #{request.crmOrganizationId}
            </if>
        </where>
    </select>

</mapper>
