<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiling.dataflow.wash.dao.UnlockAreaRecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yiling.dataflow.wash.entity.UnlockAreaRecordDO">
    <result column="id" property="id" />
        <result column="customer_classification" property="customerClassification" />
        <result column="category_id" property="categoryId" />
        <result column="category_name" property="categoryName" />
        <result column="type" property="type" />
        <result column="representative_post_code" property="representativePostCode" />
        <result column="representative_post_name" property="representativePostName" />
        <result column="representative_code" property="representativeCode" />
        <result column="representative_name" property="representativeName" />
        <result column="executive_post_code" property="executivePostCode" />
        <result column="executive_post_name" property="executivePostName" />
        <result column="executive_code" property="executiveCode" />
        <result column="executive_name" property="executiveName" />
        <result column="department" property="department" />
        <result column="province" property="province" />
        <result column="area" property="area" />
        <result column="last_op_time" property="lastOpTime" />
        <result column="last_op_user" property="lastOpUser" />
        <result column="del_flag" property="delFlag" />
        <result column="create_time" property="createTime" />
        <result column="create_user" property="createUser" />
        <result column="update_time" property="updateTime" />
        <result column="update_user" property="updateUser" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        customer_classification, category_id, category_name, type, representative_post_code, representative_post_name, representative_code, representative_name, executive_post_code, executive_post_name, executive_code, executive_name, department, province, area, last_op_time, last_op_user, del_flag, create_time, create_user, update_time, update_user, remark
    </sql>

</mapper>
