<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiling.dataflow.wash.dao.UnlockCollectionDetailMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yiling.dataflow.wash.entity.UnlockCollectionDetailDO">
    <result column="id" property="id" />
        <result column="crm_goods_code" property="crmGoodsCode" />
        <result column="crm_goods_name" property="crmGoodsName" />
        <result column="crm_goods_spec" property="crmGoodsSpec" />
        <result column="category_id" property="categoryId" />
        <result column="variety_type" property="varietyType" />
        <result column="goods_group" property="goodsGroup"/>
        <result column="status" property="status"/>
        <result column="collection_price" property="collectionPrice"/>
        <result column="last_op_time" property="lastOpTime" />
        <result column="last_op_user" property="lastOpUser" />
        <result column="del_flag" property="delFlag" />
        <result column="create_time" property="createTime" />
        <result column="create_user" property="createUser" />
        <result column="update_time" property="updateTime" />
        <result column="update_user" property="updateUser" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
         crm_goods_code, crm_goods_name, crm_goods_spec, category_id, variety_type, goods_group, status, collection_price, last_op_time, last_op_user, del_flag, create_time, create_user, update_time, update_user, remark
    </sql>

</mapper>
