<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiling.dataflow.wash.dao.UnlockSaleGoodsCategoryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yiling.dataflow.wash.entity.UnlockSaleGoodsCategoryDO">
    <result column="id" property="id" />
        <result column="rule_id" property="ruleId" />
        <result column="goods_category_id" property="goodsCategoryId" />
        <result column="del_flag" property="delFlag" />
        <result column="create_user" property="createUser" />
        <result column="create_time" property="createTime" />
        <result column="update_user" property="updateUser" />
        <result column="update_time" property="updateTime" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        rule_id, goods_category_id, del_flag, create_user, create_time, update_user, update_time, remark
    </sql>

    <select id="listPage" resultType="com.yiling.dataflow.wash.bo.UnlockSaleGoodsCategoryBO">
        select
        t.id,
        e.id as categoryId,
        e.code as code,
        e.name as name,
        e.category_level as categoryLevel
        from unlock_sale_goods_category t left join crm_goods_category e on t.goods_category_id=e.id
        <where>
            t.del_flag = 0 and t.rule_id=#{request.ruleId}
            <if test="request.name != null and request.name != ''">
                and e.`name` like concat ('%',#{request.name},'%')
            </if>
        </where>
    </select>

</mapper>
