<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiling.dataflow.wash.dao.UnlockCustomerMatchingInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yiling.dataflow.wash.entity.UnlockCustomerMatchingInfoDO">
        <id column="id" property="id" />
        <result column="customer_name" property="customerName" />
        <result column="recommend_crm_id" property="recommendCrmId" />
        <result column="recommend_name" property="recommendName" />
        <result column="recommend_score" property="recommendScore" />
        <result column="del_flag" property="delFlag" />
        <result column="create_time" property="createTime" />
        <result column="create_user" property="createUser" />
        <result column="update_time" property="updateTime" />
        <result column="update_user" property="updateUser" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, customer_name, recommend_crm_id, recommend_name, recommend_score, del_flag, create_time, create_user, update_time, update_user, remark
    </sql>

</mapper>
