.app-container {
  .search-bar {
    background: #fff;
    border-radius: 4px;
    padding: 0 15px 15px 15px;
    .el-input {
      width: 260px;
      margin-right: 10px;
    }
    .el-select {
      width: 260px;
      margin-right: 10px;
    }
  }
  .dialog-content{
    display: flex;
    justify-content: center;
  }
  .down-box {
    width: 100%;
    height: 30px;
    margin-top: 10px;
    .btn {
      float: right;
    }
  }
  .normls-title {
    height: 50px;
    line-height: 50px;
    background: #eee;
    padding-left: 20px;
    color: #333;
    span {
      margin-right: 8px;
      &:nth-child(2) {
        margin-right: 100px;
      }
    }
  }
}
