.app-container {
  .common-header {
    margin-bottom: 16px;
    position: relative;
    .header {
      font-size: 14px;
      color: $font-important-color;
      margin-top: 8px;
      margin-left: 8px;
      .text {
        height: 20px;
        line-height: 20px;
        margin-bottom: 8px;
        span {
          color: $font-title-color;
        }
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    .down-box {
      position: absolute;
      top: 16px;
      right: 16px;
    }
    .edit-box {
      position: relative;
      margin-left: 8px;
      margin-top: 8px;
      .el-select,
      .el-input {
        width: 280px;
      }
      ::v-deep .el-form-item__label {
        font-size: $font-size-base;
        line-height: $font-size-base-lh;
        color: $font-important-color;
        margin-bottom: 8px;
        font-weight: 400;
        padding: 0;
      }
    }
  }
}

