<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiling.basic.tianyancha.dao.TycEnterpriseInfoMapper">
    <resultMap id="BaseResultMap" type="com.yiling.basic.tianyancha.entity.TycEnterpriseInfoDO">
        <result column="id" property="id"></result>
        <result column="staff_num_range" property="staffNumRange"></result>
        <result column="from_time" property="fromTime"></result>
        <result column="type" property="type"></result>
        <result column="bond_name" property="bondName"></result>
        <result column="is_micro_ent" property="isMicroEnt"></result>
        <result column="used_bond_name" property="usedBondName"></result>
        <result column="reg_number" property="regNumber"></result>
        <result column="percentile_score" property="percentileScore"></result>
        <result column="reg_capital" property="regCapital"></result>
        <result column="industry" property="industry"></result>
        <result column="approved_time" property="approvedTime"></result>
        <result column="social_staff_num" property="socialStaffNum"></result>
        <result column="tags" property="tags"></result>
        <result column="tax_number" property="taxNumber"></result>
        <result column="business_scope" property="businessScope"></result>
        <result column="property3" property="property3"></result>
        <result column="alias" property="alias"></result>
        <result column="org_number" property="orgNumber"></result>
        <result column="reg_status" property="regStatus"></result>
        <result column="estiblish_time" property="estiblishTime"></result>
        <result column="update_times" property="updateTimes"></result>
        <result column="bond_type" property="bondType"></result>
        <result column="legal_person_name" property="legalPersonName"></result>
        <result column="to_time" property="toTime"></result>
        <result column="actual_capital" property="actualCapital"></result>
        <result column="company_org_type" property="companyOrgType"></result>
        <result column="comp_form" property="compForm"></result>
        <result column="base" property="base"></result>
        <result column="credit_code" property="creditCode"></result>
        <result column="history_names" property="historyNames"></result>
        <result column="bond_num" property="bondNum"></result>
        <result column="reg_capital_currency" property="regCapitalCurrency"></result>
        <result column="actual_capital_currency" property="actualCapitalCurrency"></result>
        <result column="revoke_date" property="revokeDate"></result>
        <result column="revoke_reason" property="revokeReason"></result>
        <result column="cancel_date" property="cancelDate"></result>
        <result column="cancel_reason" property="cancelReason"></result>
        <result column="city" property="city"></result>
        <result column="district" property="district"></result>
        <result column="email" property="email"></result>
        <result column="website_list" property="websiteList"></result>
        <result column="phone_number" property="phoneNumber"></result>
        <result column="category" property="category"></result>
        <result column="category_big" property="categoryBig"></result>
        <result column="category_middle" property="categoryMiddle"></result>
        <result column="category_small" property="categorySmall"></result>
        <result column="create_time" property="createTime"></result>
        <result column="del_flag" property="delFlag"></result>
    </resultMap>
    <sql id="Base_Column_List">
        id
        ,staff_num_range
        ,from_time
        ,`type`
        ,bond_name
        ,is_micro_ent
        ,used_bond_name
        ,reg_number
        ,percentile_score
        ,reg_capital
        ,`name`
        ,reg_institute
        ,reg_location
        ,industry
        ,approved_time
        ,social_staff_num
        ,tags
        ,tax_number
        ,business_scope
        ,property3
        ,alias
        ,org_number
        ,reg_status
        ,estiblish_time
        ,update_times
        ,bond_type
        ,legal_person_name
        ,to_time
        ,actual_capital
        ,company_org_type
        ,comp_form
        ,base
        ,credit_code
        ,history_names
        ,bond_num
        ,reg_capital_currency
        ,actual_capital_currency
        ,revoke_date
        ,revoke_reason
        ,cancel_date
        ,cancel_reason
        ,city
        ,district
        ,email
        ,website_list
        ,phone_number
        ,category
        ,category_big
        ,category_middle
        ,category_small
        ,create_time
        ,del_flag
    </sql>
</mapper>