.app-container {
  .common-box {
    .el-input {
      width: 220px;
    }
    .search-box {
      .box {
        .title {
          font-size: $font-size-large;
          line-height: $font-size-large-lh;
          color: $font-important-color;
          margin-bottom: 8px;
        }
      }
    }
  }
  .down-box {
    width: 100%;
    margin-top: 24px;
    div {
      display: inline-block;
    }
    .right {
      float: right;
    }
  }
  .img {
    width: 80px;
    height: 80px;
    display: inline-block;
    cursor: pointer;
  }
}