<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiling.user.agreement.dao.AgreementRebateApplyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yiling.user.agreement.entity.AgreementApplyDO">
    <result column="id" property="id" />
        <result column="eid" property="eid" />
        <result column="name" property="name" />
        <result column="eas_code" property="easCode" />
        <result column="code" property="code" />
        <result column="total_amount" property="totalAmount" />
        <result column="year" property="year" />
        <result column="month" property="month" />
        <result column="range_type" property="rangeType" />
        <result column="entry_eid" property="entryEid" />
        <result column="entry_name" property="entryName" />
        <result column="entry_code" property="entryCode" />
        <result column="province_code" property="provinceCode" />
        <result column="province_name" property="provinceName" />
        <result column="goods_id" property="goodsId" />
        <result column="goods_name" property="goodsName" />
        <result column="status" property="status" />
        <result column="audit_remark" property="auditRemark" />
        <result column="del_flag" property="delFlag" />
        <result column="create_time" property="createTime" />
        <result column="create_user" property="createUser" />
        <result column="create_user_code" property="createUserCode" />
        <result column="update_time" property="updateTime" />
        <result column="update_user" property="updateUser" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        eid, `name`, eas_code, code, total_amount, `year`, `month`, range_type, entry_eid, entry_name, entry_code, province_code, province_name, goods_id, goods_name, status, audit_remark, del_flag, create_time, create_user, create_user_code, update_time, update_user, remark
    </sql>

    <select id="queryApplyEntPageList" resultType="com.yiling.user.agreement.dto.ApplyEntDTO">
        SELECT
            e.id,
            e.NAME,
            e.contactor,
            e.contactor_phone,
            e.province_name,
            e.city_name,
            e.region_name,
            e.address,
            COUNT( a.id ) AS 'applyNum'
        FROM
            agreement_apply a
        LEFT JOIN enterprise e ON a.eid = e.id
        <where>
            <if test="request.opUserId != null and request.opUserId != 0">
                AND a.create_user =#{request.opUserId}
            </if>
            <if test="request.customerName != null and request.customerName != ''">
                and e.name like concat(#{request.customerName},'%') or e.contactor like concat('%',#{request.customerName},'%')
            </if>
            AND a.del_flag = 0
        </where>
        GROUP BY
            e.id
        ORDER BY
            applyNum DESC
    </select>

    <update id="updateTotalAmountById">
        UPDATE agreement_apply
        SET total_amount = total_amount + #{amount}
        WHERE
            id = #{id}
    </update>

</mapper>
