<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiling.user.agreement.dao.AgreementRebateOrderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yiling.user.agreement.entity.AgreementRebateOrderDO">
    <result column="id" property="id" />
        <result column="eid" property="eid" />
        <result column="second_eid" property="secondEid" />
        <result column="eas_account" property="easAccount"/>
        <result column="order_id" property="orderId" />
        <result column="return_id" property="returnId" />
        <result column="settlement_id" property="settlementId" />
        <result column="agreement_id" property="agreementId" />
        <result column="type" property="type"/>
        <result column="delivery_time" property="deliveryTime" />
        <result column="agreement_condition_id" property="agreementConditionId" />
        <result column="version" property="version" />
        <result column="goods_amount" property="goodsAmount"/>
        <result column="goods_quantity" property="goodsQuantity"/>
        <result column="discount_amount" property="discountAmount" />
        <result column="payment_method" property="paymentMethod"/>
        <result column="calculate_time" property="calculateTime" />
        <result column="comparison_time" property="comparisonTime" />
        <result column="cash_time" property="cashTime" />
        <result column="cash_status" property="cashStatus" />
        <result column="condition_status" property="conditionStatus" />
        <result column="del_flag" property="delFlag" />
        <result column="create_user" property="createUser" />
        <result column="create_time" property="createTime" />
        <result column="update_user" property="updateUser" />
        <result column="update_time" property="updateTime" />
        <result column="remark" property="remark" />
    </resultMap>


    <resultMap id="StatisticsDiscountAmountMap" type="com.yiling.user.agreement.bo.StatisticsKeyValuesBO">
        <result column="statistics_key" property="statisticsKey" />
        <result column="statistics_values" property="statisticsValues" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        eid, second_eid, eas_account,order_id, return_id, agreement_id,settlement_id,type,delivery_time, agreement_condition_id, version, discount_amount,goods_amount,payment_method,goods_quantity, calculate_time,comparison_time, cash_time, cash_status, condition_status, del_flag, create_user, create_time, update_user, update_time, remark
    </sql>

    <update id="updateBatchDiscountAmount">
        update agreement_rebate_order
        set agreement_condition_id=#{request.agreementConditionId},
        discount_amount=round(goods_amount/100*#{request.policyValue},2),
        policy_value=#{request.policyValue},
        condition_status=2,
        update_time=now(),
        update_user=#{request.opUserId},
        calculate_time=#{request.calculateTime}
        where  order_id in
        <foreach item="item" index="index" collection="request.orderIds"
                 open="(" separator="," close=")">
            #{item}
        </foreach>
        and agreement_id=#{request.agreementId}
        and eas_account=#{request.easAccount}
        and type=#{request.type}
    </update>

    <update id="clearDiscountAmountByOrderIdsAndAgreementIds">
        update agreement_rebate_order
        set agreement_condition_id=0,
        discount_amount=0,
        policy_value=0,
        condition_status=1,
        update_time=now(),
        update_user=#{request.opUserId}
        where cash_status=1
        <if test="request.orderIds != null and request.orderIds.size() > 0">
        and order_id in
        <foreach item="item" index="index" collection="request.orderIds"
                 open="(" separator="," close=")">
            #{item}
        </foreach>
        </if>
        <if test="request.agreementConditionIds != null and request.agreementConditionIds.size() > 0">
        and agreement_condition_id in
        <foreach item="item" index="index" collection="request.agreementConditionIds"
                 open="(" separator="," close=")">
            #{item}
        </foreach>
        </if>
        <if test="request.agreementIds != null and request.agreementIds.size() > 0">
            and agreement_id in
            <foreach item="item" index="index" collection="request.agreementIds"
                     open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
    </update>

    <select id="getAgreementRebateOrderListByAgreementIds" resultMap="BaseResultMap">
        select  id,
        eid, second_eid, eas_account, order_id, return_id, settlement_id, agreement_id, agreement_condition_id, version, type,payment_method, discount_amount,goods_amount,goods_quantity, calculate_time, cash_time, cash_status, condition_status, del_flag, create_user, create_time, update_user, update_time, remark from agreement_rebate_order
        <where>
            <if test="request.agreementIds != null and request.agreementIds.size() > 0">
                agreement_id in
                <foreach item="item" index="index" collection="request.agreementIds"
                         open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="request.cashStatus!=null and request.cashStatus!=0" >
                and cash_status=#{request.cashStatus}
            </if>
            <if test="request.conditionStatus!=null and request.conditionStatus!=0" >
                and condition_status=#{request.conditionStatus}
            </if>
            <if test="request.easAccount!=null">
                and eas_account=#{request.easAccount}
            </if>
            <if test="request.comparisonTimes != null and request.comparisonTimes.size() > 0">
                and DATE_FORMAT(comparison_time,'%Y-%m') in
                <foreach item="item" index="index" collection="request.comparisonTimes"
                         open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            AND del_flag =0
        </where>

    </select>

</mapper>
