<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiling.user.agreement.dao.AgreementMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yiling.user.agreement.entity.AgreementDO">
        <result column="id" property="id" />
        <result column="version" property="version" />
        <result column="parent_id" property="parentId" />
        <result column="eid" property="eid" />
        <result column="ename" property="ename" />
        <result column="second_eid" property="secondEid" />
        <result column="second_name" property="secondName" />
        <result column="second_channel_name" property="secondChannelName" />
        <result column="third_eid" property="thirdEid" />
        <result column="third_name" property="thirdName" />
        <result column="third_channel_name" property="thirdChannelName" />
        <result column="category" property="category" />
        <result column="mode" property="mode" />
        <result column="type" property="type" />
        <result column="child_type" property="childType" />
        <result column="agreement_no" property="agreementNo" />
        <result column="name" property="name" />
        <result column="content" property="content" />
        <result column="start_time" property="startTime" />
        <result column="end_time" property="endTime" />
        <result column="rebate_cycle" property="rebateCycle" />
        <result column="is_patent" property="isPatent" />
        <result column="restitution_type" property="restitutionType" />
        <result column="rebate_type" property="rebateType" />
        <result column="condition_rule" property="conditionRule" />
        <result column="status" property="status" />
        <result column="stop_time" property="stopTime" />
        <result column="agreement_status" property="agreementStatus"/>
        <result column="migrate_status" property="migrateStatus"/>
        <result column="del_flag" property="delFlag" />
        <result column="create_user" property="createUser" />
        <result column="create_time" property="createTime" />
        <result column="update_user" property="updateUser" />
        <result column="update_time" property="updateTime" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        version, parent_id, eid, ename, second_eid, second_name, second_channel_name, third_eid, third_name, third_channel_name, category, mode, type, child_type, agreement_no, name, content, start_time, end_time, rebate_cycle, is_patent, restitution_type, rebate_type, condition_rule, status, stop_time, agreement_status, migrate_status, del_flag, create_user, create_time, update_user, update_time, remark
    </sql>

    <select id="queryPageListThirdEntIdList" parameterType="java.lang.Long" resultMap="BaseResultMap">
        SELECT
            second_eid,
            third_eid
        FROM
            agreement
        WHERE
            del_flag = 0
            AND ( category = 2 AND MODE = 2 AND ( second_eid = #{queryEid} OR third_eid = #{queryEid} ) )
            GROUP BY second_eid, third_eid
    </select>


    <select id="queryEntPageList" resultType="com.yiling.user.agreement.dto.EntPageListItemDTO">
        SELECT
            count( agreement.id ) AS 'agreementCount',
            enterprise.id,
            enterprise.NAME,
            enterprise.contactor,
            enterprise.contactor_phone,
            enterprise.province_name,
            enterprise.city_name,
            enterprise.region_name,
            enterprise.address
        FROM
            enterprise
            LEFT JOIN agreement ON agreement.second_eid = enterprise.id
            AND agreement.category = 1
            AND agreement.del_flag=0
        WHERE
            enterprise.`name` LIKE concat('%',#{request.queryStr},'%')
            OR enterprise.contactor LIKE concat('%',#{request.queryStr},'%')
        GROUP BY
            enterprise.id
        ORDER BY
            agreementCount DESC
    </select>

    <select id="queryEidByMigrate" resultType="java.lang.Long">
        SELECT
            third_eid
        FROM
            agreement
        WHERE
            STATUS = 1
            AND del_flag = 0
            AND start_time >= '2023-01-01 00:00:00.000'
            AND category = 2
            AND migrate_status=0
        GROUP BY
            third_eid
    </select>
</mapper>
