<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiling.user.agreement.dao.AgreementRebateOrderDetailMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yiling.user.agreement.entity.AgreementRebateOrderDetailDO">
        <result column="id" property="id"/>
        <result column="rebate_order_id" property="rebateOrderId"/>
        <result column="eid" property="eid"/>
        <result column="second_eid" property="secondEid"/>
        <result column="agreement_id" property="agreementId"/>
        <result column="agreement_condition_id" property="agreementConditionId"/>
        <result column="version" property="version"/>
        <result column="eas_account" property="easAccount"/>
        <result column="order_id" property="orderId"/>
        <result column="order_detail_id" property="orderDetailId"/>
        <result column="goods_id" property="goodsId"/>
        <result column="return_id" property="returnId"/>
        <result column="settlement_id" property="settlementId"/>
        <result column="type" property="type"/>
        <result column="delivery_time" property="deliveryTime"/>
        <result column="comparison_time" property="comparisonTime"/>
        <result column="goods_amount" property="goodsAmount"/>
        <result column="goods_quantity" property="goodsQuantity"/>
        <result column="discount_amount" property="discountAmount"/>
        <result column="policy_value" property="policyValue"/>
        <result column="cash_status" property="cashStatus"/>
        <result column="del_flag" property="delFlag"/>
        <result column="create_user" property="createUser"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="remark" property="remark"/>
    </resultMap>

    <resultMap id="StatisticsDiscountAmountMap" type="com.yiling.user.agreement.bo.StatisticsKeyValuesBO">
        <result column="statistics_key" property="statisticsKey"/>
        <result column="statistics_values" property="statisticsValues"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,rebate_order_id,
        eid, second_eid, agreement_id, agreement_condition_id, version,eas_account, order_id,return_id,settlement_id,type,delivery_time,comparison_time, order_detail_id, goods_id, goods_amount,goods_quantity, discount_amount, policy_value, cash_status,del_flag, create_user, create_time, update_user, update_time, remark
    </sql>

    <update id="updateBatchDiscountAmount">
        update agreement_rebate_order_detail
        set agreement_condition_id=#{request.agreementConditionId},
        discount_amount=round(goods_amount/100*#{request.policyValue},2),
        policy_value=#{request.policyValue},
        update_time=now(),
        condition_status=2,
        update_user=#{request.opUserId}
        where order_id in
        <foreach item="item" index="index" collection="request.orderIds"
                 open="(" separator="," close=")">
            #{item}
        </foreach>
        and agreement_id=#{request.agreementId}
        and eas_account=#{request.easAccount}
        and type=#{request.type}
    </update>

    <update id="clearDiscountAmountByOrderIdsAndAgreementIds">
        update agreement_rebate_order_detail
        set agreement_condition_id=0,
        discount_amount=0,
        policy_value=0,
        update_time=now(),
        update_user=#{request.opUserId}
        where cash_status=1
        <if test="request.orderIds != null and request.orderIds.size() > 0">
            order_id in
            <foreach item="item" index="index" collection="request.orderIds"
                     open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="request.agreementConditionIds != null and request.agreementConditionIds.size() > 0">
            and agreement_condition_id in
            <foreach item="item" index="index" collection="request.agreementConditionIds"
                     open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="request.agreementIds != null and request.agreementIds.size() > 0">
            and agreement_id in
            <foreach item="item" index="index" collection="request.agreementIds"
                     open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
    </update>

    <select id="queryAgreementRebateOrderDetailList" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        FROM
        agreement_rebate_order_detail
        <where>
            <if test="request.agreementId != null and request.agreementId!=''">
                and agreement_id = #{request.agreementId}
            </if>
            <if test="request.orderIdList != null and request.orderIdList.size() > 0">
                and order_id in
                <foreach item="item" index="index" collection="request.orderIdList"
                         open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="request.cashStatus!=null and request.cashStatus!=0">
                and cash_status=#{request.cashStatus}
            </if>
            <if test="request.conditionStatus!=null and request.conditionStatus!=0">
                and condition_status=#{request.conditionStatus}
            </if>
            <if test="request.secondEid!=null and request.secondEid!=''">
                and second_eid=#{request.secondEid}
            </if>
            <if test="request.easCode!=null">
                and eas_account=#{request.easCode}
            </if>
            <if test="request.comparisonTimes != null and request.comparisonTimes.size() > 0">
                and DATE_FORMAT(comparison_time,'%Y-%m') in
                <foreach item="item" index="index" collection="request.comparisonTimes"
                         open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            and del_flag = 0
        </where>

    </select>

</mapper>
