<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiling.user.agreement.dao.UseDetailMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yiling.user.agreement.entity.UseDetailDO">
        <result column="id" property="id" />
        <result column="use_id" property="useId" />
        <result column="applicant_id" property="applicantId" />
        <result column="applicant_code" property="applicantCode" />
        <result column="year" property="year" />
        <result column="month" property="month" />
        <result column="amount" property="amount" />
        <result column="rebate_category" property="rebateCategory" />
        <result column="cost_subject" property="costSubject" />
        <result column="cost_dept" property="costDept" />
        <result column="execute_dept" property="executeDept" />
        <result column="reply_code" property="replyCode" />
        <result column="del_flag" property="delFlag" />
        <result column="create_user" property="createUser" />
        <result column="create_time" property="createTime" />
        <result column="update_user" property="updateUser" />
        <result column="update_time" property="updateTime" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, use_id,
        applicant_id, applicant_code, year, month, amount, rebate_category, cost_subject, cost_dept, execute_dept, reply_code, del_flag, create_user, create_time, update_user, update_time, remark
    </sql>

</mapper>
