<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiling.user.agreement.dao.UseMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yiling.user.agreement.entity.UseDO">
        <result column="id" property="id" />
        <result column="applicant_id" property="applicantId" />
        <result column="applicant_code" property="applicantCode" />
        <result column="eid" property="eid" />
        <result column="eas_code" property="easCode" />
        <result column="name" property="name" />
        <result column="seller_eid" property="sellerEid" />
        <result column="seller_code" property="sellerCode" />
        <result column="seller_name" property="sellerName" />
        <result column="province_code" property="provinceCode" />
        <result column="province_name" property="provinceName" />
        <result column="total_amount" property="totalAmount" />
        <result column="execute_means" property="executeMeans" />
        <result column="status" property="status" />
        <result column="audit_remark" property="auditRemark" />
        <result column="withdraw_remark" property="withdrawRemark" />
        <result column="rebate_category" property="rebateCategory" />
        <result column="execute_dept" property="executeDept" />
        <result column="applicant_time" property="applicantTime" />
        <result column="audit_time" property="auditTime" />
        <result column="del_flag" property="delFlag" />
        <result column="create_time" property="createTime" />
        <result column="create_user" property="createUser" />
        <result column="create_user_name" property="createUserName" />
        <result column="create_user_code" property="createUserCode" />
        <result column="update_time" property="updateTime" />
        <result column="update_user" property="updateUser" />
        <result column="update_user_name" property="updateUserName" />
        <result column="update_user_code" property="updateUserCode" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        applicant_id, applicant_code, eid, eas_code, name, seller_eid, seller_code, seller_name, province_code, province_name, total_amount, execute_means, status, audit_remark, withdraw_remark, rebate_category, execute_dept, applicant_time, audit_time, del_flag, create_time, create_user, create_user_name, create_user_code, update_time, update_user, update_user_name, update_user_code, remark
    </sql>

</mapper>
