.app-container {
  .down-box {
    width: 100%;
    height: 30px;
    margin-top: 10px;
    .btn {
      float: right;
    }
  }
  .common-box {
    .el-input {
      width: 220px;
    }
    .search-box {
      position: relative;
      .box {
        .title {
          font-size: $font-size-large;
          line-height: $font-size-large-lh;
          color: $font-important-color;
          margin-bottom: 8px;
        }
      }
      .el-select {
        width: 220px;
      }
      .bottom-btn {
        position: absolute;
        bottom: 0;
        right: 0;
      }
    }
  }

  .search-bar {
    background: #fff;
    border-radius: 4px;
    padding: 0 15px 15px 15px;
    .el-input {
      width: 200px;
      margin-right: 10px;
    }
    .other-box {
      position: relative;
      .bottom-btn {
        position: absolute;
        bottom: 0;
        right: 0;
      }
    }
  }
  .table-view {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 5px 6px;

    >.session {
      width: 100%;
      span:first-child {
        float: left;
      }
      span:last-child {
        float: right;
      }
    }
    .content {
      width: 100%;
      position: relative;
      .table-item {
        width: 300px;
      }
      .product-num {
        text-align: center;
        span {
          padding-right: 10px;
        }
        .num {
          color: $font-title-color;
        }
      }
      .edit-btn {
        width: 100px;
      }
    }
  }
}

