@import "~@/common/styles/mixin.scss";

.app-container {
  p{
    padding: 0;
    margin: 0;
  }
  position: relative;
  .app-container-content{
    margin-bottom: 82px;
    .pull-people-top{
      width: 100%;
      height: 124px;
      background: #fff;
      padding: 16px;
    }
    .pull-people-top-right{
      width: 190px;
      height: 92px;
      padding: 26px 0 26px 16px;
      display: inline-block;
    }
    .pull-people-top-right img{
      width: 40px;
      height: 40px;
      display: inline-block;
    }
    .pull-people-top-right-div {
      height: 40px;
      display: inline-block;
      vertical-align: top;
      padding-left: 10px;
    }
    .pull-people-top-right-div p{
      color: #333;
      font-weight: 500;
      font-size: 20px;
    }
    .pull-people-top-right-div span{
      color: #8C8C8C;
      font-size: 12px;
    }
    .pull-people-top-left{
      height: 92px;
      display: inline-block;
      vertical-align: top;
      // border: 1px solid red;
      margin-left: 10px;
      line-height: 30px;
    }
    .pull-people-top-left p:nth-child(1){
      color: #2C2C2C;
      font-weight: 500;
    }
    .pull-people-top-left p{
      color: #666666;
      font-size: 14px;
    }
    .pull-people-top-left p span{
      color: #333;
    } 
    // 下部表格
    .pull-people-buttom{
      width: 100%;
    }
    .task-bottom-title{
      width: 100%;
      height: 46px;
      color: #333333;
      font-size: 16px;
      font-weight: 600;
      line-height: 56px;
    }
    .table-view{
      width: 100%;
      height: 60px;
      line-height: 30px;
      // border: 1px solid red;
    }
    .pull-people-table-column{
      width: 100%;
      color: #333;
      font-size: 14px;
      font-weight: bold;
    }
    .table-row p{
      display: inline-block;
      color: #666666;
      
    }
    .table-row span{
      color: #333333;
      
    }
  }
  .fixed-row-center{
    height: 80px;
    line-height: 80px;
    position: fixed;
    right: 30px;
    bottom: 15px;
    z-index: 10;
    background: #fff;
    text-align: center;
    border-top: 2px solid #f4f4f4;
  }
  .fixed-row-center1 { 
    width: calc( 100% - 228px );
  }
  .fixed-row-center2 {
    width: calc( 100% - 100px );
  }
   // 底部 返回 以及 发布任务按钮
   .bottom-view {
    position: fixed;
    bottom: 0;
    left: $sideBarWidth;
    right: 0;
    height: 64px;
    background-color: $white;
    padding: 16px;
    box-shadow: 0px -2px 9px 0px rgba(182, 182, 182, 0.16);
    z-index: 10;
  }
}