@import "~@/common/styles/mixin.scss";

.app-container {
  padding-bottom: 80px;
  .app-container-content{
    padding-bottom: 50px;
  }
  .top-bar {
    background: $white;
    padding: 16px;
    border-radius: 4px;
    margin-bottom: 16px;
    .header-renative{
      position: relative;
      margin-bottom: 16px;
      .edit-btn{
        position: absolute;
        right: 0;
      }
    }
    .content-box{
      padding: 0 8px;
      .show-word-limit{
        ::v-deep .el-input__inner{
          padding-right: 46px;
        }
      }
      .el-form-item{
        label{
          font-weight: 400 !important;
        }
        .el-input{
          width: 256px;
        }
      }
      .activity-form-item{
        color: $font-title-color;
        .input-box{
          margin: 0 5px;
        }
        .el-input{
          width: 100px;
        }
        .tip-text{
          margin-left: 20px;
          color: #2C2C2C;
          .red-text{
            color: #F52922;
          }
        }
      }
      .el-radio-group{
        width: 100%;
      }
      .radio-item{
        display: flex;
        align-items: center;
        width: 100%;
        height: 36px;
        margin-bottom: 10px;
        .input-box{
          margin: 0 5px;
        }
        .el-radio{
          line-height: 36px;
        }
        .assume-form-item{
          width: 100%;
          display: flex;
          align-items: center;
          color: $font-title-color;
          font-size: $font-size-base;
          .el-input{
            width: 100px;
          }
          .tip-text{
            margin-left: 20px;
            color: #2C2C2C;
            .red-text{
              color: #F52922;
            }
          }
        }
      }
      .input-form-item{
        display: flex;
        align-items: center;
        color: $font-title-color;
        font-size: $font-size-base;
        .text-view{
          margin-left: 20px;
        }
      }
      .explain-view{
        height: 52px;
        background: #FAFAFA;
        border-radius: 4px;
        font-size: 14px;
        font-weight: 400;
        color: rgba(0, 0, 0, 0.65);
        line-height: 52px;
        padding: 0 16px;
      }
      .tip-box{
        display: flex;
        align-items: center;
        padding: 8px 16px;
        font-size: $font-size-base;
        line-height: $font-size-base-lh;
        color: $font-important-color;
        background: #FFFBE6;
        border-radius: 4px;
        display: inline-block;
        border: 1px solid #FFE58F;
        i {
          width: 21px;
          height: 100%;
          color: #FA8C15 !important;
        }
      }
    }
  }

  // 商品添加弹框
  .dialog-content-box-customer{
    padding: 16px;
    height: 80vh;
    overflow-y: auto;
    // 导出、导入按钮
    .down-box {
      width: 100%;
      margin-top: 8px;
      .btn {
        float: right;
      }
    }
    .dialog-content-top {
      .el-input {
        width: 200px;
      }
      .title-view{
        padding: 0 10px;
        height: 40px;
        line-height: 40px;
        font-size: 16px;
        align-items: center;
        justify-content: flex-start;
        display: flex;
        color: $font-important-color;
        font-weight: 600;
        .sign {
          height: 14px;
          width: 2px;
          margin-right: 4px;
          background-color: $primary;
        }
      }
      .search-box {
        margin-bottom: 16px;
        padding: 0 16px;
        position: relative;
        .box {
          .title {
            font-size: $font-size-large;
            line-height: $font-size-large-lh;
            color: $font-important-color;
            margin-bottom: 8px;
          }
        }
        .el-select {
          width: 200px;
        }

      }
    }
  }

  .bottom-view {
    position: fixed;
    bottom: 0;
    left: $sideBarWidth;
    right: 0;
    height: 64px;
    background-color: $white;
    padding: 16px;
    box-shadow: 0px -2px 9px 0px rgba(182, 182, 182, 0.16);
    z-index: 10;
  }
}
