.app-container {
  .common-box {
    .el-input {
      width: 260px;
    }
    .search-box {
      margin-top: 24px;
      padding: 0 16px 0 0px;
      position: relative;
      .box {
        .title {
          font-size: $font-size-large;
          line-height: $font-size-large-lh;
          color: $font-important-color;
          margin-bottom: 8px;
        }
      }
      .el-select {
        width: 260px;
      }
    }
  }
  .status-color-green {
    color: #09CD8A;
  }
  .status-color-red {
    color: #ee0a24;
  }
  .down-box {
    width: 100%;
    margin-top: 24px;
  }
}
