<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiling.cms.document.dao.DocumentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yiling.cms.document.entity.DocumentDO">
    <result column="id" property="id" />
        <result column="category_id" property="categoryId" />
        <result column="title" property="title" />
        <result column="resume" property="resume" />
        <result column="source" property="source" />
        <result column="author" property="author" />
        <result column="status" property="status" />
        <result column="display_line" property="displayLine" />
        <result column="page_view" property="pageView" />
        <result column="content" property="content" />
        <result column="document_file_url" property="documentFileUrl" />
        <result column="is_open" property="isOpen" />
        <result column="publish_time" property="publishTime" />
        <result column="del_flag" property="delFlag" />
        <result column="create_user" property="createUser" />
        <result column="create_time" property="createTime" />
        <result column="update_user" property="updateUser" />
        <result column="update_time" property="updateTime" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        category_id, title, resume, source, author, status, display_line, page_view, content, document_file_url, is_open, publish_time, del_flag, create_user, create_time, update_user, update_time, remark
    </sql>
    <update id="updatePv" parameterType="com.yiling.cms.document.entity.DocumentDO">
        UPDATE cms_document SET page_view = #{pageView}   WHERE id=#{id}
    </update>
</mapper>
