@import "~@/common/styles/mixin.scss";
.pop-up{
  .common-box {
    .el-input {
      width: 260px;
    }
    .search-box {
      .box {
        .title {
          font-size: $font-size-large;
          line-height: $font-size-large-lh;
          color: $font-important-color;
          margin-bottom: 8px;
        }
      }
    }
  }
  // 底部列表
  .table-view {
    // height: 235px;
    width: 100%;
    background: #F4F4F4;
    overflow: hidden;
    .content{
      height: 130px;
      background: $white;
      padding: 5px 6px;
      .content-left {
        font-size: 16px;
        width: 390px;
        font-weight: 600;
        color: #333333;
        padding-right: 16px;
        @include clamp(3);
      }
      .content-left-title {
        width: 390px;
        height: 24px;
        overflow:hidden;
        text-overflow:ellipsis;
        white-space: nowrap;
      }
      .content-center {
        min-width: 255px;
        :last-child {
          margin-bottom: 0;
        }
      }
      .content-center-1 {
        :last-child {
          margin-bottom: 0;
          
        }
      }
      .item {
        margin-bottom: 8px;
        height: 20px;
      }
      .remark{
        width: 100%;
        @include clamp(1);
      }
      .content-right {
        width: 120px;
        
      }
      .el-button--medium{
        padding: 4px 20px;
      }
    }
  }
 
}