<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiling.user.system.dao.AdminMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yiling.user.system.entity.AdminDO">
    <result column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="admin_flag" property="adminFlag" />
        <result column="del_flag" property="delFlag" />
        <result column="create_user" property="createUser" />
        <result column="create_time" property="createTime" />
        <result column="update_user" property="updateUser" />
        <result column="update_time" property="updateTime" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        a.user_id, a.admin_flag,
        a.del_flag, a.create_user, a.create_time, a.update_user, a.update_time, a.remark
    </sql>

    <select id="pageList" resultType="com.yiling.user.system.bo.Admin">
        select
            <include refid="com.yiling.user.system.dao.UserMapper.Base_Column_List"/>
            ,
            <include refid="Base_Column_List"/>
        from user u
        inner join admin a on a.user_id = u.id
        <where>
            <if test="request.username != null and request.username != ''">
                and u.username like concat('%',#{request.username},'%')
            </if>
            <if test="request.name != null and request.name != ''">
                and u.name like concat('%',#{request.name},'%')
            </if>
            <if test="request.status != null and request.status != 0">
                and u.status = #{request.status}
            </if>
            <if test="request.beginTime != null">
                and a.create_time <![CDATA[ >= ]]> #{request.beginTime}
            </if>
            <if test="request.endTime != null">
                and a.create_time <![CDATA[ <= ]]> #{request.endTime}
            </if>
            and a.del_flag = 0
        </where>
    </select>
    
    <select id="getByUsername" resultType="com.yiling.user.system.bo.Admin">
        select
            <include refid="com.yiling.user.system.dao.UserMapper.Base_Column_List"/>
            ,
            <include refid="Base_Column_List"/>
        from user u
        inner join admin a on a.user_id = u.id
        where u.username = #{username} and u.status <![CDATA[ <> ]]> 9 and a.del_flag = 0
        limit 1
    </select>

    <select id="getByMobile" resultType="com.yiling.user.system.bo.Admin">
        select
            <include refid="com.yiling.user.system.dao.UserMapper.Base_Column_List"/>
            ,
            <include refid="Base_Column_List"/>
        from user u
        inner join admin a on a.user_id = u.id
        where u.mobile = #{mobile} and u.status <![CDATA[ <> ]]> 9 and a.del_flag = 0
        limit 1
    </select>

    <select id="getByName" resultType="com.yiling.user.system.bo.Admin">
        select
        <include refid="com.yiling.user.system.dao.UserMapper.Base_Column_List"/>
        ,
        <include refid="Base_Column_List"/>
        from user u
        inner join admin a on a.user_id = u.id
        where u.name = #{name} and u.status <![CDATA[ <> ]]> 9 and a.del_flag = 0
        limit #{limit}
    </select>
</mapper>
