<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiling.user.system.dao.MenuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yiling.user.system.entity.MenuDO">
    <result column="id" property="id" />
        <result column="app_id" property="appId" />
        <result column="parent_id" property="parentId" />
        <result column="menu_type" property="menuType" />
        <result column="menu_name" property="menuName" />
        <result column="menu_url" property="menuUrl" />
        <result column="menu_identification" property="menuIdentification" />
        <result column="menu_icon" property="menuIcon" />
        <result column="sort_num" property="sortNum" />
        <result column="menu_status" property="menuStatus" />
        <result column="del_flag" property="delFlag" />
        <result column="create_user" property="createUser" />
        <result column="create_time" property="createTime" />
        <result column="update_user" property="updateUser" />
        <result column="update_time" property="updateTime" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        app_id, parent_id, menu_type, menu_name, menu_url, menu_identification, menu_icon, sort_num, menu_status, del_flag, create_user, create_time, update_user, update_time, remark
    </sql>

</mapper>
