.color-blue {
  color: #1790ff;
}
.color-red {
  color: #f52922;
  font-weight: 400;
}
.app-container {
  .box-search {
    position: relative;
    background: #fafafa;
    // height: 80px;
    // padding: 16px;
    box-sizing: border-box;
    &-no-pad {
      padding: 0 !important;
    }
    .el-input {
      width: 220px;
    }
    .search-box {
      position: relative;

      .box {
        .title {
          font-size: $font-size-large;
          line-height: $font-size-large-lh;
          color: $font-important-color;
          margin-bottom: 12px;
        }
      }
    }
  }
  .color-3 {
    color: #333;
  }
}
.pad-b-100 {
  padding-bottom: 80px;
}
