.app-container {
    .box-search {
      position: relative;
      &-no-pad {
        padding: 0 !important;
      }
      .el-input {
        width: 220px;
      }
      .search-box {
        position: relative;
        .box {
          .title {
            font-size: $font-size-large;
            line-height: $font-size-large-lh;
            color: $font-important-color;
            margin-bottom: 12px;
          }
        }
      }
    }
  
    .tab {
      display: flex;
      height: 30px;
      align-items: center;
      font-size: 14px;
      color: #999;
      border-bottom: 1px solid #eee;
      padding-left: 16px;
      .tab-item {
        height: 30px;
        line-height: 30px;
        margin-right: 32px;
        cursor: pointer;
      }
      .tab-active {
        position: relative;
        color: #1790ff;
        font-weight: 600;
        &::before {
          position: absolute;
          bottom: 0;
          left: 50%;
          margin-left: -17px;
          content: '';
          width: 34px;
          height: 2px;
          background: #1790ff;
        }
      }
    }
    .summary {
      height: 32px;
      line-height: 32px;
      padding-left: 17px;
      background: #fff;
      font-size: 12px;
      color: #999;
      border-radius: 4px 4px 0 0;
    }
  }
  .color-green {
    color: #52c41a;
  }
  .color-yellow {
    color: #ff9500;
  }
  .color-3 {
    color: #333;
  }
  .color-6 {
    color: #666;
  }
  .font-14 {
    font-size: 14px;
  }
  .line-24 {
    line-height: 24px;
  }
  .order-item {
    padding: 16px 0;
    border-bottom: 1px solid #eee;
  }