@import "~@/common/styles/mixin.scss";

.app-container {
  .top-btn {
    position: relative;
    width: 100%;
    font-size: $font-size-large;
    line-height: $font-size-large-lh;
    margin: 32px 0 16px 0;
    color: $font-important-color;

    .right-btn {
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }

  .common-box {
    .el-input {
      width: 220px;
    }

    .search-box {
      margin-top: 24px;
      position: relative;

      .box {
        .title {
          font-size: $font-size-large;
          line-height: $font-size-large-lh;
          color: $font-important-color;
          margin-bottom: 8px;
        }
      }

      .el-select {
        width: 220px;
      }

      .bottom-btn {
        position: absolute;
        bottom: 0;
        right: 0;
      }
    }
  }

  // 导出、导入按钮
  .down-box {
    width: 100%;
    margin-top: 24px;

    .btn {
      float: right;
    }
  }

  .bottom-content-view{
    border-radius: 4px;
  }
  // 底部列表
  .table-view {
    height: 235px;
    width: 100%;
    background: #F4F4F4;
    overflow: hidden;
    .session {
      padding: 0 16px;
      box-sizing: border-box;
      height: 32px;
      background: #FAFAFA;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      overflow: hidden;
      span {
        color: #999999;
        line-height: 32px;
      }

      .enable {
        color: #15AD31;
      }

      .disable {
        color: #E62412;
      }

    }

    .content {
      height: 186px;
      background: #FFFFFF;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      display: flex;
      justify-content: flex-start;

      .content-left {
        width: 661px;
        height: 100%;
        border-right: 1px solid #EEEEEE;
        box-sizing: border-box;
        padding: 16px;
        padding-bottom: 30px;
      }

      .table-item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;

        div {
          width: 100%;
        }

        .item {
          @include clamp(2);
        }
      }

      .content-center {
        width: 397px;
        height: 100%;
        border-right: 1px solid #EEEEEE;
        box-sizing: border-box;

        .content-center-top {
          height: 114px;
          border-bottom: 1px solid #EEEEEE;
          box-sizing: border-box;
          padding: 13px 16px;
          display: flex;
          flex-direction: column;
          justify-content: space-around;

          .line-view {
            width: 2px;
            height: 14px;
            background: #1790FF;
            margin-right: 4px;
          }

          .tool-tip-icon {
            color: #1790FF;
          }
        }

        .content-center-bottom {
          height: 72px;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          padding: 13px 16px;
        }
      }

      .content-right {
        margin: 0 auto;
      }
    }
  }

  // 查看渠道信息弹框
  .channel-content {
    height: 515px;
    overflow-y: auto;
    padding: 16px 16px 0 16px;

    .item {
      .line-view {
        width: 2px;
        height: 14px;
        background: #1790FF;
        margin-right: 4px;
      }
    }

    .item-text {
      padding: 0 10px;
      margin-top: 12px;
    }

    .my-tabs {
      margin-top: 12px;
      padding: 0 10px;
    }

    .list-item {
      width: 100%;
      height: 91px;
      padding: 12px;
      border: 1px solid #EEEEEE;
      box-sizing: border-box;
      border-radius: 4px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-bottom: 10px;

      .item {
        @include clamp(2);
      }
    }
  }

  // 采购关系信息 列表
  .purchase-table-view {
    width: 100%;
  }

}

