<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiling.hmc.goods.dao.GoodsControlMapper">
    <resultMap id="BaseResultMap" type="com.yiling.hmc.goods.entity.GoodsControlDO">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="license_no" property="licenseNo"/>
        <result column="sell_specifications_id" property="sellSpecificationsId"/>
        <result column="standard_id" property="standardId"/>
        <result column="market_price" property="marketPrice"/>
        <result column="insurance_price" property="insurancePrice"/>
        <result column="del_flag" property="delFlag"/>
        <result column="create_user" property="createUser"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="remark" property="remark"/>
    </resultMap>
    <sql id="Base_Column_List">
        id,`name`,license_no,sell_specifications_id,standard_id,market_price,insurance_price,
        del_flag,create_user,create_time,update_user,update_time,remark
    </sql>
    <sql id="Select_Column_List">
        gc.id,gc.`name`,gc.license_no,gc.sell_specifications_id,gc.standard_id,gc.market_price,gc.insurance_price,
        gc.del_flag,gc.create_user,gc.create_time,gc.update_user,gc.update_time,gc.remark
    </sql>
    <select id="queryUpGoodsControlPageList" resultType="com.yiling.hmc.goods.entity.GoodsControlDO">
        SELECT
        <include refid="Select_Column_List"/>
        FROM hmc_goods_control AS gc
        INNER JOIN hmc_goods AS g ON gc.sell_specifications_id = g.sell_specifications_id
        <where>
            gc.del_flag = 0 and g.del_flag = 0 and g.goods_status = 1
            <if test="request.name != null and request.name != ''">
                AND gc.`name` like concat('%',#{request.name},'%')
            </if>
            <if test="request.licenseNo != null and request.licenseNo != ''">
                AND gc.license_no like concat(#{request.licenseNo},'%')
            </if>
        </where>
        GROUP BY gc.id
    </select>
    <select id="queryInsuranceGoodsControlPageList" resultType="com.yiling.hmc.goods.entity.GoodsControlDO">
        SELECT
        <include refid="Select_Column_List"/>
        FROM hmc_goods_control AS gc
        INNER JOIN hmc_insurance_detail AS hid ON gc.id = hid.control_id
        INNER JOIN hmc_insurance AS hi ON hi.id = hid.insurance_id
        <where>
            gc.del_flag = 0 and hid.del_flag = 0 and hi.del_flag = 0 and hi.status = 1
            <if test="request.name != null and request.name != ''">
                AND gc.`name` like concat('%',#{request.name},'%')
            </if>
            <if test="request.licenseNo != null and request.licenseNo != ''">
                AND gc.license_no like concat(#{request.licenseNo},'%')
            </if>
        </where>
        GROUP BY gc.id
    </select>
</mapper>