.app-container {
  .common-box {
    .el-input {
      width: 260px;
    }
    .search-box {
      margin-top: 16px;
      padding: 0 16px 0 0px;
      position: relative;
      .box {
        .title {
          font-size: $font-size-large;
          line-height: $font-size-large-lh;
          color: $font-important-color;
          margin-bottom: 8px;
        }
      }
      .el-select {
        width: 260px;
      }

      .bottom-btn {
        position: absolute;
        bottom: 0;
        right: 0;
      }
    }
  }
  .my-table {
    padding: 16px;
    background: #fff;
    .font-600{
      font-weight: 600;
    }
    .item {
      padding: 6px 0;
      .item-text {
        margin-bottom: 8px;
      }
    }
  }

  .color-green {
    color: #52c41a;
  }
  .color-red {
    color: #f52922;
  }
  .color-999 {
    color: #999;
  }
  .dia-content {
    padding: 16px;
    .dia-title{
      display: flex;
      height: 36px; 
      align-items: center;
    }
  }
}
