<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiling.dataflow.agency.dao.CrmSupplierMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yiling.dataflow.agency.entity.CrmSupplierDO">
        <result column="id" property="id"/>
        <result column="crm_enterprise_id" property="crmEnterpriseId"/>
        <result column="supplier_level" property="supplierLevel"/>
        <result column="supplier_attribute" property="supplierAttribute"/>
        <result column="general_medicine_level" property="generalMedicineLevel"/>
        <result column="head_chain_flag" property="headChainFlag"/>
        <result column="chain_attribute" property="chainAttribute"/>
        <result column="chain_ka_flag" property="chainKaFlag"/>
        <result column="parent_supplier_name" property="parentSupplierName"/>
        <result column="parent_supplier_code" property="parentSupplierCode"/>
        <result column="supplier_sale_type" property="supplierSaleType"/>
        <result column="base_supplier_info" property="baseSupplierInfo"/>
        <result column="department" property="department"/>
        <result column="provincial_area" property="provincialArea"/>
        <result column="flow_job_number" property="flowJobNumber"/>
        <result column="flow_liable_person" property="flowLiablePerson"/>
        <result column="commerce_job_number" property="commerceJobNumber"/>
        <result column="commerce_liable_person" property="commerceLiablePerson"/>
        <result column="supplier_import_flag" property="supplierImportFlag"/>
        <result column="patent_agreement_type" property="patentAgreementType"/>
        <result column="bind_general_medicine_flag" property="bindGeneralMedicineFlag"/>
        <result column="general_medicine_sale_type" property="generalMedicineSaleType"/>
        <result column="mnemonic_code" property="mnemonicCode"/>
        <result column="contract_flag" property="contractFlag"/>
        <result column="chain_subordinate_flag" property="chainSubordinateFlag"/>
        <result column="trusteeship_type" property="trusteeshipType"/>
        <result column="business_system_category" property="businessSystemCategory"/>
        <result column="business_system" property="businessSystem"/>
        <result column="county_customer_code" property="countyCustomerCode"/>
        <result column="county_customer_name" property="countyCustomerName"/>
        <result column="supplier_address" property="supplierAddress"/>
        <result column="del_flag" property="delFlag"/>
        <result column="create_user" property="createUser"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="remark" property="remark"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id
        ,
        crm_enterprise_id, supplier_level, supplier_attribute, general_medicine_level, head_chain_flag, chain_attribute, chain_ka_flag, parent_supplier_name, parent_supplier_code, supplier_sale_type, base_supplier_info, department, provincial_area, flow_job_number, flow_liable_person, commerce_job_number, commerce_liable_person, supplier_import_flag, patent_agreement_type, bind_general_medicine_flag, general_medicine_sale_type, mnemonic_code, contract_flag, chain_subordinate_flag, trusteeship_type, business_system_category, county_customer_code, county_customer_name, supplier_address
        , del_flag, create_user, create_time, update_user, update_time, remark
    </sql>

</mapper>
