.app-container {
  padding-bottom: 80px;
  .c-box {
    padding: 10px 16px;
    padding-top: 20px;
    background-color: $white;
    border-radius: 4px;
  }
  .explain{
    line-height: 24px;
    color: #999;
    font-size: 14px;
  }
  .select-width ::v-deep .el-input {
    width: 320px;
  }
  .pop-up {
    padding: 20px 16px;
    .dialog-icon span {
      width: 40px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      display: inline-block;
      cursor: pointer;
    }
    .dialog-icon span:hover {
      background-color: rgba(83, 168, 255, .3);
    }
    .icon-color {
      background-color: rgba(83, 168, 255, .3);
    }
  }
}
