.h-22 {
    height: 22px;
  }
  .color-blue {
    color: #1790ff;
    cursor: pointer;
  }
  .app-container {
    .order-total {
      font-size: $font-size-base;
      background: #fff;
      height: 90px;
      .box {
        width: 216px;
        height: 70px;
        display: inline-block;
        .svg-icon {
          font-size: 24px;
          width: 24px;
          margin-right: 8px;
        }
        .title {
          height: 40px;
          padding-left: 89px;
          font-size: 28px;
          color: $font-important-color;
          line-height: 34px;
        }
        &:nth-child(3) {
          width: 244px;
          .title {
            padding-left: 96px;
          }
        }
      }
    }
    .search-box {
      padding: 16px;
      background: #fff;
      .box {
        .title {
          font-size: $font-size-large;
          line-height: $font-size-large-lh;
          color: $font-important-color;
          margin-bottom: 8px;
        }
      }
      .el-input {
        width: 260px;
      }
      .el-select {
        width: 260px;
      }
      .el-date-editor {
        width: 260px;
      }

      .bottom-btn {
        position: absolute;
        bottom: 0;
        right: 0;
      }
    }
    // 导出、导入按钮
    .down-box {
      width: 100%;
      margin-top: 24px;

      .btn {
        float: right;
        .el-button {
          width: 122px;
        }
      }
    }
  }