<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiling.sales.assistant.commissions.dao.CommissionsDetailMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yiling.sales.assistant.commissions.entity.CommissionsDetailDO">
        <result column="id" property="id" />
        <result column="commissions_id" property="commissionsId" />
        <result column="paid_commissions_id" property="paidCommissionsId" />
        <result column="user_id" property="userId" />
        <result column="user_task_id" property="userTaskId" />
        <result column="task_id" property="taskId" />
        <result column="order_id" property="orderId" />
        <result column="order_code" property="orderCode" />
        <result column="new_ent_id" property="newEntId" />
        <result column="new_ent_name" property="newEntName" />
        <result column="new_user_id" property="newUserId" />
        <result column="new_user_name" property="newUserName" />
        <result column="buy_member_eid" property="buyMemberEid" />
        <result column="buy_member_name" property="buyMemberName" />
        <result column="new_time" property="newTime" />
        <result column="first_upload_time" property="firstUploadTime" />
        <result column="sub_amount" property="subAmount" />
        <result column="status" property="status" />
        <result column="del_flag" property="delFlag" />
        <result column="create_time" property="createTime" />
        <result column="create_user" property="createUser" />
        <result column="update_time" property="updateTime" />
        <result column="update_user" property="updateUser" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        commissions_id, paid_commissions_id, user_id, task_id, user_task_id, order_id, order_code, new_ent_id, new_ent_name, new_user_id, new_user_name, buy_member_eid, buy_member_name, new_time, first_upload_time, sub_amount, status, del_flag, create_time, create_user, update_time, update_user, remark
    </sql>

</mapper>
