<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiling.sales.assistant.commissions.dao.CommissionsUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yiling.sales.assistant.commissions.entity.CommissionsUserDO">
    <result column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="total_amount" property="totalAmount" />
        <result column="paid_amount" property="paidAmount" />
        <result column="surplus_amount" property="surplusAmount" />
        <result column="del_flag" property="delFlag" />
        <result column="create_time" property="createTime" />
        <result column="create_user" property="createUser" />
        <result column="update_time" property="updateTime" />
        <result column="update_user" property="updateUser" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        user_id, total_amount, paid_amount, surplus_amount, del_flag, create_time, create_user, update_time, update_user, remark
    </sql>

    <select id="queryCommissionsUserPageList" resultType="com.yiling.sales.assistant.commissions.dto.CommissionsUserDTO">
        SELECT
            u.id AS 'userId',
            u.`name`,
            su.total_amount,
            su.paid_amount,
            su.surplus_amount
        FROM
            `user` u
            LEFT JOIN sa_commissions_user su ON u.id = su.user_id
        <where>
            <if test="request.username != null and request.username !=''">
                AND u.`name` LIKE CONCAT('%',#{request.username},'%')
            </if>
        </where>
    </select>

    <select id="statisticsCommissionsUser" resultType="com.yiling.sales.assistant.commissions.dto.StatisticsCommissionsUserDTO">
        SELECT
            sum( total_amount ) AS 'total_amount',
            sum( paid_amount ) AS 'paid_amount',
            sum( surplus_amount ) AS 'surplus_amount'
        FROM
            sa_commissions_user
        WHERE
            del_flag =0
    </select>

</mapper>
