.app-container {
  // .top-btn {
  //   position: relative;
  //   width: 100%;
  //   font-size: $font-size-large;
  //   line-height: $font-size-large-lh;
  //   margin: 40px 0 8px 0;
  //   color: $font-important-color;
  //   .right-btn {
  //     position: absolute;
  //     right: 0;
  //     bottom: 0;
  //   }
  // }
  .top-title{
    margin: 16px 0 8px 0;
    color: #2C2C2C;
    font-size: 16px;
    font-weight: 600;
  }

  .tool {
    margin: 8px 0 35px 0;
    //width: 320px;
  }
  .common-box {
    .el-input {
      width: 280px;
    }
    .search-box {
      margin-top: 24px;
      padding: 0 16px 0 0px;
      position: relative;
      .box {
        .title {
          font-size: $font-size-large;
          line-height: $font-size-large-lh;
          color: $font-important-color;
          margin-bottom: 8px;
        }
      }
      .el-select {
        width: 280px;
      }

      .bottom-btn {
        position: absolute;
        bottom: 0;
        right: 0;
      }
    }
  }
  .my-table {
    .my-image {
      width: 100px;
      height: 100px;
    }
    .product-desc {
      padding: 31px 26px;
      text-align: left;
    }
    .pad-b-8 {
      padding-bottom: 8px;
    }
    .switch {
      margin-top: 14px;
    }
  }
  .products-box {
    display: flex;
    div{
      margin-bottom: 8px;
    }
  }
  .products-info {
    text-align: left;
    margin-left: 15px;
  }
  .table-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 136px;
  }
}


.color-666 {
  color: #666;
}
.color-green {
  color: #52c41a;
}
.font-blod {
  font-weight: 600;
}
.mar-l-134 {
  margin-left: 134px;
}
.no-center {
  text-align: left;
}
