.app-container {
  .common-box {
    .el-input {
      width: 260px;
    }
    .search-box {
      position: relative;
      .box {
        .title {
          font-size: $font-size-large;
          line-height: $font-size-large-lh;
          color: $font-important-color;
          margin-bottom: 8px;
        }
      }
      .el-select {
        width: 260px;
      }
    }
  }
  .order-total {
    font-size: $font-size-base;
    height: 90px;
    .box {
      width: 50%;
      height: 70px;
      display: inline-block;
      padding-left: 62px;
      .svg-icon {
        font-size: 24px;
        width: 24px;
        margin-right: 8px;
        vertical-align: middle;
      }
      .title {
        height: 40px;
        font-size: 28px;
        color: $font-important-color;
        line-height: 34px;
        font-weight: 500;
      }
      span{
        color: #666666;
      }
    }
  }
  .tab {
    display: flex;
    height: 30px;
    align-items: center;
    font-size: 14px;
    color: #999;
    padding-left: 16px;
    .tab-item {
      height: 30px;
      line-height: 30px;
      margin-right: 32px;
      cursor: pointer;
    }
    .tab-active {
      position: relative;
      color: #1790ff;
      font-weight: 600;
      &::before {
        position: absolute;
        bottom: 0;
        left: 50%;
        margin-left: -17px;
        content: "";
        width: 34px;
        height: 2px;
        background: #1790ff;
      }
    }
  }
  .table-total{
    width: 100%;
    height: 22px;
    color: #666666;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 4px;
    span{
      color: #52C41A;
    }
  }
}