@import "~@/common/styles/mixin.scss";

.app-container {
  padding-bottom: 80px;

  .return-summary-box {
    margin-bottom: 16px;

    .return-summary-item {
      font-size: 14px;
      line-height: 20px;

      &:not(:last-child) {
        margin-bottom: 8px;
      }

      color: #333;

      .item-title {
        color: #666;
      }
    }
  }
  .order-info-box {
    .el-collapse {
      border-top: 0;
      border-bottom: 0;

      .el-collapse-item {
        margin-bottom: 16px;
        border-radius: 4px;

        ::v-deep .el-collapse-item__header {
          padding: 8px 16px;
          height: 32px;
          font-size: 12px;
          border-bottom: 0;
          border-radius: 4px 4px 0 0;
          background-color: #FAFAFA;
          color: #666;

          .pay {
            margin-left: 16px;
            line-height: 17px;

            .pay-amount {
              color: #FA8C15;
            }
          }

          .invoice-status {
            margin-left: 16px;
            color: #15AD31;
          }
        }

        ::v-deep .el-collapse-item__wrap {
          padding: 16px;
          border-bottom: 0;
          border-radius: 0 0 4px 4px;

          .el-collapse-item__content {
            padding-bottom: 0;

            .box-text {
              .item {
                font-size: 14px;
                line-height: 20px;

                &:not(:last-child) {
                  margin-bottom: 8px;
                }

                span {
                  color: #666;
                }

                .el-button {
                  margin-left: 8px;

                  span {
                    color: #1790FF;
                  }
                }
                .receive {
                  display: block;
                  margin-bottom: 8px;
                }
                .img-box {
                  width: 64px;
                  height: 64px;
                  border-radius: 4px;
                  border: 1px solid #CCCCCC;
                  overflow: hidden;
                  margin-right: 10px;
                  position: relative;
                  display: inline-block;

                  .img-item {
                    width: 64px;
                    height: 64px;
                  }

                  .screen {
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    top: 0;
                    opacity: 0;
                    background: rgba(0, 0, 0, 0.6);
                    z-index: 100;
                    pointer-events: none;

                    .icon {
                      font-size: 24px;
                      margin: auto;
                    }
                  }

                  &:hover {
                    .screen {
                      opacity: 1;
                    }
                  }
                }
              }

              .remark {
                .el-textarea {
                  margin-top: 8px;

                  .el-textarea__inner {
                    padding: 6px;
                  }
                }
              }
            }

            .buy-order-table {
              .expand-row {
                .expand-view {
                  width: 100%;
                  background: #FAFAFA;
                  border-radius: 4px;
                  padding: 16px;
                  margin-bottom: 16px;
                  color: $font-important-color;

                  .title {
                    display: flex;
                    align-items: center;
                    height: 22px;
                    margin-bottom: 12px;
                    .goods-name {
                      height: 22px;
                      font-size: 16px;
                      line-height: 22px;
                      margin-right: 10px;
                    }
                    .goods-tag {
                      width: 45px;
                      height: 19px;
                      border-radius: 3px;
                      font-size: 12px;
                      line-height: 19px;
                      text-align: center;
                    }
                    .flash-sale {
                      color: #FA8C15;
                      border: 1px solid #FA8C15;
                    }
                    .special-sale {
                      color: #EF3535;
                      border: 1px solid #EF3535;
                    }
                  }

                  .desc-box {
                    font-size: $font-size-base;
                    align-items: flex-start;
                    .img {
                      width: 82px;
                      height: 70px;
                      margin-right: 14px;
                    }
                    .right-text {
                      .text-item {
                        height: 20px;
                        line-height: 20px;
                        &:not(:last-child) {
                          margin-bottom: 8px;
                        }
                      }

                      .money {
                        font-size: 18px;
                        color: $font-important-color;
                      }
                    }
                    .box1 {
                      width: 402px;
                    }

                    .box2 {
                      width: 240px;
                    }
                    .box3 {
                      width: 320px;
                    }
                    .box4 {
                      .text-item {
                        height: 100%;
                      }
                    }

                  }

                  .nums-box {
                    margin-top: 16px;

                    .content {
                      background: #F0F0F0;
                      border-radius: 4px;
                      padding: 12px;
                      font-size: $font-size-base;

                      .content-item {
                        min-width: 280px;
                        line-height: 20px;
                        height: 20px;
                        display: inline-block;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .buy-order-half {
    .el-col {
      margin-bottom: 8px;
      min-height: 100%;
    }
  }
  .header-box {
    min-height: 180px;
    height: 100%;
    position: relative;
    .ticket-more {
      position: absolute;
      right: 16px;
      top: 8px;
    }
    .header-bar {
      margin-bottom: 12px;
    }
    .box-text {
      font-weight: 400;
      margin-left: 8px;
      font-size: 14px;
      color: $font-important-color;
      .item {
        line-height: 20px;
        margin-bottom: 8px;
        .size18 {
          font-size: 18px;
        }
      }
      .mark-item {
        width: 360px;
        height: 81px;
        border-radius: 4px;
        border: 1px solid #D8D8D8;
        padding: 6px;
        overflow: auto;
      }
      .img-item {
        width: 64px;
        height: 64px;
        border-radius: 4px;
        overflow: hidden;
        margin-top: 27px;
      }
    }
  }
  .buy-order-table {
    .expand-row {
      margin-bottom: 16px;
      .expand-view {
        width: 100%;
        background: #FAFAFA;
        border-radius: 4px;
        padding: 16px;
        color: $font-important-color;
        .title {
          height: 22px;
          font-size: 16px;
          line-height: 22px;
          margin-bottom: 7px;
        }
        .desc-box {
          font-size: $font-size-base;
          .img {
            width: 82px;
            height: 70px;
            margin-right: 14px;
          }
          .box1 {
            width: 402px;
          }
          .box2 {
            width: 240px;
          }
          .right-text {
            .text-item {
              height: 24px;
              line-height: 24px;
            }
            .money {
              font-size: 18px;
              color: $font-important-color;
            }
          }
        }
        .nums-box {
          margin-top: 16px;
          .content {
            background: #F0F0F0;
            border-radius: 4px;
            padding: 12px;
            font-size: $font-size-base;
            .content-item {
              min-width: 280px;
              line-height: 20px;
              height: 20px;
              display: inline-block;
            }
          }
        }
      }
    }
  }
  .order-ticket-check {
    padding: 15px 27px 30px 15px;
    .order-content {
      padding-left: 5px;
    }
  }
  .bottom-view {
    position: fixed;
    bottom: 0;
    left: $sideBarWidth;
    right: 0;
    height: 64px;
    background-color: $white;
    padding: 16px;
  }
}
