@import "~@/common/styles/mixin.scss";

.app-container {
  padding-bottom: 80px;
  .app-container-content{
    padding-bottom: 50px;
  }
  .top-bar {
    background: $white;
    padding: 16px;
    border-radius: 4px;
    margin-bottom: 16px;
    .header-renative{
      position: relative;
      margin-bottom: 16px;
      .edit-btn{
        position: absolute;
        right: 0;
      }
    }
    .content-box{
      padding: 0 8px;
      .show-word-limit{
        ::v-deep .el-input__inner{
          padding-right: 46px;
        }
      }
      .el-form-item{
        label{
          font-weight: 400 !important;
        }
        .el-input{
          width: 256px;
        }
      }
    }
  }

  // 商品添加弹框
  .dialog-content-box-customer{
    padding: 16px;
    height: 850px;
    .dialog-content-top {
      .el-input {
        width: 200px;
      }
      .search-box {
        margin-bottom: 16px;
        padding: 0 16px;
        position: relative;
        .box {
          .title {
            font-size: $font-size-large;
            line-height: $font-size-large-lh;
            color: $font-important-color;
            margin-bottom: 8px;
          }
        }
        .el-select {
          width: 200px;
        }

      }
    }
  }

  .bottom-view {
    position: fixed;
    bottom: 0;
    left: $sideBarWidth;
    right: 0;
    height: 64px;
    background-color: $white;
    padding: 16px;
    box-shadow: 0px -2px 9px 0px rgba(182, 182, 182, 0.16);
    z-index: 10;
  }
}
