@import "~@/common/styles/mixin.scss";

.c-box {
  padding: 10px 16px;
  padding-top: 20px;
  background-color: $white;
  border-radius: 4px;
}
.explain{
  color: #999;
  font-size: 14px;
  margin: 0;
}
.add-span{
  color: #1790FF;
  cursor: pointer;
}
.item-el-tag{
  margin-right: 10px;
}