@import "~@/common/styles/mixin.scss";

.app-container {
  .common-box {
    .el-input {
      width: 220px;
    }
    .search-box {
      .box {
        .title {
          font-size: $font-size-large;
          line-height: $font-size-large-lh;
          color: $font-important-color;
          margin-bottom: 8px;
        }
      }
    }
  }
  .span-count {
    color: #1790ff;
    cursor: pointer;
  }
  .pop-up {
    padding: 20px 16px;
  }
}