<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiling.open.third.dao.FlowInterfaceConfigMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yiling.open.third.entity.FlowInterfaceConfigDO">
    <result column="id" property="id" />
        <result column="su_id" property="suId" />
        <result column="param" property="param" />
        <result column="spring_id" property="springId" />
        <result column="purchase_mapping" property="purchaseMapping" />
        <result column="sale_mapping" property="saleMapping" />
        <result column="goods_batch_mapping" property="goodsBatchMapping" />
        <result column="flow_day" property="flowDay" />
        <result column="sync_status" property="syncStatus" />
        <result column="task_time" property="taskTime" />
        <result column="start_time" property="startTime" />
        <result column="end_time" property="endTime" />
        <result column="sync_msg" property="syncMsg" />
        <result column="remark" property="remark" />
        <result column="create_time" property="createTime" />
        <result column="create_user" property="createUser" />
        <result column="update_time" property="updateTime" />
        <result column="update_user" property="updateUser" />
        <result column="del_flag" property="delFlag" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        su_id, param, spring_id, purchase_mapping, sale_mapping, goods_batch_mapping, flow_day, sync_status, task_time, start_time, end_time, sync_msg, remark, create_time, create_user, update_time, update_user, del_flag
    </sql>

</mapper>
