<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiling.bi.resource.dao.InputLsflCoverMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yiling.bi.resource.entity.InputLsflCoverDO">
    <result column="id" property="id" />
        <result column="province" property="province" />
        <result column="bz_code" property="bzCode" />
        <result column="bz_name" property="bzName" />
        <result column="nka_zb" property="nkaZb" />
        <result column="xy_type" property="xyType" />
        <result column="qd_type" property="qdType" />
        <result column="customer_type" property="customerType" />
        <result column="wl_type" property="wlType" />
        <result column="wl_breed" property="wlBreed" />
        <result column="stores_num" property="storesNum" />
        <result column="quarter1_cover_num" property="quarter1CoverNum" />
        <result column="quarter1_cover_rate" property="quarter1CoverRate" />
        <result column="quarter2_cover_num" property="quarter2CoverNum" />
        <result column="quarter2_cover_rate" property="quarter2CoverRate" />
        <result column="quarter3_cover_num" property="quarter3CoverNum" />
        <result column="quarter3_cover_rate" property="quarter3CoverRate" />
        <result column="quarter4_cover_num" property="quarter4CoverNum" />
        <result column="quarter4_cover_rate" property="quarter4CoverRate" />
        <result column="data_time" property="dataTime" />
        <result column="data_name" property="dataName" />
        <result column="data_source" property="dataSource" />
        <result column="data_status" property="dataStatus" />
        <result column="dyear" property="dyear" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        province, bz_code, bz_name, nka_zb, xy_type, qd_type, customer_type, wl_type, wl_breed, stores_num, quarter1_cover_num, quarter1_cover_rate, quarter2_cover_num, quarter2_cover_rate, quarter3_cover_num, quarter3_cover_rate, quarter4_cover_num, quarter4_cover_rate, data_time, data_name, data_source, data_status, dyear
    </sql>

</mapper>
