<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiling.settlement.report.dao.ParamLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yiling.settlement.report.entity.ParamLogDO">
    <result column="id" property="id" />
        <result column="data_id" property="dataId" />
        <result column="param_id" property="paramId" />
        <result column="param_sub_id" property="paramSubId" />
        <result column="par_type" property="parType" />
        <result column="log_type" property="logType" />
        <result column="before_data" property="beforeData" />
        <result column="after_data" property="afterData" />
        <result column="del_flag" property="delFlag" />
        <result column="create_user" property="createUser" />
        <result column="create_time" property="createTime" />
        <result column="update_user" property="updateUser" />
        <result column="update_time" property="updateTime" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        data_id, param_id, param_sub_id, par_type, log_type, before_data, after_data, del_flag, create_user, create_time, update_user, update_time, remark
    </sql>

</mapper>
