<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiling.settlement.report.dao.ParamSubGoodsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yiling.settlement.report.entity.ParamSubGoodsDO">
    <result column="id" property="id" />
        <result column="param_id" property="paramId" />
        <result column="param_sub_id" property="paramSubId" />
        <result column="par_type" property="parType" />
        <result column="activity_name" property="activityName" />
        <result column="eid" property="eid" />
        <result column="goods_in_sn" property="goodsInSn" />
        <result column="yl_goods_id" property="ylGoodsId" />
        <result column="yl_goods_id_old" property="ylGoodsIdOld" />
        <result column="yl_goods_id_update_time" property="ylGoodsIdUpdateTime" />
        <result column="goods_name" property="goodsName" />
        <result column="goods_specification" property="goodsSpecification" />
        <result column="reward_type" property="rewardType" />
        <result column="threshold_count" property="thresholdCount" />
        <result column="reward_amount" property="rewardAmount" />
        <result column="reward_percentage" property="rewardPercentage" />
        <result column="order_source" property="orderSource" />
        <result column="start_time" property="startTime" />
        <result column="end_time" property="endTime" />
        <result column="del_flag" property="delFlag" />
        <result column="create_user" property="createUser" />
        <result column="create_time" property="createTime" />
        <result column="update_user" property="updateUser" />
        <result column="update_time" property="updateTime" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        param_id, param_sub_id, par_type, activity_name, eid, goods_in_sn, yl_goods_id, yl_goods_id_old, yl_goods_id_update_time, goods_name, goods_specification, reward_type, threshold_count, reward_amount, reward_percentage, order_source, start_time, end_time, del_flag, create_user, create_time, update_user, update_time, remark
    </sql>

</mapper>
