<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiling.settlement.report.dao.B2bOrderSyncMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yiling.settlement.report.entity.B2bOrderSyncDO">
    <result column="id" property="id" />
        <result column="seller_eid" property="sellerEid" />
        <result column="buyer_eid" property="buyerEid" />
        <result column="order_id" property="orderId" />
        <result column="order_no" property="orderNo" />
        <result column="detail_id" property="detailId" />
        <result column="order_source" property="orderSource" />
        <result column="order_status" property="orderStatus" />
        <result column="payment_method" property="paymentMethod" />
        <result column="payment_status" property="paymentStatus" />
        <result column="goods_id" property="goodsId" />
        <result column="order_goods_type" property="orderGoodsType" />
        <result column="goods_type" property="goodsType" />
        <result column="goods_name" property="goodsName" />
        <result column="specifications" property="specifications" />
        <result column="license" property="license" />
        <result column="batch_no" property="batchNo" />
        <result column="goods_erp_code" property="goodsErpCode" />
        <result column="goods_manufacturer" property="goodsManufacturer" />
        <result column="expiry_date" property="expiryDate" />
        <result column="goods_quantity" property="goodsQuantity" />
        <result column="delivery_quantity" property="deliveryQuantity" />
        <result column="refund_quantity" property="refundQuantity" />
        <result column="receive_quantity" property="receiveQuantity" />
        <result column="goods_price" property="goodsPrice" />
        <result column="original_price" property="originalPrice" />
        <result column="goods_amount" property="goodsAmount" />
        <result column="discount_amount" property="discountAmount" />
        <result column="discount_percentage" property="discountPercentage" />
        <result column="payment_amount" property="paymentAmount" />
        <result column="activity_type" property="activityType" />
        <result column="activity_describe" property="activityDescribe" />
        <result column="platform_percentage" property="platformPercentage" />
        <result column="platform_amount" property="platformAmount" />
        <result column="shop_percentage" property="shopPercentage" />
        <result column="shop_amount" property="shopAmount" />
        <result column="order_create_time" property="orderCreateTime" />
        <result column="receive_time" property="receiveTime" />
        <result column="report_id" property="reportId" />
        <result column="report_sett_status" property="reportSettStatus" />
        <result column="report_status" property="reportStatus" />
        <result column="identification_status" property="identificationStatus" />
        <result column="abnormal_reason" property="abnormalReason" />
        <result column="abnormal_described" property="abnormalDescribed" />
        <result column="del_flag" property="delFlag" />
        <result column="create_user" property="createUser" />
        <result column="create_time" property="createTime" />
        <result column="update_user" property="updateUser" />
        <result column="update_time" property="updateTime" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        seller_eid, buyer_eid, order_id, order_no, detail_id, order_source, order_status, payment_method, payment_status, goods_id, order_goods_type, goods_type, goods_name, specifications, license, batch_no, goods_erp_code, goods_manufacturer, expiry_date, goods_quantity, delivery_quantity, refund_quantity, receive_quantity, goods_price, original_price, goods_amount, discount_amount, discount_percentage, payment_amount, activity_type, activity_describe, platform_percentage, platform_amount, shop_percentage, shop_amount, order_create_time, receive_time, report_id, report_sett_status, report_status, identification_status, abnormal_reason, abnormal_described, del_flag, create_user, create_time, update_user, update_time, remark
    </sql>

    <select id="queryB2bOrderNoPageList" parameterType="com.yiling.settlement.report.dto.request.QueryOrderSyncPageListRequest" resultType="java.lang.String">
        SELECT
            order_no
        FROM
            report_b2b_order_sync
        WHERE
            del_flag = 0
          <if test="request.filterInvalidOrder != null and request.filterInvalidOrder == 1">
            AND identification_status != 2
          </if>
          <if test="request.sellerEidList != null and request.sellerEidList.size() > 0">
            AND seller_eid IN
            <foreach item="item" index="index" collection="request.sellerEidList"
                     open="(" separator="," close=")">
                #{item}
            </foreach>
          </if>
          <if test="request.startReceiveTime != null">
              AND receive_time &gt;=#{request.startReceiveTime}
          </if>
          <if test="request.endReceiveTime != null">
              AND receive_time &lt;= #{request.endReceiveTime}
          </if>
          <if test="request.reportSettStatus != null and request.reportSettStatus != 0">
              AND report_sett_status = #{request.reportSettStatus}
          </if>
          <if test="request.reportStatusList != null and request.reportStatusList.size() > 0">
            AND report_status IN
            <foreach item="item" index="index" collection="request.reportStatusList"
                     open="(" separator="," close=")">
                #{item}
            </foreach>
          </if>
          <if test="request.identificationStatus != null and request.identificationStatus != 0">
              AND identification_status = #{request.identificationStatus}
          </if>
        GROUP BY
            order_no
    </select>

    <select id="queryB2bSyncKeyPageList" parameterType="com.yiling.settlement.report.dto.request.QueryOrderSyncPageListRequest" resultType="java.lang.Long">
        SELECT
            id
        FROM
            report_b2b_order_sync
        WHERE
            del_flag = 0
          <if test="request.filterInvalidOrder != null and request.filterInvalidOrder == 1">
            AND identification_status != 2
          </if>
          <if test="request.sellerEidList != null and request.sellerEidList.size() > 0">
            AND seller_eid IN
            <foreach item="item" index="index" collection="request.sellerEidList"
                     open="(" separator="," close=")">
                #{item}
            </foreach>
          </if>
          <if test="request.startReceiveTime != null">
              AND receive_time &gt;=#{request.startReceiveTime}
          </if>
          <if test="request.endReceiveTime != null">
              AND receive_time &lt;= #{request.endReceiveTime}
          </if>
          <if test="request.reportSettStatus != null and request.reportSettStatus != 0">
              AND report_sett_status = #{request.reportSettStatus}
          </if>
          <if test="request.reportStatusList != null and request.reportStatusList.size() > 0">
            AND report_status IN
            <foreach item="item" index="index" collection="request.reportStatusList"
                     open="(" separator="," close=")">
                #{item}
            </foreach>
          </if>
          <if test="request.identificationStatus != null and request.identificationStatus != 0">
              AND identification_status = #{request.identificationStatus}
          </if>
    </select>

</mapper>
