.app-container {
  .top-btn {
    position: relative;
    width: 100%;
    font-size: $font-size-large;
    line-height: $font-size-large-lh;
    margin: 40px 0 8px 0;
    color: $font-important-color;
    .right-btn {
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }
  .box-search {
    position: relative;
    &-no-pad {
      padding: 0 !important;
    }
    .el-input {
      width: 220px;
    }
    .search-box {
      position: relative;
      .box {
        margin-bottom: 16px;
        .title {
          font-size: $font-size-large;
          line-height: 22px;
          color: $font-important-color;
          margin-bottom: 8px;
        }
      }
      .el-select {
        width: 220px;
      }
      .bottom-btn {
        position: absolute;
        bottom: 0;
        right: 0;
      }
    }
    .search-btn-box {
      margin-top: 16px;
    }
  }
}