<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiling.bi.company.dao.DimLsflChaincompanyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yiling.bi.company.entity.DimLsflChaincompanyDO">
        <result column="province" property="province" />
        <result column="db_code" property="dbCode" />
        <result column="db_name" property="dbName" />
        <result column="chain_code" property="chainCode" />
        <result column="chain_name" property="chainName" />
        <result column="nka_zb" property="nkaZb" />
        <result column="signed_type" property="signedType" />
        <result column="agreement_type" property="agreementType" />
        <result column="provincech" property="provincech" />
        <result column="hospital_level" property="hospitalLevel" />
        <result column="custom_type" property="customType" />
        <result column="extract_time" property="extractTime" />
        <result column="old_chain_code" property="oldChainCode" />
        <result column="del_level" property="delLevel" />
        <result column="test_mark" property="testMark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        province, db_code, db_name, chain_code, chain_name, nka_zb, signed_type, agreement_type, provincech, hospital_level, custom_type, extract_time, old_chain_code, del_level, test_mark
    </sql>

</mapper>
