<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiling.user.member.dao.EnterpriseMemberMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yiling.user.member.entity.EnterpriseMemberDO">
    <result column="id" property="id" />
        <result column="eid" property="eid" />
        <result column="ename" property="ename" />
        <result column="member_id" property="memberId" />
        <result column="open_time" property="openTime" />
        <result column="start_time" property="startTime" />
        <result column="end_time" property="endTime" />
        <result column="del_flag" property="delFlag" />
        <result column="create_user" property="createUser" />
        <result column="create_time" property="createTime" />
        <result column="update_user" property="updateUser" />
        <result column="update_time" property="updateTime" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        eid, ename, member_id, open_time, start_time, end_time, del_flag, create_user, create_time, update_user, update_time, remark
    </sql>

    <select id="queryEnterpriseMemberPage" resultType="com.yiling.user.member.bo.EnterpriseMemberBO">
        select em.id, em.eid as eid, em.start_time, em.end_time, em.update_user, em.update_time, em.create_user, em.create_time,
               member.id as memberId, member.name as memberName, e.name as ename, e.type, e.license_number,
               e.province_code, e.province_name, e.city_code, e.city_name, e.region_code, e.region_name, e.address, e.contactor, e.contactor_phone
        from b2b_enterprise_member em
            left join enterprise e on em.eid = e.id and e.del_flag = 0
            left join b2b_member member on em.member_id = member.id and member.del_flag = 0
        <where>
            <if test="request.eid != null and request.eid != 0">
                and em.eid = #{request.eid}
            </if>
            <if test="request.ename != null and request.ename != ''">
                and e.name like concat('%',#{request.ename},'%')
            </if>
            <if test="request.type != null and request.type != 0">
                and e.type = #{request.type}
            </if>
            <if test="request.licenseNumber != null and request.licenseNumber != ''">
                and e.license_number like concat('%',#{request.licenseNumber},'%')
            </if>
            <if test="request.provinceCode != null and request.provinceCode != ''">
                and e.province_code = #{request.provinceCode}
            </if>
            <if test="request.cityCode != null and request.cityCode != ''">
                and e.city_code = #{request.cityCode}
            </if>
            <if test="request.regionCode != null and request.regionCode != ''">
                and e.region_code = #{request.regionCode}
            </if>
            <if test="request.contactor != null and request.contactor != ''">
                and e.contactor like concat('%',#{request.contactor},'%')
            </if>
            <if test="request.contactorPhone != null and request.contactorPhone != ''">
                and e.contactor_phone like concat('%',#{request.contactorPhone},'%')
            </if>
            <if test="request.status != null and request.status != 0">
                <if test="request.status == 1">
                    and em.end_time <![CDATA[ > ]]> now()
                </if>
                <if test="request.status == 2">
                    and em.end_time <![CDATA[ < ]]> now()
                </if>
            </if>
            <if test="request.memberIdList != null and request.memberIdList.size() > 0">
                and member.id in
                <foreach item="item" index="index" collection="request.memberIdList"
                         open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            and em.del_flag = 0
        </where>
        order by e.id desc
    </select>

</mapper>
