<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiling.cms.evaluate.dao.HealthEvaluateResultMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yiling.cms.evaluate.entity.HealthEvaluateResultDO">
    <result column="id" property="id" />
        <result column="health_evaluate_id" property="healthEvaluateId" />
        <result column="result_rank" property="resultRank" />
        <result column="score_start_type" property="scoreStartType" />
        <result column="score_start" property="scoreStart" />
        <result column="score_end_type" property="scoreEndType" />
        <result column="score_end" property="scoreEnd" />
        <result column="evaluate_result" property="evaluateResult" />
        <result column="result_desc" property="resultDesc" />
        <result column="health_tip" property="healthTip" />
        <result column="create_user" property="createUser" />
        <result column="create_time" property="createTime" />
        <result column="update_user" property="updateUser" />
        <result column="update_time" property="updateTime" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        health_evaluate_id, result_rank, score_start_type, score_start, score_end_type, score_end, evaluate_result, result_desc, health_tip, create_user, create_time, update_user, update_time, remark
    </sql>

</mapper>
