<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiling.cms.evaluate.dao.HealthEvaluateQuestionBlankMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yiling.cms.evaluate.entity.HealthEvaluateQuestionBlankDO">
    <result column="id" property="id" />
        <result column="health_evaluate_id" property="healthEvaluateId" />
        <result column="health_evaluate_question_id" property="healthEvaluateQuestionId" />
        <result column="blank_type" property="blankType" />
        <result column="if_decimal" property="ifDecimal" />
        <result column="if_unit" property="ifUnit" />
        <result column="unit" property="unit" />
        <result column="create_user" property="createUser" />
        <result column="create_time" property="createTime" />
        <result column="update_user" property="updateUser" />
        <result column="update_time" property="updateTime" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        health_evaluate_id, health_evaluate_question_id, blank_type, if_decimal, if_unit, unit, create_user, create_time, update_user, update_time, remark
    </sql>

</mapper>
