<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiling.payment.basic.dao.BankMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yiling.payment.basic.entity.BankDO">
    <result column="id" property="id" />
        <result column="head_name" property="headName" />
        <result column="head_simple_name" property="headSimpleName" />
        <result column="head_code" property="headCode" />
        <result column="head_num" property="headNum" />
        <result column="branch_name" property="branchName" />
        <result column="branch_num" property="branchNum" />
        <result column="type" property="type" />
        <result column="province_code" property="provinceCode" />
        <result column="province_name" property="provinceName" />
        <result column="city_code" property="cityCode" />
        <result column="city_name" property="cityName" />
        <result column="del_flag" property="delFlag" />
        <result column="create_time" property="createTime" />
        <result column="create_user" property="createUser" />
        <result column="update_time" property="updateTime" />
        <result column="update_user" property="updateUser" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        head_name, head_simple_name, head_code, head_num, branch_name, branch_num, type, province_code, province_name, city_code, city_name, del_flag, create_time, create_user, update_time, update_user, remark
    </sql>

</mapper>
