<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiling.cms.content.dao.IHPatientContentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yiling.cms.content.entity.IHPatientContentDO">
        <result column="id" property="id" />
        <result column="content_id" property="contentId" />
        <result column="line_id" property="lineId" />
        <result column="module_id" property="moduleId" />
        <result column="category_id" property="categoryId" />
        <result column="category_rank" property="categoryRank" />
        <result column="view" property="view" />
        <result column="like_count" property="likeCount" />
        <result column="top_flag" property="topFlag" />
        <result column="del_flag" property="delFlag" />
        <result column="create_user" property="createUser" />
        <result column="create_time" property="createTime" />
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="remark" property="remark"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        content_id, line_id, module_id, category_id, category_rank, view, like_count, top_flag, del_flag, create_user, create_time, update_user, update_time, remark
    </sql>
    <sql id="listContentPageColumn">
        content.id id,content.title title,content.cover cover,content.status status,content.page_view view,content.like_count likeCount,
	    content.doc_id doctorId,content.create_user createUser,content.create_time creatTime,content.update_time updateTime
    </sql>

    <select id="listContentPageBySql" resultType="com.yiling.cms.content.dto.IHPatientContentPageDTO">
        SELECT
        <include refid="listContentPageColumn"/>
        FROM
        cms_content content
        WHERE
        content.del_flag = 0
        AND EXISTS (
        SELECT 1 FROM cms_ih_patient_content patient WHERE content.id = patient.content_id AND patient.del_flag = 0 AND patient.line_id = 3
        <if test="request.moduleId != null">
            and patient.module_id = #{request.moduleId}
        </if>
        <if test="request.categoryId != null">
            and patient.category_id = #{request.categoryId}
        </if>
        )
        <if test="request.contentType != null">
            and content.content_type =#{request.contentType}
        </if>
        <if test="request.title != null and request.title != '' ">
            and content.title like concat('%',#{request.title},'%')
        </if>
        <if test="request.doctorId != null">
            and content.doc_id =#{request.doctorId}
        </if>

        <if test="request.status != null ">
            and content.status =#{request.status}
        </if>
        <if test="request.isOpen != null ">
            and content.is_open =#{request.isOpen}
        </if>
        order by content.create_time desc
    </select>

    <select id="selectIgnoreLogicDelete" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from cms_ih_patient_content
        <where>
            <if test="content.contentId != null ">
                and content_id = #{content.contentId}
            </if>
            <if test="content.lineId != null ">
                and line_id = #{content.lineId}
            </if>
            <if test="content.moduleId != null ">
                and module_id = #{content.moduleId}
            </if>
            <if test="content.categoryId != null ">
                and category_id = #{content.categoryId}
            </if>
            <if test="content.delFlag != null ">
                and del_flag = #{content.delFlag}
            </if>
        </where>
    </select>

    <update id="updateDelFlag">
        update cms_ih_patient_content set del_flag = #{content.delFlag},update_user = #{content.updateUser}, update_time = #{content.updateTime}
        <where>
            <if test="content.contentId != null ">
                and content_id = #{content.contentId}
            </if>
            <if test="content.lineId != null ">
                and line_id = #{content.lineId}
            </if>
            <if test="content.moduleId != null ">
                and module_id = #{content.moduleId}
            </if>
            <if test="content.categoryId != null ">
                and category_id = #{content.categoryId}
            </if>
        </where>
    </update>

    <sql id="homeListContentSql">
         content.id id,patient.module_id moduleId,patient.category_id categoryId,content.title title,content.cover cover,content.create_time creatTime
    </sql>

    <select id="homeListContentPageBySql" resultType="com.yiling.cms.content.dto.IHPatientHomeContentPageDTO">
        SELECT
        content.id id,
        patient.module_id moduleId,
        patient.category_id categoryId,
        content.title title,
        content.cover cover,
        content.create_time creatTime
        FROM
        cms_content content
        INNER JOIN cms_ih_patient_content patient ON content.id = patient.content_id
        <where>
            patient.line_id = 3 and patient.del_flag = 0
            <if test="request.moduleId != null">
                and patient.module_id = #{request.moduleId}
            </if>
            <if test="request.categoryId != null">
                and patient.category_id = #{request.categoryId}
            </if>
            <if test="request.contentType != null">
                and content.content_type =#{request.contentType}
            </if>
            <if test="request.status != null ">
                and content.status =#{request.status}
            </if>
            <if test="request.isOpen != null ">
                and content.is_open =#{request.isOpen}
            </if>
        </where>
        order by patient.category_rank desc,content.create_time desc
    </select>
</mapper>
