@import "~@/common/styles/mixin.scss";
.app-container {
  .common-box {
    .el-input {
      width: 220px;
    }
    .search-box {
      position: relative;
      .box {
        .title {
          font-size: $font-size-large;
          line-height: $font-size-large-lh;
          color: $font-important-color;
          margin-bottom: 8px;
        }
        .send-time{
          width: 100%;
        }
      }
      .el-select {
        width: 220px;
      }
      .bottom-btn {
        position: absolute;
        bottom: 0;
        right: 0;
      }
    }
  }
  .tabs-bar {
    padding-top: 20px;
    ::v-deep .el-tabs__nav-wrap {
      &::after {
        background-color: transparent;
      }
    }
  }
  .table-box {
    .account-info-wrap {
      display: flex;
      justify-content: flex-start;
      .list-col {
        flex: 1;
        padding: 16px;
        min-height: 110px;
        border-right: 1px solid #F2F3F4;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .list-item {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          font-size: $font-size-base;
          font-weight: 400;
          color: $font-title-color;
          line-height: 20px;
          &:not(:last-child) {
            margin-bottom: 8px;
          }
          .list-content {
            color: $font-important-color;
          }
          .tag-box{
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-content: space-between;
            margin-left:13px;
            .tag{
              &:nth-child(1){
                margin:0 0 0 5px;
              }
              margin:0 0 5px 5px;
            }
          }
        }
      }
    }
  }
}