<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiling.search.word.dao.EsBusinessWordMapper">
    <resultMap id="BaseResultMap" type="com.yiling.search.word.entity.EsBusinessWordDO">
        <result column="id" property="id"/>
        <result column="business_id" property="businessId"/>
        <result column="business_type" property="businessType"/>
        <result column="word_type" property="wordType"/>
        <result column="word" property="word"/>
        <result column="split_word" property="splitWord"/>
        <result column="del_flag" property="delFlag"/>
        <result column="create_user" property="createUser"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        id,business_id,business_type,word_type,word,split_word,del_flag,create_user,create_time,update_user,update_time
    </sql>
</mapper>