
.singleChoice {
  .form-item-width ::v-deep .el-form-item__content {
    margin-left: 20px !important;
  }
  .row-option {
    line-height: 30px;
  }
  .col-option {
    height: 80px;
    line-height: 80px;
    padding-top: 20px;
  }
  .item-details {
    display: inline-block;
    cursor: pointer;
    margin-top: 30px;
    .icon_style {
      color: #1790ff;
      font-size: 24px;
    }
  }
  .add-button {
    margin-left: 40px;
  }
}
