@import "~@/common/styles/mixin.scss";

.app-container {
  .top-bar {
    background: $white;
    padding: 16px;
    border-radius: 4px;
    margin-bottom: 16px;
    .header-renative{
      position: relative;
      margin-bottom: 16px;
      .edit-btn{
        position: absolute;
        right: 0;
      }
    }
    .content-box{
      padding: 0 8px;
      .item-img{
        object-fit: contain;
        width: 80px;
        height: 80px;
      }
      .red-text{
        color: #F52922;
      }
      .search-box {
        margin-top: 14px;
        .box {
          .title {
            font-size: $font-size-large;
            line-height: $font-size-large-lh;
            color: $font-important-color;
            margin-bottom: 8px;
            .red-text{
              color: #F52922;
            }
          }
          .el-radio-group{
            width: 100%;
            .el-radio{
              line-height: 36px;
            }
          }
        }
        .el-input {
          width: 220px;
        }
        .el-select {
          width: 220px;
        }
      }
      // 导出、导入按钮
      .down-box {
        width: 100%;
        margin-top: 16px;
        .left-btn{
          float: left;
        }
        .btn {
          float: right;
        }
      }
      .my-buttom{
        background-color: #FF7B17;
        border-color: #FF7B17;
      }
    }
  }

  // 商品添加弹框
  .dialog-content-box-customer{
    padding: 16px;
    height: 850px;
    // 导出、导入按钮
    .down-box {
      width: 100%;
      margin-top: 8px;
      .btn {
        float: right;
      }
    }
    .dialog-content-top {
      .el-input {
        width: 200px;
      }
      .title-view{
        padding: 0 10px;
        height: 40px;
        line-height: 40px;
        font-size: 16px;
        align-items: center;
        justify-content: flex-start;
        display: flex;
        color: $font-important-color;
        font-weight: 600;
        .sign {
          height: 14px;
          width: 2px;
          margin-right: 4px;
          background-color: $primary;
        }
      }
      .search-box {
        margin-bottom: 16px;
        padding: 0 16px;
        position: relative;
        .box {
          .title {
            font-size: $font-size-large;
            line-height: $font-size-large-lh;
            color: $font-important-color;
            margin-bottom: 8px;
          }
        }
        .el-select {
          width: 200px;
        }

      }
    }
    .multi-action {
      display: flex;
      justify-content: flex-end;
    }
  }
  .import-dialog-content{
    height: 100%;
    width: 100%;
    padding: 100px 0;
  }
}
