<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiling.order.article.dao.ArticleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yiling.order.article.entity.ArticleDO">
    <result column="id" property="id" />
        <result column="article_title" property="articleTitle" />
        <result column="article_desc" property="articleDesc" />
        <result column="article_content" property="articleContent" />
        <result column="article_status" property="articleStatus" />
        <result column="create_user" property="createUser" />
        <result column="create_time" property="createTime" />
        <result column="update_user" property="updateUser" />
        <result column="update_time" property="updateTime" />
        <result column="del_flag" property="delFlag" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        article_title, article_desc, article_content, article_status, create_user, create_time, update_user, update_time, del_flag, remark
    </sql>

</mapper>
