.app-container {
  .box-search {
    .search-box {
      position: relative;
      .box {
        margin-bottom: 16px;
        .title {
          font-size: $font-size-large;
          line-height: $font-size-base-lh;
          color: $font-important-color;
          margin-bottom: 8px;
        }
        .el-input {
          width: 260px;
        }
        .el-select {
          width: 260px;
        }
      }
    }
    .search-btn-box {
      margin-top: 16px;
    }
  }
  // 底部表格
  .table-list {
    width: 100%;
    background: #fff;
    padding: 0 16px 10px;
    .session {
      padding: 20px 0 4px;
      font-size: 14px;
      .item-col-color{
        color: #999;
      }
     
    }
    .table-imgs {
      width: 100%;
      min-height: 80px;
    }
    .table-imgs-div {
      width: 46%;
      height: 100%;
      display: inline-block;
      margin-top: 10px;
      font-size: 14px;
      vertical-align: top;
      li {
        list-style: none;
        display: inline-block;
        vertical-align: top;
        margin-right: 10px;
        .el-image {
          width: 60px;
          height: 60px;
          cursor: pointer;
          margin-bottom: 6px;
        }
      }
      .img-bottom {
        padding-top: 10px;
      }
    }
    .table-fail {
      height: 30px;
      line-height: 30px;
      font-size: 14px;
      color: crimson;
      position: relative;
    }
    .table-fail-con {
      width: 80%;
    }
    .synchronization {
      position: absolute;
      top: -6px;
      right: 0;
    }
  }
  // 分页
  .pagin {
    padding: 16px;
  }
  .dialog-conter {
    line-height: 25px;
    padding: 10px 16px;
    color: #666;
    font-size: 14px;
    i {
      color: #FA8C15;
    }
    .dialog-button {
      text-align: right;
      margin-top: 10px;
      padding-top: 10px;
      border-top: 1px solid #f0f0f0;
    }
  }
  .dialog-updata {
    ::v-deep .el-dialog__header .el-dialog__headerbtn{
      display: none;
    }
  }
}