<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiling.user.enterprise.dao.EnterprisePromotionDownloadRecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yiling.user.enterprise.entity.EnterprisePromotionDownloadRecordDO">
    <result column="id" property="id" />
        <result column="promoter_id" property="promoterId" />
        <result column="download_time" property="downloadTime" />
        <result column="del_flag" property="delFlag" />
        <result column="create_user" property="createUser" />
        <result column="create_time" property="createTime" />
        <result column="update_user" property="updateUser" />
        <result column="update_time" property="updateTime" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        promoter_id, download_time, del_flag, create_user, create_time, update_user, update_time, remark
    </sql>

    <select id="queryListPage" resultType="com.yiling.user.enterprise.bo.EnterprisePromotionDownloadRecordBO">
        select dr.id, dr.promoter_id, dr.download_time, e.name as promoterName, e.province_name, e.city_name, e.region_name from enterprise_promotion_download_record dr
            left join enterprise e on dr.promoter_id = e.id and e.del_flag = 0
        <where>
            dr.del_flag = 0
            <if test="request.promoterId != null and request.promoterId != 0">
                and dr.promoter_id = #{request.promoterId}
            </if>
            <if test="request.promoterName != null and request.promoterName != ''">
                and e.name like concat('%',#{request.promoterName},'%')
            </if>
            <if test="request.startDownloadTime != null">
                and dr.download_time <![CDATA[ >= ]]> #{request.startDownloadTime}
            </if>
            <if test="request.endDownloadTime != null">
                and dr.download_time <![CDATA[ <= ]]> #{request.endDownloadTime}
            </if>
            <if test="request.provinceCode != null and request.provinceCode != ''">
                and e.province_code = #{request.provinceCode}
            </if>
            <if test="request.cityCode != null and request.cityCode != ''">
                and e.city_code = #{request.cityCode}
            </if>
            <if test="request.regionCode != null and request.regionCode != ''">
                and e.region_code = #{request.regionCode}
            </if>
        </where>
            order by dr.download_time desc, dr.id desc
    </select>

</mapper>
