<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiling.user.enterprise.dao.EnterpriseCustomerMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yiling.user.enterprise.entity.EnterpriseCustomerDO">
        <result column="id" property="id" />
        <result column="eid" property="eid" />
        <result column="customer_eid" property="customerEid" />
        <result column="customer_name" property="customerName" />
        <result column="customer_code" property="customerCode" />
        <result column="customer_erp_code" property="customerErpCode" />
        <result column="customer_group_id" property="customerGroupId" />
        <result column="source" property="source" />
        <result column="purchase_number" property="purchaseNumber" />
        <result column="last_purchase_time" property="lastPurchaseTime" />
        <result column="del_flag" property="delFlag" />
        <result column="create_user" property="createUser" />
        <result column="create_time" property="createTime" />
        <result column="update_user" property="updateUser" />
        <result column="update_time" property="updateTime" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <select id="pageList" resultMap="BaseResultMap">
        SELECT
        distinct
        <include refid="Base_Column_List"/>
        from enterprise_customer c
        <if test="request.unionFlag != null and request.unionFlag != 0">
            inner join enterprise e on e.id = c.customer_eid and e.del_flag = 0
        </if>
        <if test="request.useLine != null and request.useLine != 0">
            left join enterprise_customer_line l on c.id = l.customer_id
        </if>
        <where>
            <if test="request.eids != null and request.eids.size > 0">
                and c.eid in
                <foreach collection="request.eids" item="eid" separator="," open="(" close=")">
                    ${eid}
                </foreach>
            </if>
            <if test="request.channelIds != null and request.channelIds.size > 0">
                and e.channel_id in
                <foreach collection="request.channelIds" item="channelId" separator="," open="(" close=")">
                    #{channelId}
                </foreach>
            </if>
            <if test="request.customerEids != null and request.customerEids.size > 0">
                and c.customer_eid in
                <foreach collection="request.customerEids " item="customerEid" separator="," open="(" close=")">
                    #{customerEid}
                </foreach>
            </if>
            <if test="request.name != null and request.name != ''">
                and e.name like concat('%',#{request.name},'%')
            </if>
            <if test="request.contactorPhone != null and request.contactorPhone != ''">
                and e.contactor_phone = #{request.contactorPhone}
            </if>
            <if test="request.customerCode != null and request.customerCode != ''">
                and c.customer_code like concat('%',#{request.customerCode},'%')
            </if>
            <if test="request.customerErpCode != null and request.customerErpCode != ''">
                and c.customer_erp_code = #{request.customerErpCode}
            </if>
            <if test="request.customerGroupId != null">
                and c.customer_group_id = #{request.customerGroupId}
            </if>
            <if test="request.provinceCode != null and request.provinceCode != ''">
                and e.province_code = #{request.provinceCode}
            </if>
            <if test="request.cityCode != null and request.cityCode != ''">
                and e.city_code = #{request.cityCode}
            </if>
            <if test="request.regionCode != null and request.regionCode != ''">
                and e.region_code = #{request.regionCode}
            </if>
            <if test="request.licenseNumber != null and request.licenseNumber != ''">
                and e.license_number like concat('%',#{request.licenseNumber},'%')
            </if>
            <if test="request.type != null and request.type != 0">
                and e.type = #{request.type}
            </if>
            <if test="request.dataScope != null and request.dataScope == 1">
                and c.customer_group_id <![CDATA[ <> ]]> 0
            </if>
            <if test="request.dataScope != null and request.dataScope == 2">
                and c.customer_group_id = 0
            </if>
            <if test="request.useLine != null and request.useLine != 0">
                and l.use_line = #{request.useLine}
                and l.del_flag = 0
            </if>
            and c.del_flag = 0
        </where>
        order by id
    </select>

    <sql id="Base_Column_List">
        c.id,
        c.eid, c.customer_eid, c.customer_name, c.customer_code, c.customer_erp_code, c.customer_group_id, c.source, c.purchase_number,c.last_purchase_time,
        c.del_flag, c.create_user, c.create_time, c.update_user, c.update_time, c.remark
    </sql>


    <select id="countGroupCustomers" resultType="com.yiling.user.enterprise.bo.GroupCustomerNumBO">
        select
          customer_group_id as groupId,
          count(1) as customerNum
        from enterprise_customer
        where customer_group_id in (
            <foreach collection="groupIds" item="groupId" separator=",">
                #{groupId}
            </foreach>
        ) and del_flag = 0
        group by customer_group_id
    </select>

    <select id="pageChannelCustomerList" resultType="com.yiling.user.enterprise.bo.ChannelCustomerBO">
        SELECT
            customerEid,
            eids AS eid,
            type,
            licenseNumber,
            customerName,
            address,
            STATUS,
            createTime,
            channelId,
            customerGroupId,
            COUNT( DISTINCT cc.id ) AS customerContactNum,
            COUNT( DISTINCT pr.id ) AS purchaseRelationNum
        FROM
            (
            SELECT
                c.customer_eid AS customerEid,
                c.eid AS eids,
                e.type,
                e.license_number AS licenseNumber,
                e.NAME AS customerName,
                CONCAT_WS( ' ', e.province_name, e.city_name, e.region_name, e.address ) AS address,
                e.STATUS,
                e.create_time AS createTime,
                e.channel_id AS channelId,
                c.customer_group_id AS customerGroupId
            FROM
                enterprise_customer c
                INNER JOIN enterprise e ON e.id = c.customer_eid
                LEFT JOIN enterprise_customer_contact cc ON c.customer_eid = cc.customer_eid
                AND cc.eid = c.eid AND cc.del_flag = 0
                LEFT JOIN `user` u ON cc.contact_user_id = u.id
                LEFT JOIN enterprise_purchase_relation pr ON pr.buyer_eid = c.customer_eid
                AND pr.seller_eid = c.eid AND pr.del_flag = 0
                <if test="request.paymentMethodScope != null and request.paymentMethodScope != 0">
                    LEFT JOIN enterprise_customer_payment_method cpm ON cpm.customer_eid = c.customer_eid
                    AND cpm.eid = c.eid AND cpm.del_flag = 0
                </if>
        <where>
            c.del_flag = 0 and e.del_flag = 0
            and e.type not in (1)
            <if test="request.eid != null ">
                and c.eid = #{request.eid}
            </if>
            <if test="request.name != null and request.name != ''">
                and (e.name like CONCAT('%',#{request.name},'%')
                        or e.id = #{request.name}
                )
            </if>
            <if test="request.type != null and request.type != 0 ">
                and e.type = #{request.type}
            </if>
            <if test="request.provinceCode != null and request.provinceCode != ''">
                and e.province_code = #{request.provinceCode}
            </if>
            <if test="request.cityCode != null and request.cityCode != ''">
                and e.city_code = #{request.cityCode}
            </if>
            <if test="request.regionCode != null and request.regionCode != ''">
                and e.region_code = #{request.regionCode}
            </if>
            <if test="request.licenseNumber != null and request.licenseNumber != ''">
                and e.license_number = #{request.licenseNumber}
            </if>
            <if test="request.paymentMethodScope != null and request.paymentMethodScope == 1">
                and cpm.payment_method_id IS NOT NULL
            </if>
            <if test="request.paymentMethodScope != null and request.paymentMethodScope == 2">
                and cpm.payment_method_id IS NULL
            </if>
            <if test="request.customerContactScope != null and request.customerContactScope == 1">
                and cc.id IS NOT NULL
            </if>
            <if test="request.customerContactScope != null and request.customerContactScope == 2">
                and cc.id IS NULL
            </if>
            <if test="request.channelId != null and request.channelId != 0 ">
                and e.channel_id = #{request.channelId}
            </if>
            <if test="request.customerGroupId != null and request.customerGroupId != ''">
                and c.customer_group_id = #{request.customerGroupId}
            </if>
            <if test="request.contactUserId != null and request.contactUserId != 0 ">
                and cc.contact_user_id = #{request.contactUserId}
            </if>
            ) temp
            LEFT JOIN enterprise_purchase_relation pr ON temp.customerEid = pr.buyer_eid
            AND pr.del_flag = 0
            LEFT JOIN enterprise_customer_contact cc ON temp.customerEid = cc.customer_eid
            AND cc.del_flag = 0
            <if test="request.paymentMethodScope != null and request.paymentMethodScope != 0">
                LEFT JOIN enterprise_customer_payment_method cpm ON temp.customerEid = cpm.customer_eid
                AND cpm.del_flag = 0
            </if>
            <where>
                <if test="request.purchaseRelationScope != null and request.purchaseRelationScope == 1">
                    and pr.id IS NOT NULL
                </if>
                <if test="request.purchaseRelationScope != null and request.purchaseRelationScope == 2">
                    and pr.id IS NULL
                </if>
            </where>
        </where>
            GROUP BY customerEid,eids, customerGroupId
            ORDER BY
                CASE COUNT( DISTINCT pr.id )
                    WHEN 0 THEN 1 ELSE 2 END, createTime DESC ,
                <if test="request.paymentMethodScope != null and request.paymentMethodScope != 0">
                    CASE COUNT( DISTINCT cpm.id )
                    WHEN 0 THEN 1 ELSE 2 END, createTime DESC ,
                </if>
                CASE COUNT( DISTINCT cc.id )
                    WHEN 0 THEN 1 ELSE 2 END, createTime DESC
    </select>

    <select id="getChannelCustomer" resultType="com.yiling.user.enterprise.bo.ChannelCustomerBO">
        SELECT e.id AS eid,e.name AS customerName,
        e.auth_status AS authStatus,
        CONCAT_WS(' ',e.province_name,e.city_name,e.region_name, e.address) AS address,
        e.`type`,
        e.license_number AS licenseNumber,
        e.channel_id AS channelId,
        c.customer_group_id AS customerGroupId
        FROM enterprise_customer c
        INNER JOIN enterprise e ON e.id = c.customer_eid
        <where>
            <if test="request.eids != null and request.eids.size > 0">
                and c.eid in
                <foreach collection="request.eids" item="eid" separator="," open="(" close=")">
                    ${eid}
                </foreach>
            </if>
            <if test="request.customerEid != null and request.customerEid != ''">
                and c.customer_eid = #{request.customerEid}
            </if>
            and c.del_flag = 0 and e.del_flag = 0
        </where>
    </select>

    <select id="queryCustomerPageListByContact" resultType="com.yiling.user.enterprise.entity.EnterpriseDO">
        SELECT e.id ,e.name ,
               CONCAT_WS(' ',e.province_name,e.city_name,e.region_name, e.address) AS address,
               e.contactor , e.contactor_phone
        FROM enterprise_customer_contact c
        INNER JOIN enterprise e ON e.id = c.customer_eid
        <where>
            <if test="request.contactUserId != null and request.contactUserId != 0">
                c.contact_user_id = #{request.contactUserId}
            </if>
            <if test="request.customerName != null and request.customerName != ''">
                and (e.name like CONCAT('%',#{request.customerName},'%')
                    or e.contactor like CONCAT('%',#{request.customerName},'%')
                )
            </if>
            and e.del_flag = 0 and c.del_flag = 0
        </where>
    </select>
    <select id="getEidListByCustomerEid" resultType="java.lang.Long">
        select c.eid
        from enterprise_customer c
        <if test="request.line != null and request.line != 0">
            left join enterprise_customer_line l on c.id = l.customer_id and l.del_flag = 0
        </if>
        <where>
            c.del_flag = 0
            and c.customer_eid = #{request.customerEid}
            <if test="request.line != null and request.line != 0">
                and l.use_line = #{request.line}
            </if>
        </where>
        ORDER BY c.last_purchase_time DESC,c.create_time ASC
        <if test="request.limit != null and request.limit != 0">
            LIMIT #{request.limit}
        </if>
    </select>

</mapper>
