<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiling.user.enterprise.dao.EnterprisePurchaseRelationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yiling.user.enterprise.entity.EnterprisePurchaseRelationDO">
        <result column="id" property="id"/>
        <result column="buyer_eid" property="buyerEid"/>
        <result column="seller_eid" property="sellerEid"/>
        <result column="source" property="source"/>
        <result column="del_flag" property="delFlag"/>
        <result column="create_user" property="createUser"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="remark" property="remark"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id
        ,
        buyer_eid, seller_eid, source, del_flag, create_user, create_time, update_user, update_time, remark
    </sql>
    <select id="pageList" resultType="com.yiling.user.enterprise.bo.PurchaseRelationBO">
        SELECT e.name,
        e.short_name as shortName,
        CONCAT_WS(' ',e.province_name,e.city_name,e.region_name, e.address) AS address,
        epr.seller_eid as sellerEid,
        epr.buyer_eid as buyerEid,
        e.channel_id as sellerChannelId
        FROM enterprise_purchase_relation epr
        INNER JOIN enterprise e ON e.id = epr.seller_eid
        WHERE epr.del_flag = 0 AND e.del_flag = 0
        <if test="request.buyerEid != null and request.buyerEid != 0">
            and epr.buyer_eid = #{request.buyerEid}
        </if>
        <if test="request.sellerChannelId != null and request.sellerChannelId != 0">
            AND e.channel_id = #{request.sellerChannelId}
        </if>
        <if test="request.authStatus != null and request.authStatus != 0">
            AND e.auth_status = #{request.authStatus}
        </if>
        <if test="request.status != null and request.status != 0">
            AND e.status = #{request.status}
        </if>
    </select>


    <select id="pageListOrderByOrderTime" resultType="com.yiling.user.enterprise.bo.PurchaseRelationBO">
        SELECT e.name,
        e.short_name as shortName,
        CONCAT_WS(' ',e.province_name,e.city_name,e.region_name, e.address) AS address,
        epr.seller_eid as sellerEid,
        epr.buyer_eid as buyerEid,
        e.channel_id as sellerChannelId
        FROM enterprise_purchase_relation epr
        INNER JOIN enterprise e ON e.id = epr.seller_eid
        WHERE epr.del_flag = 0 AND e.del_flag = 0
        AND EXISTS (
        SELECT 1 FROM enterprise_channel_purchase_relation ecpr
        WHERE ecpr.seller_channel_id = e.channel_id AND ecpr.del_flag = 0
        <if test="request.sellerChannelId != null and request.sellerChannelId != ''">
            and ecpr.seller_channel_id = #{request.sellerChannelId}
        </if>
        )
        <if test="request.buyerEid != null and request.buyerEid != ''">
            and epr.buyer_eid = #{request.buyerEid}
        </if>
        <if test="request.authStatus != null and request.authStatus != ''">
            AND e.auth_status = #{request.authStatus}
        </if>
        <if test="request.status != null and request.status != ''">
            AND e.status = #{request.status}
        </if>
    </select>


    <select id="canPurchaseEnterprisePageList"
            resultType="com.yiling.user.enterprise.bo.PurchaseRelationBO">
        SELECT e.id AS sellerEid,
        e.`name`,
        e.short_name AS shortName,
        CONCAT_WS(' ',e.province_name,e.city_name,e.region_name, e.address) AS address,
        ecpr.buyer_channel_id AS buyerChannelId,
        ecpr.seller_channel_id AS sellerChannelId
        FROM enterprise_channel_purchase_relation ecpr
        INNER JOIN enterprise e ON e.channel_id = ecpr.seller_channel_id
        WHERE ecpr.del_flag = 0 AND e.del_flag = 0
        <if test="request.buyerChannelId != null and request.buyerChannelId != ''">
            AND ecpr.buyer_channel_id = #{request.buyerChannelId}
        </if>
        <if test="request.sellerChannelId != null and request.sellerChannelId != ''">
            AND ecpr.seller_channel_id = #{request.sellerChannelId}
        </if>
        <if test="request.sellerName != null and request.sellerName != ''">
            AND e.name like CONCAT('%',#{request.sellerName},'%')
        </if>
        <if test="request.authStatus != null and request.authStatus != ''">
            AND e.auth_status = #{request.authStatus}
        </if>
        <if test="request.status != null and request.status != ''">
            AND e.status = #{request.status}
        </if>

    </select>
    <select id="countSellerChannel" resultType="com.yiling.user.enterprise.bo.CountSellerChannelBO">
        SELECT COUNT(1) AS channelNum,
        e.channel_id AS channelId
        FROM enterprise_purchase_relation epr
        INNER JOIN enterprise e ON e.id = epr.seller_eid
        WHERE epr.del_flag = 0 AND e.del_flag = 0
        <if test="request.buyerEid != null and request.buyerEid != ''">
            and epr.buyer_eid = #{request.buyerEid}
        </if>
        <if test="request.authStatus != null and request.authStatus != ''">
            AND e.auth_status = #{request.authStatus}
        </if>
        <if test="request.status != null and request.status != ''">
            AND e.status = #{request.status}
        </if>
        GROUP BY e.channel_id
    </select>

</mapper>
