<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiling.user.enterprise.dao.EnterpriseMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yiling.user.enterprise.entity.EnterpriseDO">
    <result column="id" property="id" />
        <result column="name" property="name" />
        <result column="short_name" property="shortName" />
        <result column="logo" property="logo" />
        <result column="code" property="code" />
        <result column="erp_code" property="erpCode" />
        <result column="legal" property="legal" />
        <result column="legal_id_number" property="legalIdNumber" />
        <result column="legal_attorney" property="legalAttorney" />
        <result column="contactor" property="contactor" />
        <result column="contactor_phone" property="contactorPhone" />
        <result column="license_number" property="licenseNumber" />
        <result column="province_code" property="provinceCode" />
        <result column="province_name" property="provinceName" />
        <result column="city_code" property="cityCode" />
        <result column="city_name" property="cityName" />
        <result column="region_code" property="regionCode" />
        <result column="region_name" property="regionName" />
        <result column="address" property="address" />
        <result column="parent_id" property="parentId" />
        <result column="channel_id" property="channelId" />
        <result column="type" property="type" />
        <result column="source" property="source" />
        <result column="auth_status" property="authStatus" />
        <result column="auth_user" property="authUser" />
        <result column="auth_time" property="authTime" />
        <result column="status" property="status" />
        <result column="erp_sync_flag" property="erpSyncFlag" />
        <result column="erp_sync_level" property="erpSyncLevel" />
        <result column="handle_type" property="handleType" />
        <result column="like_value" property="likeValue" />
        <result column="hmc_type" property="hmcType" />
        <result column="del_flag" property="delFlag" />
        <result column="create_user" property="createUser" />
        <result column="create_time" property="createTime" />
        <result column="update_user" property="updateUser" />
        <result column="update_time" property="updateTime" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <select id="pageList" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from enterprise e
        <if test="request.tagIds != null and request.tagIds.size > 0">
            inner join enterprise_tag_rel t on t.eid = e.id and t.del_flag = 0
        </if>
        <if test="request.mallFlag != null or request.popFlag != null">
            left join enterprise_platform p on p.eid = e.id and p.del_flag = 0
        </if>

        <where>
                e.del_flag = 0
            <if test="request.ids != null and request.ids.size > 0">
                and e.id in (
                <foreach collection="request.ids" item="id" separator=",">
                    #{id}
                </foreach>
                )
            </if>
            <if test="request.notInIds != null and request.notInIds.size > 0">
                and e.id not in (
                <foreach collection="request.notInIds" item="id" separator=",">
                    #{id}
                </foreach>
                )
            </if>
            <if test="request.id != null and request.id != 0">
                and e.id = #{request.id}
            </if>
            <if test="request.name != null and request.name != ''">
                and e.name like concat('%',#{request.name},'%')
            </if>
            <if test="request.contactor != null and request.contactor != ''">
                and e.contactor like concat('%',#{request.contactor},'%')
            </if>
            <if test="request.contactorPhone != null and request.contactorPhone != ''">
                and e.contactor_phone = #{request.contactorPhone}
            </if>
            <if test="request.licenseNumber != null and request.licenseNumber != ''">
                and e.license_number = #{request.licenseNumber}
            </if>
            <if test="request.provinceCode != null and request.provinceCode != ''">
                and e.province_code = #{request.provinceCode}
            </if>
            <if test="request.cityCode != null and request.cityCode != ''">
                and e.city_code = #{request.cityCode}
            </if>
            <if test="request.regionCode != null and request.regionCode != ''">
                and e.region_code = #{request.regionCode}
            </if>
            <if test="request.type != null and request.type != 0">
                and e.type = #{request.type}
            </if>
            <if test="request.status != null and request.status != 0">
                and e.status = #{request.status}
            </if>
            <if test="request.authStatus != null and request.authStatus != 0">
                and e.auth_status = #{request.authStatus}
            </if>
            <if test="request.handleType != null and request.handleType != 0">
                and e.handle_type= #{request.handleType}
            </if>
            <if test="request.channelIdList != null and request.channelIdList.size > 0">
                and e.channel_id in (
                <foreach collection="request.channelIdList" item="channelId" separator=",">
                    #{channelId}
                </foreach>
                )
            </if>
            <if test="request.erpSyncLevelList != null and request.erpSyncLevelList.size > 0">
                and e.erp_sync_level in (
                <foreach collection="request.erpSyncLevelList" item="level" separator=",">
                    #{level}
                </foreach>
                )
            </if>
            <if test="request.notInTypeList != null and request.notInTypeList.size > 0">
                and e.type not in (
                <foreach collection="request.notInTypeList" item="type" separator=",">
                    #{type}
                </foreach>
                )
            </if>
            <if test="request.inTypeList != null and request.inTypeList.size > 0">
                and e.type in (
                <foreach collection="request.inTypeList" item="type" separator=",">
                    #{type}
                </foreach>
                )
            </if>
            <if test="request.hmcType != null">
                and e.hmc_type = #{request.hmcType}
            </if>
            <if test="request.tagIds != null and request.tagIds.size > 0">
                and t.tag_id in (
                <foreach collection="request.tagIds" item="tagId" separator=",">
                    #{tagId}
                </foreach>
                )
            </if>
            <if test="request.mallFlag != null">
                and p.mall_flag = #{request.mallFlag}
            </if>
            <if test="request.popFlag != null">
                and p.pop_flag = #{request.popFlag}
            </if>
        </where>
        <if test="request.name != null and request.name != '' ">
            ORDER BY CHAR_LENGTH(e.name),e.name
        </if>
    </select>

    <!-- 企业列表 -->
    <sql id="Base_Column_List">
        <if test="request.tagIds != null and request.tagIds.size > 0">
        distinct
        </if>
        e.id,
        e.name, e.short_name, e.logo, e.code, e.erp_code, e.legal, e.legal_id_number, e.legal_attorney, e.contactor, e.contactor_phone, e.license_number,
        e.province_code, e.province_name, e.city_code, e.city_name, e.region_code, e.region_name, e.address,
        e.parent_id, e.channel_id, e.type, e.source, e.auth_status, e.auth_user, e.auth_time,
        e.status, e.erp_sync_flag, e.erp_sync_level, e.hmc_type, e.del_flag, e.create_user, e.create_time, e.update_user, e.update_time, e.remark
    </sql>

    <!-- 企业数量统计 -->
    <select id="quantityStatistics" resultType="com.yiling.user.enterprise.bo.EnterpriseStatisticsBO">
        select
            count(1) as totalCount,
            sum(if(status = 1, 1, 0)) as enabledCount,
            sum(if(status = 2, 1, 0)) as disabledCount,
            sum(if(type = 1, 1, 0)) as industryCount,
            sum(if(type = 2, 1, 0)) as businessCount,
            sum(if(type > 2, 1, 0)) as terminalCount,
            sum(if(type = 3, 1, 0)) as chainBaseCount,
            sum(if(type = 4, 1, 0)) as chainDirectCount,
            sum(if(type = 5, 1, 0)) as chainJoinCount,
            sum(if(type = 6, 1, 0)) as pharmacyCount,
            sum(if(type = 7, 1, 0)) as hospitalCount,
            sum(if(type = 8, 1, 0)) as clinicCount,
            sum(if(type = 9, 1, 0)) as privateHospitalCount,
            sum(if(type = 10, 1, 0)) as level3HospitalCount,
            sum(if(type = 11, 1, 0)) as level2HospitalCount,
            sum(if(type = 12, 1, 0)) as communityCenterCount,
            sum(if(type = 13, 1, 0)) as healthCenterCount,
            sum(if(type = 14, 1, 0)) as communityStationCount,
            sum(if(type = 15, 1, 0)) as peopleHospitalCount
        from enterprise
        where del_flag = 0
    </select>

    <select id="myCustomerPageList" resultType="com.yiling.user.enterprise.entity.EnterpriseDO">
        SELECT
                enter.id as id,
                enter.name,
                enter.contactor,
                enter.contactor_phone as contactorPhone,
                enter.province_name as provinceName,
                enter.city_name as cityName,
                enter.region_name as regionName,
                enter.address,
                enter.logo as logo,
                enter.license_number as licenseNumber
        FROM
            enterprise_customer_contact ecc
            INNER JOIN enterprise enter
            ON ecc.customer_eid = enter.id AND ecc.del_flag = 0 AND enter.del_flag = 0 AND enter.status = 1
        WHERE ecc.contact_user_id = #{request.contactUserId}
        <if test="request.eid != null and request.eid != '' ">
            and ecc.eid = #{request.eid}
        </if>
        <if test="request.nameOrPhone != null and request.nameOrPhone != '' ">
            and (enter.contactor_phone like concat('%',#{request.nameOrPhone},'%') or enter.name like concat('%',#{request.nameOrPhone},'%')
                    or enter.contactor like concat('%',#{request.nameOrPhone},'%')
                )
        </if>
        <if test="request.status != null ">
            and enter.auth_status = #{request.status}
        </if>
        <if test="request.licenseNumberList != null and request.licenseNumberList.size > 0">
            and enter.license_number not in
            <foreach item="item" index="index" collection="request.licenseNumberList"
                     open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
    </select>


</mapper>
