<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiling.dataflow.order.dao.FlowPurchaseInventoryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yiling.dataflow.order.entity.FlowPurchaseInventoryDO">
    <result column="id" property="id" />
        <result column="eid" property="eid" />
        <result column="ename" property="ename" />
        <result column="goods_name" property="goodsName" />
        <result column="goods_in_sn" property="goodsInSn" />
        <result column="goods_specifications" property="goodsSpecifications" />
        <result column="yl_goods_id" property="ylGoodsId" />
        <result column="po_quantity" property="poQuantity" />
        <result column="po_source" property="poSource" />
        <result column="total_po_quantity" property="totalPoQuantity" />
        <result column="del_flag" property="delFlag" />
        <result column="create_user" property="createUser" />
        <result column="create_time" property="createTime" />
        <result column="update_user" property="updateUser" />
        <result column="update_time" property="updateTime" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        eid, ename, goods_name, goods_in_sn, goods_specifications, yl_goods_id, po_quantity, po_source, total_po_quantity, del_flag, create_user, create_time, update_user, update_time, remark
    </sql>

    <sql id="Base_Table_Name">
        `flow_purchase_inventory`
    </sql>

    <update id="updateQuantityById">
        UPDATE <include refid="Base_Table_Name"/>
        SET po_quantity = po_quantity + (#{poQuantity}), update_user = #{opUserId}, update_time = #{opTime}
        WHERE del_flag = 0 AND id = #{id} AND po_quantity + (#{poQuantity}) >= 0;
    </update>

    <select id="getListByEidAndYlGoodsIdAndGoodsInSn" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM <include refid="Base_Table_Name"/>
        WHERE del_flag = 0
        <if test="requestList == null or requestList.size() == 0">
          AND 1 != 1
        </if>
        <if test="requestList != null and requestList.size() > 0">
            AND
            <foreach item="item" index="index" collection="requestList" open="(" separator="OR" close=")">
                (eid = #{item.eid} AND yl_goods_id = #{item.ylGoodsId} AND goods_in_sn = #{item.goodsInSn}
                <if test="item.poSource != null and item.poSource != 0">
                    AND po_source = #{item.poSource}
                </if>
                )
            </foreach>
        </if>
    </select>

    <select id="listPage" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM <include refid="Base_Table_Name"/>
        WHERE del_flag = 0
        AND po_source IN (1,2)
        <if test="request.eid != null">
            AND eid = #{request.eid}
        </if>
        <if test="request.ylGoodsId != null">
            AND yl_goods_id = #{request.ylGoodsId}
        </if>
    </select>

</mapper>
