<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiling.sales.assistant.task.dao.AccompanyingBillMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yiling.sales.assistant.task.entity.AccompanyingBillDO">
    <result column="id" property="id" />
        <result column="doc_code" property="docCode" />
        <result column="upload_time" property="uploadTime" />
        <result column="distributor_eid" property="distributorEid" />
        <result column="last_upload_time" property="lastUploadTime" />
        <result column="audit_time" property="auditTime" />
        <result column="audit_user_id" property="auditUserId" />
        <result column="accompanying_bill_pic" property="accompanyingBillPic" />
        <result column="audit_status" property="auditStatus" />
        <result column="rejection_reason" property="rejectionReason" />
        <result column="del_flag" property="delFlag" />
        <result column="create_user" property="createUser" />
        <result column="create_time" property="createTime" />
        <result column="update_user" property="updateUser" />
        <result column="update_time" property="updateTime" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        doc_code, upload_time, distributor_eid, last_upload_time, audit_time, audit_user_id, accompanying_bill_pic, audit_status, rejection_reason, del_flag, create_user, create_time, update_user, update_time, remark
    </sql>

</mapper>
