<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiling.sales.assistant.task.dao.MatchDetailMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yiling.sales.assistant.task.entity.MatchDetailDO">
    <result column="id" property="id" />
        <result column="goods_id" property="goodsId" />
        <result column="yl_goods_id" property="ylGoodsId" />
        <result column="accompanying_bill_id" property="accompanyingBillId" />
        <result column="sell_specifications_id" property="sellSpecificationsId" />
        <result column="yl_goods_name" property="ylGoodsName" />
        <result column="yl_goods_specifications" property="ylGoodsSpecifications" />
        <result column="out_date" property="outDate" />
        <result column="batch_no" property="batchNo" />
        <result column="price" property="price" />
        <result column="quantity" property="quantity" />
        <result column="del_flag" property="delFlag" />
        <result column="create_user" property="createUser" />
        <result column="create_time" property="createTime" />
        <result column="update_user" property="updateUser" />
        <result column="update_time" property="updateTime" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        goods_id, yl_goods_id, accompanying_bill_id, sell_specifications_id, yl_goods_name, yl_goods_specifications, out_date, batch_no, price, quantity, del_flag, create_user, create_time, update_user, update_time, remark
    </sql>

</mapper>
