<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiling.sales.assistant.task.dao.TaskCustomerCountMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yiling.sales.assistant.task.entity.TaskCustomerCountDO">
    <result column="id" property="id" />
        <result column="user_task_id" property="userTaskId" />
        <result column="task_id" property="taskId" />
        <result column="customer_eid" property="customerEid" />
        <result column="user_id" property="userId" />
        <result column="total_purchase_amount" property="totalPurchaseAmount" />
        <result column="del_flag" property="delFlag" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="invitee_user_id" property="inviteeUserId" />


    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        user_task_id, task_id, customer_eid, user_id, total_purchase_amount, del_flag, create_time, update_time,invitee_user_id
    </sql>

</mapper>
