<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiling.sales.assistant.task.dao.UserSelectedTerminalMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yiling.sales.assistant.task.entity.UserSelectedTerminalDO">
    <result column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="task_id" property="taskId" />
        <result column="terminal_id" property="terminalId" />
        <result column="user_customer_id" property="userCustomerId" />
        <result column="terminal_name" property="terminalName" />
        <result column="terminal_address" property="terminalAddress" />
        <result column="finish_trade" property="finishTrade" />
        <result column="del_flag" property="delFlag" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="trade_times" property="tradeTimes" />
        <result column="user_task_id" property="userTaskId" />
        <result column="released" property="released" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        user_id, task_id, terminal_id, terminal_name, terminal_address, finish_trade, del_flag, create_time, update_time, trade_times, user_task_id, released,user_customer_id
    </sql>

</mapper>
