<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiling.pricing.goods.dao.GoodsPriceCustomerMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yiling.pricing.goods.entity.GoodsPriceCustomerDO">
    <result column="id" property="id" />
        <result column="eid" property="eid" />
        <result column="customer_eid" property="customerEid" />
        <result column="goods_id" property="goodsId" />
        <result column="price_rule" property="priceRule" />
        <result column="price_value" property="priceValue" />
        <result column="del_flag" property="delFlag" />
        <result column="create_user" property="createUser" />
        <result column="create_time" property="createTime" />
        <result column="update_user" property="updateUser" />
        <result column="update_time" property="updateTime" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        eid, customer_eid, goods_id, price_rule, price_value, del_flag, create_user, create_time, update_user, update_time, remark
    </sql>
    <select id="countGoodsCustomerPrice" resultType="com.yiling.pricing.goods.bo.CountGoodsPriceBO">
        SELECT temp.goods_id AS goodsId, MIN(temp.priceRule) AS minPrice, MAX(temp.priceRule) AS maxPrice, COUNT(1) AS itemNum
        FROM (
             SELECT pc.goods_id, pc.eid, CONVERT(IF(pc.price_rule = 1, g.price*(1+pc.price_value/100), pc.price_value),decimal(10,2)) AS priceRule
             FROM goods_price_customer pc
             INNER JOIN goods g ON pc.goods_id = g.id
             WHERE pc.del_flag = 0 AND g.del_flag = 0
                and pc.goods_line=#{goodsLine}
        ) temp
        WHERE temp.goods_id IN
        <foreach item="item" index="index" collection="goodsIds"
                 open="(" separator="," close=")">
            #{item}
        </foreach>
        GROUP BY temp.goods_id
    </select>

</mapper>
