.app-container {
  .common-box {
    .search-box {
      position: relative;
      .box {
        .title {
          font-size: $font-size-large;
          line-height: $font-size-large-lh;
          color: $font-important-color;
          margin-bottom: 8px;
        }
      }
      .el-select {
        width: 220px;
      }
      .el-input {
        width: 220px;
      }
      .bottom-btn {
        position: absolute;
        bottom: 0;
        right: 0;
      }
    }
  }
  .down-box {
    width: 100%;
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .time-form {
    display: flex;
    .line {
      width: 50px;
      height: 36px;
      line-height: 36px;
      margin: 0 10px;
    }
  }
  .dialog-content {
    .rebate-box {
      .rebate-item {
        margin-bottom: 16px;
      }
    }
    .el-form {
      .el-form-item {
        ::v-deep .el-form-item__label {
          font-weight: 400;
        }
        .el-select {
          width: 260px;
        }
        .el-input {
          width: 260px;
        }
      }
    }
  }
  .pad-b-100 {
    padding-bottom: 80px;
  }
}
