<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiling.export.excel.dao.ExcelTaskRecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yiling.export.excel.entity.ExcelTaskRecordDO">
    <result column="id" property="id" />
        <result column="task_config_id" property="taskConfigId" />
        <result column="eid" property="eid" />
        <result column="title" property="title" />
        <result column="request_url" property="requestUrl" />
        <result column="result_url" property="resultUrl" />
        <result column="class_name" property="className" />
        <result column="verify_handler_bean_name" property="verifyHandlerBeanName" />
        <result column="import_data_handler_bean_name" property="importDataHandlerBeanName" />
        <result column="model_class" property="modelClass" />
        <result column="menu_name" property="menuName" />
        <result column="status" property="status" />
        <result column="file_name" property="fileName" />
        <result column="source" property="source" />
        <result column="export_ip" property="exportIp" />
        <result column="finish_time" property="finishTime" />
        <result column="success_number" property="successNumber" />
        <result column="fail_number" property="failNumber" />
        <result column="del_flag" property="delFlag" />
        <result column="create_user" property="createUser" />
        <result column="create_time" property="createTime" />
        <result column="update_user" property="updateUser" />
        <result column="update_time" property="updateTime" />
        <result column="remark" property="remark" />
        <result column="param" property="param"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        task_config_id, eid, group_name, request_url, result_url, class_name, verify_handler_bean_name, import_data_handler_bean_name, model_class, menu_name, status, file_name, source, export_ip, finish_time, success_number, fail_number, del_flag, create_user, create_time, update_user, update_time, remark, param
    </sql>

    <update id="updateExcelTaskRecord">
        update excel_task_record set status=#{status,jdbcType=INTEGER} where id=#{id,jdbcType=BIGINT} and status=#{oldStatus,jdbcType=INTEGER}
    </update>

</mapper>
