.login-container {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  .login-box {
    width: 100vw;
    position: relative;
    height: calc(100vh - 87px);
    background: $back-color;
    .main-view {
      width: 1084px;
      height: 100%;
      margin: 0 auto;
      background: $white;
      .step-box {
        padding: 96px 109px 63px 110px;
        font-size: 16px;
        font-weight: 400;
        color: #333333;
      }
      .btn-1 {
        width: 152px;
        margin-top: 26px;
      }
      .btn-2 {
        width: 152px;
        margin-top: 50px;
      }
    }
  }
  .top-box {
    width: 100%;
    height: 87px;
    background: #FFFFFF;
    img {
      width: 230px;
      height: 41px;
      margin: 23px 183px;
    }
  }
  .content-box {
    padding-top: 24px;
    color: $font-important-color !important;

    .form-1 {
      .el-input {
        flex: 1;
      }
    }
    .form-2 {
      .el-input {
        width: 197px;
      }
    }
    .form-3 {
      .el-input {
        width: 329px;
      }
    }
    .show-pwd {
      cursor: pointer;
      font-size: 16px;
      line-height: 40px;
    }
    .captcha {
      height: 40px;
      margin-left: 16px;
      display: inline-block;
    }
    .remark {
      font-size: $font-size-small;
      color: $font-title-color;
      margin-top: 12px;
      line-height: 17px;
      height: 17px;
    }
  }
}
