<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiling.sales.assistant.userteam.dao.TeamMapper">

    <update id="updateReduceMemberNum">
        update sa_team set member_num = member_num - 1 , update_user = #{opUserId} , update_time = now()
        where id = #{id}
    </update>

    <update id="updateAddMemberNum">
        update sa_team set member_num = member_num + 1 , update_user = #{opUserId} , update_time = now()
        where id = #{id}
    </update>

</mapper>
