.app-container {
  .top-btn {
    position: relative;
    width: 100%;
    font-size: $font-size-large;
    line-height: $font-size-large-lh;
    margin: 40px 0 8px 0;
    color: $font-important-color;
    .right-btn {
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }
  .tool {
    margin: 8px 0 8px 0;
    //width: 320px;
  }
  .common-box {
    .el-input {
      width: 260px;
      ::v-deep .el-input__inner::placeholder {
        color: #C8C9CC;
      }
    }
    .search-box {
      margin-top: 24px;
      padding: 0 16px 0 0px;
      position: relative;
      .box {
        .title {
          font-size: $font-size-large;
          line-height: $font-size-large-lh;
          color: $font-important-color;
          margin-bottom: 8px;
        }
      }
      .el-select {
        width: 260px;
      }

      .bottom-btn {
        position: absolute;
        bottom: 0;
        right: 0;
      }
    }
  }
  .mar-l-32{
    margin-left: 32px;
  }
  .mar-t-24{
    margin-top: 24px;
  }
  .bottom-table-view {
    .tab-box {
      display: flex;
      justify-content: space-between;
      .tab {
        // width: 100%;
        height: 40px;
        border-bottom: 1px solid #DCDEE0;
        :first-child {
          border-top-left-radius: 4px;
          border-right: none !important;
        }
        :last-child {
          border-top-right-radius: 4px;
        }
        .tab-item {
          width: 112px;
          height: 40px;
          line-height: 40px;
          text-align: center;
          display: inline-block;
          line-height: 40px;
          background: #F7F8FA;
          border: 1px solid #DCDEE0;
          font-size: 14px;
          color: #323233;
          cursor: pointer;
          &:not(:last-child) {
            border-right: none;
          }
        }
        .tab-active {
          background: #fff;
          border-bottom: none;
        }
      }
      .btn-box {
        flex: 1;
        text-align: right;
        border-bottom: 1px solid #DCDEE0;
        .info-text {
          margin-right: 8px;
          font-size: 14px;
          font-weight: 400;
          color: #7D7E80;
          line-height: 20px;
        }
      }
    }
    .prompt{
      font-weight: 400;
      color: #7D7E80;
      span {
        color: #1AAC75;
      }
      .from-erp {
        color: #F39217;
      }
    }
    .my-table {
      .products-box {
        display: flex;
        align-items: center;
        .my-image {
          margin-right: 8px;
          width: 60px;
          height: 60px;
          flex-shrink: 0;
        }
        .products-info {
          // height: 60px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          // align-items: flex-start;
          .products-name {
            // height: 20px;
            max-height: 40px;
            font-size: 14px;
            font-weight: 600;
            color: #323233;
            line-height: 20px;
            overflow: hidden;
          }
          .basic-info {
            height: 17px;
            font-size: 14px;
            font-weight: 400;
            color: #7D7E80;
            line-height: 17px;
          }
        }
      }
      .specifications-box {
        .specifications-info {
          max-height: 40px;
          overflow: hidden;
        }
      }
      .facture-box {
        .facture-info {
          max-height: 40px;
          line-height: 19px;
          overflow: hidden;
        }
      }
      .mall-flag {
        .basic-info {
          height: 17px;
          font-size: 14px;
          font-weight: 400;
          color: #7D7E80;
          line-height: 17px;
        }
      }
      .category-box {
        .basic-info {
          height: 17px;
          font-size: 14px;
          font-weight: 400;
          color: #7D7E80;
          line-height: 17px;
        }
      }
      .price-box {
        .price {
          height: 17px;
          font-size: 14px;
          color: #323233;
          line-height: 17px;
          font-family: Arial;
        }
        .basic-info {
          height: 17px;
          font-size: 14px;
          font-weight: 400;
          color: #7D7E80;
          line-height: 17px;
        }
      }
      .status-box {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        .status-icon {
          width: 6px;
          height: 6px;
          margin-right: 8px;
          border-radius: 50%;
        }
        .pass {
          background: #00B42A;
        }
        .pending {
          background: #1989FA;
        }
        .reject {
          background: #EB4438;
        }
        .unjoin {
          background: #969799;
        }
      }
      .pad-b-8 {
        padding-bottom: 8px;
      }
      ::v-deep .el-table .cell {
        overflow: auto;
      }
      ::v-deep .pagination-box {
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
        .select-box {
          flex: 1;
          .select-text {
            height: 20px;
            font-size: 14px;
            font-weight: 400;
            color: #7D7E80;
            line-height: 20px;
          }
          .select-num {
            margin: 0 4px;
          }
        }
      }
      .el-table--enable-row-hover .el-table__body tr:hover > td {
        background-color: #F2F4F7 !important;
      }
    }
  }
}
