@import "~@/common/styles/mixin.scss";

.app-container {
  .common-box {
    .el-input {
      width: 260px;
    }
    .search-box {
      .box {
        .title {
          font-size: $font-size-large;
          line-height: $font-size-large-lh;
          color: $font-important-color;
          margin-bottom: 8px;
        }
      }
    }
  }
  .table-view {
    width: 100%;
    border: 1px solid #F5F5F5;
    padding: 16px;
    p {
      margin: 0;
      padding: 0;
    }
    .conter-text {
      width: 100%;
      max-height: 70px;
      overflow: hidden;
      /* 三行显示省略号 */
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
    }
    .conter-img {
      margin: 10px 0;
      ul {
        padding: 0;
        margin: 0;
        li {
          width: 104px;
          height: 104px;
          margin-right: 16px;
          list-style: none;
          border: 1px solid #F5F5F5;
          border-radius: 5px;
          display: inline-block;
          position: relative;
          img {
            width: 100px;
            max-height: 100px;
            display: inline-block;
            vertical-align: top;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            cursor: pointer;
          }
        }
      }
    }
    .questioner {
      width: 100%;
      height: 48px;
      position: relative;
      .questioner-right {
        display: inline-block;
        vertical-align: top;
      }
      .questioner-right p {
        color: #333333;
        font-size: 14px;
      }
      .questioner-right p:nth-child(1) {
        font-weight: 600;
      }
      .questioner-right p:nth-child(2) {
        margin-top: 8px;
      }
      .questioner-right p:nth-child(2) span {
        color: #666666;
      }
      .pad-left {
        padding-left: 70px;
      }
      .questioner-button {
        position: absolute;
        top: 0;
        right: 0;
      }
    }
  }
}