@import "~@/common/styles/mixin.scss";
.app-container {
  .common-box {
    .el-input {
      width: 220px;
    }
    .search-box {
      // padding: 0 16px;
      position: relative;
      .box {
        .title {
          font-size: $font-size-large;
          line-height: $font-size-large-lh;
          color: $font-important-color;
          margin-bottom: 8px;
        }
      }
      .el-select {
        width: 220px;
      }
      .bottom-btn {
        position: absolute;
        bottom: 0;
        right: 0;
      }
    }
  }
  .button-right{
    float: right;
  }
}