<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiling.marketing.strategy.dao.StrategyEnterpriseGoodsLimitMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yiling.marketing.strategy.entity.StrategyEnterpriseGoodsLimitDO">
        <result column="id" property="id"/>
        <result column="marketing_strategy_id" property="marketingStrategyId"/>
        <result column="goods_id" property="goodsId"/>
        <result column="goods_name" property="goodsName"/>
        <result column="eid" property="eid"/>
        <result column="ename" property="ename"/>
        <result column="yiling_goods_flag" property="yilingGoodsFlag"/>
        <result column="del_flag" property="delFlag"/>
        <result column="create_user" property="createUser"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="remark" property="remark"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id
        ,
        marketing_strategy_id, goods_id, goods_name, eid, ename, yiling_goods_flag, del_flag, create_user, create_time, update_user, update_time, remark
    </sql>

    <select id="listGoodsIdByStrategyId" resultType="java.lang.Long">
        select
        goods_id
        from
        marketing_strategy_enterprise_goods_limit
        <where>
            del_flag = 0
            <if test="strategyActivityId != null and strategyActivityId != 0">
                AND marketing_strategy_id = #{strategyActivityId}
            </if>
            <if test="goodsIdList != null and goodsIdList.size() > 0">
                and goods_id in
                <foreach item="item" index="index" collection="goodsIdList"
                         open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>
</mapper>
