@import "~@/common/styles/mixin.scss";

.app-container {
  padding-bottom: 80px;

  .top-bar {
    background: $white;
    padding: 16px;
    border-radius: 4px;
    margin-bottom: 16px;
    .item{
      margin-bottom: 12px;
      
    }
    .btn-item{
      display: flex;
      justify-content: space-between;
    }
    .content-box{
      padding: 0 8px;
      .radio-item{
        display: flex;
        align-items: center;
        width: 100%;
        height: 36px;
        margin-bottom: 10px;
        ::v-deep .el-radio__input.is-checked .el-radio__inner{
          border-color: #1AAC75;
          background: #1AAC75;
        }
        ::v-deep .el-radio__label {
          color: #666;
        }
        .input-box{
          margin: 0 5px;
        }
        .el-radio{
          line-height: 36px;
        }
        .assume-form-item{
          width: 100%;
          display: flex;
          align-items: center;
          color: $font-title-color;
          font-size: $font-size-base;
          .input-box{
            width: 300px;
          }
        }
      }
      .content-box-bottom{
        padding: 16px;
        background: linear-gradient(360deg, rgba(247,251,250,0) 0%, #F3FFFA 100%);
        border-radius: 4px;
        border: 1px solid rgba(26,172,117,0.16);
        .box{
          display: flex;
          align-items: center;
          margin-bottom: 8px;
          &:last-child{
            margin: 0
          }
        }
      }
    }
    .img-view {
      position: relative;
      width: 100%;
      padding: 0 8px;
      display: flex;
      align-items: flex-start;
      .item {
        // border: 1px solid #EEEEEE;
        
        margin-bottom: 20px;
        margin-right: 40px;
        .img-box {
          background: #FAFAFA;
          border-radius: 2px;
          width: 136px;
          height: 102px;
          cursor: pointer;
          img {
            max-height: 102px;
            max-width: 136px;
          }
        }
        .pic-desc {
          padding: 8px;
          width: 136px;
          box-sizing: border-box;
          font-size: $font-size-base;
          color: $font-important-color;
          .title{
            color: #222222;
            margin-bottom: 4px;
            line-height: 20px;
          }
          .time{
            font-size: $font-size-small;
            color: $font-light-color;
            line-height: 17px;
          }
        }
      }
    }
    .list-item{
      width: 100%;
      height: 91px;
      padding: 12px;
      border: 1px solid #EEEEEE;
      box-sizing: border-box;
      border-radius: 4px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-bottom: 10px;
      position: relative;
      .item {
          @include clamp(2);
        }
        .remove-btn{
          position: absolute;
          right: 40px;
          top: 50%;
          transform: translateY(-50%);
        }
    }
    .purchase-table-view{
      width: 100%;
    }
    .intro {
      color: $font-important-color;
      font-size: $font-size-base;
      line-height: $font-size-base-lh;
      .font-name {
        font-size: 16px;
        font-weight: 600;
        color: #333333;
      }
      .font-title-color {
        color: #969799;
      }
    }
    .remove-btn{
      &.el-button--medium {
        padding: 0 !important;
      }
    }
    .check-box{
      display: flex;
      align-items: center;
      .check-tip{
        margin: 0 20px;
        color: #FAAB0C;
      }
    }
  }
  .header-bar {
    font-weight: 600;
    color: #333333;
    .line-view{
      width: 2px;
      height: 14px;
      background: #1AAC75;
      margin-right: 6px;
    }
    .icon {
      padding: 5px 0 0 8px;
      cursor: pointer;
      img {
        width: 16px;
        height: 16px;
        display: inline-block;
      }
    }
  }
  .bottom-view {
    position: fixed;
    bottom: 0;
    left: $sideBarWidth;
    right: 0;
    height: 64px;
    background-color: $white;
    padding: 16px;
    box-shadow: 0px -2px 9px 0px rgba(182, 182, 182, 0.16);
  }
  .font-type {
    text-align: center;
    display: inline-block;
    border-radius: 2px;
    padding: 0 4px;
    font-weight: 400;
    margin-left: 8px;
  }
  .font-color1 {
    border: 1px solid #FFBA61;
    color: #F39217 !important;
  }
  .font-color2 {
    border: 1px solid #1AAC75;
    color: #1AAC75 !important;
  }
  .font-color3 {
    border: 1px solid #E34D59;
    color: #E34D59 !important;
  }
  .audit {
    width: 100%;
    height: 130px;
    background: #FFF5ED;
    padding: 14px 17px;
    border-radius: 4px;
    border: 1px solid #FFBA61;
    div {
      font-size: 14px;
      font-weight: bold;
      color: #323233;
      margin-bottom: 6px;
      img {
        vertical-align: top;
      }
      span {
        font-size: 20px;
        float: right;
        cursor: pointer;
      }
    }
    p {
      margin: 0;
      padding-left: 23px;
      font-size: 14px;
      font-weight: 400;
      color: #323233;
      line-height: 24px;
    }
    .i-button {
      i {
        font-size: 20px;
        color: #646566;
      }
    }
  }
  .demo-ruleForm ::v-deep {
    .el-form-item {
      margin-bottom: 10px;
    }
    .el-form-item__label {
      color: #969799 !important;
    }
  }
  .erp-manger {
    width: 700px;
    .box {
      height: 40px;
      line-height: 40px;
      background: #F7F8FA;
      text-align: center;
      color: #666768;
    }
    .box-conter {
      height: 56px;
      line-height: 56px;
      text-align: center;
      background: #FFFFFF;
      border-bottom: 1px solid #F7F8FA;
      .text {
        max-width: 280px;
        // border: 1px solid red;
        color: #323233;
        display: inline-block;
        line-height: 16px;
        word-wrap: break-word; 
        overflow-wrap: break-word;
      }
      .refresh {
        color: #1AAC75;
        cursor: pointer;
      }
    }
  }
  .input-width {
    width: 310px;
  }
  .font-img {
    width: 22px;
    height: 22px;
    display: inline-block;
    text-align: center;
    margin-left: 4px;
    cursor: pointer;
    img {
      width: 16px;
      height: 16px;
      vertical-align: middle;
      margin-top: -4px;
    }
  }
  .font-img:hover {
    background: #F2F3F5;
    border-radius: 2px;
  }
  .form-erp {
    position: relative;
  }
  .prompt-size {
    position: absolute;
    top: 50px;
    left: 700px;
    i {
      color: #ffba61;
      font-size: 16px;
      padding-right: 6px;
    }
    color: #323233;
  }
  .conter-padd {
    padding: 0 8px;
  }
}
