<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiling.sjms.agency.dao.AgencyRelationShipChangeFormMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yiling.sjms.agency.entity.AgencyRelationShipChangeFormDO">
    <result column="id" property="id" />
        <result column="form_id" property="formId" />
        <result column="crm_enterprise_id" property="crmEnterpriseId" />
        <result column="name" property="name" />
        <result column="license_number" property="licenseNumber" />
        <result column="supply_chain_role" property="supplyChainRole" />
        <result column="province_code" property="provinceCode" />
        <result column="province_name" property="provinceName" />
        <result column="city_code" property="cityCode" />
        <result column="city_name" property="cityName" />
        <result column="region_code" property="regionCode" />
        <result column="region_name" property="regionName" />
        <result column="post_code" property="postCode" />
        <result column="post_name" property="postName" />
        <result column="representative_code" property="representativeCode" />
        <result column="representative_name" property="representativeName" />
        <result column="department" property="department" />
        <result column="business_department" property="businessDepartment" />
        <result column="provincial_area" property="provincialArea" />
        <result column="business_province" property="businessProvince" />
        <result column="business_area_code" property="businessAreaCode" />
        <result column="business_area" property="businessArea" />
        <result column="superior_supervisor_code" property="superiorSupervisorCode" />
        <result column="superior_supervisor_name" property="superiorSupervisorName" />
        <result column="relation_total" property="relationTotal" />
        <result column="change_relation_total" property="changeRelationTotal" />
        <result column="del_flag" property="delFlag" />
        <result column="create_user" property="createUser" />
        <result column="create_time" property="createTime" />
        <result column="update_user" property="updateUser" />
        <result column="update_time" property="updateTime" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        form_id, crm_enterprise_id, name, license_number, supply_chain_role, province_code, province_name, city_code, city_name, region_code, region_name, post_code, post_name, representative_code, representative_name, department, business_department, provincial_area, business_province, business_area_code, business_area, superior_supervisor_code, superior_supervisor_name, relation_total, change_relation_total, del_flag, create_user, create_time, update_user, update_time, remark
    </sql>

</mapper>
