<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiling.sjms.agency.dao.AgencyLockFormMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yiling.sjms.agency.entity.AgencyLockFormDO">
    <result column="id" property="id" />
        <result column="form_id" property="formId" />
        <result column="business_type" property="businessType" />
        <result column="crm_enterprise_id" property="crmEnterpriseId" />
        <result column="name" property="name" />
        <result column="change_item" property="changeItem" />
        <result column="license_number" property="licenseNumber" />
        <result column="supply_chain_role" property="supplyChainRole" />
        <result column="province_code" property="provinceCode" />
        <result column="province_name" property="provinceName" />
        <result column="city_code" property="cityCode" />
        <result column="city_name" property="cityName" />
        <result column="region_code" property="regionCode" />
        <result column="region_name" property="regionName" />
        <result column="supplier_level" property="supplierLevel" />
        <result column="supplier_attribute" property="supplierAttribute" />
        <result column="general_medicine_level" property="generalMedicineLevel" />
        <result column="head_chain_flag" property="headChainFlag" />
        <result column="chain_attribute" property="chainAttribute" />
        <result column="chain_ka_flag" property="chainKaFlag" />
        <result column="parent_supplier_name" property="parentSupplierName" />
        <result column="parent_supplier_code" property="parentSupplierCode" />
        <result column="supplier_sale_type" property="supplierSaleType" />
        <result column="base_supplier_info" property="baseSupplierInfo" />
        <result column="department" property="department" />
        <result column="provincial_area" property="provincialArea" />
        <result column="flow_job_number" property="flowJobNumber" />
        <result column="flow_liable_person" property="flowLiablePerson" />
        <result column="commerce_job_number" property="commerceJobNumber" />
        <result column="commerce_liable_person" property="commerceLiablePerson" />
        <result column="medical_nature" property="medicalNature" />
        <result column="medical_type" property="medicalType" />
        <result column="yl_level" property="ylLevel" />
        <result column="national_grade" property="nationalGrade" />
        <result column="base_medicine_flag" property="baseMedicineFlag" />
        <result column="pharmacy_attribute" property="pharmacyAttribute" />
        <result column="pharmacy_level" property="pharmacyLevel" />
        <result column="label_attribute" property="labelAttribute" />
        <result column="store_manager" property="storeManager" />
        <result column="medical_insurance" property="medicalInsurance" />
        <result column="target_flag" property="targetFlag" />
        <result column="archive_status" property="archiveStatus" />
        <result column="lock_type" property="lockType" />
        <result column="data_type" property="dataType" />
        <result column="del_flag" property="delFlag" />
        <result column="create_user" property="createUser" />
        <result column="create_time" property="createTime" />
        <result column="update_user" property="updateUser" />
        <result column="update_time" property="updateTime" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        form_id, business_type, crm_enterprise_id, name, change_item, license_number, supply_chain_role, province_code, province_name, city_code, city_name, region_code, region_name, supplier_level, supplier_attribute, general_medicine_level, head_chain_flag, chain_attribute, chain_ka_flag, parent_supplier_name, parent_supplier_code, supplier_sale_type, base_supplier_info, department, provincial_area, flow_job_number, flow_liable_person, commerce_job_number, commerce_liable_person, medical_nature, medical_type, yl_level, national_grade, base_medicine_flag, pharmacy_attribute, pharmacy_level, label_attribute, store_manager, medical_insurance, target_flag, archive_status, lock_type, data_type, del_flag, create_user, create_time, update_user, update_time, remark
    </sql>

</mapper>
