<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiling.sjms.agency.dao.AgencyChangeRelationShipMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yiling.sjms.agency.entity.AgencyChangeRelationShipDO">
    <result column="id" property="id" />
        <result column="change_relation_ship_id" property="changeRelationShipId" />
        <result column="crm_enterprise_id" property="crmEnterpriseId" />
        <result column="product_group" property="productGroup" />
        <result column="customer_code" property="customerCode" />
        <result column="customer_name" property="customerName" />
        <result column="supply_chain_role" property="supplyChainRole" />
        <result column="src_relation_ship_ip" property="srcRelationShipIp" />
        <result column="del_flag" property="delFlag" />
        <result column="create_user" property="createUser" />
        <result column="create_time" property="createTime" />
        <result column="update_user" property="updateUser" />
        <result column="update_time" property="updateTime" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        change_relation_ship_id, crm_enterprise_id, product_group, customer_code, customer_name, supply_chain_role, src_relation_ship_ip, del_flag, create_user, create_time, update_user, update_time, remark
    </sql>

</mapper>
