<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiling.hmc.gzh.dao.GzhGreetingMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yiling.hmc.gzh.entity.GzhGreetingDO">
    <result column="id" property="id" />
        <result column="scene_id" property="sceneId" />
        <result column="scene_name" property="sceneName" />
        <result column="trigger_count" property="triggerCount" />
        <result column="publish_status" property="publishStatus" />
        <result column="publish_version" property="publishVersion" />
        <result column="publish_date" property="publishDate" />
        <result column="draft_version" property="draftVersion" />
        <result column="create_user" property="createUser" />
        <result column="create_time" property="createTime" />
        <result column="update_user" property="updateUser" />
        <result column="update_time" property="updateTime" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        scene_id, scene_name, trigger_count, publish_status, publish_version,publish_date, draft_version, create_user, create_time, update_user, update_time, remark
    </sql>

</mapper>
