<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiling.dataflow.index.dao.EsDispatchRecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yiling.dataflow.index.entity.EsDispatchRecordDO">
        <result column="id" property="id"/>
        <result column="start_time" property="startTime"/>
        <result column="end_time" property="endTime"/>
        <result column="count" property="count"/>
        <result column="spend_time" property="spendTime"/>
        <result column="remark" property="remark"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        start_time, end_time, count, spend_time, remark
    </sql>

    <select id="getLastMaxTime" resultType="date">
        select max(end_time) from es_dispatch_record
    </select>

</mapper>
