<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="off">
    <Properties>
        <!--<property name="FILE_PATH" value="D:/rkConfig/logs"/>-->
        <property name="FILE_PATH" value="${sys:catalina.home}/logs"/>
        <property name="FILE_NAME" value="erpLog"/>
        <property name="LOG_PATTERN" charset="UTF-8" value="%date{yyyy-MM-dd HH:mm:ss} [%X{traceId}] [%thread] [%-5level] %logger[%L] - %message%n"/>
    </Properties>
    <appenders>
        <!-- console 日志 -->
        <Console name="CONSOLE" target="SYSTEM_OUT">
            <ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY" />
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>

        <!-- 这个就是自定义的Appender -->
        <ThriftAppender name="Http">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] [%-5p] {%F:%L} - %m%n" />
            <Filters>
                <ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY" />
            </Filters>
        </ThriftAppender>

        <!-- yiling 日志 -->
        <RollingFile name="YILING_LOGO"
                     immediateFlush="true"
                     fileName="${FILE_PATH}/${FILE_NAME}.log"
                     filePattern="${FILE_PATH}/${FILE_NAME}-%d{yyyy-MM-dd}_%i.log.gz">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Filters>
                <ThresholdFilter level="ERROR" onMatch="DENY" onMismatch="NEUTRAL" />
                <ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY" />
            </Filters>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
                <SizeBasedTriggeringPolicy size="10 MB"/>
                <OnStartupTriggeringPolicy />
            </Policies>
            <DefaultRolloverStrategy max="20">
                <Delete basePath="${FILE_PATH}" maxDepth="2">
                    <IfFileName glob="*.log.gz" />
                    <IfLastModified age="1d" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
        <!-- debug 日志 -->
<!--        <RollingFile name="DEBUG_LOGO"-->
<!--                     immediateFlush="true"-->
<!--                     fileName="${FILE_PATH}/${FILE_NAME}-debug.log"-->
<!--                     filePattern="${FILE_PATH}/${FILE_NAME}-debug-%d{yyyy-MM-dd}_%i.log.gz">-->
<!--            <PatternLayout pattern="${LOG_PATTERN}"/>-->
<!--            <Filters>-->
<!--                <ThresholdFilter level="INFO" onMatch="DENY" onMismatch="NEUTRAL" />-->
<!--                <ThresholdFilter level="DEBUG" onMatch="ACCEPT" onMismatch="DENY" />-->
<!--            </Filters>-->
<!--            <Policies>-->
<!--                <TimeBasedTriggeringPolicy interval="1"/>-->
<!--                <SizeBasedTriggeringPolicy size="50 MB"/>-->
<!--            </Policies>-->
<!--            <DefaultRolloverStrategy max="20">-->
<!--                <Delete basePath="${FILE_PATH}" maxDepth="1">-->
<!--                    <IfFileName glob="${FILE_NAME}-debug.log" />-->
<!--                    <IfLastModified age="5d" />-->
<!--                </Delete>-->
<!--                <Delete basePath="${FILE_PATH}" maxDepth="2">-->
<!--                    <IfFileName glob="*.log.gz" />-->
<!--                    <IfLastModified age="10d" />-->
<!--                </Delete>-->
<!--            </DefaultRolloverStrategy>-->
<!--        </RollingFile>-->
        <!-- info 日志 -->
<!--        <RollingFile name="INFO_LOGO"-->
<!--                     immediateFlush="true"-->
<!--                     fileName="${FILE_PATH}/${FILE_NAME}-info.log"-->
<!--                     filePattern="${FILE_PATH}/${FILE_NAME}-info-%d{yyyy-MM-dd}_%i.log.gz">-->
<!--            <PatternLayout pattern="${LOG_PATTERN}"/>-->
<!--            <Filters>-->
<!--                <ThresholdFilter level="WARN" onMatch="DENY" onMismatch="NEUTRAL" />-->
<!--                <ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY" />-->
<!--            </Filters>-->
<!--            <Policies>-->
<!--                <TimeBasedTriggeringPolicy interval="1"/>-->
<!--                <SizeBasedTriggeringPolicy size="50 MB"/>-->
<!--            </Policies>-->
<!--            <DefaultRolloverStrategy max="20">-->
<!--                <Delete basePath="${FILE_PATH}" maxDepth="1">-->
<!--                    <IfFileName glob="${FILE_NAME}-info.log" />-->
<!--                    <IfLastModified age="5d" />-->
<!--                </Delete>-->
<!--                <Delete basePath="${FILE_PATH}" maxDepth="2">-->
<!--                    <IfFileName glob="*.log.gz" />-->
<!--                    <IfLastModified age="10d" />-->
<!--                </Delete>-->
<!--            </DefaultRolloverStrategy>-->
<!--        </RollingFile>-->
        <!-- error 日志 -->
        <RollingFile name="ERROR_LOGO"
                     immediateFlush="true"
                     fileName="${FILE_PATH}/${FILE_NAME}-error.log"
                     filePattern="${FILE_PATH}/${FILE_NAME}-error-%d{yyyy-MM-dd}_%i.log.gz">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Filters>
                <ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY" />
            </Filters>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
                <SizeBasedTriggeringPolicy size="10 MB"/>
                <OnStartupTriggeringPolicy />
            </Policies>
            <DefaultRolloverStrategy max="20">
                <Delete basePath="${FILE_PATH}" maxDepth="2">
                    <IfFileName glob="*.log.gz" />
                    <IfLastModified age="1d" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

    </appenders>
    <loggers>
        <!-- info 日志输出文件 -->
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="YILING_LOGO"/>
<!--            <appender-ref ref="DEBUG_LOGO"/>-->
<!--            <appender-ref ref="INFO_LOGO"/>-->
            <appender-ref ref="ERROR_LOGO"/>
            <appender-ref ref="Http"/>
        </root>

        <!-- YILING_LOGO不输出其他日志 -->
        <Logger name="org" level="trace" additivity="false">
            <appender-ref ref="CONSOLE"/>
<!--            <appender-ref ref="DEBUG_LOGO"/>-->
            <appender-ref ref="YILING_LOGO"/>
            <appender-ref ref="ERROR_LOGO"/>
        </Logger>
    </loggers>
</configuration>