<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:mvc="http://www.springframework.org/schema/mvc"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context-3.2.xsd
        http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd">

	<!-- 注解注入 -->
	<context:component-scan base-package="com.yiling.erp.client">
		<context:exclude-filter type="annotation"
								expression="org.springframework.stereotype.Service" />
        <context:exclude-filter type="annotation" expression="org.springframework.context.annotation.Configuration" />
	</context:component-scan>

	<!-- 启动mvc支持，注解驱动 -->
	<mvc:annotation-driven>
		<!--使用fastjson作json序列化工具-->
		<mvc:message-converters register-defaults="true">
			<bean class="org.springframework.http.converter.StringHttpMessageConverter"/>
			<bean class="com.alibaba.fastjson.support.spring.FastJsonHttpMessageConverter">
				<property name="supportedMediaTypes">
					<list>
						<value>text/html;charset=UTF-8</value>
						<value>application/json;charset=UTF-8</value>
					</list>
				</property>
			</bean>
		</mvc:message-converters>
	</mvc:annotation-driven>

	<bean class="org.springframework.web.servlet.mvc.SimpleControllerHandlerAdapter" />

	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/jsp/"/>
		<property name="suffix" value=".jsp"/>
	</bean>

	<bean id="restTemplate" class="org.springframework.web.client.RestTemplate"/>

	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/erp/**" />
			<bean class="com.yiling.erp.client.util.LoginInterceptor">
				<property name="excludeUrls">
					<list>
						<value>/static/</value>
						<value>/login/userLogin.htm</value>
						<value>/login/logout.htm</value>
						<value>/login/forbidden</value>
						<value>/login/verify.htm</value>
						<value>/login/helpClient</value>
					</list>
				</property>
			</bean>
		</mvc:interceptor>
	</mvc:interceptors>

	<mvc:resources location="/static/images/" mapping="/static/images/**"/>
	<mvc:resources location="/static/css/" mapping="/static/css/**"/>
	<mvc:resources location="/static/js/" mapping="/static/js/**"/>
	<mvc:resources location="/static/" mapping="/static/**" />
	<mvc:resources location="/jsp/" mapping="/jsp/**"/>
</beans>