<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiling.bi.goods.dao.InputGoodsRelationShipMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yiling.bi.goods.entity.InputGoodsRelationShipDO">
        <id column="crm_goodsid" property="crmGoodsid" />
        <result column="goods_type" property="goodsType" />
        <result column="breed" property="breed" />
        <result column="wl_code" property="wlCode" />
        <result column="b2b_goodsid" property="b2bGoodsid" />
        <result column="b2b_specid" property="b2bSpecid" />
        <result column="data_time" property="dataTime" />
        <result column="data_name" property="dataName" />
        <result column="data_source" property="dataSource" />
        <result column="goods_name" property="goodsName" />
        <result column="goods_spec" property="goodsSpec" />
        <result column="sx_price" property="sxPrice" />
        <result column="gh_price" property="ghPrice" />
        <result column="gw_price" property="gwPrice" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        goods_type, breed, wl_code, crm_goodsid, b2b_goodsid, b2b_specid, data_time, data_name, data_source, goods_name, goods_spec, sx_price, gh_price, gw_price
    </sql>

</mapper>
