@import "~@/common/styles/mixin.scss";

.app-container {

  .top-bar {
    background: $white;
    padding: 16px;
    border-radius: 4px;
    margin-bottom: 16px;
    .header-renative{
      position: relative;
      margin-bottom: 16px;
      .edit-btn{
        position: absolute;
        right: 0;
      }
    }
    .content-box{
      padding: 0 8px;
      ::v-deep.buy-member-item .el-form-item__label::before{
        content: '*';
        color: #ee0a24;
        margin-right: 4px;
      }
      .section-view{
        background: #FAFAFA;
        padding-left: 24px;
        margin-left: 110px;
        box-sizing: border-box;
      }
      .show-word-limit{
        .el-input__inner{
          padding-right: 46px;
        }
      }
      .el-form-item{
        label{
          font-weight: 400 !important;
        }
        .el-input{
          width: 256px;
        }
        .el-select{
          width: 256px;
        }
      }
      .activity-form-item{
        color: $font-title-color;
        .input-box{
          margin: 0 5px;
        }
        .el-input{
          width: 150px;
          height: 36px;
        }
        .input-item{
          position: relative;
          .tip-text{
            position: absolute;
            left: 5px;
            top: 38px;
            font-size: 14px;
            line-height: 18px;
            color: $font-light-color;
          }
        }
      }
      // 多阶梯
      .Gradients-item{
        padding: 16px;
        border-radius: 4px;
        border: 1px solid rgba(23, 144, 255, 0.5);
        .cycle-rate-view{
          padding-left: 80px;
          margin-bottom: 10px;
        }
      }
      .option-class {
        line-height: 30px;
      }
      .tip-box{
        display: flex;
        align-items: center;
        padding: 8px 16px;
        font-size: $font-size-base;
        line-height: $font-size-base-lh;
        color: $font-important-color;
        background: #FFFBE6;
        border-radius: 4px;
        display: inline-block;
        border: 1px solid #FFE58F;
        i {
          width: 21px;
          height: 100%;
          color: #FA8C15 !important;
        }
      }
    }
  }

}
