@import "~@/common/styles/mixin.scss";

.app-container {
  .c-box {
    padding: 10px 16px;
    background-color: $white;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
    .item {
      display: inline-block;
      width: 30%;
      @include no-wrap;
      &:first-child,
      &:last-child {
        width: 15%;
      }
    }
    .font-size-base{
      height: 40px;
      line-height: 40px;
    }
    .create {
      padding-left: 20px;
      color: #1790ff;
      cursor: pointer;
    }
    .font-width {
      width: 460px;
      height: auto;
      line-height: 20px;
    }
    .qrCode {
      width: 152px;
      height: 190px;
      text-align: center;
      position: absolute;
      top: 64px;
      left: 500px;
      img {
        width: 150px;
        height: 150px;
        display: inline-block;
      }
      span {
        padding-top: 10px;
        display: inline-block;
        color: #1790ff;
        cursor: pointer;
      }
    }
  }

  .container {
    .c-box {
      border-radius: 0 !important;
      position: relative;
      .c-box-rigth{
        height: 40px;
        position: absolute;
        top: 10px;
        right: 10px;
      }
    }
  }
  .c-box-buttom{
    text-align: right;
    margin-bottom: 10px;
    // position: absolute;
    // top: 0;
    // right: 10px;
  }
  .font-margin{
    margin: 12px 0;
  }
  .container-header {
    height: 40px;
    padding: 0 16px;
    border-radius: 4px 4px 0 0;
    font-size: $font-size-base;
    color: $font-title-color;
    background-color: $back-color-1;
  }
  .table-view {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 5px 6px;

    >.session {
      width: 100%;
      .enable {
        color: $success;
        font-weight: 500;
      }
      .disable {
        color: $danger;
        font-weight: 500;
      }
      span:first-child {
        float: left;
      }
      span:last-child {
        float: right;
      }
    }
    .content {
      width: 100%;
      position: relative;
      .table-item {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        div {
          width: 100%;
        }
        .item {
          @include clamp(2);
        }
      }
      :last-child {
        width: 150px;
      }
    }
  }


  .qualification-box{
    background: #fff;
    padding: 20px 0;
  }
  .qualification-box ul li{
    list-style: none;
    width: 280px;
    height: 224px;
    border: 1px solid #d8dce5;
    display: inline-block;
    margin:0 20px 20px 0; 
    vertical-align: top;
  }
  .qualification-box ul li .qualification-box-img{
    width: 260px;
    height: 160px;
    display: block;
    margin: 10px auto 0;
    cursor: pointer;
    text-align: center;
  }
  // .qualification-box ul li img{
  //   width: 260px;
  //   height: 160px;
  //   display: block;
  //   margin: 10px auto 0;
  // }
  .qualification-box ul li p{
    margin: 0;
    padding: 0;
    font-size: 14px;
  }
  .qualification-box-conter{
    width: 100%;
    height: 50px;
    padding: 4px 10px 0;
    line-height: 20px;
    color: #666;
    margin-top: 8px;
    border-top: 1px solid #d8dce5;
  }
  .qualification-box-conter :nth-child(1){
    font-weight: bold;
  }
  .pop-conter {
    padding: 20px 16px;
    .title{
      font-size: 16px;
      font-weight: bold;
    }
  }
  .bottom-view {
    position: fixed;
    bottom: 0;
    left: $sideBarWidth;
    right: 0;
    height: 64px;
    background-color: $white;
    padding: 16px;
    z-index: 10;
  }
  .image-slot-imgs p{
    width: 260px;
    height: 160px;
    line-height: 160px;
    background:#f5f7fa;
    color: #c8c9cc;
    text-align: center;
    font-size: 14px;
    
  }
  .dialog-p{
    span{
      color: crimson;
    }
  }
  .dialog-color{
    color: #F59A23;
  }
  .qualification-box ul li ::v-deep .el-image img{
    width: auto !important;
    height: 100% !important;
  }
}
