@import "~@/common/styles/mixin.scss";

.app-container {
  .order-total {
    font-size: $font-size-base;
    height: 90px;
    .box {
      width: 216px;
      height: 70px;
      display: inline-block;
      .svg-icon {
        font-size: 24px;
        width: 24px;
        margin-right: 8px;
      }
      .title {
        height: 40px;
        padding-left: 82px;
        font-size: 28px;
        color: $font-important-color;
        line-height: 34px;
      }
      &:nth-child(3) {
        width: 230px;
        .title {
          padding-left: 96px;
        }
      }
    }
  }

  .common-box {
    .el-input {
      width: 220px;
    }
    .search-box {
      margin-top: 24px;
      position: relative;

      .box {
        .title {
          font-size: $font-size-large;
          line-height: $font-size-large-lh;
          color: $font-important-color;
          margin-bottom: 8px;
        }
      }

      .el-select {
        width: 220px;
      }

      .bottom-btn {
        position: absolute;
        bottom: 0;
        right: 0;
      }
    }
  }

  // 底部列表
  .table-view{
    width: 100%;
    background: #f2f3f4;
    height: 142px;
    padding-bottom: 16px;
    .session{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 16px;
      box-sizing: border-box;
      height: 32px;
      background: #FAFAFA;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      .left {
        display: inline-block;
      }
      .center {
        display: inline-block;
      }
      .right {
        float: right;
      }
      span{
        color: #999999;
        line-height: 32px;
      }
      .enable{
        color: #15AD31;
      }
      .disable{
        color: #E62412;
      }
    }
    .content{
      height: 94px;
      background: $white;
      padding: 23px 16px;
      .content-left {
        font-size: 18px;
        width: 295px;
        font-weight: 600;
        color: #333333;
        padding-right: 16px;
        @include clamp(2);
      }
      .content-center {
        min-width: 255px;
        :last-child {
          margin-bottom: 0;
        }
      }
      .content-center-1 {
        :last-child {
          margin-bottom: 0;
        }
      }
      .item {
        margin-bottom: 8px;
        height: 20px;
      }
      .remark{
        width: 100%;
        @include clamp(1);
      }
      .content-right {
        width: 120px;
      }
    }
  }
}

