.topicSetting {
  padding: 10px 16px;
  padding-top: 20px;
  background-color: $white;
  .topicSetting-list {
    // list-style: none;
    display: block;
    .list-item {
      // 设置 动画效果
      transition: transform .3s;
      cursor: move;
      display: block;
      padding: 0;
    }
    .list-content {
      width: 100%;
      min-height: 200px;
      margin-bottom: 10px;
      border-radius: 4px;
      border: 1px solid #EEEEEE;
      .title {
        width: 100%;
        height: 34px;
        line-height: 34px;
        position: relative;
        .form-item-title {
          width: 141px;
          height: 34px;
          display: inline-block;
          text-align: center;
          background: #EEEEEE;
          border-radius: 3px 0px 18px 0px;
          span {
            font-size: 12px;
            padding-left: 6px;
          }
        }
        .form-item-icon {
          width: 100px;
          position: absolute;
          top: 10px;
          right: 0;
        }
        .item-details {
          display: inline-block;
          cursor: pointer;
          margin-right: 40px;
        }
        .item-modify {
          display: inline-block;
          cursor: pointer;
        }
        .icon_style {
          color: #1790ff;
          font-size: 24px;
        }
      }
      .item-content {
        padding: 0 18px;
        .examine-row-conter{
          color: #666;
          font-size: 14px;
        }
      }
      
    }
  }
}
.dialogTc {
  padding: 20px 16px 20px 0;
  margin-bottom: 30px;
  .question-title {
    height: 40px;
    padding-left: 60px;
    color: #666;
    .question-t-title{
      padding-right: 12px;
      font-weight: bold;
    }
  }

}
