.app-container {
  .c-box {
    padding: 10px 16px;
    padding-top: 20px;
    background-color: $white;
    border-radius: 4px;
    .el-input, .el-select {
      max-width: 800px;
    }
  }
  .img-conter {
    position: relative;
  }
  .upload-left {
    display: inline-block;
    ::v-deep .el-button {
      width: 144px;
      border: 1px solid #dcdfe6;
      text-align: center;
      background-color: #fff;
      border-radius: 0 0 6px 6px;
      color: #1790ff;
      font-size: 12px;
      padding: 12px 20px;
    }
  
  }
  .describe {
    width: 320px;
    height: 180px;
    position: absolute;
    top: 0px;
    left: 150px;
    border: 1px solid rgb(246, 139, 42);
    padding: 20px 16px;
    margin-left: 20px;
    background: rgba(230, 162, 60, 0.1);
    div {
      color: rgb(246, 139, 42);
    }
    p {
      height: 18px;
      line-height: 18px;
      padding: 0;
      margin: 0;
      font-size: 12px;
      i {
        color: #E6A23C;
      }
    }
  }
  .file-image {
    width: 144px;
    height: 256px;
    border: 1px dashed #dcdfe6;
    border-radius: 6px 6px 0 0; 
    border-bottom: none;
    text-align: center;
    line-height: 256px;
    .test {
      color: #999;
    }
  }
  .file-images {
    ::v-deep .el-image {
      width: 144px !important;
      height: 256px !important;
      .el-image__inner {
        width: 144px !important;
        height: 256px !important;
        object-fit: fill !important
      }
    }
  } 
  .file-images ::v-deep .packing-img {
    border-radius: 6px 6px 0 0; 
  }
}