@import "~@/common/styles/mixin.scss";

.app-container {
  .top-btn {
    position: relative;
    width: 100%;
    font-size: $font-size-large;
    line-height: $font-size-large-lh;
    margin: 32px 0 16px 0;
    color: $font-important-color;

    .right-btn {
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }

  .common-box {
    .el-input {
      width: 240px;
    }

    .search-box {
      margin-top: 24px;
      // padding: 0 16px;
      position: relative;

      .box {
        .title {
          font-size: $font-size-large;
          line-height: $font-size-large-lh;
          color: $font-important-color;
          margin-bottom: 8px;
        }
      }

      .el-select {
        width: 240px;
      }

      .bottom-btn {
        position: absolute;
        bottom: 0;
        right: 0;
      }
    }
  }

  // 导出、导入按钮
  .down-box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 24px;
    // border: 1px solid red;
    .type-box{
      display: flex;
      position: relative;
      .type-item{
        cursor: pointer;
        height: 28px;
        margin: 0 22px;
        font-size: 16px;
        font-weight: 400;
        color: #666666;
        width: 64px;
        &.active{
          font-weight: 600;
          color: #333333;
        }
      }
      .indicator{
        width: 34px;
        height: 2px;
        background: #1790FF;
        position: absolute;
        bottom: 0;
        left: 37px;
        transition: all .5s;
        &.active{
          left: 145px;
        }
      }
    }
    .tab-switch{
      width: 60%;
      display: inline-block;
    }
    .tab-switch span {
      width: 100px;
      display: inline-block;
    }
    .btn{
      width: 40%;
      text-align: right;
    }

  }

  // 底部列表
  .table-item-view{
    height: 507px;
    .item-top-view{
      height: 204px;
      width: 100%;
    }
  }

}

