<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiling.marketing.goodsgift.dao.GoodsGiftMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yiling.marketing.goodsgift.entity.GoodsGiftDO">
        <result column="id" property="id"/>
        <result column="eid" property="eid"/>
        <result column="ename" property="ename"/>
        <result column="sponsor_type" property="sponsorType"/>
        <result column="name" property="name"/>
        <result column="goods_type" property="goodsType"/>
        <result column="quantity" property="quantity"/>
        <result column="safe_quantity" property="safeQuantity"/>
        <result column="use_quantity" property="useQuantity"/>
        <result column="available_quantity" property="availableQuantity"/>
        <result column="business_type" property="businessType"/>
        <result column="specifications" property="specifications"/>
        <result column="unit" property="unit"/>
        <result column="brand" property="brand"/>
        <result column="price" property="price"/>
        <result column="picture_url" property="pictureUrl"/>
        <result column="card_no" property="cardNo"/>
        <result column="password" property="password"/>
        <result column="del_flag" property="delFlag"/>
        <result column="create_user" property="createUser"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="remark" property="remark"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, eid, ename, sponsor_type
        `name`, goods_type, quantity, safe_quantity, use_quantity,available_quantity,business_type,specifications, unit, brand, price, picture_url, card_no, password, del_flag, create_user, create_time, update_user, update_time, remark
    </sql>


    <insert id="saveGoodsGiftDO" parameterType="com.yiling.marketing.goodsgift.dto.GoodsGiftDTO"
            useGeneratedKeys="true" keyProperty="id">
        insert into marketing_goods_gift
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="eid != null">
                eid,
            </if>
            <if test="ename != null and ename != ''">
                ename,
            </if>
            <if test="sponsorType != null">
                sponsor_type,
            </if>
            <if test="name != null and name != ''">
                name,
            </if>
            <if test="goodsType != null">
                goods_type,
            </if>
            <if test="businessType != null">
                business_type,
            </if>
            <if test="quantity != null">
                quantity,
            </if>
            <if test="safeQuantity != null">
                safe_quantity,
            </if>
            <if test="useQuantity != null">
                use_quantity,
            </if>
            <if test="availableQuantity != null">
                available_quantity,
            </if>
            <if test="specifications != null and specifications != ''">
                specifications,
            </if>
            <if test="unit != null and unit != ''">
                unit,
            </if>
            <if test="brand != null and brand != ''">
                brand,
            </if>

            <if test="price != null">
                price,
            </if>
            <if test="pictureUrl != null and pictureUrl != ''">
                picture_url,
            </if>
            <if test="cardNo != null and cardNo != ''">
                card_no,
            </if>
            <if test="password != null and password != ''">
                password,
            </if>
            <if test="delFlag != null">
                del_flag,
            </if>
            <if test="createUser != null">
                create_user,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateUser != null">
                update_user,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="remark != null and remark != ''">
                remark,
            </if>
            <if test="introduction != null and introduction != ''">
                introduction
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="eid != null">
                #{eid},
            </if>
            <if test="ename != null and ename != ''">
                #{ename},
            </if>
            <if test="sponsorType != null">
                #{sponsorType},
            </if>
            <if test="name != null and name != ''">
                #{name},
            </if>
            <if test="goodsType != null">
                #{goodsType},
            </if>
            <if test="businessType != null">
                #{businessType},
            </if>
            <if test="quantity != null">
                #{quantity},
            </if>
            <if test="safeQuantity != null">
                #{safeQuantity},
            </if>
            <if test="useQuantity != null">
                #{useQuantity},
            </if>
            <if test="availableQuantity != null">
                #{availableQuantity},
            </if>
            <if test="specifications != null and specifications != ''">
                #{specifications},
            </if>
            <if test="unit != null and unit != ''">
                #{unit},
            </if>
            <if test="brand != null and brand != ''">
                #{brand},
            </if>
            <if test="price != null">
                #{price},
            </if>
            <if test="pictureUrl != null and pictureUrl != ''">
                #{pictureUrl},
            </if>
            <if test="cardNo != null and cardNo != ''">
                #{cardNo},
            </if>
            <if test="password != null and password != ''">
                #{password},
            </if>
            <if test="delFlag != null">
                #{delFlag},
            </if>
            <if test="createUser != null">
                #{createUser},
            </if>
            <if test="createTime != null">
                #{createTime},
            </if>
            <if test="updateUser != null">
                #{updateUser},
            </if>
            <if test="updateTime != null">
                #{updateTime},
            </if>
            <if test="remark != null and remark != ''">
                #{remark},
            </if>
            <if test="introduction != null and introduction != ''">
                #{introduction}
            </if>
        </trim>
    </insert>
    <update id="deduct">
        UPDATE marketing_goods_gift
        SET use_quantity = use_quantity + #{quantity} ,
        available_quantity = available_quantity - #{quantity}
        WHERE
	        available_quantity - #{quantity} >= 0
	        AND id = #{id}
    </update>


    <update id="increase">
        UPDATE marketing_goods_gift
        SET use_quantity = use_quantity - #{quantity},
        available_quantity = available_quantity + #{quantity}
        WHERE
	        use_quantity - #{quantity}  >= 0
	        AND id = #{id}
    </update>

    <update id="updateIntroduct">
        UPDATE marketing_goods_gift
        SET introduction = #{introduction}
        WHERE id = #{id}
    </update>

    <select id="getIntroductById" resultType="java.lang.String">
        select  introduction from marketing_goods_gift
        WHERE id = #{id}
    </select>

</mapper>
