<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiling.marketing.couponactivity.dao.CouponActivityGoodsLimitMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yiling.marketing.couponactivity.entity.CouponActivityGoodsLimitDO">
    <result column="id" property="id" />
        <result column="coupon_activity_id" property="couponActivityId" />
        <result column="goods_id" property="goodsId" />
        <result column="goods_name" property="goodsName" />
        <result column="eid" property="eid" />
        <result column="ename" property="ename" />
        <result column="yiling_goods_flag" property="yilingGoodsFlag" />
        <result column="del_flag" property="delFlag" />
        <result column="create_user" property="createUser" />
        <result column="create_time" property="createTime" />
        <result column="update_user" property="updateUser" />
        <result column="update_time" property="updateTime" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        coupon_activity_id, goods_id, goods_name, eid, ename, yiling_goods_flag,del_flag, create_user, create_time, update_user, update_time, remark
    </sql>

    <sql id="Base_Table_Name">
        marketing_coupon_activity_goods_limit
    </sql>

    <select id="pageList" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from
        <include refid="Base_Table_Name"/>
        <where>
            coupon_activity_id = #{request.couponActivityId}
            and del_flag = 0
            <if test="request.id != null and request.id != 0">
                and id = #{request.id}
            </if>
            <if test="request.eid != null and request.eid != 0">
                and eid = #{request.eid}
            </if>
            <if test="request.ename != null and request.ename != ''">
                and ename like CONCAT('%',#{request.ename},'%')
            </if>
            <if test="request.goodsId != null and request.goodsId != '' and request.goodsId != '0'">
                and goods_id = #{request.goodsId}
            </if>
            <if test="request.goodsName != null and request.goodsName != ''">
                and goods_name like CONCAT('%',#{request.goodsName},'%')
            </if>
            <if test="request.yilingGoodsFlag != null and request.yilingGoodsFlag != 0">
                and yiling_goods_flag = #{request.yilingGoodsFlag}
            </if>

        </where>
    </select>

    <select id="getIds" resultType="java.lang.Long">
        select id
       from
        <include refid="Base_Table_Name"/>
        <where>
            coupon_activity_id = #{request.couponActivityId}
            and del_flag = 0
            <if test="request.id != null and request.id != 0">
                and id = #{request.id}
            </if>
            <if test="request.eid != null and request.eid != 0">
                and eid = #{request.eid}
            </if>
            <if test="request.ename != null and request.ename != ''">
                and ename like CONCAT('%',#{request.ename},'%')
            </if>
            <if test="request.goodsId != null and request.goodsId != '' and request.goodsId != '0'">
                and goods_id = #{request.goodsId}
            </if>
            <if test="request.goodsName != null and request.goodsName != ''">
                and goods_name like CONCAT('%',#{request.goodsName},'%')
            </if>
        </where>
    </select>

</mapper>
