<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiling.marketing.couponactivity.dao.CouponActivityIncreaseMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yiling.marketing.couponactivity.entity.CouponActivityIncreaseDO">
    <result column="id" property="id" />
        <result column="coupon_activity_id" property="couponActivityId" />
        <result column="increase_count" property="increaseCount" />
        <result column="total_count" property="totalCount" />
        <result column="del_flag" property="delFlag" />
        <result column="create_user" property="createUser" />
        <result column="create_time" property="createTime" />
        <result column="update_user" property="updateUser" />
        <result column="update_time" property="updateTime" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        coupon_activity_id, increase_count, total_count, del_flag, create_user, create_time, update_user, update_time, remark
    </sql>

</mapper>
