
.app-container {
  .common-box {
    .el-input {
      width: 220px;
    }
    .search-box {
      position: relative;
      .box {
        .title {
          font-size: $font-size-large;
          line-height: $font-size-large-lh;
          color: $font-important-color;
          margin-bottom: 8px;
        }
      }
      .el-select {
        width: 220px;
      }
    }
  }
  .table-color {
    color: #1790ff;
    cursor: pointer;
  }
  .dialog-popUp {
    padding: 20px 16px;
  }
   // 导出、导入按钮
  .down-box {
    width: 100%;
    margin-top: 24px;
    .btn {
      float: right;
    }
  }
}
