<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiling.dataflow.gb.dao.GbAppealFlowRelatedMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yiling.dataflow.gb.entity.GbAppealFlowRelatedDO">
    <result column="id" property="id" />
        <result column="appeal_form_id" property="appealFormId" />
        <result column="flow_wash_id" property="flowWashId" />
        <result column="create_user" property="createUser" />
        <result column="create_time" property="createTime" />
        <result column="update_user" property="updateUser" />
        <result column="update_time" property="updateTime" />
        <result column="flow_key" property="flowKey" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        appeal_form_id, flow_wash_id, create_user, create_time, update_user, update_time,
        flow_key
    </sql>

    <update id="substract">
        update gb_appeal_flow_related
        set
        match_quantity = #{request.substractQuantity}
        update_user = #{request.opUserId},
        update_time = #{request.opTime}
        where id = #{request.id}
    </update>

    <delete id="deleteById">
        delete from gb_appeal_flow_related
        where id = #{id}
    </delete>

</mapper>
