@import './element-ui.scss';
@import './sidebar.scss';

// main-container global css
.app-container {
  background-color: #f2f3f4 !important;
  height: calc(100vh - #{$topBarHeight} - #{$breadHeight} - #{$tagsHeight});
}

.app-container-content{
  padding: 0 16px 16px 16px;
  height: calc(100vh - #{$topBarHeight} - #{$breadHeight} - #{$tagsHeight});
  overflow: scroll;
  position: relative;
}

.has-bottom-bar {
  padding-bottom: 64px !important;
}

.common-box {
  padding: 16px;
  background: $white;
  border-radius: 4px;
}

.dialog-content {
  padding: 16px 20px;
}

.header-bar {
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  align-items: center;
  justify-content: flex-start;
  display: flex;
  color: $font-important-color;
  font-weight: 400;
  .sign {
    height: 14px;
    width: 2px;
    margin-right: 6px;
    background-color: $primary;
  }
}
.header-bar-1 {
  line-height: 22px;
  font-size: 16px;
  padding: 16px 0;
  align-items: center;
  justify-content: flex-start;
  display: flex;
  color: $font-important-color;
  font-weight: 400;
  .sign {
    height: 14px;
    width: 2px;
    margin-right: 6px;
    background-color: $primary;
  }
}

.remark-view {
  color: $disable-color;
  font-size: $font-size-small;
  line-height: $font-size-small-lh;
  span {
    margin-left: 5px;
  }
  p {
    margin-left: 5px;
  }
  .important {
    color: black;
  }
}

.bottom-view {
  position: fixed;
  bottom: 0;
  left: $sideBarWidth;
  right: 0;
  height: 64px;
  background-color: $white;
  padding: 16px;
  z-index: 20;
  box-shadow: 0px -2px 9px 0px rgba(182, 182, 182, 0.16);
}
.border1 {
  border: solid 1px #DCDFE6;
}
.border2 {
  border: solid 1px #E4E7ED;
}
.border3 {
  border: solid 1px #EBEEF5;
}
.border4 {
  border: solid 1px #F2F6FC;
}
