<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiling.dataflow.sale.dao.SaleTargetMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yiling.dataflow.sale.entity.SaleTargetDO">
    <result column="id" property="id" />
        <result column="name" property="name" />
        <result column="target_no" property="targetNo" />
        <result column="target_year" property="targetYear" />
        <result column="sale_amount" property="saleAmount" />
        <result column="del_flag" property="delFlag" />
        <result column="create_user" property="createUser" />
        <result column="create_time" property="createTime" />
        <result column="update_user" property="updateUser" />
        <result column="update_time" property="updateTime" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        name, target_no, target_year, sale_amount, del_flag, create_user, create_time, update_user, update_time, remark
    </sql>

</mapper>
