<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiling.dataflow.sale.dao.SaleDepartmentSubTargetResolveDetailLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yiling.dataflow.sale.entity.SaleDepartmentSubTargetResolveDetailLogDO">
    <result column="id" property="id" />
        <result column="sale_target_id" property="saleTargetId" />
        <result column="depart_id" property="departId" />
        <result column="depart_name" property="departName" />
        <result column="depart_province_id" property="departProvinceId" />
        <result column="depart_province_name" property="departProvinceName" />
        <result column="depart_region_id" property="departRegionId" />
        <result column="depart_region_name" property="departRegionName" />
        <result column="category_id" property="categoryId" />
        <result column="category_name" property="categoryName" />
        <result column="goods_id" property="goodsId" />
        <result column="goods_name" property="goodsName" />
        <result column="product_group_id" property="productGroupId" />
        <result column="product_group_name" property="productGroupName" />
        <result column="superior_supervisor_code" property="superiorSupervisorCode" />
        <result column="superior_supervisor_name" property="superiorSupervisorName" />
        <result column="representative_code" property="representativeCode" />
        <result column="representative_name" property="representativeName" />
        <result column="customer_code" property="customerCode" />
        <result column="customer_name" property="customerName" />
        <result column="supply_chain_role" property="supplyChainRole" />
        <result column="post_code" property="postCode" />
        <result column="post_name" property="postName" />
        <result column="target_jan" property="targetJan" />
        <result column="target_feb" property="targetFeb" />
        <result column="target_mar" property="targetMar" />
        <result column="target_apr" property="targetApr" />
        <result column="target_may" property="targetMay" />
        <result column="target_jun" property="targetJun" />
        <result column="target_jul" property="targetJul" />
        <result column="target_aug" property="targetAug" />
        <result column="target_sep" property="targetSep" />
        <result column="target_oct" property="targetOct" />
        <result column="target_nov" property="targetNov" />
        <result column="resolve_status" property="resolveStatus" />
        <result column="target_dec" property="targetDec" />
        <result column="del_flag" property="delFlag" />
        <result column="create_user" property="createUser" />
        <result column="create_time" property="createTime" />
        <result column="update_user" property="updateUser" />
        <result column="update_time" property="updateTime" />
        <result column="remark" property="remark" />
        <result column="current_increase" property="currentIncrease" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        sale_target_id, depart_id, depart_name, depart_province_id, depart_province_name, depart_region_id, depart_region_name, category_id, category_name, goods_id, goods_name, product_group_id, product_group_name, superior_supervisor_code, superior_supervisor_name, representative_code, representative_name, customer_code, customer_name, supply_chain_role, post_code, post_name, target_jan, target_feb, target_mar, target_apr, target_may, target_jun, target_jul, target_aug, target_sep, target_oct, target_nov, resolve_status, target_dec, del_flag, create_user, create_time, update_user, update_time, remark, current_increase
    </sql>

</mapper>
