@import "~@/common/styles/mixin.scss";
.app-container {
  .common-box {
    .search-box {
      .box {
        .title {
          font-size: $font-size-large;
          line-height: $font-size-base-lh;
          color: $font-important-color;
          margin-bottom: 8px;
        }
        .el-input {
          width: 220px;
        }
      }
    }
  }
  // 导出、导入按钮
  .down-box {
    width: 100%;
    margin-top: 24px;
    .btn {
      float: right;
    }
  }
  // 底部列表
  .order-table-view {
    width: 100%;
    position: relative;
    .item {
      padding-bottom: 40px;
      margin-top: 16px;
      .title {
        height: 25px;
        color: $font-important-color;
        margin-bottom: 12px ;
      }
      .pad-title {
        margin-top: 37px;
        padding-bottom: 30px;
      }
      &-text {
        height: 20px;
        margin-bottom: 8px;
        color: $font-important-color;
        span {
          color: $font-light-color;
        }
      }
    }
    .expand-item {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 40px;
      padding: 8px 0px 10px 0px;
      .expand {
        width: 175px;
        height: 22px;
        background: #EEEEEE;
        border-radius: 17px;
        font-size: 14px;
        color: #666666;
        cursor: pointer;
        text-align: center;
        span {
          padding-right: 6px;
        }
        .el-icon-arrow-down {
          font-size: 16px;
          transition: all .3s;
        }
        .show {
          transform: rotate(180deg);
        }
      }
    }
    .expand-row {
      margin: 0 16px;
      padding: 7px 0 10px 0;
      .expand-view {
        width: 100%;
        height: 146px;
        background: #EDF7FF;
        border-radius: 4px;
        padding: 16px;
        margin-bottom: 8px;
        color: $font-important-color;
        .title {
          height: 22px;
          font-size: 16px;
          line-height: 22px;
          margin-bottom: 7px;
        }
        .desc-box {
          font-size: $font-size-base;
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
          .img {
            width: 82px;
            height: 70px;
            margin-right: 14px;
          }
          .box1 {
            width: 402px;
          }
          .box2 {
            width: 240px;
          }
          .right-text {
            .text-item {
              height: 24px;
              line-height: 24px;
            }
            .text-item-red {
              color: rgb(238, 10, 36);
            }
            .font-title-red {
              color: rgb(238, 10, 36);
            }
            .money {
              font-size: 18px;
              color: $font-important-color;
            }
          }
        }
      }
    }
  }
  .choose-pro-view {
    max-height: 520px;
    overflow-y: scroll;
    .common-box {
      .search-box {
        .title {
          font-size: $font-size-large;
          line-height: $font-size-base-lh;
          color: $font-important-color;
          margin-bottom: 8px;
        }
        .el-input {
          width: 220px;
        }
      }
    }
  }
}

