<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiling.user.agreementv2.dao.AgreementRebateTermsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yiling.user.agreementv2.entity.AgreementRebateTermsDO">
    <result column="id" property="id" />
        <result column="agreement_id" property="agreementId" />
        <result column="reserve_supply_flag" property="reserveSupplyFlag" />
        <result column="goods_rebate_rule_type" property="goodsRebateRuleType" />
        <result column="rebate_pay" property="rebatePay" />
        <result column="max_rebate" property="maxRebate" />
        <result column="rebate_cash_type" property="rebateCashType" />
        <result column="rebate_cash_time" property="rebateCashTime" />
        <result column="rebate_cash_segment" property="rebateCashSegment" />
        <result column="rebate_cash_unit" property="rebateCashUnit" />
        <result column="other_remark" property="otherRemark" />
        <result column="task_flag" property="taskFlag" />
        <result column="task_standard" property="taskStandard" />
        <result column="rebate_standard" property="rebateStandard" />
        <result column="rebate_calculate_price" property="rebateCalculatePrice" />
        <result column="rebate_stage_method" property="rebateStageMethod" />
        <result column="rebate_calculate_rule" property="rebateCalculateRule" />
        <result column="rebate_rule_type" property="rebateRuleType" />
        <result column="time_segment_type_set" property="timeSegmentTypeSet" />
        <result column="cash_child_segment_flag" property="cashChildSegmentFlag" />
        <result column="cash_all_segment_flag" property="cashAllSegmentFlag" />
        <result column="core_commodity_group_relevance" property="coreCommodityGroupRelevance" />
        <result column="core_commodity_group_fail" property="coreCommodityGroupFail" />
        <result column="control_sale_type" property="controlSaleType" />
        <result column="del_flag" property="delFlag" />
        <result column="create_time" property="createTime" />
        <result column="create_user" property="createUser" />
        <result column="update_time" property="updateTime" />
        <result column="update_user" property="updateUser" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        agreement_id, reserve_supply_flag, goods_rebate_rule_type, rebate_pay, max_rebate, rebate_cash_type, rebate_cash_time, rebate_cash_segment, rebate_cash_unit, other_remark, task_flag, task_standard, rebate_standard, rebate_calculate_price, rebate_stage_method, rebate_calculate_rule, rebate_rule_type, time_segment_type_set, cash_child_segment_flag, cash_all_segment_flag, core_commodity_group_relevance, core_commodity_group_fail, control_sale_type, del_flag, create_time, create_user, update_time, update_user, remark
    </sql>

</mapper>
