@import "~@/common/styles/mixin.scss";
.app-container {
    .top-btn {
      position: relative;
      width: 100%;
      font-size: $font-size-large;
      line-height: $font-size-large-lh;
      margin: 32px 0 16px 0;
      color: $font-important-color;
      .right-btn {
        position: absolute;
        right: 0;
        bottom: 0;
      }
    }
    .common-box {
      .el-input {
        width: 220px;
      }
      .search-box {
        margin-top: 24px;
        position: relative;
        .box {
          .title {
            font-size: $font-size-large;
            line-height: $font-size-large-lh;
            color: $font-important-color;
            margin-bottom: 8px;
          }
          .option-class{
            line-height: 30px;
          }
        }
        .el-select {
          width: 220px;
        }

        .bottom-btn {
          position: absolute;
          bottom: 0;
          right: 0;
        }
      }
    }
    .bottom-table-view{
      padding: 16px;
      .header-renative{
        position: relative;
        margin-bottom: 16px;
        .btn{
          position: absolute;
          right: 0;
        }
      }
    }
    // 底部列表
    .product-desc{
      text-align: left;
      color: $font-important-color;
      .name{
        display: flex;
        justify-content: space-between;
        .type{
          flex-shrink: 0;
        }
      }
      .title{
        height: 20px;
        font-weight: 600;
      }
      .item-text{
        height: 20px;
      }
    }
    // 配置客户弹框
    .dialog-content-box-customer{
      padding: 24px;
      min-height: 600px;
      overflow-y: auto;
      .dialog-content-top {
        .el-input {
          width: 200px;
        }
        .search-box {
          margin-bottom: 16px;
          position: relative;
          .box {
            .title {
              font-size: $font-size-large;
              line-height: $font-size-large-lh;
              color: $font-important-color;
              margin-bottom: 8px;
            }
          }
          .el-select {
            width: 144px;
          }

        }
      }
      .query-view{
        display: flex;
        justify-content: flex-end;
      }
      .line-view{
        height: 16px;
      }
    }

  }

