@import "~@/common/styles/mixin.scss";

.app-container {
  .container-header {
    height: 40px;
    padding: 0 16px;
    border-radius: 4px;
    font-size: $font-size-base;
    color: $font-title-color;
    background-color: $white;
  }
  .c-box {
    border-radius: 4px;
    background-color: $white;
    padding: 16px;
    font-size: $font-size-base;
    color: $font-title-color;
    .font-light-color {
      width: 70px;
    }
    &.userimg{
      display: flex;
      padding: 0 16px 16px 16px;
      &:not(:last-child) {
        margin-right: 40px;
      }
      .imgbox{
        margin-right: 40px;
        .img {
          width: 200px;
          height: 200px;
          display: block;
          border-radius: 4px;
          border: 1px dashed #ccc;
          margin-bottom: 12px;
          ::v-deep img{
            object-fit: contain;
          }
        }
        span {
          color: #222;
          width: 100%;
          text-align: center;
          display: inline-block;
        }
      }
    }
  }
  .el-input {
    width: 300px;
    margin-right: 10px;
  }
  .com-card {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    .el-card {
      width: calc(100%/3);
    }
  }
}
