@import './element-ui.scss';
@import './sidebar.scss';

.app-container {
  // padding: 0 16px 16px 16px;
  background-color: #f2f3f4;
  height: calc(100vh - #{$topBarHeight});
  // overflow: scroll;
  position: relative;
  padding-top: $breadHeight;
}
.app-container-nav{
  position: absolute;
  left: 0;
  top: 0;
  background-color: #f2f3f4;
  height: $breadHeight;
  width: 100%;
  padding: 0 16px;
  box-sizing: border-box;
}
.app-container-content{
  padding: 0 16px 16px 16px;
  background-color: #f2f3f4;
  height: calc(100vh - #{$topBarHeight} - #{$breadHeight});
  //height: 100%;
  overflow: scroll;
  position: relative;
}

.common-box {
  padding: 16px;
  background: $white;
  border-radius: 4px;
}

.dialog-content {
  padding: 16px 20px;
}

.header-bar {
  height: 22px;
  line-height: 22px;
  font-size: 16px;
  align-items: center;
  justify-content: flex-start;
  display: flex;
  color: $font-important-color;
  font-weight: 400;
  .sign {
    height: 14px;
    width: 2px;
    margin-right: 6px;
    background-color: $primary;
  }
}
.bottom-bar-view {
  position: fixed;
  bottom: 0;
  left: 0;
  padding-left: $sideBarWidth;
  right: 0;
  height: 80px;
  background-color: $white;
  z-index: 10;
  box-shadow: 0px -2px 9px 0px rgba(182, 182, 182, 0.16);
}
.has-bottom-bar {
  padding-bottom: 80px !important;
}
.remark-view {
  color: $disable-color;
  font-size: $font-size-small;
  line-height: $font-size-small-lh;
  span {
    margin-left: 5px;
  }
  p {
    margin-left: 5px;
  }
  .important {
    color: black;
  }
}
.custom-form {
  .el-form-item {
    .el-form-item__label {
      font-weight: 400 !important;
    }
  }
}
