@import "~@/common/styles/mixin.scss";

.app-container {
  padding-bottom: 80px;
  .c-box {
    padding: 10px 16px;
    padding-top: 20px;
    background-color: $white;
    border-radius: 4px;
    .check-box-item{
      display: flex;
      margin-bottom: 10px;
      &:last-child{
        margin-bottom: 0;
      }
      .check-box-item-right{
        line-height: 36px;
        display: flex;
        flex-direction: column;
        .check-item{
          display: flex;
          margin-bottom: 20px;
          &:last-child{
            margin-bottom: 0;
          }
        }
        .el-input{
          width: 100px;
        }
        .my-check-item-input{
          margin-left: 5px;
          &:first-child{
            margin-left: 0;
          }
        }
        .unit{
          margin-left: 5px;
        }
        .check-time{
          margin-left: 10px;
          margin-right: 5px;
        }
        .add-btn{
          margin-left: 10px;
        }
      }
    }
    .rights-check-box{
      display: flex;
      flex-direction: column;
    }
    .radio-item{
      display: flex;
      line-height: 36px;
      label{
        line-height: 36px;
      }
      .assume-form-item{
        width: 100%;
        display: flex;
        align-items: center;
        color: $font-title-color;
        font-size: $font-size-base;
        .el-input{
          width: 100px;
        }
        .unit{
          margin-left: 5px;
        }
      }
    }
    .form-item-input {
      display: inline-block;
      width: 100px;
      margin:  0 10px;
    }
    .radio-item-input{
      width: 100%;
    }
    .box-right{
      .card-box{
        width: 580px;
        height: 300px;
        float: right;
        padding: 40px 0 0 50px;
        background-size: 100% 100%;
        position: relative;
        .card-box-top{
          font-size: 30px;
        }
        .card-box-conter{
          width: 320px;
          height: 85px;
          color: #5A5A5A;
          font-size: 24px;
          margin-top: 20px;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 3;
          overflow: hidden;
        }
        .card-box-bottom{
          width: 320px;
          height: 80px;
          margin-top: 20px;
          .card-item-title {
            color: #8C8C8C;
            font-size: 16px;
            font-weight: 400;
          }
          .money{
            color: #FC4C66;
            font-weight: bold;
          }
          .money span:nth-child(1) {
            font-size: 18px;
            padding-right: 6px;
          }
          .money span:nth-child(2) {
            font-size: 40px;
          }
        }
        .card-box-time{
          width: 200px;
          height: 36px;
          line-height: 36px;
          text-align: center;
          position: absolute;
          right: 20px;
          bottom: 40px;
          background: rgba(0,0,0,0.08);
          border-radius: 18px;
          color: #FFFFFF;
          font-size: 18px;
        }
      }
    }
  }
  // 背景色
  .color-select{
    width: 160px;
    .inner{
      position: relative;
      .inputWrapper{
        position: relative;
        .arrow{
          position: absolute;
          right: 5px;
          top: 50%;
          transform: translateY(-50%);
        }
        .select-options-item{
          position: absolute;
          left: 15px;
          top: 50%;
          transform: translateY(-50%);
          width: 60px;
          height: 25px;
        }
      }
      .options{
        width: 100%;
        background-color: $white;
        border-radius: 4px;
        background-color: #fff;
        box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
        box-sizing: border-box;
        margin: 5px 0;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1001;
        padding: 10px 5px;
        display: grid;
        grid-template-columns: 30px 30px 30px;
        grid-template-rows: 30px 30px 30px;
        justify-content: space-around;
        grid-gap: 10px 10px;
        .options-item{
          cursor: pointer;
        }
      }
    }
  }
  .bottom-view {
    position: fixed;
    bottom: 0;
    left: $sideBarWidth;
    right: 0;
    height: 64px;
    background-color: $white;
    padding: 16px;
    z-index: 10;
  }
  .equity-img img{
    width: 48px;
    height: 48px;
    display: inline-block;
  }
  .explain{
    color: #999;
    font-size: 14px;
    padding-left: 80px;
  }
  .span-color{
    color: #1890FF;
    cursor: pointer;
  }
  // 权益弹窗
  .dialogTc {
    padding: 10px 0;
    .el-input {
      width: 220px;
    }
    .search-box {
      position: relative;
      .box {
        .title {
          font-size: 16px;
          line-height: $font-size-large-lh;
          color: $font-important-color;
          margin-bottom: 8px;
        }
        .el-input {
          width: 220px;
        }
        .el-select {
          width: 220px;
        }
      }
    }
    .dialog-table {
      padding: 0 16px;
    }
    .add-type{
      cursor: pointer;
    }
  }
  .title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  .title-border{
    width: 110%;
    padding: 20px 0 20px 20px;
    margin: 40px 0 0 -18px;
    border-top: 6px solid #f4f4f4; 
  }
}
