<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiling.order.settlement.dao.SettlementMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yiling.order.settlement.entity.SettlementDO">
        <result column="id" property="id"/>
        <result column="order_id" property="orderId"/>
        <result column="seller_eid" property="sellerEid"/>
        <result column="buyer_eid" property="buyerEid"/>
        <result column="erp_receivable_no" property="erpReceivableNo"/>
        <result column="delivery_time" property="deliveryTime" />
        <result column="settlement_amount" property="settlementAmount"/>
        <result column="back_amount" property="backAmount"/>
        <result column="discounts_amount" property="discountsAmount"/>
        <result column="back_time" property="backTime"/>
        <result column="back_amount_type" property="backAmountType" />
        <result column="del_flag" property="delFlag"/>
        <result column="create_user" property="createUser"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="remark" property="remark"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        order_id,seller_eid,buyer_eid,erp_receivable_no,delivery_time,settlement_amount, back_amount, discounts_amount, back_time, back_amount_type,del_flag, create_user, create_time, update_user, update_time, remark
    </sql>

</mapper>
