<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiling.order.order.dao.OrderReturnDetailErpMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yiling.order.order.entity.OrderReturnDetailErpDO">
        <result column="id" property="id"/>
        <result column="return_id" property="returnId"/>
        <result column="detail_id" property="detailId"/>
        <result column="batch_no" property="batchNo"/>
        <result column="expiry_date" property="expiryDate"/>
        <result column="return_quantity" property="returnQuantity"/>
        <result column="erp_delivery_no" property="erpDeliveryNo"/>
        <result column="erp_send_order_id" property="erpSendOrderId" />
        <result column="del_flag" property="delFlag"/>
        <result column="create_user" property="createUser"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="remark" property="remark"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id
        ,
        return_id, detail_id, batch_no, expiry_date, return_quantity, erp_delivery_no,erp_send_order_id, del_flag, create_user, create_time, update_user, update_time, remark
    </sql>

    <select id="sumReturnQualityByErpDeliveryNo" resultType="java.lang.Integer">
        select IFNULL(sum(return_quantity),0) as sumByToday from order_return_detail_erp
        <where>
            del_flag = 0
            <if test="detailId != null">
                and detail_id = #{detailId}
            </if>

            <if test="batchNo != null">
                and batch_no = #{batchNo}
            </if>
            <if test="erpDeliveryNo != null">
                and erp_delivery_no = #{erpDeliveryNo}
            </if>
            <if test="erpSendOrderId != null">
                and erp_send_order_id = #{erpSendOrderId}
             </if>

        </where>
    </select>

</mapper>
