<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiling.order.order.dao.OrderInvoiceDeliveryGroupMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yiling.order.order.entity.OrderInvoiceDeliveryGroupDO">
    <result column="id" property="id" />
        <result column="order_id" property="orderId" />
        <result column="apply_id" property="applyId" />
        <result column="group_no" property="groupNo" />
        <result column="group_delivery_nos" property="groupDeliveryNos" />
        <result column="invoice_summary" property="invoiceSummary" />
        <result column="erp_push_status" property="erpPushStatus" />
        <result column="erp_push_time" property="erpPushTime" />
        <result column="erp_push_remark" property="erpPushRemark" />
        <result column="del_flag" property="delFlag" />
        <result column="create_user" property="createUser" />
        <result column="create_time" property="createTime" />
        <result column="update_user" property="updateUser" />
        <result column="update_time" property="updateTime" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        order_id,apply_id,group_no, group_delivery_nos, invoice_summary, erp_push_status,erp_push_time,erp_push_remark,del_flag, create_user, create_time, update_user, update_time, remark
    </sql>

</mapper>
