<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiling.order.order.dao.OrderDeliveryErpMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yiling.order.order.entity.OrderDeliveryErpDO">
    <result column="id" property="id" />
        <result column="order_id" property="orderId" />
        <result column="detail_id" property="detailId" />
        <result column="batch_no" property="batchNo" />
        <result column="expiry_date" property="expiryDate" />
        <result column="produce_date" property="produceDate" />
        <result column="delivery_quantity" property="deliveryQuantity" />
        <result column="cash_discount_amount" property="cashDiscountAmount" />
        <result column="erp_delivery_no" property="erpDeliveryNo" />
        <result column="erp_send_order_id" property="erpSendOrderId" />
        <result column="del_flag" property="delFlag" />
        <result column="create_user" property="createUser" />
        <result column="create_time" property="createTime" />
        <result column="update_user" property="updateUser" />
        <result column="update_time" property="updateTime" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        order_id, detail_id, batch_no, expiry_date,produce_date, delivery_quantity, cash_discount_amount,erp_delivery_no,erp_send_order_id, del_flag, create_user, create_time, update_user, update_time, remark
    </sql>

</mapper>
