<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiling.order.order.dao.OrderExtendMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yiling.order.order.entity.OrderExtendDO">
    <result column="id" property="id" />
        <result column="order_id" property="orderId" />
        <result column="order_no" property="orderNo" />
        <result column="buyer_province_name" property="buyerProvinceName" />
        <result column="buyer_city_name" property="buyerCityName" />
        <result column="buyer_region_name" property="buyerRegionName" />
        <result column="buyer_province_code" property="buyerProvinceCode" />
        <result column="buyer_city_code" property="buyerCityCode" />
        <result column="buyer_region_code" property="buyerRegionCode" />
        <result column="seller_province_name" property="sellerProvinceName" />
        <result column="seller_city_name" property="sellerCityName" />
        <result column="seller_region_name" property="sellerRegionName" />
        <result column="seller_province_code" property="sellerProvinceCode" />
        <result column="seller_city_code" property="sellerCityCode" />
        <result column="seller_region_code" property="sellerRegionCode" />
        <result column="vip_flag" property="vipFlag" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        order_id,order_no,buyer_province_name,buyer_city_name,buyer_region_name,buyer_province_code, buyer_city_code, buyer_region_code, seller_province_name, seller_city_name, seller_region_name,
        seller_province_code,seller_city_code,seller_region_code,vip_flag
    </sql>


    <select id = "getB2BCountAmount" resultType="com.yiling.order.order.dto.OrderB2BCountAmountDTO">
        SELECT
        IFNULL(sum( o.platform_coupon_discount_amount + o.coupon_discount_amount + e.discountAmount ),0) as discountAmount,
        IFNULL(sum( e.originalAmount ),0) AS originalAmount
        FROM
        `order` o,
        (
        SELECT
        order_id,
        sum( original_price * goods_quantity ) AS originalAmount,
        sum( IF ( original_price > goods_price, original_price - goods_price, 0 ) * goods_quantity ) AS discountAmount
        FROM
        order_detail
        <if test="request.standardIdList != null and request.standardIdList.size() > 0">
            <where> standard_id in
                <foreach item="item" index="index" collection="request.standardIdList"
                        open="(" separator="," close=")">
                    #{item}
                </foreach>
            </where>
        </if>
        GROUP BY
        order_id
        ) e,
        order_extend x
        <where>
            e.order_id = o.id
            AND x.order_id = o.id
            AND o.order_status != - 10
            AND o.customer_confirm_status =- 40
            <if test="request.orderType != null and request.orderType != 0">
                AND o.order_type = #{request.orderType}
            </if>
            <if test="request.startTime != null ">
                AND o.create_time &gt;= #{request.startTime}
            </if>
            <if test="request.endTime != null">
                AND o.create_time &lt;= #{request.endTime}
            </if>
            <if test="request.vipFlag != null and request.vipFlag != 0">
                AND x.vip_flag = #{request.vipFlag}
            </if>
            <if test="request.sellerEid != null and request.sellerEid != 0">
                AND o.seller_eid = #{request.sellerEid}
            </if>
            <if test="request.provinceCode != null and request.provinceCode != ''">
                AND x.seller_province_code = #{request.provinceCode}
            </if>
            <if test="request.cityCode != null and request.cityCode != ''">
                AND x.seller_city_code = #{request.cityCode}
            </if>
            <if test="request.regionCode != null and request.regionCode != ''">
                AND x.seller_region_code = #{request.regionCode}
            </if>
            <if test="request.paymentMethod != null and request.paymentMethod != 0">
                AND o.payment_method = #{request.paymentMethod}
            </if>
            <if test="request.orderSource != null and request.orderSource != 0">
                AND o.order_source = #{request.orderSource}
            </if>

        </where>

    </select>


    <select id = "getB2BCountQuantity" resultType="java.lang.Integer">
        SELECT
        <choose>
            <when test="request.type != null and request.type == 1">
                count(distinct o.buyer_eid) as quantity
            </when>
            <when test="request.type != null and request.type == 2">
                count(distinct o.seller_eid) as quantity
            </when>
            <otherwise>
                count(*) as quantity
            </otherwise>
        </choose>
        FROM
        `order` o,
        (
        SELECT
        order_id
        FROM
        order_detail
        <if test="request.standardIdList != null and request.standardIdList.size() > 0">
            <where> standard_id in
                <foreach item="item" index="index" collection="request.standardIdList"
                         open="(" separator="," close=")">
                    #{item}
                </foreach>
            </where>
        </if>
        GROUP BY
        order_id
        ) e,
        order_extend x
        <where>
            e.order_id = o.id
            AND x.order_id = o.id
            AND o.order_status != - 10
            AND o.customer_confirm_status =- 40
            <if test="request.orderType != null and request.orderType != 0">
                AND o.order_type = #{request.orderType}
            </if>
            <if test="request.startTime != null ">
                AND o.create_time &gt;= #{request.startTime}
            </if>
            <if test="request.endTime != null">
                AND o.create_time &lt;= #{request.endTime}
            </if>
            <if test="request.vipFlag != null and request.vipFlag != 0">
                AND x.vip_flag = #{request.vipFlag}
            </if>
            <if test="request.sellerEid != null and request.sellerEid != 0">
                AND o.seller_eid = #{request.sellerEid}
            </if>
            <if test="request.provinceCode != null and request.provinceCode != ''">
                AND x.seller_province_code = #{request.provinceCode}
            </if>
            <if test="request.cityCode != null and request.cityCode != ''">
                AND x.seller_city_code = #{request.cityCode}
            </if>
            <if test="request.regionCode != null and request.regionCode != ''">
                AND x.seller_region_code = #{request.regionCode}
            </if>
            <if test="request.paymentMethod != null and request.paymentMethod != 0">
                AND o.payment_method = #{request.paymentMethod}
            </if>
            <if test="request.orderSource != null and request.orderSource != 0">
                AND o.order_source = #{request.orderSource}
            </if>

        </where>


    </select>



</mapper>
