<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiling.order.order.dao.OrderDeliveryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yiling.order.order.entity.OrderDeliveryDO">
        <result column="id" property="id"/>
        <result column="order_id" property="orderId"/>
        <result column="detail_id" property="detailId"/>
        <result column="standard_id" property="standardId"/>
        <result column="goods_id" property="goodsId"/>
        <result column="goods_erp_code" property="goodsErpCode"/>
        <result column="batch_no" property="batchNo"/>
        <result column="expiry_date" property="expiryDate"/>
        <result column="produce_date" property="produceDate"/>
        <result column="goods_quantity" property="goodsQuantity"/>
        <result column="delivery_quantity" property="deliveryQuantity"/>
        <result column="receive_quantity" property="receiveQuantity"/>
        <result column="del_flag" property="delFlag"/>
        <result column="create_user" property="createUser"/>
        <result column="update_user" property="updateUser"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="remark" property="remark"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        order_id, detail_id, standard_id, goods_id, goodsErpCode, batch_no, expiry_date,produce_date, goods_quantity, delivery_quantity, receive_quantity,del_flag, create_user, update_user, create_time, update_time, remark
    </sql>

    <select id="getPageList" resultType="com.yiling.order.order.bo.OrderFlowBO">
        SELECT
        t.detail_id as detailId,
        d.distributor_goods_id as goodsId,
        d.goods_name as goodsName,
        d.goods_license_no as licenseNo,
        d.goods_specification as sellSpecifications,
        e.`name` as buyerEname,
        e.channel_id as buyerChannelId,
        t.batch_no as batchNo,
        t.delivery_quantity as deliveryQuantity,
        t.goods_quantity as goodsQuantity,
        d.goods_price as goodsPrice,
        d.goods_amount as goodsAmount,
        o.seller_ename as sellerEname,
        o.delivery_time as deliveryTime,
        o.create_time as createTime
        FROM
        order_delivery t
        LEFT JOIN order_detail d on d.id=t.detail_id
        LEFT JOIN `order` o on o.id=d.order_id
        LEFT JOIN enterprise e on e.id = o.buyer_eid
        where
        o.order_status>=30
        <if test="request.eidList != null and request.eidList.size() != 0">
            and o.seller_eid in
            <foreach item="item" index="index" collection="request.eidList"
                     open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="request.buyerChannelId != null and request.buyerChannelId != 0">
            and e.channel_id=#{request.buyerChannelId}
        </if>
        <if test="request.buyerEname != null and request.buyerEname != ''">
            and o.buyer_ename like "%"#{request.buyerEname}"%"
        </if>
        <if test="request.sellerEname != null and request.sellerEname != ''">
            and o.seller_ename like "%"#{request.sellerEname}"%"
        </if>
        <if test="request.goodsName != null and request.goodsName != ''">
            and d.goods_name like "%"#{request.goodsName}"%"
        </if>
        <if test="request.licenseNo != null and request.licenseNo != ''">
            and d.goods_license_no like "%"#{request.licenseNo}"%"
        </if>
        <if test="request.sellSpecifications != null and request.sellSpecifications != ''">
            and d.goods_specification like "%"#{request.sellSpecifications}"%"
        </if>
        <if test="request.startCreateTime!= null ">
            <![CDATA[ and o.create_time>#{request.startCreateTime} ]]>
        </if>
        <if test="request.endCreateTime!= null ">
            <![CDATA[   and o.create_time<#{request.endCreateTime}]]>
        </if>
        <if test="request.startDeliveryTime!= null ">
            <![CDATA[ and o.delivery_time>#{request.startDeliveryTime}  ]]>
        </if>
        <if test="request.endDeliveryTime!= null ">
            <![CDATA[  and o.delivery_time<#{request.endDeliveryTime} ]]>
        </if>
        order by t.id desc
    </select>

</mapper>
