<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiling.order.order.dao.OrderInvoiceApplyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yiling.order.order.entity.OrderInvoiceApplyDO">
        <result column="id" property="id"/>
        <result column="order_id" property="orderId"/>
        <result column="order_no" property="orderNo"/>
        <result column="total_amount" property="totalAmount"/>
        <result column="cash_discount_amount" property="cashDiscountAmount"/>
        <result column="transition_rule_code" property="transitionRuleCode"/>
        <result column="ticket_discount_flag" property="ticketDiscountFlag"/>
        <result column="ticket_discount_no" property="ticketDiscountNo"/>
        <result column="ticket_discount_amount" property="ticketDiscountAmount"/>
        <result column="invoice_form" property="invoiceForm"/>
        <result column="invoice_summary" property="invoiceSummary"/>
        <result column="invoice_email" property="invoiceEmail"/>
        <result column="invoice_amount" property="invoiceAmount"/>
        <result column="status" property="status"/>
        <result column="erp_push_status" property="erpPushStatus"/>
        <result column="erp_push_time" property="erpPushTime"/>
        <result column="erp_push_remark" property="erpPushRemark"/>
        <result column="del_flag" property="delFlag"/>
        <result column="create_user" property="createUser"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="remark" property="remark"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        order_id, order_no, total_amount, cash_discount_amount,transition_rule_code, ticket_discount_flag, ticket_discount_no, ticket_discount_amount,
        invoice_form, invoice_summary , invoice_email ,
        invoice_amount, status,erp_push_status,erp_push_time, erp_push_remark,del_flag, create_user, create_time, update_user, update_time, remark
    </sql>

    <select id="getErpPullInvoiceOrderId" resultType="com.yiling.order.order.dto.OrderInvoicePullErpDTO">

        SELECT
        m.id,
        m.applyId,
        m.transition_rule_code,
        m.invoice_email,
        m.seller_ename,
        g.group_no,
        g.group_delivery_nos,
        g.invoice_summary
        FROM
        order_invoice_delivery_group g
        INNER JOIN (
        SELECT
        o.id,
        a.id AS applyId,
        a.transition_rule_code,
        a.invoice_email,
        o.seller_ename
        FROM
        order_invoice_apply a
        INNER JOIN `order` o ON o.id = a.order_id
        AND a.`status` IN ( 2, 6 )
        AND a.del_flag = 0

        <if test="request.sellerEids != null and request.sellerEids.size() > 0">
            and o.seller_eid in
            <foreach item="item" index="index" collection="request.sellerEids"
                     open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>

        <if test="request.startCreateTime != null">
            and a.create_time &gt;=  #{request.startCreateTime}
        </if>

        <if test="request.endCreateTime != null">
            and a.create_time  &lt;= #{request.endCreateTime}
        </if>

        ) m ON g.apply_id = m.applyId
        AND g.del_flag = 0
        AND g.erp_push_status = 1
        ORDER BY
        m.applyId DESC

    </select>

</mapper>
