<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiling.user.integral.dao.IntegralExchangeOrderReceiptInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yiling.user.integral.entity.IntegralExchangeOrderReceiptInfoDO">
    <result column="id" property="id" />
        <result column="order_id" property="orderId" />
        <result column="order_no" property="orderNo" />
        <result column="contactor" property="contactor" />
        <result column="contactor_phone" property="contactorPhone" />
        <result column="province_code" property="provinceCode" />
        <result column="province_name" property="provinceName" />
        <result column="city_code" property="cityCode" />
        <result column="city_name" property="cityName" />
        <result column="region_code" property="regionCode" />
        <result column="region_name" property="regionName" />
        <result column="address" property="address" />
        <result column="express_company" property="expressCompany" />
        <result column="express_order_no" property="expressOrderNo" />
        <result column="del_flag" property="delFlag" />
        <result column="create_time" property="createTime" />
        <result column="create_user" property="createUser" />
        <result column="update_time" property="updateTime" />
        <result column="update_user" property="updateUser" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        order_id, order_no, contactor, contactor_phone, province_code, province_name, city_code, city_name, region_code, region_name, address, express_company, express_order_no, del_flag, create_time, create_user, update_time, update_user, remark
    </sql>

</mapper>
