<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiling.user.integral.dao.IntegralBehaviorMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yiling.user.integral.entity.IntegralBehaviorDO">
    <result column="id" property="id" />
        <result column="name" property="name" />
        <result column="description" property="description" />
        <result column="icon" property="icon" />
        <result column="type" property="type" />
        <result column="del_flag" property="delFlag" />
        <result column="create_user" property="createUser" />
        <result column="create_time" property="createTime" />
        <result column="update_user" property="updateUser" />
        <result column="update_time" property="updateTime" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        name, description, icon, type, platform, del_flag, create_user, create_time, update_user, update_time, remark
    </sql>

    <select id="queryListPage" resultType="com.yiling.user.integral.dto.IntegralBehaviorDTO">
        select i.id, i.name, i.description, i.icon, i.type, p.platform
        from integral_behavior i left join integral_behavior_platform p on i.id = p.behavior_id
        <where>
                i.del_flag = 0
            <if test="request.platform != null and request.platform != 0">
                and (p.platform = #{request.platform} or p.platform = 10)
            </if>
            <if test="request.type != null and request.type != 0">
                and i.type = #{request.type}
            </if>

        </where>
    </select>

</mapper>
