<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiling.user.integral.dao.IntegralUseRuleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yiling.user.integral.entity.IntegralUseRuleDO">
    <result column="id" property="id" />
        <result column="name" property="name" />
        <result column="platform" property="platform" />
        <result column="status" property="status" />
        <result column="start_time" property="startTime" />
        <result column="end_time" property="endTime" />
        <result column="description" property="description" />
        <result column="behavior_id" property="behaviorId" />
        <result column="del_flag" property="delFlag" />
        <result column="create_user" property="createUser" />
        <result column="create_time" property="createTime" />
        <result column="update_user" property="updateUser" />
        <result column="update_time" property="updateTime" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        name, platform, status, start_time, end_time, description, behavior_id, del_flag, create_user, create_time, update_user, update_time, remark
    </sql>

    <select id="queryListPage" resultType="com.yiling.user.integral.bo.IntegralRuleItemBO">
        select r.id as id, r.name as name, r.platform as platform, r.status as status, r.start_time as startTime, r.end_time as endTime,
        r.description as description, r.behavior_id as behaviorId, r.create_user as createUser, r.create_time as createTime, u.name as createUserName, u.mobile as mobile
        from integral_use_rule r left join user u on r.create_user = u.id
        <where>
            r.del_flag = 0
            <if test="request.name != null and request.name != ''">
                and r.name like CONCAT('%',#{request.name},'%')
            </if>
            <if test="request.status != null and request.status != 0">
                and r.status = #{request.status}
            </if>
            <if test="request.status == null or request.status == 0">
                and r.status != 3
            </if>
            <if test="request.progress != null">
                <if test="request.progress == 1">
                    and r.start_time <![CDATA[ > ]]> now()
                </if>
                <if test="request.progress == 2">
                    and r.start_time <![CDATA[ <= ]]> now()
                    and r.end_time <![CDATA[ > ]]> now()
                    and r.status = 1
                </if>
                <if test="request.progress == 3">
                    and (r.end_time <![CDATA[ < ]]> now() or r.status = 2)
                </if>
            </if>
            <if test="request.startTime != null">
                and r.start_time <![CDATA[ >= ]]> #{request.startTime}
            </if>
            <if test="request.endTime != null">
                and r.end_time <![CDATA[ <= ]]> #{request.endTime}
            </if>
            <if test="request.createUserName != null and request.createUserName != ''">
                and u.name like CONCAT('%',#{request.createUserName},'%')
            </if>
            <if test="request.mobile != null and request.mobile != ''">
                and u.mobile = #{request.mobile}
            </if>
        </where>
        order by r.create_time desc
    </select>

</mapper>
