.app-container {
  .common-box {
    .el-input {
      width: 220px;
    }
    .search-box {
      .box {
        .title {
          font-size: $font-size-large;
          line-height: $font-size-large-lh;
          color: $font-important-color;
          margin-bottom: 8px;
        }
      }
    }
  }
  .imgUrl {
    width: 90px;
    height: 90px;
    margin: 0 auto;
    cursor: pointer;
  }
  .down-box {
    width: 100%;
    margin-top: 24px;
  }
  .btn div {
    display: inline-block;
  }
  .btn .right {
    float: right;
  }
  .dialog-conter {
    line-height: 25px;
    padding: 10px 16px;
    color: #666;
    font-size: 14px;
  }
}