<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiling.dataflow.report.dao.FlowWashSupplyStockReportMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yiling.dataflow.report.entity.FlowWashSupplyStockReportDO">
    <result column="id" property="id" />
        <result column="enterprise_cers_id" property="enterpriseCersId" />
        <result column="so_month" property="soMonth" />
        <result column="crm_id" property="crmId" />
        <result column="name" property="name" />
        <result column="goods_code" property="goodsCode" />
        <result column="goods_name" property="goodsName" />
        <result column="specifications" property="specifications" />
        <result column="price" property="price" />
        <result column="last_month_stock_qty" property="lastMonthStockQty" />
        <result column="purchase_qty" property="purchaseQty" />
        <result column="sale_qty" property="saleQty" />
        <result column="onway_qty" property="onwayQty" />
        <result column="sum_qty" property="sumQty" />
        <result column="final_qty" property="finalQty" />
        <result column="diff_qty" property="diffQty" />
        <result column="end_qty" property="endQty" />
        <result column="last_month_stock_money" property="lastMonthStockMoney" />
        <result column="purchase_money" property="purchaseMoney" />
        <result column="sale_money" property="saleMoney" />
        <result column="onway_money" property="onwayMoney" />
        <result column="sum_money" property="sumMoney" />
        <result column="final_money" property="finalMoney" />
        <result column="diff_money" property="diffMoney" />
        <result column="end_money" property="endMoney" />
        <result column="province_name" property="provinceName" />
        <result column="city_name" property="cityName" />
        <result column="region_name" property="regionName" />
        <result column="province_code" property="provinceCode" />
        <result column="city_code" property="cityCode" />
        <result column="region_code" property="regionCode" />
        <result column="provincial_area" property="provincialArea" />
        <result column="business_province" property="businessProvince" />
        <result column="department" property="department" />
        <result column="business_department" property="businessDepartment" />
        <result column="district_county" property="districtCounty" />
        <result column="superior_supervisor_code" property="superiorSupervisorCode" />
        <result column="superior_supervisor_name" property="superiorSupervisorName" />
        <result column="representative_code" property="representativeCode" />
        <result column="representative_name" property="representativeName" />
        <result column="post_code" property="postCode" />
        <result column="post_name" property="postName" />
        <result column="product_group" property="productGroup" />
        <result column="supplier_level" property="supplierLevel" />
        <result column="supplier_attribute" property="supplierAttribute" />
        <result column="general_medicine_level" property="generalMedicineLevel" />
        <result column="supplier_sale_type" property="supplierSaleType" />
        <result column="base_supplier_info" property="baseSupplierInfo" />
        <result column="head_chain_flag" property="headChainFlag" />
        <result column="chain_attribute" property="chainAttribute" />
        <result column="chain_ka_flag" property="chainKaFlag" />
        <result column="hide_flag" property="hideFlag" />
        <result column="create_user" property="createUser" />
        <result column="create_time" property="createTime" />
        <result column="update_user" property="updateUser" />
        <result column="update_time" property="updateTime" />
        <result column="lock_time" property="lockTime" />
        <result column="last_un_lock_time" property="lastUnLockTime" />
        <result column="province_manager_code" property="provinceManagerCode" />
        <result column="province_manager_name" property="provinceManagerName" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        enterprise_cers_id, so_month, crm_id, name, goods_code, goods_name, specifications, price, last_month_stock_qty, purchase_qty, sale_qty, onway_qty, sum_qty, final_qty, diff_qty, end_qty, last_month_stock_money, purchase_money, sale_money, onway_money, sum_money, final_money, diff_money, end_money, province_name, city_name, region_name,province_code,city_code,region_code,provincial_area, business_province, department, business_department, district_county, superior_supervisor_code, superior_supervisor_name, representative_code, representative_name, post_code, post_name, product_group, supplier_level, supplier_attribute, general_medicine_level, supplier_sale_type, base_supplier_info, head_chain_flag, chain_attribute, chain_ka_flag,hide_flag,create_user, create_time, update_user, update_time,lock_time,last_un_lock_time,province_manager_code,province_manager_name
    </sql>

</mapper>
