<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiling.dataflow.report.dao.FlowWashInventoryReportMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yiling.dataflow.report.entity.FlowWashInventoryReportDO">
    <result column="id" property="id" />
        <result column="flow_goods_batch_wash_id" property="flowGoodsBatchWashId" />
        <result column="flow_key" property="flowKey" />
        <result column="fmwt_id" property="fmwtId" />
        <result column="enterprise_cers_id" property="enterpriseCersId" />
        <result column="so_month" property="soMonth" />
        <result column="crm_id" property="crmId" />
        <result column="name" property="name" />
        <result column="province_name" property="provinceName" />
        <result column="city_code" property="cityCode" />
        <result column="province_code" property="provinceCode" />
        <result column="city_name" property="cityName" />
        <result column="region_code" property="regionCode" />
        <result column="region_name" property="regionName" />
        <result column="representative_code" property="representativeCode" />
        <result column="representative_name" property="representativeName" />
        <result column="post_code" property="postCode" />
        <result column="post_name" property="postName" />
        <result column="goods_code" property="goodsCode" />
        <result column="goods_name" property="goodsName" />
        <result column="specifications" property="specifications" />
        <result column="batch_no" property="batchNo" />
        <result column="inventory_quantity" property="inventoryQuantity" />
        <result column="total_amount" property="totalAmount" />
        <result column="supplier_level" property="supplierLevel" />
        <result column="general_medicine_level" property="generalMedicineLevel" />
        <result column="supplier_attribute" property="supplierAttribute" />
        <result column="head_chain_flag" property="headChainFlag" />
        <result column="chain_attribute" property="chainAttribute" />
        <result column="chain_ka_flag" property="chainKaFlag" />
        <result column="parent_supplier_name" property="parentSupplierName" />
        <result column="parent_supplier_code" property="parentSupplierCode" />
        <result column="supplier_sale_type" property="supplierSaleType" />
        <result column="base_supplier_info" property="baseSupplierInfo" />
        <result column="mapping_status" property="mappingStatus" />
        <result column="create_user" property="createUser" />
        <result column="create_time" property="createTime" />
        <result column="update_user" property="updateUser" />
        <result column="update_time" property="updateTime" />
        <result column="lock_time" property="lockTime" />
        <result column="last_un_lock_time" property="lastUnLockTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        flow_goods_batch_wash_id,flow_key,fmwt_id,enterprise_cers_id, so_month, crm_id, name, province_name, city_code, province_code, city_name, region_code, region_name, representative_code, representative_name, post_code, post_name, goods_code, goods_name, specifications, batch_no, inventory_quantity, total_amount, supplier_level, general_medicine_level, supplier_attribute, head_chain_flag, chain_attribute, chain_ka_flag, parent_supplier_name, parent_supplier_code, supplier_sale_type, base_supplier_info,mapping_status,create_user, create_time, update_user, update_time,lock_time,last_un_lock_time
    </sql>

</mapper>
